@font-face {
  font-family: 'icon-marianos';
  src:  url('fonts/icon-marianos.eot?9s9mff');
  src:  url('fonts/icon-marianos.eot?9s9mff#iefix') format('embedded-opentype'),
    url('fonts/icon-marianos.ttf?9s9mff') format('truetype'),
    url('fonts/icon-marianos.woff?9s9mff') format('woff'),
    url('fonts/icon-marianos.svg?9s9mff#icon-marianos') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="font-"], [class*=" font-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icon-marianos' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.font-icon-adaptadas:before {
  content: "\e900";
}
.font-icon-amadeirada:before {
  content: "\e901";
}
.font-icon-apartamentos:before {
  content: "\e902";
}
.font-icon-atelierloja:before {
  content: "\e903";
}
.font-icon-bar:before {
  content: "\e904";
}
.font-icon-biblioteca:before {
  content: "\e905";
}
.font-icon-capela:before {
  content: "\e906";
}
.font-icon-espiritualidade:before {
  content: "\e907";
}
.font-icon-face:before {
  content: "\e908";
}
.font-icon-floral:before {
  content: "\e909";
}
.font-icon-forma:before {
  content: "\e90a";
}
.font-icon-frutada:before {
  content: "\e90b";
}
.font-icon-inclusao:before {
  content: "\e90c";
}
.font-icon-jardim:before {
  content: "\e90d";
}
.font-icon-mapa:before {
  content: "\e90e";
}
.font-icon-menu:before {
  content: "\e90f";
}
.font-icon-natural:before {
  content: "\e910";
}
.font-icon-oriental:before {
  content: "\e911";
}
.font-icon-parque:before {
  content: "\e912";
}
.font-icon-pisicna:before {
  content: "\e913";
}
.font-icon-quartoduplo:before {
  content: "\e914";
}
.font-icon-quartoindividual:before {
  content: "\e915";
}
.font-icon-restaurante:before {
  content: "\e916";
}
.font-icon-reuniao:before {
  content: "\e917";
}
.font-icon-seta:before {
  content: "\e918";
}
.font-icon-setarecta:before {
  content: "\e919";
}
.font-icon-simbolo:before {
  content: "\e91a";
}
.font-icon-suite:before {
  content: "\e91b";
}
.font-icon-workshop:before {
  content: "\e91c";
}

