@charset "UTF-8";

@font-face {
  font-family: "untitled-font-1";
  src:url("fonts/untitled-font-1.eot");
  src:url("fonts/untitled-font-1.eot?#iefix") format("embedded-opentype"),
    url("fonts/untitled-font-1.woff") format("woff"),
    url("fonts/untitled-font-1.ttf") format("truetype"),
    url("fonts/untitled-font-1.svg#untitled-font-1") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "untitled-font-1" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "untitled-font-1" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-4estrelas:before {
  content: "\61";
}
.icon-360:before {
  content: "\62";
}
.icon-bt-newsletter:before {
  content: "\63";
}
.icon-bt-reservar:before {
  content: "\64";
}
.icon-bt-seta:before {
  content: "\65";
}
.icon-bt-social:before {
  content: "\66";
}
.icon-cofinancia-compete:before {
  content: "\67";
}
.icon-cofinancia-fundoseuropeus:before {
  content: "\68";
}
.icon-cofinancia-portugal2020:before {
  content: "\69";
}
.icon-essencia-amadeirada:before {
  content: "\6a";
}
.icon-essencia-floral:before {
  content: "\6b";
}
.icon-essencia-frutada:before {
  content: "\6c";
}
.icon-essencia-natural:before {
  content: "\6d";
}
.icon-essencia-oriental:before {
  content: "\6e";
}
.icon-fechar:before {
  content: "\6f";
}
.icon-logotipo:before {
  content: "\70";
}
.icon-logotipo-e:before {
  content: "\71";
}
.icon-logotipo-simbolo-grande:before {
  content: "\72";
}
.icon-logotipo-simbolo-pequeno:before {
  content: "\73";
}
.icon-playvideo:before {
  content: "\74";
}
.icon-seta-idioma-moeda:before {
  content: "\75";
}
.icon-seta-reserva-calendario:before {
  content: "\76";
}
.icon-seta-reserva-selecao:before {
  content: "\77";
}
.icon-seta-scroll:before {
  content: "\78";
}
.icon-social-facebook:before {
  content: "\79";
}
.icon-social-instagram:before {
  content: "\7a";
}
.icon-social-twitter:before {
  content: "\41";
}
.icon-social-youtube:before {
  content: "\42";
}
.icon-vermais-grande:before {
  content: "\43";
}
.icon-vermais-medio:before {
  content: "\44";
}
.icon-vermais-pequeno:before {
  content: "\45";
}
.icon-360-1:before {
  content: "\46";
}
.icon-comodidades-babysitter:before {
  content: "\47";
}
.icon-comodidades-business:before {
  content: "\48";
}
.icon-comodidades-estacionamento:before {
  content: "\49";
}
.icon-comodidades-lavandaria:before {
  content: "\4a";
}
.icon-comodidades-loja:before {
  content: "\4b";
}
.icon-comodidades-pequenoalmoco:before {
  content: "\4c";
}
.icon-comodidades-pets:before {
  content: "\4d";
}
.icon-comodidades-piscina:before {
  content: "\4e";
}
.icon-comodidades-recepcao:before {
  content: "\4f";
}
.icon-comodidades-restaurante:before {
  content: "\50";
}
.icon-comodidades-servicodequarto:before {
  content: "\51";
}
.icon-comodidades-wifi:before {
  content: "\52";
}
.icon-essencia-amadeirada-1:before {
  content: "\53";
}
.icon-essencia-cores-amadeirada:before {
  content: "\54";
}
.icon-essencia-cores-floral:before {
  content: "\55";
}
.icon-essencia-cores-frutada:before {
  content: "\56";
}
.icon-essencia-cores-natural:before {
  content: "\57";
}
.icon-essencia-cores-oriental:before {
  content: "\58";
}
.icon-essencia-floral-1:before {
  content: "\59";
}
.icon-essencia-frutada-1:before {
  content: "\5a";
}
.icon-essencia-natural-1:before {
  content: "\30";
}
.icon-essencia-oriental-1:before {
  content: "\31";
}
.icon-logotipo-simbolo-grande-1:before {
  content: "\32";
}
.icon-seta-360:before {
  content: "\33";
}
.icon-apartamentos:before {
  content: "\34";
}
.icon-bt-detalhes:before {
  content: "\35";
}
.icon-bt-reservar-1:before {
  content: "\36";
}
.icon-duplo:before {
  content: "\37";
}
.icon-essencia-amadeirada-2:before {
  content: "\38";
}
.icon-essencia-floral-2:before {
  content: "\39";
}
.icon-essencia-frutada-2:before {
  content: "\21";
}
.icon-essencia-natural-2:before {
  content: "\22";
}
.icon-essencia-oriental-2:before {
  content: "\23";
}
.icon-single:before {
  content: "\24";
}
.icon-suites:before {
  content: "\25";
}
.icon-unidadesadaptadas:before {
  content: "\26";
}
.icon-bt-outras-detalhes:before {
  content: "\27";
}
.icon-bt-outras-reservar:before {
  content: "\28";
}
.icon-bt-reservar-2:before {
  content: "\29";
}
.icon-bt-seta-1:before {
  content: "\2a";
}
.icon-bt-seta-naveg-slider:before {
  content: "\2b";
}
.icon-caracteristicas-camas:before {
  content: "\2c";
}
.icon-caracteristicas-capacidade:before {
  content: "\2d";
}
.icon-caracteristicas-pequenoalmoco:before {
  content: "\2e";
}
.icon-caracteristicas-unidadeadaptada:before {
  content: "\2f";
}
.icon-essencia-amadeirada-3:before {
  content: "\3a";
}
.icon-essencia-floral-3:before {
  content: "\3b";
}
.icon-essencia-frutada-3:before {
  content: "\3c";
}
.icon-essencia-natural-3:before {
  content: "\3d";
}
.icon-essencia-oriental-3:before {
  content: "\3e";
}
.icon-facilidades-ar:before {
  content: "\3f";
}
.icon-facilidades-cofre:before {
  content: "\40";
}
.icon-facilidades-minibar:before {
  content: "\5b";
}
.icon-facilidades-telefone:before {
  content: "\5d";
}
.icon-facilidades-tv:before {
  content: "\5e";
}
.icon-facilidades-wifi:before {
  content: "\5f";
}
.icon-logotipo-simbolo-pequeno-1:before {
  content: "\60";
}
.icon-share-email:before {
  content: "\7b";
}
.icon-share-fb:before {
  content: "\7c";
}
.icon-share-tt:before {
  content: "\7d";
}
.icon-360-2:before {
  content: "\7e";
}
.icon-area-comum:before {
  content: "\5c";
}
.icon-bt-seta-2:before {
  content: "\e000";
}
.icon-bt-seta-naveg-slider-1:before {
  content: "\e001";
}
.icon-casas-de-banho:before {
  content: "\e002";
}
.icon-check:before {
  content: "\e003";
}
.icon-equipa:before {
  content: "\e004";
}
.icon-essencia-amadeirada-4:before {
  content: "\e005";
}
.icon-essencia-floral-4:before {
  content: "\e006";
}
.icon-essencia-frutada-4:before {
  content: "\e007";
}
.icon-essencia-natural-4:before {
  content: "\e008";
}
.icon-essencia-oriental-4:before {
  content: "\e009";
}
.icon-logotipo-simbolo-pequeno-2:before {
  content: "\e00a";
}
.icon-quartos:before {
  content: "\e00b";
}
.icon-seta-360-1:before {
  content: "\e00c";
}
.icon-share-email-1:before {
  content: "\e00d";
}
.icon-share-fb-1:before {
  content: "\e00e";
}
.icon-share-tt-1:before {
  content: "\e00f";
}
.icon-bt-seta-naveg-slider-2:before {
  content: "\e010";
}
.icon-check-1:before {
  content: "\e011";
}
.icon-mapa:before {
  content: "\e012";
}
.icon-bar:before {
  content: "\e013";
}
.icon-logotipo-simbolo-grande-2:before {
  content: "\e014";
}
.icon-restaurante:before {
  content: "\e015";
}
.icon-souvenirs:before {
  content: "\e016";
}
.icon-velas:before {
  content: "\e017";
}
.icon-workshops:before {
  content: "\e018";
}
.icon-bt-seta-3:before {
  content: "\e019";
}
.icon-pin-mapa:before {
  content: "\e01a";
}
.icon-bt-outras-detalhes-1:before {
  content: "\e01b";
}
.icon-bt-outras-reservar-1:before {
  content: "\e01c";
}
.icon-logotipo-simbolo-grande-3:before {
  content: "\e01d";
}
.icon-bt-outras-detalhes-2:before {
  content: "\e01e";
}
.icon-bt-outras-reservar-2:before {
  content: "\e01f";
}
.icon-bt-reservar-3:before {
  content: "\e020";
}
.icon-bt-seta-naveg-slider-3:before {
  content: "\e021";
}
.icon-check-2:before {
  content: "\e022";
}
.icon-logotipo-simbolo-grande-4:before {
  content: "\e023";
}
.icon-logotipo-simbolo-pequeno-3:before {
  content: "\e024";
}
.icon-seta-naveg-slider:before {
  content: "\e025";
}
.icon-share-email-2:before {
  content: "\e026";
}
.icon-share-fb-2:before {
  content: "\e027";
}
.icon-share-tt-2:before {
  content: "\e028";
}
.icon-bt-detalhes-1:before {
  content: "\e029";
}
.icon-bt-outras-detalhes-3:before {
  content: "\e02a";
}
.icon-bt-seta-4:before {
  content: "\e02b";
}
.icon-logotipo-simbolo-pequeno-4:before {
  content: "\e02c";
}
.icon-seta-naveg-slider-1:before {
  content: "\e02d";
}
.icon-share-email-3:before {
  content: "\e02e";
}
.icon-share-fb-3:before {
  content: "\e02f";
}
.icon-share-tt-3:before {
  content: "\e030";
}
.icon-360-3:before {
  content: "\e031";
}
.icon-area-comum-1:before {
  content: "\e032";
}
.icon-bt-seta-5:before {
  content: "\e033";
}
.icon-casas-de-banho-1:before {
  content: "\e034";
}
.icon-check-3:before {
  content: "\e035";
}
.icon-equipa-1:before {
  content: "\e036";
}
.icon-quartos-1:before {
  content: "\e037";
}
.icon-seta-360-2:before {
  content: "\e038";
}
.icon-agua-1:before {
  content: "\e039";
}
.icon-agua-2:before {
  content: "\e03a";
}
.icon-agua-3:before {
  content: "\e03b";
}
.icon-agua-4:before {
  content: "\e03c";
}
.icon-check-4:before {
  content: "\e03d";
}
.icon-energia-1:before {
  content: "\e03e";
}
.icon-energia-2:before {
  content: "\e03f";
}
.icon-energia-3:before {
  content: "\e040";
}
.icon-energia-4:before {
  content: "\e041";
}
.icon-quadrantes:before {
  content: "\e042";
}
.icon-residuo-1:before {
  content: "\e043";
}
.icon-residuo-2:before {
  content: "\e044";
}
.icon-residuo-3:before {
  content: "\e045";
}
.icon-residuo-4:before {
  content: "\e046";
}
.icon-conceito-1:before {
  content: "\e047";
}
.icon-conceito-2:before {
  content: "\e048";
}
.icon-vermais-pequeno-1:before {
  content: "\e049";
}
