/* Sass Variables */
/* gantt styles */
.calendar_table{
    overflow: hidden;
    max-width: 100%;
    position: relative;
    display: block;
}


.calendar_table thead{
    position: relative;
    overflow: visible;
    display: block;
}

.calendar_table tbody{
    display: block;
    position: relative;
    overflow: scroll;
    height: 600px;
}

.calendar_table thead th{
   text-align: center;
    min-width: 65px;
    background-color: white;
}

.calendar_table tbody td{
   text-align: center;
    min-width: 65px;
}

.calendar_table thead th:nth-child(1) {/*first cell in the header*/
    position: relative;
    display: block; /*seperates the first cell in the header from the header*/
    width: 217px;
    height: 36px;
}


.calendar_table tbody tr td:nth-child(1) {  /*the first cell in each tr*/
    position: relative;
    display: block; /*seperates the first column from the tbody*/
    min-height: 50px;

}

.first_column_date{
    min-height: 58px;
}


.body_of_prices tr td{

  vertical-align: middle!important;
}

.body_of_prices .left_column {
 min-width: 200px;
}

.body_of_prices tr td:first-child {
 background-color: white;
}

.edit_date{
    color: #0a0a0a;
}


.weekend{
    background-color: grey!important;
}

.current{
    background-color: #FFD200!important;
}

.months{
    border-bottom: 1px solid #ddd!important;
}


.border-left{
    border-left: 1px solid #ddd;
}

.border-bottom_none{
    border-bottom: none!important;
}

.border-top_none{
    border-top: none!important;
}
/*# sourceMappingURL=graphic.css.map */
