.dropdown-gestao-grupos li {
  display: inline; }

.add-new-user {
  margin-right: 10px;
  vertical-align: middle; }

.user-options {
  width: 18px !important;
  height: 18px !important;
  background-color: #FFD200;
  background-position: center;
  display: inline-block; }

.user-active-state {
  background-color: #FFF2B3; }

.padding-locker {
  padding-left: 10px;
  padding-right: 10px; }

.btn-group.open .btn-user-options {
  background-color: transparent !important; }

.btn-user-options {
  border-width: 0;
  background-color: transparent !important;
  /*
  background-position: center;
  background-color: transparent;
  display: inline-block;
  */ }

.btn-user-options:hover {
  background-color: transparent;
  /*
  background-position: center;
  display: inline-block;
  */ }

.dropdown-menu {
  border-radius: 0px !important;
  width: 100%; }

.dropdown-menu-grupo {
  width: auto !important; }

.remove-padding-dropdown {
  padding-top: 0px !important;
  margin-top: 0px !important;
  border-top: 0px !important; }

.btn-group.open .dropdown-toggle {
  box-shadow: none !important; }

.modal-content {
  border-radius: 0px !important; }

.padding-top-20 {
  padding-top: 20px; }

.padding-top-10 {
  padding-top: 10px; }

.padding-bottom-20 {
  padding-bottom: 20px; }

.padding-bottom-30 {
  padding-bottom: 30px; }

.amarelo {
  background-color: #FFD300; }

.btn {
  border-radius: 0; }

.modal-eliminar {
  text-align: center;
  border-top: none;
  position: relative;
  display: table;
  width: 100%; }

.fonte_12_lato a {
  font-size: 12pt;
  font-family: 'Lato', sans-serif;
  font-weight: 400; }

.fonte_12_lato_regular {
  font-size: 12pt !important;
  font-family: "Lato", sans-serif !important;
  color: black;
  font-weight: 400 !important; }

.fonte_12_lato_light {
  font-size: 12pt !important;
  font-family: "Lato", sans-serif !important;
  color: black;
  font-weight: 300 !important; }

.fonte_white_15_lato a {
  font-size: 12pt;
  font-family: 'Lato', sans-serif;
  color: white;
  font-weight: 300; }

.modal-aux {
  text-align: center;
  padding: 0 !important; }

.modal-aux:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -4px; }

.modal-dialog-aux {
  display: inline-block;
  text-align: left;
  vertical-align: middle; }

.modal-dialog-create-user {
  width: 800px !important;
  max-height: 800px !important; }

.toggle.ios, .toggle-on.ios, .toggle-off.ios {
  border-radius: 18px; }

.toggle.ios .toggle-handle {
  border-radius: 18px; }

.circle-toggle .btn-primary {
  background-color: #4abc91;
  border-color: transparent !important; }

.circle-toggle .btn-default:hover {
  background-color: white; }

.circle-toggle .btn-primary:active {
  border-color: #FFE566 !important; }

.toggle-handle {
  width: 30px !important; }

.btn.btn-default.btn-xs.active.toggle-off {
  opacity: 0.5; }

.state-opacity-05 {
  opacity: 0.5; }

.state-opacity-1 {
  opacity: 1; }

.span-user-locked {
  text-align: center;
  border: 1px solid #E25656;
  padding: 5px 10px 5px 5px;
  font-size: 12pt !important;
  font-family: "Lato", sans-serif !important;
  color: #E25656;
  width: 65%;
  font-weight: 400 !important; }

.alert-user-locked {
  margin-left: 20px;
  padding: 15px 15px 12px;
  display: inline-block;
  font-family: "Lato", sans-serif !important;
  font-size: 12pt;
  font-weight: 400;
  color: #E25656;
  text-transform: lowercase; }

.btn-unlock-user {
  border: 1px solid #ffffff;
  background-color: #E25656;
  text-align: center;
  padding: 5px 5px;
  padding-right: 20px;
  padding-left: 20px;
  color: #ffffff;
  cursor: pointer;
  font-family: "Lato", sans-serif !important;
  font-size: 10pt;
  font-weight: 300; }

.btn-recover-user-password {
  border: 1px solid #f1f2f2;
  background-color: #f1f2f2;
  text-align: center;
  padding: 5px 5px;
  color: black;
  cursor: pointer;
  font-family: "Lato", sans-serif !important;
  font-size: 10pt;
  font-weight: 300; }

.btn-connect-user-profile {
  border: 1px solid #f1f2f2;
  background-color: #f1f2f2;
  text-align: center;
  padding: 5px 5px;
  padding-right: 10px;
  padding-left: 10px;
  color: black;
  cursor: pointer;
  font-family: "Lato", sans-serif !important;
  font-size: 10pt;
  font-weight: 300; }

.pic-circle-corner {
  display: block;
  width: 150px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  border-radius: 50%; }

.pic-circle-corner-75 {
  display: block;
  width: 75px;
  height: 75px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  border-radius: 50%; }

.user-name-edit-profile {
  font-size: 18pt !important;
  color: black;
  padding-left: 0px !important;
  height: 46px !important; }

.user-position-edit-profile {
  font-size: 12pt !important;
  color: black;
  padding-left: 0px !important; }

.padding-top-35 {
  padding-top: 35px; }

.padding-top-20 {
  padding-top: 20px; }

.fom-style-hidden-edit-user label {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 12pt;
  color: #929497; }

.fom-style-hidden label {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 12pt; }

.fom-style-hidden-edit-user input {
  color: black;
  box-shadow: none;
  border-radius: 0;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 12pt; }

.fom-style-hidden2 label {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 12pt; }

.fom-style-hidden-edit-user input:focus {
  border: 1px solid lightgray;
  box-shadow: none; }

.border-bottom-user-edit {
  border-bottom: 1px solid #F0F1F1; }

.margin-right-20 {
  margin-right: 20px; }

.btn-save-user {
  border: 1px solid #FFD200;
  background-color: #FFD200;
  padding: 10px;
  padding-left: 15px;
  padding-right: 15px;
  text-transform: uppercase;
  font-size: 12pt;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  color: #000000; }

.btn-save-user:hover {
  background-color: #FFD200; }

.padding-bottom-10 {
  padding-bottom: 10px; }

.label-group-list {
  font-weight: 400 !important; }

.radio-default input {
  display: none; }

.radio-default .span-radio {
  float: right; }

.radio-default .span-radio:before {
  content: url(../icons/radio_button.png); }

.radio-default input:checked + .span-radio:before {
  content: url(../icons/radio_button_selected.png); }

.list-groups-in-user-profile {
  max-height: 500px; }

.accordion-arrow {
  display: inline-block; }

.accordion-aux .accordion-arrow {
  width: 12px;
  height: 7px;
  background: url("../icons/dropdown_cima.png") no-repeat;
  outline: none !important; }

.accordion-aux .collapsed .accordion-arrow {
  background: url("../../../back/icons/dropdown_baixo.png") no-repeat;
  outline: none !important; }

.name-group:hover {
  color: inherit; }

.form-control-disabled {
  background-color: white !important; }

.form-control-back-gray {
  background-color: #f1f2f2 !important; }

.modal-dialog-create-user .form-group label {
  font-size: 12pt !important;
  font-family: "Lato", sans-serif;
  font-weight: 400 !important;
  color: black !important; }

.modal-dialog-create-user .form-group input {
  font-size: 12pt !important;
  font-family: "Lato", sans-serif;
  font-weight: 300 !important;
  color: #939598 !important; }

.fonte_10_lato_regular {
  font-size: 10pt !important;
  font-family: "Lato", sans-serif !important;
  color: black;
  font-weight: 400 !important; }

.font_12_lato_regular {
  font-size: 12pt !important;
  font-family: "Lato", sans-serif !important;
  color: black;
  font-weight: 400 !important; }

.icon25 {
  font-size: 25pt;
  vertical-align: middle; }

.icon50 {
  font-size: 50pt; }

.padding-left-15 {
  padding-left: 15px; }

.inline-images {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  margin-right: 55px; }

.action_multiple .btn-change-group {
  display: inline-block;
  padding: 10px;
  font-weight: 300;
  font-size: 15pt;
  font-family: "Lato", sans-serif;
  color: #000000 !important;
  background-color: transparent !important;
  border: none !important; }

.login-view {
  padding-left: 0; }

.login-form {
  position: relative;
  min-height: 550px;
  display: table;
  width: 100%;
  height: calc(100vh - 102px); }

.login-form .row {
  display: table-cell;
  vertical-align: middle; }

.login-forgot {
  float: right;
  color: #333333; }

.login-forgot:hover {
  text-decoration: none;
  color: #333333; }

.register-form {
  position: relative;
  min-height: 550px;
  display: table;
  width: 100%;
  height: calc(100vh - 102px); }

.register-form .row {
  display: table-cell;
  vertical-align: middle; }

.register-form .titulo {
  font-size: 2.25rem;
  font-weight: 600;
  padding: 20px 40px 20px 20px; }

.register-form .titulo i {
  padding-right: 15px; }

.reset-form {
  position: relative;
  min-height: 550px;
  display: table;
  width: 100%;
  height: calc(100vh - 102px); }

.reset-form .row {
  display: table-cell;
  vertical-align: middle; }

.reset-form .titulo {
  font-size: 2.25rem;
  font-weight: 600;
  padding: 20px 40px 20px 20px; }

.reset-form .titulo i {
  padding-right: 15px; }

.login-btn {
  margin-top: 25px; }

.login-body {
  padding-top: 25px;
  padding-bottom: 50px; }

.login-body .login-input {
  padding-top: 25px; }

.login-input .icon-padding {
  padding-right: 10px; }

.login-error {
  position: relative;
  display: table;
  width: 100%; }

.login-error .form-control {
  display: table-cell;
  background-color: #f0f0f0; }

.has-error .icon-opcoes-eliminar {
  display: table-cell;
  color: #a94442;
  padding-left: 10px;
  width: 24px; }

.login-body .form-control {
  height: 50px;
  font-size: 15px; }

.copyright {
  position: relative;
  text-align: right;
  padding-bottom: 15px;
  padding-right: 20px; }

.login-remember .checkbox-default {
  padding: 0; }

.login-remember .checkbox-default span::before {
  padding-left: 0;
  padding-right: 10px; }

.opacidade_create {
  pointer-events: none;
  opacity: 0.2; }

.show-variants, .show-resources {
  display: none; }

.select2-container {
  display: block;
  width: 100% !important;
  margin: 0;
  font-size: 14px;
  line-height: 1.428571429;
  color: #555555;
  background-color: #fff;
  background-image: none;
  border: none;
  border-radius: 4px;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s; }

.resource-image {
  width: 100%; }

.resource-image > input {
  display: none; }

.resource-image > input:checked + .resource_preview {
  border: 3px solid #ffd200; }

.resource_preview {
  border: 1px solid #ddd;
  padding: 5px;
  display: inline-block;
  margin-bottom: 10px;
  width: 100%;
  height: 200px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }

.resource_datatable_preview {
  width: 100px;
  height: 100px;
  background-position: center !important;
  background-repeat: no-repeat !important;
  background-size: cover !important; }

table.dataTable thead th.multiple-options {
  padding: 13px 10px !important; }

.multiple-options .btn-group {
  display: none; }

.dataTable .btn-primary {
  background-color: #4abc91;
  border-color: transparent !important; }

.tax_value {
  width: 90px;
  display: inline-block; }

.percent_icon {
  display: inline-block;
  background-color: #FFD300;
  padding: 8px 10px 6px; }

.file-upload canvas {
  margin: 0 auto;
  display: block; }

.upload-file-create {
  text-align: center; }

.upload_progress {
  display: none; }

.file-upload .file-cancel {
  position: absolute;
  top: 5px;
  right: 5px;
  cursor: pointer; }

.form-group label.error {
  position: relative !important; }

table.dataTable thead .table_no_order.sorting_desc,
table.dataTable thead .table_no_order.sorting_asc,
table.dataTable thead .table_no_order.sorting {
  background-image: none !important; }

.coin-picker .padding-filters {
  padding-top: 10px;
  padding-bottom: 10px; }

.coin-picker .padding-filters .btn-settings {
  background-color: #ffffff; }

.coin-picker .padding-filters .btn-settings.active {
  background-color: #FFD200; }

.vat_menu {
  position: absolute;
  z-index: 100;
  width: auto;
  left: 170px;
  background-color: #fff;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175); }

.vat_menu .vat_options {
  padding: 10px; }

.vat_menu .vat_options a {
  display: block; }

.vat_menu .vat_checkbox {
  padding-right: 30px !important;
  background-image: url(../icons/checkbox.png);
  background-repeat: no-repeat;
  background-position: right 10px center;
  font-size: 12pt;
  font-family: "Lato", sans-serif;
  font-weight: 300; }

.vat_menu .vat_checkbox.active {
  background-image: url(../icons/checkbox_selected.png); }

.coin-picker .multiselect {
  border: none;
  background-color: transparent !important;
  box-shadow: none !important;
  font-size: 12pt;
  font-family: "Lato", sans-serif;
  font-weight: 400; }

.coin-picker .multiselect:focus {
  outline: 0; }

.btn-copy-table {
  background-color: #FFD200;
  padding: 10px;
  padding-bottom: 5px;
  margin: 3px;
  display: inline-block;
  position: absolute;
  right: 10px;
  top: 7px; }

.table-relative {
  position: relative; }

.input-group-addon.table-value {
  background-color: #ffd200 !important; }

.apply_tax_variants {
  margin-top: 22px; }

.profile_name {
  margin-bottom: 30px; }

.profile_name .profile_name_18 {
  font-size: 18px;
  font-weight: 600; }

.profile_input {
  color: #acacac;
  font-weight: normal; }

.profile_divider {
  border-right: 3px solid #cecece; }

.profile_password_field {
  display: none; }

.company_user_img {
  display: inline-block;
  vertical-align: top;
  padding-top: 5px;
  padding-right: 10px; }

.company_user_info {
  display: inline-block; }

.profile_contacts {
  margin-bottom: 40px; }

.select2-container--default .select2-selection--single {
  height: 34px !important;
  padding: 3px 4px;
  border-radius: 0 !important; }

.select2-container--default .select2-selection--single .select2-selection__arrow {
  height: 34px !important; }

.social-profile {
  font-size: 20px;
  padding: 0 5px;
  opacity: 0.7; }

.social-profile:hover {
  opacity: 1; }

.social-profile.social-facebook {
  color: #3b5998; }

.social-profile.social-instagram {
  color: #e95950; }

.social-profile.social-google {
  color: #dd4b39; }

.social-profile.social-youtube {
  color: #bb0000; }

.profiles-view-table th {
  border-bottom: none !important;
  padding: 18px !important;
  padding-left: 25px !important;
  background-color: #fafafa;
  font-weight: 300 !important; }

.margin-top-20 {
  margin-top: 20px; }

#back_groups {
  display: none; }

.group_view_permissions {
  padding-left: 30px; }

.user_thumbnail_image {
  width: 150px;
  height: 150px; }

.margin_user_thunbnail {
  margin-top: 30px; }

.pic-circle-corner-create-user.margin_user_thunbnail {
  background-color: #ffffff !important; }

.table-vertical-center {
  vertical-align: middle !important; }

.table_group_title {
  background-color: #ffd300; }

.icon-recuperar-password-cabecalho {
  line-height: 1px !important; }

.comercial_methods {
  list-style: none;
  width: 100%;
  padding: 0; }

.comercial_methods li {
  display: inline-block;
  padding: 15px; }

.payment_terms {
  display: none; }

.form-group label.error {
  color: #f05e35;
  font-size: 12pt;
  font-family: "Lato", sans-serif;
  font-weight: 400; }

.select_qty {
  width: 60px;
  display: inline-block; }

.select_unit {
  width: 180px;
  display: inline-block; }

.clear_end_date {
  margin-top: 10px;
  display: block; }

.round_format {
  display: none; }

.no_padding_left {
  padding-left: 0; }

.no_padding_right {
  padding-right: 0; }

/*TIMELINE*/
.timeline {
  list-style: none;
  padding: 20px 0 20px;
  position: relative; }

.timeline:before {
  top: 45px;
  bottom: 80px;
  position: absolute;
  content: " ";
  width: 1px;
  background-color: #999999;
  left: 7%;
  margin-left: -1.5px; }

.timeline > li {
  position: relative; }

.timeline > li:before,
.timeline > li:after {
  content: " ";
  display: table; }

.timeline > li:after {
  clear: both; }

.timeline > li:before,
.timeline > li:after {
  content: " ";
  display: table; }

.timeline > li:after {
  clear: both; }

.timeline > li > .timeline-panel {
  width: 93%;
  float: right;
  border-radius: 2px;
  padding: 15px;
  position: relative; }

.timeline > li .timeline-box {
  padding: 20px;
  border: 1px solid #ccc; }

.timeline > li > .timeline-badge {
  color: #fff;
  width: 20px;
  height: 20px;
  line-height: 50px;
  font-size: 1.4em;
  text-align: center;
  position: absolute;
  top: 16px;
  left: 7.1%;
  margin-left: -11px;
  background-color: #ffffff;
  border: 1px solid #999999;
  z-index: 100;
  border-top-right-radius: 50%;
  border-top-left-radius: 50%;
  border-bottom-right-radius: 50%;
  border-bottom-left-radius: 50%; }

/*TIMELINE*/
/*ORDER STEPS*/
#order-steps .title {
  display: none; }

.steps li .current-info, .steps li .number {
  display: none; }

.steps ul {
  width: 100%;
  padding: 0;
  margin: 50px 0; }

.steps li {
  display: inline-block;
  width: 25%;
  position: relative;
  text-align: center; }

.steps ul li:after {
  background: rgba(163, 145, 97, 0.4) none repeat scroll 0 0;
  content: "";
  height: 1px;
  left: 77%;
  position: absolute;
  top: 10px;
  width: 40%; }

.steps ul li:last-child:after {
  background: none;
  width: 0; }

.steps_divider {
  height: 50px;
  background-color: #f0f0f0;
  width: 100%; }

.sub_panel {
  margin-bottom: 0 !important; }

.orders_background {
  background-color: #f0f0f0; }

.order_addresses {
  border-bottom: 1px solid #000;
  width: 100%;
  padding: 10px; }

.address_not {
  padding: 20px 0;
  display: none; }

.address_toggle {
  padding: 20px 0; }

.order_coin {
  margin-bottom: 20px; }

.order_no_user {
  display: none; }

#order-steps .actions ul {
  list-style: none;
  display: inline-block;
  padding: 0; }

#order-steps .actions ul li {
  display: inline-block;
  padding-right: 10px; }

#order-steps .actions {
  background-color: #f0f0f0; }

.order_no_send_address,
.order_no_invoice_address {
  display: none;
  padding: 15px 0; }

.date_range {
  display: none; }

.panel_groups .group_message {
  color: #ff0000;
  padding-bottom: 15px; }

.svg-html {
  width: 150px;
  height: 150px;
  overflow: hidden; }

.svg-html object {
  width: 100%;
  height: 100%; }

#image_iframe {
  width: 800px;
  height: 800px;
  position: absolute;
  top: -4000px;
  left: -4000px; }

.template_div {
  height: 300px;
  overflow: hidden; }

#template_img {
  width: 300px;
  min-height: 300px;
  border: 1px solid #000000; }

.image_email {
  height: 150px;
  overflow: hidden; }

.image_email img {
  width: 150px;
  min-height: 150px;
  border: 1px solid #000000; }

table > tbody td.template_row {
  vertical-align: middle; }

.template_message {
  padding-bottom: 15px; }

.tags_padding {
  margin-top: 34px; }

.segments_section {
  display: none; }

.float_right {
  float: right; }

.btn-email-test {
  margin: 15px 20px 12px; }

.margem_top_20 {
  margin-top: 20px; }

.hide_use_segment {
  display: none; }

.campaign_icon {
  display: inline-block; }

.campaign_icon span {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  padding-right: 10px; }

.campaign_text {
  display: inline-block; }

.range-label {
  position: absolute;
  top: 10px;
  left: -10px; }

#slider-range.ui-slider .ui-slider-handle {
  outline: none; }

.campaigns_menu_items a {
  color: rgba(85, 85, 85, 0.5); }

.campaigns_menu_items a.campaigns_active {
  color: #555555; }

.campaigns_menu_items .campaigns_step:after {
  content: "\75";
  position: absolute;
  top: 20px;
  right: -20px;
  font-family: "untitled-font-3" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 30px;
  color: rgba(85, 85, 85, 0.5); }

.campaigns_menu_items .campaigns_step:last-child:after {
  content: ""; }

/*ORDER STEPS*/
.notes_form .input-group-btn {
  padding: 0 10px; }

@media (max-width: 1199px) {
  .profile_divider {
    border-right: none; } }

.model-dialog-2 {
  margin: 30px auto;
  width: 1000px; }

.calendar_table .hasReservation,
.calendar_table .hasReservation.weekend,
.calendar_table .hasReservation.current {
  background-color: #f0fafb !important; }

.edit_price_typology_model {
  padding: 0 15px; }

.body_of_prices .left_column {
  min-width: 217px !important; }

.container_for_options .row:first-child .eliminar-options,
.container_for_rules .row:first-child .eliminar-rule,
.container_for_stations .row:first-child .eliminar-station {
  display: none; }

.container_for_seasons .variant-price-table tr:first-child .eliminar-season {
  display: none; }

.toggle.btn {
  border-color: #adadad !important; }

.toggle-on.btn {
  background-color: #4abc91 !important;
  border-color: #adadad !important; }

.form-line {
  display: inline-block;
  width: 55px;
  height: 34px;
  margin: 0 10px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.428571429;
  color: #555555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  outline: none !important; }

.form-line-group {
  width: 130px;
  display: inline-block;
  height: 34px;
  margin: -10px 10px;
  font-size: 14px;
  line-height: 1.428571429;
  color: #555555;
  background-color: #fff;
  background-image: none;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s; }

.line-eliminar {
  line-height: 34px; }

.rule-error {
  border-color: #f05e35 !important; }

.season-table {
  overflow-x: auto;
  padding: 0; }

.season-price-table {
  min-width: 130px; }

.season-default {
  margin-bottom: 0 !important; }

.season-default .panel-body {
  border: 1px solid #cccccc;
  border-top-color: #ddd; }

.season-type-header {
  padding: 5px !important;
  background-color: #ffc20e !important;
  border-radius: 0; }

.season-type-header a {
  color: #333333; }

.season-type-header .panel-title {
  margin-top: 0; }

.eliminar-season {
  padding: 9px;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 9px; }

.align-center {
  vertical-align: middle; }

.scroll-column {
  position: relative;
  background: white;
  outline: 2px solid #dddddd;
  border: none !important;
  vertical-align: middle !important;
  z-index: 3; }

.calendar_table thead tr th {
  padding-left: 0 !important;
  padding-right: 0 !important;
  padding-bottom: 0 !important; }

.calendar_table .all_seasons {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0; }

.calendar_table .season:after {
  content: '';
  position: absolute;
  height: 5px;
  left: -3px;
  right: -3px;
  bottom: -4px;
  z-index: 1;
  background-color: #57ACB8; }

.calendar_table .no_season {
  background-color: #ffffff; }

.calendar_table .weekend .no_season {
  background-color: grey; }

.line_span {
  font-weight: 600; }

.reservation-state {
  font-size: 10px;
  padding-left: 5px; }

.reservation-state:before {
  vertical-align: middle; }

.span-state {
  position: relative;
  cursor: pointer; }

.span-state p {
  display: inline-block; }

.reservation_new_state {
  display: none;
  position: absolute;
  background-color: #ffffff;
  border: 1px solid #cccccc;
  box-shadow: 1px 1px 1px #cccccc;
  padding: 10px 15px;
  left: -10px;
  z-index: 2; }

.reservation_new_state.show_label {
  display: block; }

.reservation_state_option {
  display: block;
  text-align: center;
  margin: 0;
  padding-bottom: 5px;
  cursor: pointer; }

@media (min-width: 992px) {
  .modal-xlg {
    width: 1000px; } }

.side-nav ul {
  margin-bottom: 0; }

p {
  color: #7b7b7b; }

.form-control:focus {
  border-color: #ffe566;
  outline: 2px solid #ffe566;
  box-shadow: none; }

textarea.form-control {
  resize: none;
  border-radius: 0;
  box-shadow: none; }

.icon-opcoes-eliminar {
  color: black; }

.btn-cancelar .icon-opcoes-eliminar {
  color: white; }

.panel-body table > tbody > tr > td {
  border-bottom: 1px solid #f0f0f0;
  border-top: 1px solid #f0f0f0; }

.align-width-panel {
  margin-left: -30px;
  margin-right: -30px; }

table.dataTable {
  font-weight: 400; }

table {
  background-color: white !important;
  border-collapse: collapse !important; }

table tbody {
  background-color: white; }

table.dataTable thead th, table.dataTable thead td {
  background-color: white;
  border-bottom: 1px solid #f0f0f0  !important; }

.table-bordered > thead > tr > th, .table-bordered > thead > tr > td {
  border-bottom-width: 1px; }

.tax-table > thead > tr:first-child > th {
  background-color: #f0f0f0; }

.tax-table > thead > tr > th {
  background-color: #fafafa; }

.table-hover > tbody > tr:hover {
  background-color: #fafafa; }

p:empty {
  background-color: #fafafa; }

#images_for_type tr {
  border: none !important; }

table.dataTable tbody th, table.dataTable tbody td {
  color: #7b7b7b;
  padding-top: 5px !important;
  padding-bottom: 5px !important; }

table.dataTable tbody tr.selected:not(:last-child) td {
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  color: black; }

table.dataTable tbody tr.selected:last-child td {
  border-top: 1px solid white;
  color: black; }

.table_padding_10.dataTable tbody td {
  padding-top: 10px !important;
  padding-bottom: 10px !important; }

.form-control-static {
  padding-top: 5px;
  padding-bottom: 5px;
  min-height: 30px; }

select {
  background-color: white !important; }

.divider_line2 {
  border-top: 1px solid #F0F0F0;
  margin-left: 0;
  margin-right: 0;
  height: 2px;
  margin-top: 10px;
  margin-bottom: 10px; }

.dataTables_wrapper .dataTables_info {
  margin-left: 30px; }

.btn-yellow:active:focus {
  border: none !important;
  outline: none !important;
  background: #FFD300; }

.btn-default.btn-cancelar:active, .btn-default.btn-cancelar:focus {
  color: white !important;
  background-color: black !important; }

.btn:active, .btn.active {
  box-shadow: inset 0 1px 10px rgba(0, 0, 0, 0.125); }

.modal-body {
  padding-top: 30px;
  padding-left: 30px;
  padding-right: 30px; }

.dataTables_length select {
  padding-left: 5px;
  margin-right: 5px; }

.toggle-on, .toggle-on:active, .toggle-on:focus, .toggle-on:active:focus {
  border: none;
  background-color: #4CBD93; }

.toggle-on:hover {
  background-color: #498A73; }

.btn.toggle-off:hover {
  background-color: #c1312f !important; }

.no_padding {
  padding: 0; }

.iconpicker-popover.popover .popover-title {
  background-color: #fafafa; }

a.bg-primary, a.bg-primary:focus {
  background-color: #FFD300; }

a.bg-primary:hover, .iconpicker .iconpicker-item:hover:not(.iconpicker-selected), .iconpicker .iconpicker-item.iconpicker-selected:hover {
  border: 1px solid #cccccc;
  background-color: #cccccc !important; }

.iconpicker-popover {
  border-radius: 0; }

.iconpicker .iconpicker-item {
  border-radius: 0 !important;
  box-shadow: none !important;
  border: 1px solid #cccccc; }

.iconpicker .iconpicker-item:focus {
  box-shadow: none !important; }

.iconpicker .iconpicker-item.iconpicker-selected {
  color: black !important;
  box-shadow: none;
  border: 1px solid #ffd300; }

.image_highlight {
  margin-bottom: 20px; }

.fom-style-hidden2 label {
  font-weight: 600;
  font-size: 14px; }

.fom-style-hidden3 label {
  font-weight: 600;
  font-size: 14px; }

a.icon-adicionar:before, a.icon_eliminar:before {
  vertical-align: text-bottom;
  padding-right: 10px; }

a.icon_voltar:focus {
  color: #000000; }

.icon-voltar {
  line-height: 0; }

.width_name_table {
  width: 300px; }

.modal input.search {
  border-bottom: 2px solid #f0f0f0 !important;
  transition: box-shadow 0.4s ease-in-out; }

.modal input.search:focus {
  outline-color: transparent;
  box-shadow: inset 0 0px 5px 0px #f0f0f0; }

input#search:focus {
  outline-color: transparent;
  /* box-shadow: 0 1px 5px 0px #ffe466;*/
  box-shadow: inset 0 0px 5px 0px #f0f0f0; }

input#search {
  transition: box-shadow 0.4s ease-in-out; }

table.dataTable thead .sorting_asc, table.dataTable thead .sorting_desc, table.dataTable thead .sorting {
  background-image: none !important; }

table.dataTable thead .sorting:after {
  color: #d0d0d0; }

table.dataTable thead .sorting_asc:after, table.dataTable thead .sorting:after {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "\f0d7";
  padding-left: 15px; }

table.dataTable thead .sorting_desc:after {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "\f0d8";
  padding-left: 15px; }

table.dataTable thead th.multiple-options.sorting_disabled {
  padding-left: 15px !important;
  padding-right: 18px !important; }

table.dataTable thead th.sorting_disabled {
  text-align: center;
  padding-right: 30px !important; }

.sorting_disabled .checkbox-default span::before {
  padding: 0; }

.default-table tr td:last-child {
  text-align: center;
  padding-right: 30px !important; }

.modal-footer {
  padding-left: 30px;
  padding-right: 30px; }

.table.dataTable.no-footer {
  box-shadow: 0px 5px 3px -3px #f0f0f0; }

.dropdown-menu > li > a {
  border-left: 5px solid transparent; }

.dropdown-menu > li > a:hover {
  border-left: 5px solid #FFD300; }

.calendar_table tbody tr td:nth-child(1) {
  z-index: 1; }

.calendar_table tbody, .calendar_table thead {
  border-collapse: separate;
  background-color: #fafafa; }

.calendar_table_wrapper .table-bordered > tbody > tr > td {
  position: relative;
  background-color: white;
  padding: 4px;
  border: 1.5px solid #fafafa; }

.calendar_table_wrapper {
  padding-left: 15px;
  padding-top: 15px; }

.calendar_table_wrapper .table-bordered {
  border: none; }

.calendar_table_wrapper .table-bordered > thead > tr > th {
  border: 1.5px solid #fafafa;
  position: relative;
  border-bottom: none; }

.calendar_table_wrapper .table-bordered > tbody > tr > td a {
  font-size: 14px; }

.calendar_table_wrapper .table-bordered > tbody > tr > td a:hover {
  font-size: 14px;
  color: black;
  font-weight: 700;
  text-decoration: underline; }

td.paid_out:after {
  content: '';
  width: 105%;
  height: 6px;
  background-color: #FFD300;
  position: absolute;
  transform: translate(-50%, -50%);
  z-index: 0;
  cursor: pointer; }

td.completed:after {
  content: '';
  width: 105%;
  height: 6px;
  background-color: #A7A9AC;
  position: absolute;
  transform: translate(-50%, -50%);
  z-index: 0;
  cursor: pointer; }

.calendar_table .weekend {
  background-color: #F1F2F2 !important; }

.base_price {
  display: inline-block; }

.base_type {
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase; }

.preco_base, .base_price a {
  color: black;
  font-size: 14px; }

.calendar_table_wrapper .table-bordered > tbody > tr > td.current:before {
  content: '';
  position: absolute;
  top: -4px;
  left: 0;
  right: 0;
  bottom: 0;
  border-left: 2px solid #FFED99;
  border-right: 2px solid #FFED99; }

.calendar_table thead tr th.current {
  background-color: #FFED99 !important; }

.calendar_table_wrapper .calendar_table tbody tr td:nth-child(1) {
  min-height: 30px;
  width: 280px; }

.calendar_table_wrapper {
  background-color: #fafafa; }

.calendar_table_wrapper tbody tr:last-child .current:before {
  content: '';
  position: absolute;
  top: -4px;
  left: -4px;
  right: -3px;
  bottom: 0;
  border-left: 2px solid #FFED99;
  border-right: 2px solid #FFED99;
  border-bottom: 2px solid #FFED99; }

.calendar_table_wrapper .table-bordered > tbody > tr > td {
  padding-top: 2px;
  padding-bottom: 2px; }

.left_column_head {
  padding-top: 4px !important;
  padding-bottom: 4px !important;
  background-color: #EAEAEA !important; }

.left_column {
  text-align: left !important; }

.calendar_table thead th {
  min-width: 80px; }

.calendar_table tbody td {
  min-width: 80px; }

.left_column {
  z-index: 2;
  padding-left: 10px !important; }

.first_column_date a span {
  font-size: 14px;
  padding-left: 15px; }

.calendar_table tbody {
  height: calc(100vh - 484px); }

.conteudo_central {
  padding-bottom: 15px; }

.first_column_date:hover {
  background-color: #FFE566 !important; }

.preco_base i {
  padding-right: 10px; }

.calendar_table_wrapper .table-bordered > tbody > tr > td.left_column a:hover .preco_base {
  text-decoration: none;
  font-weight: 400; }

.calendar_table_wrapper .table-bordered > tbody > tr > td.left_column a:hover .base_price {
  text-decoration: underline;
  font-weight: 700; }

.calendar_table_wrapper .table-bordered > tbody > tr > td.left_column a:hover {
  text-decoration: none;
  font-weight: 400; }

.legenda {
  padding-left: 55px;
  font-weight: 400; }

.legenda:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 6px;
  width: 19px;
  background-color: #57ACB8;
  transform: translate(25px, 15px); }

.hover-yellow:after {
  background-color: #FFE566 !important; }

.hover-gray:after {
  background-color: #cdcdcd !important; }

.reservation_name {
  display: none;
  position: absolute;
  z-index: 10;
  background-color: white;
  padding: 5px 15px;
  border: 4px solid #A7A9AC; }

.show-name {
  display: block; }

.reservation_name:before {
  content: '';
  width: 0;
  height: 0;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  position: absolute;
  top: -10px;
  border-bottom: 6px solid #A7A9AC;
  left: 50%;
  transform: translateX(-50%); }

.reservation_name:after {
  content: '';
  width: 0;
  height: 0;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  position: absolute;
  top: -5px;
  border-bottom: 5px solid white;
  left: 50%;
  transform: translateX(-50%); }

.calendar_table_wrapper thead th {
  font-weight: 400; }

.calendar_table_wrapper thead th div {
  font-weight: 700; }

.first_column_date a {
  padding-left: 25px !important;
  color: black;
  font-weight: 700;
  position: absolute;
  top: 0;
  height: 100%;
  display: table; }

.first_column_date a i {
  display: table-cell;
  vertical-align: middle; }

.first_column_date a span {
  display: table-cell;
  vertical-align: middle; }

.tabs-back {
  background-color: #ffe466; }

.tabs-back .fonte_12_lato a {
  font-size: 14px;
  font-weight: 400;
  font-family: "Lato", sans-serif; }

.tabs-back .ativo {
  background-color: #FFD300; }

.icon_voltar:hover {
  background-color: #FFED99;
  text-decoration: none;
  color: black; }

.tabs-back ul {
  font-size: 0;
  padding: 0;
  margin: 0; }

.menu-options-reverse, .icon_eliminar {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 14px;
  display: inline-block;
  color: white;
  background-color: #000000; }

a.icon-adicionar:before, a.icon_eliminar:before {
  vertical-align: text-bottom;
  padding-right: 10px; }

.icon_delete_inside_view {
  display: inline-block;
  height: auto;
  margin-right: -15px;
  padding-left: 15px !important;
  padding-right: 15px !important;
  padding-top: 15px !important;
  padding-bottom: 15px !important;
  vertical-align: middle; }

@media (min-width: 768px) {
  .side-nav ul > li > a {
    height: 100%;
    display: table; }
  .side-nav-text {
    display: table-cell;
    vertical-align: middle; } }

.side-nav ul > li > a .icon15menu {
  display: table-cell;
  float: none; }

.side-nav .module:hover a {
  background-color: #1a1a1a; }

.side-nav .module:hover {
  border-left: 10px solid #FFED99; }

.first_column_date {
  cursor: pointer;
  background-color: #FFD200 !important;
  padding: 0 !important; }

.calendar_table_wrapper table tbody {
  backface-visibility: hidden; }

.bread-left {
  float: left; }

.legendas {
  float: right; }

.lista-legendas {
  list-style: none;
  margin: 5px 0 5px 0;
  background-color: transparent;
  padding-right: 15px;
  padding: 8px 15px; }

.lista-legendas li {
  display: inline-block;
  position: relative; }

.legenda_t, .legenda_p, .legenda_c {
  font-weight: 400;
  padding-left: 40px;
  padding-right: 15px; }

.legenda_t:before {
  content: '';
  position: absolute;
  left: 15px;
  height: 6px;
  width: 19px;
  background-color: #57ACB8;
  transform: translateY(8px); }

.legenda_p:before {
  content: '';
  position: absolute;
  left: 15px;
  height: 6px;
  width: 19px;
  background-color: #FFD300;
  transform: translateY(8px); }

.legenda_c:before {
  content: '';
  position: absolute;
  left: 15px;
  height: 6px;
  width: 19px;
  background-color: #A7A9AC;
  transform: translateY(8px); }

.number_visitors {
  font-weight: 700; }

.second-bar {
  width: 100%;
  background-color: white;
  border-bottom: 2px solid #F1F2F2;
  padding: 10px 10px;
  display: -ms-flexbox;
  display: flex; }

ul.list_icons > li, ul.list_icons_users > li {
  cursor: pointer; }

ul.list_icons > li:hover, ul.list_icons_users > li:hover {
  background-color: #ededed; }

.utilizadores_frequentes, .utilizadores_novos {
  font-size: 12px; }

#table_views {
  overflow-y: auto; }

.chart-legend {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  justify-content: center; }

.chart-legend ul {
  padding-top: 25px;
  padding-left: 0;
  list-style: none; }

.chart-legend li span {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 10px;
  margin-right: 5px; }

.row-eq-height {
  display: -ms-flexbox;
  display: flex; }

.panel-left, .panel-right {
  margin-bottom: 50px; }

.panel-margin {
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 30px; }

.panel {
  margin-bottom: 0 !important; }

.panel-wrapper {
  width: 100%; }

.users-wrap {
  padding-bottom: 40px;
  padding-top: 50px; }

.loading_default {
  background-color: rgba(255, 255, 255, 0.8);
  bottom: 0;
  display: none;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 3; }

div.loading_default img {
  width: 100px;
  height: 100px;
  border: 0 none;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%); }

#loading_data_range_full.loading_data_range_full {
  position: fixed;
  display: block;
  background-color: white; }


.label_geral {
  margin-bottom: 0; }

.nav-analytics > li > a {
  width: auto !important;
  height: auto !important;
  background-color: transparent; }

.nav-analytics {
  background-color: transparent; }

.nav-tabs > li > a {
  border-radius: 0;
  border: none;
  color: black; }

.nav-analytics > li.active > a, .nav-analytics > li.active > a:focus, .nav-analytics > li > a:focus {
  background-color: #FFD300;
  border-radius: 0;
  border: none;
  color: black; }

.nav-analytics > li > a:hover, .nav-analytics > li.active > a:hover {
  background-color: #FFE566;
  border-radius: 0;
  border: none;
  color: black; }

.panel-titulo {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-line-pack: center;
  align-content: center;
  justify-items: center; }

div.date_custom {
  -ms-flex: 1;
  flex: 1;
  -ms-flex-item-align: center;
  align-self: center;
  font-family: 'Lato', sans-serif;
  font-size: 12px;
  padding: 0;
  padding-left: 20px;
  padding-right: 10px; }

ul.list_icons, ul.list_icons_users {
  padding-left: 0;
  -ms-flex-item-align: center;
  align-self: center;
  margin: 0; }

.dataTables_wrapper {
  height: 100%; }

#table_views {
  height: auto; }

#table_views table tr {
  white-space: nowrap; }

.panel-body table > tbody > tr > td {
  padding-left: 15px !important; }

div.margin_section_geral {
  margin-bottom: 50px; }

.row.doghnutChart {
  padding-top: 50px; }

.chart-padding {
  padding-top: 50px;
  padding-bottom: 50px; }

.nav-analytics > li {
  padding-right: 20px; }

.chart-legend li {
  display: inline-block;
  padding: 0 20px; }

.daterangepicker.dropdown-menu {
  background-color: white;
  margin: 0;
  padding: 0;
  padding-top: 10px; }

.daterangepicker.dropdown-menu .ranges {
  padding: 0;
  margin: 0; }

.daterangepicker.dropdown-menu .ranges li {
  display: block;
  padding: 3px 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  clear: both;
  font-weight: normal;
  line-height: 1.428571429;
  color: #333333;
  white-space: nowrap;
  border-radius: 0;
  margin-bottom: 0;
  background-color: white;
  border: none;
  border-left: 5px solid transparent; }

.daterangepicker.dropdown-menu .ranges li:hover {
  border: none;
  border-left: 5px solid #FFE566;
  text-decoration: none;
  color: #262626;
  background-color: #FFF2B2; }

.daterangepicker.dropdown-menu .ranges li.active {
  border-left: 5px solid #FFD300;
  text-decoration: none;
  color: #262626;
  background-color: #FFED99; }

.daterangepicker .range_inputs .applyBtn {
  font-size: 10px;
  background-color: #FFD300;
  color: black;
  font-family: 'Montserrat', sans-serif;
  border: none;
  text-transform: uppercase; }

.daterangepicker .range_inputs .applyBtn:hover {
  background-color: #ffe466; }

.daterangepicker .range_inputs .cancelBtn {
  font-size: 10px;
  background-color: black;
  color: white;
  font-family: 'Montserrat', sans-serif;
  border: none;
  text-transform: uppercase; }

.daterangepicker .range_inputs .cancelBtn:hover {
  background-color: #333333; }

.daterangepicker .range_inputs {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  padding-bottom: 5px;
  padding-top: 10px; }

.chart-legend {
  padding-top: 50px; }

.daterangepicker td.in-range {
  background-color: #FFF2B2 !important; }

.daterangepicker td.active, .daterangepicker td.active:hover {
  background-color: #FFD300 !important;
  color: black !important; }

.daterangepicker td.available:hover, .daterangepicker th.available:hover {
  background-color: #FFF2B2 !important; }

.daterangepicker .input-mini {
  border-radius: 0 !important; }

.daterangepicker .input-mini.active {
  border: 1px solid #FFE566 !important; }

.daterangepicker select.hourselect, .daterangepicker select.minuteselect, .daterangepicker select.secondselect, .daterangepicker select.ampmselect {
  width: auto !important;
  padding-left: 10px !important;
  padding-right: 20px !important; }

.daterangepicker.ltr .calendar.right {
  margin-right: 15px; }

.tabs-geral.active-1:after {
  margin-top: 10px;
  content: '';
  width: 50px;
  height: 3px;
  position: absolute;
  background-color: #017ec1; }

.tabs-geral.active-2:after {
  margin-top: 10px;
  content: '';
  width: 50px;
  height: 3px;
  position: absolute;
  background-color: #3dc494; }

.label_geral {
  font-weight: 400; }

.daterangepicker:before {
  content: none !important; }

.tabs-geral i {
  font-size: 20px; }

.dataTables_wrapper .dataTables_info {
  font-size: 14px; }

.dataTables_length label {
  font-size: 14px; }

table.dataTable tbody th, table.dataTable tbody td {
  padding-top: 15px !important;
  padding-bottom: 15px !important; }

.table.dataTable.no-footer {
  box-shadow: none; }

.chart-padding {
  padding-top: 0; }

table.table-analytics tr.selected {
  border-bottom: 1px solid #f0f0f0 !important;
  border-top: 1px solid #f0f0f0 !important;
  background-color: transparent !important;
  color: #7b7b7b !important; }

table.table-analytics tbody tr.selected td {
  border-bottom: 1px solid #f0f0f0 !important;
  border-top: 1px solid #f0f0f0 !important;
  color: #7b7b7b !important; }

.dataTables_wrapper .dataTables_paginate .paginate_button.disabled, .dataTables_wrapper .dataTables_paginate .paginate_button.disabled:hover, .dataTables_wrapper .dataTables_paginate .paginate_button.disabled:active {
  display: none !important; }

#chartjs-tooltip {
  opacity: 0;
  position: absolute;
  background: rgba(0, 0, 0, 0.7);
  color: white;
  padding: 3px;
  border-radius: 3px;
  transition: all .1s ease;
  pointer-events: none;
  transform: translate(-50%, 0); }

.body-circle {
  height: calc(100% - 137px);
  width: 100%;
  display: table; }

.pie-wrap {
  display: block;
  vertical-align: middle; }

.panel {
  height: 100%;
  margin: 15px 0; }

canvas#userspiechart {
  max-width: 100%;
  max-height: 300px !important; }

canvas#tecnologiasBrowser_graph, canvas#tecnologiasSO_graph, canvas#sexoDoghnut, canvas#idadeDoghnut {
  max-width: 200px;
  max-height: 200px !important; }

.analytics {
  position: relative; }

#userspiechart, #tecnologiasBrowser_graph, #tecnologiasSO_graph, #sexoDoghnut, #idadeDoghnut {
  display: inline-block; }

.date_wrapper {
  display: table; }

.date_wrapper i {
  padding-right: 10px; }

.date_wrapper i, .date_wrapper span {
  display: table-cell;
  vertical-align: middle; }

.date_wrapper .last_date:after {
  content: '';
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 2px;
  vertical-align: middle;
  border-top: 4px dashed;
  border-top: 4px solid \9;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
  margin-left: 5px; }

#tecnologiasBrowser_graph, #tecnologiasSO_graph, #sexoDoghnut, #idadeDoghnut {
  margin-top: 50px; }

.date_wrapper .last_date {
  display: inline-block; }

#table_views {
  text-align: left; }

#table_views th {
  border-top: 2px solid #ffe566; }

#table_views tr:first-child {
  border-top: 2px solid #ffe566; }

.icons-analytics {
  font-size: 20px;
  line-height: 20px; }

.nav-analytics {
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 500; }

.dataTables_paginate {
  font-size: 14px;
  line-height: 7px;
  padding-top: 0 !important; }

.dataTables_wrapper .dataTables_paginate .paginate_button.current {
  background-color: #FFD300 !important; }

.dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
  background-color: #ffe566 !important; }

.dataTables_wrapper .dataTables_paginate .paginate_button {
  padding: 10px !important; }

.dataTables_wrapper .dataTables_paginate a.paginate_button:hover {
  background-color: #ffe566 !important; }

.dataTables_wrapper .dataTables_paginate .paginate_button:active {
  background-color: #FFD300 !important;
  outline: none !important;
  box-shadow: none !important;
  border: none !important; }

#table_views .dataTables_info, #table_views .dataTables_length {
  padding-top: 4px !important; }

.titulo i {
  font-size: 20px;
  padding-right: 15px; }

.titulo i:before {
  vertical-align: text-top; }

.alert_itens {
  position: absolute;
  top: 0px;
  left: 0px;
  border-radius: 0px;
  right: 0px;
  opacity: 1;
  padding: 5px 30px;
  z-index: 1; }

.side-nav ul li a > * {
  display: table-cell;
  vertical-align: middle; }

.side-nav ul li a i {
  width: 50px;
  font-size: 25px;
  padding-right: 10px; }

#table_views .dataTables_wrapper .dataTables_info {
  margin-left: 0; }

#table_views .dataTables_paginate {
  display: inline-block;
  float: none; }

.dataTables_length {
  padding-right: 40px; }

.paginate_button.next {
  background-color: #FFF2B2;
  text-transform: uppercase;
  padding-left: 10px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 12px; }

.paginate_button.previous {
  background-color: #FFF2B2;
  text-transform: uppercase;
  padding-right: 10px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 12px; }

.paginate_button.current {
  font-weight: 700; }

.dataTables_wrapper .dataTables_paginate a.paginate_button.next:hover, .dataTables_wrapper .dataTables_paginate a.paginate_button.previous:hover {
  background-color: #ffd300 !important; }

#initial_table_caracteristics_table tr:nth-child(-n+4) td:last-child {
  display: none; }

#caracteristics_table #sel_row_2 td:last-child:before,
#caracteristics_table #sel_row_3 td:last-child:before,
#caracteristics_table #sel_row_4 td:last-child:before,
#caracteristics_table #sel_row_5 td:last-child:before {
  content: ''; }

#caracteristics_table #sel_row_2,
#caracteristics_table #sel_row_3,
#caracteristics_table #sel_row_4,
#caracteristics_table #sel_row_5 {
  display: none; }

.form-group.until {
  position: relative;
  margin-bottom: 0; }

.form-group.until input:placeholder-shown + label {
  opacity: 0;
  transform: translateY(100%); }

.form-group.until input + label {
  position: absolute;
  top: -23px;
  left: 10px;
  transition: all 0.1s;
  opacity: 1;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  background: white;
  border: none;
  border-width: 0 2px 0 2px;
  padding: 0 5px;
  transform: translateY(calc(50% + 5px)); }

.rules_more_label {
  width: 100%;
  text-align: center;
  margin-bottom: 0;
  display: none; }

.container_for_seasons .variant-price-table tr:last-child th:nth-child(2) .rules_more_label {
  display: block; }

.gantt_dependent_task,
.gantt_link_point,
.gantt_task_progress_drag {
  display: none !important; }

.gantt_task_cell.weekend {
  background-color: #fafafa; }

.gantt_task_line.pending,
.gantt_task_line.pending .gantt_task_progress {
  background-color: #FFF2B2 !important;
  border: #FFF2B2 !important; }

.gantt_task_line.unpaid,
.gantt_task_line.unpaid .gantt_task_progress {
  background-color: #FFE566 !important;
  border: #FFE566 !important; }

.gantt_task_line.paid_out,
.gantt_task_line.paid_out .gantt_task_progress {
  background-color: #ffd300 !important;
  border: #ffd300 !important; }

.gantt_task_line.completed,
.gantt_task_line.completed .gantt_task_progress {
  background-color: #5cb85c !important;
  border: #5cb85c !important; }

.gantt_task_line.canceled,
.gantt_task_line.canceled .gantt_task_progress {
  background-color: #F05E35 !important;
  border: #F05E35 !important; }

.gantt_task_cell {
  position: relative; }

.gantt_task_cell .edit_date {
  position: absolute;
  transform: translateX(-50%); }

ul.list_icons > li.list_items a {
  color: black;
  display: block;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0; }

ul.list_icons > li.list_items a:before {
  vertical-align: middle; }

.list_items {
  width: 40px;
  height: auto;
  position: relative;
  text-align: center; }

.multiselect-container li a {
  padding-right: 0 !important; }

.dropdown-menu > li.active > a {
  border-left: 5px solid transparent;
  text-decoration: none;
  color: #262626; }

.dropdown-menu > li > a:hover {
  border-left: 5px solid #FFD300;
  text-decoration: none;
  color: #262626;
  background-color: #FFED99 !important; }

.list_icons > li.list_items.active {
  background-color: #d1d3d4; }

.multiselect-selected-text {
  font-size: 14px;
  text-transform: capitalize;
  padding-right: 10px; }

.multiselect-container li a {
  padding-left: 0; }

.graph_options {
  list-style: none; }

.graph_options li {
  display: inline-block; }

.btn_right {
  float: right; }

.graph_value {
  font-weight: 700;
  font-size: 14px; }

.chart_data {
  padding-bottom: 50px; }

#sectionEncomendas {
  padding-bottom: 50px; }

#sectionEncomendas button.buttonDashboardReservas, #sectionEncomendas button.buttonDashboardReservas .span-state {
  cursor: default; }

button.filter {
  font-size: 12px; }

.label_info {
  font-weight: 400;
  font-size: 12px;
  color: #808080; }

.btn-cancelar:focus, .btn-cancelar:active, .btn-cancelar:active:focus {
  outline: none; }

.span-state p {
  letter-spacing: 0.5px; }

button.state-completed {
  background-color: #5cb85c;
  color: white !important;
  border: 2px solid #5cb85c; }

button.state-completed span p {
  color: white !important; }

button.state-unpaid span p {
  color: black !important; }

button.state-pending span p {
  color: black !important; }

button.state-paid_out span p {
  color: black !important; }

button.state-canceled span p {
  color: white !important; }

button.buttonDashboardReservas {
  min-width: 75%; }

#sectionDevolucoes .buttonDashboardReservas {
  cursor: default; }

a.see_reservation {
  color: #939598; }

.multiselect-container li label {
  font-size: 14px;
  line-height: 20px;
  cursor: pointer; }

.multiselect-container {
  min-width: auto !important;
  border: 1px solid rgba(0, 0, 0, 0.15) !important;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175) !important;
  background-clip: padding-box !important; }

.multiselect-container > li > a:focus {
  background-color: transparent; }

.multiselect-container:empty {
  display: none; }

.daterangepicker:after {
  content: none !important; }

.icon-info i {
  font-size: 68px;
  display: -ms-flexbox;
  display: flex; }

.icon-info {
  display: -ms-flexbox;
  display: flex;
  padding-right: 20px;
  -ms-flex-item-align: center;
  align-self: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center; }

.data-info {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.data-wrap {
  display: -ms-inline-flexbox;
  display: inline-flex; }

.positive {
  color: #5cb85c;
  position: relative; }

.negative {
  color: #F05E35;
  position: relative; }

.same {
  color: #808080;
  position: relative; }

.negative:before, .positive:before {
  content: none !important; }

.negative:after {
  content: "";
  width: 0;
  height: 0;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-top: 7px solid #F05E35;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  margin-left: 10px; }

.positive:after {
  content: "";
  width: 0;
  height: 0;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-bottom: 7px solid #5cb85c;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  margin-left: 10px; }

.same:after {
  content: "";
  width: 15px;
  height: 0;
  border: 1px solid #808080;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  margin-left: 10px; }

.reset-wrap {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
  -ms-flex-align: center;
  align-items: center;
  height: 100%; }

.reset-wrap .reset-btn {
  display: -ms-flexbox;
  display: flex;
  padding: 10px;
  background-color: black;
  cursor: pointer;
  color: white; }

.reset-wrap .reset-btn:hover {
  background-color: #333333; }

.lista_menu {
  margin-bottom: 0; }

.reservations_data {
  padding-bottom: 25px; }

.data-info .label_info {
  margin-bottom: 0; }

.caret {
  margin-left: 5px; }

.multiselect-container > li > a {
  border-left: none !important; }

.multiselect-container > li > a:hover {
  background-color: #f8f8f8 !important;
  border-left: none !important; }

.multiselect-container li label {
  padding-right: 30px; }

.paginate_button {
  border: none !important; }

.paginate_button:hover {
  border: none !important; }

.tabs-geral .label_geral {
  font-size: 12px; }

.tabs-geral div.chart-value {
  font-size: 14px;
  font-weight: 700; }

.typologies-form {
  display: inline-block; }

.container_for_rules .row:last-child .rules_more_label {
  display: inline; }

.btn-stay {
  background-color: #ffe466; }

.gantt_row[aria-level="0"] {
  padding-top: 2px;
  line-height: 18px !important; }

.season_line {
  position: relative;
  width: 100%;
  height: 4px;
  background-color: red;
  bottom: 0; }

.gantt_task .gantt_task_scale .gantt_scale_cell {
  overflow: visible !important; }

.menu-tabs {
  border: none; }

.menu-tabs li {
  float: none; }

.menu-tabs li a {
  border: none !important;
  padding: 15px 10px; }

.menu-tabs li.active a {
  background-color: #ffe466 !important; }

.panel-body.no_padding_panel {
  padding: 20px 30px !important; }

.blog-tabs li {
  float: none; }

.blog-tabs li.active a {
  background-color: #ffe466 !important; }

.blog-tabs li a {
  border: none !important;
  padding: 15px 10px !important; }

.disable-overflow {
  overflow: hidden; }

.table-padding {
  padding-bottom: 60px !important; }

.form-toggle-line {
  display: inline-block;
  padding-left: 15px; }

/*GANTT*/
.gantt_container {
  font-family: 'Lato', sans-serif; }

.gantt_task .gantt_task_scale .gantt_scale_cell {
  background-color: white;
  color: black !important; }

.gantt_task_scale .gantt_scale_line:nth-child(2) {
  border-bottom: 1px solid black; }

.gantt_grid_scale {
  font-weight: 600;
  color: black;
  text-transform: uppercase;
  line-height: 44px !important;
  height: 77px !important; }

.gantt_grid_scale a {
  color: black;
  font-size: 12px; }

.gantt_scale_cell span {
  line-height: 22px;
  display: block;
  color: black; }

.gantt_scale_cell span:first-child {
  font-weight: 700; }

/*.gantt_scale_cell, .gantt_task_cell {
  width: 70px !important;
}

.gantt_task .gantt_task_scale:first-child .gantt_scale_line:first-child*/
.gantt_grid_head_cell a.edit_season {
  display: block;
  width: 100%;
  height: 44px;
  background-color: #ffd300; }

.season_line {
  position: absolute;
  width: 101%;
  background-color: #57ACB8;
  left: -1px; }

.gantt_data_area .gantt_task_cell a {
  color: black; }

.gantt_task_line {
  height: 10px !important;
  transform: translateY(19px); }

.gantt_task_bg .gantt_task_row.gantt_selected {
  /*  background-color: white !important;
    border-top: 2px solid #ffd300;
    border-bottom: 2px solid #ffd300;*/
  background-color: #fff !important; }

.gantt_row {
  border-top: 2px solid transparent !important;
  border-left: 2px solid transparent !important;
  padding-bottom: 3px; }

.gantt_row.gantt_selected {
  /*  border-top: 2px solid #ffd300 !important;
    border-bottom: 2px solid #ffd300 !important;
    border-left: 2px solid #ffd300 !important;
    background-color: #f7f7f7 !important;*/ }

.gantt_container .gantt_grid_data .gantt_row.gantt_selected[aria-level="0"], .gantt_container .gantt_grid_data .gantt_row.odd.gantt_selected {
  background-color: white !important; }

.gantt_container .gantt_grid_data .gantt_row.gantt_selected[aria-level="1"] {
  background-color: #f7f7f7 !important; }

.gantt_container .gantt_grid_data .gantt_row:hover, .gantt_container .gantt_grid_data .gantt_row.odd:hover {
  background-color: #f7f7f7 !important; }

.gantt_task_row.gantt_selected .gantt_task_cell {
  border-right-color: #f0f0f0 !important; }

.gantt_tree_icon.icon-num-reservas:before {
  position: absolute;
  margin-top: 7px;
  font-size: 20px; }

.gantt_tree_icon {
  position: relative;
  width: 40px !important;
  background-image: none !important; }

.close_icon:before {
  left: 50%;
  top: 5px;
  transform: translateX(-50%);
  position: absolute; }

.gantt_tree_content span a {
  color: black; }

.gantt_row:hover .gantt_tree_content span a {
  text-decoration: underline; }

.gantt_tree_content {
  text-transform: uppercase;
  font-weight: 700; }

.gantt_tree_content div {
  font-weight: 400;
  text-transform: none; }

.gantt_marker_area {
  pointer-events: none; }

.gantt_marker.today {
  border-left: 2px solid #FFED99;
  border-right: 2px solid #FFED99;
  background-color: transparent !important; }

.gantt_marker_content {
  display: none; }

.gantt_container {
  border: none !important; }

.gantt_grid {
  border-right: none !important;
  margin-right: 1px; }

.gantt_task .gantt_task_scale .gantt_scale_cell:last-child {
  border-right: none !important; }

.gantt_task .gantt_task_scale .gantt_scale_cell {
  border-right: 1px solid #f0f0f0 !important; }

.gantt_scale_line.day_scale {
  border-top: 1px solid #f0f0f0; }

.gantt_grid_scale {
  border-bottom: none !important; }

.season_tooltip {
  opacity: 0;
  position: absolute;
  bottom: 16px;
  width: auto;
  left: 50%;
  transform: translateX(-50%);
  padding: 10px 15px;
  background-color: white;
  transition: all 0.5s ease-in-out;
  line-height: 10px;
  border: 1px solid #ffd300;
  z-index: 1; }

.season_tooltip:after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-top: 7px solid white;
  bottom: -7px;
  left: 50%;
  transform: translateX(-50%); }

.season_tooltip:before {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-top: 8px solid #ffd300;
  bottom: -8px;
  left: 50%;
  transform: translateX(-50%); }

.gantt_scale_cell:hover .season_tooltip {
  opacity: 1; }

.month_scale, .week_scale, .year_scale {
  height: 32px !important;
  line-height: 32px !important; }

.gantt_task_scale {
  height: 77px !important; }

.gantt_task_line.gantt_selected {
  box-shadow: none !important; }

.calendario_control {
  position: relative;
  left: 0;
  top: 0;
  width: 219px;
  height: 32px;
  background-color: white;
  margin-bottom: 1px;
  line-height: 32px;
  padding: 0 10px; }

.calendario_control {
  color: black;
  text-transform: none;
  font-weight: 400;
  text-align: left; }

.calendario_control .cal_control {
  background-color: #1a1a1a;
  cursor: pointer;
  padding: 0 15px;
  vertical-align: middle;
  color: white; }

.calendario_control .cal_control:hover {
  background-color: #494949; }

.scale_select {
  background-color: transparent;
  line-height: 32px;
  border: none;
  text-align: center;
  width: 75px;
  padding: 0 15px; }

.scale_select_wrap {
  display: inline-block;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1; }

.scale_select_wrap:hover input {
  text-decoration: underline; }

.scale_select_wrap .dropdown-menu {
  min-width: 25px;
  width: auto;
  left: 50%;
  transform: translateX(-50%); }

.gantt_grid_head_cell {
  overflow: visible !important; }

.gantt_row[aria-level="1"] {
  background-color: #f7f7f7 !important; }

.gantt_scale_line .gantt_scale_cell {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-line-pack: center;
  align-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-direction: column;
  flex-direction: column; }

.gantt_task_scale .gantt_scale_line:first-child div {
  height: 32px !important; }

.gantt_task_cell {
  text-align: center; }

.gantt_task_cell .edit_date {
  line-height: 44px;
  width: 100%; }

.gantt_task_cell:hover .edit_date {
  text-decoration: underline; }

.gantt_task_scale .gantt_scale_line:nth-child(2) {
  border-bottom: none !important; }

.gantt_task_scale {
  background-color: transparent !important;
  border-bottom: none !important; }

.gantt_ver_scroll {
  display: none !important; }

.gantt_grid {
  min-height: 600px !important; }

#schedule {
  min-height: 600px !important;
  margin-right: 0 !important; }

.calendario_control {
  text-align: center; }

.scale_select_wrap {
  cursor: pointer; }

#scale_id {
  cursor: pointer; }

.gantt_container {
  font-family: 'Lato', sans-serif !important; }

.edit_season {
  text-align: left;
  font-family: 'Montserrat', sans-serif; }

.edit_season i {
  padding-right: 10px;
  padding-left: 22px; }

.gantt_scale_line {
  border-top: 1px solid #f0f0f0; }

.gantt_marker {
  background-color: #5cb85c !important; }

.gantt_task_line {
  border-radius: 0;
  outline: 0;
  border-bottom: 1px solid #299cb4; }

.gantt_task_line.unpaid, .gantt_task_line.unpaid .gantt_task_progress {
  border: none; }

.gantt_tooltip {
  font-family: 'Lato', sans-serif;
  border: 1px solid #ffd300 !important;
  box-shadow: none !important; }

.gantt_tooltip p {
  margin: 0; }

.gantt_tooltip p:nth-child(2) {
  padding-top: 5px; }

.gantt_task_content {
  cursor: pointer; }

.is_empty {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
  font-family: "Lato", sans-serif;
  color: #898989; }

.gantt_task_cell.date_today:before {
  content: "";
  position: absolute;
  left: -1px;
  top: -6px;
  border-left: 2px solid #ffed99;
  bottom: 0;
  border-right: 2px solid #ffed99;
  right: -1px; }

.gantt_scale_cell.date_today {
  background-color: #ffed99 !important; }

.gantt_scale_cell.date_today span {
  color: #8a6d3b; }

.gantt_scale_cell.date_today:before {
  content: "";
  position: absolute;
  left: -1px;
  top: 0;
  border-left: 2px solid #ffed99;
  bottom: 0;
  border-right: 2px solid #ffed99;
  right: -1px; }

.gantt_scale_cell.weekend {
  background-color: #fafafa !important; }

.gantt_task_bg, .gantt_grid_data {
  padding-top: 5px; }

.go-prev-week {
  position: absolute;
  left: 0;
  top: 0; }

.go-next-week {
  position: absolute;
  right: 0;
  top: 0; }

.cal_control:before {
  vertical-align: middle; }

.edit_season:hover {
  background-color: #ffe466; }

.profile_img {
  border-radius: 50%;
  width: 100%;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center; }

.img-circle:after {
  content: '';
  display: block;
  padding-bottom: 100%; }

.bold_text {
  font-weight: 700;
  color: black; }

.bold_text {
  font-weight: 700; }

.panel-separator {
  position: absolute;
  left: 15px;
  right: 15px;
  height: 2px;
  background-color: #F1F2F2; }

.panel-semi-separator {
  width: 100%;
  height: 2px;
  background-color: #F1F2F2; }

.panel-separator-wrap {
  padding: 25px 0; }

.profile_details {
  margin-bottom: 0; }

.profile_details .bold_text {
  padding-bottom: 25px; }

.profile_details p {
  margin: 0; }

.last_details:last-child {
  padding-bottom: 25px; }

.reservations_number {
  line-height: 44px;
  width: 100%;
  position: absolute;
  transform: translateX(-50%);
  opacity: 0.5; }

.reservations_number.has_reservations {
  font-weight: 700;
  opacity: 1;
  background-color: #f2f2f2; }

/*GANTT*/
/*LIST RESERVATIONS*/
.profile_img {
  border-radius: 50%;
  width: 100%;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center; }

.img-circle:after {
  content: '';
  display: block;
  padding-bottom: 100%; }

.bold_text {
  font-weight: 700;
  color: black; }

.bold_text {
  font-weight: 700; }

.panel-separator {
  position: absolute;
  left: 15px;
  right: 15px;
  height: 2px;
  background-color: #F1F2F2; }

.panel-semi-separator {
  width: 100%;
  height: 2px;
  background-color: #F1F2F2; }

.panel-separator-wrap {
  padding: 25px 0; }

.profile_details {
  margin-bottom: 0; }

.profile_details .bold_text {
  padding-bottom: 15px; }

.profile_details p {
  margin: 5px 0; }

.last_details:last-child {
  padding-bottom: 25px; }

.profile_head p {
  margin: 5px 0; }

.profile-header {
  padding-bottom: 15px; }

.disp_tbl {
  display: table;
  height: 100%;
  width: 100%; }

.disp_tbl_cell {
  display: table-cell;
  vertical-align: middle; }

.editar_perfil {
  font-size: 20px;
  padding-right: 20px;
  position: absolute;
  right: 0;
  top: 0;
  cursor: pointer;
  color: #909090; }

.editar_perfil:hover {
  color: black; }

.observations ul {
  margin-left: 0;
  padding-left: 20px;
  color: #7b7b7b; }

.observations textarea {
  width: 100%;
  min-height: 250px; }

.panel-perfil .panel-titulo a {
  display: inherit; }

.editable input {
  width: 100%;
  display: inline-block; }

.editable {
  display: inline-block;
  position: relative;
  max-width: 90%;
  margin: 5px 0; }

.onfocus:before {
  content: "";
  position: absolute;
  left: -4px;
  top: -4px;
  right: -4px;
  bottom: -4px;
  border: 2px solid #ffd300;
  pointer-events: none; }

.norm_text b {
  padding-right: 5px; }

.label_detail {
  padding-right: 5px; }

.active_roda {
  color: black; }

span[contenteditable=false] {
  cursor: text; }

.profile_head, .profile_details {
  cursor: text; }

.obs-cke .cke_top {
  background-image: none !important;
  background: white !important;
  border: none !important; }

.obs-cke {
  outline: 2px solid #ffd300 !important;
  box-shadow: none !important;
  transform: translateY(-2px); }

.observations .cke_textarea_inline {
  padding: 20px;
  min-height: 250px;
  border: 1px dotted #909090;
  margin-bottom: 45px; }

.observations .cke_textarea_inline:focus {
  box-shadow: none;
  outline: 2px solid #ffd300;
  border: 1px solid transparent; }

.obs-cke a.cke_button_on {
  box-shadow: none !important; }

.cke_dialog input {
  border-radius: 0 !important;
  box-shadow: none !important;
  border: 1px solid #ccc !important; }

.cke_dialog input:focus {
  outline: 2px solid #ffd300 !important;
  border-color: #ffd300 !important; }

.cke_dialog_ui_button {
  border-radius: 0 !important;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  text-shadow: none !important;
  border: none !important; }

.cke_dialog_ui_button_ok {
  background: #ffd300 !important;
  background-image: none !important;
  color: black !important;
  border: none !important; }

.cke_dialog_ui_button_cancel {
  background: black !important;
  background-image: none !important;
  color: white !important;
  border: none !important; }

a.cke_dialog_ui_button_ok:focus, a.cke_dialog_ui_button_ok:active {
  background-color: #ffd300 !important;
  border: none !important; }

.cke_dialog_footer {
  background: white !important;
  background-image: none !important; }

a.cke_dialog_ui_button_ok:focus, a.cke_dialog_ui_button_ok:active, a.cke_dialog_ui_button_cancel:focus, a.cke_dialog_ui_button_cancel:active {
  border-width: 0 !important; }

.cke_dialog_title {
  background-image: none !important;
  background: transparent !important;
  border: none !important;
  z-index: 1 !important;
  text-shadow: none !important;
  line-height: 20px !important;
  box-shadow: none !important; }

.cke_dialog_body {
  background: white !important;
  background-image: none !important;
  border: 1px solid rgba(0, 0, 0, 0.2) !important;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5) !important; }

a.cke_dialog_tab {
  border: none !important;
  border-radius: 0 !important; }

a.cke_dialog_tab {
  background-image: none !important;
  background: #fafafa !important; }

a.cke_dialog_tab:hover {
  background-image: none !important;
  background: #ededed !important; }

a.cke_dialog_tab_selected, a.cke_dialog_tab_selected:focus {
  background-color: #ffd300 !important; }

a.cke_dialog_tab_selected:hover {
  background: #ffe566 !important; }

.cke_dialog_contents {
  border: none !important; }

.cke_dialog_tabs {
  margin-top: 15px !important; }

.cke_dialog_ui_button:focus, .cke_dialog_ui_button:active, .cke_dialog_ui_button:hover {
  border: none !important; }

a.cke_dialog_ui_button_cancel:focus, a.cke_dialog_ui_button_cancel:active, a.cke_dialog_ui_button_cancel:hover {
  box-shadow: none !important;
  background: #232323 !important; }

a.cke_dialog_ui_button_ok:focus, a.cke_dialog_ui_button_ok:active, a.cke_dialog_ui_button_ok:hover {
  box-shadow: none !important;
  background: #ffe566 !important; }

a.cke_dialog_ui_button_ok:focus, a.cke_dialog_ui_button_ok:active, a.cke_dialog_ui_button_cancel:focus, a.cke_dialog_ui_button_cancel:active {
  padding: 4px 0 !important; }

a.cke_dialog_ui_button_ok:focus span, a.cke_dialog_ui_button_ok:active span, a.cke_dialog_ui_button_cancel:focus span, a.cke_dialog_ui_button_cancel:active span {
  padding: 0 12px !important; }

.cke_dialog_tab {
  font-weight: 600 !important; }

select.cke_dialog_ui_input_select {
  height: auto !important;
  line-height: 16px !important; }

input.cke_dialog_ui_input_text:focus, input.cke_dialog_ui_input_password:focus, textarea.cke_dialog_ui_input_textarea:focus, select.cke_dialog_ui_input_select:focus {
  border-color: #ffd300 !important;
  outline: 2px solid #ffd300 !important; }

.reservation_state_option {
  padding-bottom: 5px;
  padding-top: 5px;
  border-left: 5px solid transparent;
  padding-left: 20px;
  padding-right: 20px;
  text-align: left; }

.reservation_new_state {
  padding: 0; }

.reservation_state_option:hover {
  border-left: 5px solid #FFD300;
  text-decoration: none;
  color: #262626;
  background-color: #FFED99 !important; }

.editable {
  border: 2px solid transparent; }

.editable:focus {
  border: 2px solid transparent;
  outline: 2px solid #ffd300; }

.editar_textarea {
  top: -20px; }

.cke_dialog {
  font: 12px lato, sans-serif !important; }

.cke_dialog_body:before {
  content: "";
  position: absolute;
  top: 1px;
  left: 1px;
  height: 31px;
  right: 1px;
  background-color: #fafafa; }

.cke_dialog_body:after {
  content: "";
  position: absolute;
  top: 1px;
  left: 1px;
  height: 31px;
  width: 125px;
  z-index: 0;
  background-color: #ffd300; }

.cke_dialog_background_cover {
  background-color: black !important; }

.observations .cke_textarea_inline:focus ul, .observations .cke_textarea_inline:focus p {
  color: black; }

/*LIST RESERVATIONS*/
.margem_9020 {
  margin-top: 90px;
  margin-bottom: 20px; }

.margem_1019 {
  margin-top: 10px;
  margin-bottom: 19px; }

.rule-error:focus {
  outline: 1px solid #f05e35; }

.coupon_helper {
  display: none;
  margin-top: 5px;
  margin-bottom: 10px;
  color: #f05e35; }

.bogo-option {
  position: absolute;
  right: -15px;
  width: auto; }

.show_table td:last-child a {
  display: none; }

.form-control-static:empty {
  background-color: #ffffff; }

.give_scroll {
 }

/*# sourceMappingURL=brainy2.css.map */



#contentSection label {
  font-weight: 700;
  
}

.edit_btns {
  margin-top: 15px;
}

#contentSection .ui-state-default.ui-sortable-placeholder {
  background-color: #f2f2f2;
   border: 1px dashed #808080 !important;
  outline: none !important;
}

#contentSection .image_highlight {
  margin-bottom: 0;
}

.lang_content_2 {
  padding-top: 20px;
}


#contentSection .caret {
  margin-left: 10px;
}

.img_uploaded {
  width: 100%;
  height: 400px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.eliminar-options {
  cursor: pointer;
}

.btn-default {
  transition: all 0.5s ease-in-out;
}


.btn-yellow-icon:hover {
  background-color: #ffe566;
}

.fixed {
  position: fixed;
  top: 90px;
  right: 0;
  height: auto;
}

.fixed .panel {
  width: calc(100% - 105px);
  position: absolute;
  right: 15px;
  height: auto;
}

.give_scroll {
  max-height: auto !important;
}

#contentSection .dropdown-toggle {
  outline: none;
  font-weight: 700;
}

#contentSection .dropdown-toggle:hover {
  outline: none;
  background-color: transparent;
}

.btn-composed-image {
  color: white;
  background-color: black;
  margin-left: 15px;
}

.img_place {
  width: 100px;
  height: 100px;
  background-image: url(../../back/icons/img-placeholder.jpg);
  background-size: cover;
  background-position: center;
  position: absolute;
}

.image_highlight[src=""] {
  opacity: 0;
}

#contentSection .form-group {
  margin-bottom: 15px;
  margin-top: 15px;
}

.sorting:focus {
  outline: none !important;
}

.blog-tabs {
  border-bottom: none;
}

.nav-tabs.blog-tabs > li.active > a, .nav-tabs.blog-tabs > li.active > a:hover, .nav-tabs.blog-tabs > li.active > a:focus{
  color: black;
  background-color: #ffd300 !important;
}

.blog-tabs li a:hover {
  background-color: #ffe566;
}

.ui-state-default a.btn-default {
  color: white;
  background-color: black;
}

.btn-cancelar:hover, .ui-state-default a.btn-default:hover {
  background-color: #333333;
}

.comment-name {
  color: #000;
  margin-bottom: 0;
}

.add_reply {
  background-color: white;
  min-height: auto;
  width: 100%;
  min-height: auto;
  resize: none;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  color: black;
  margin: 0;
  border:none;
  padding: 0;
}

.add_reply:focus {
  outline: 1px solid #ffd300;
  border: 1px solid #ffd300;
}

.comment-description {
  color: black;
}

.image_highlight {
  margin-bottom: 0;
}


#contentSection .ui-state-default{
  background-color: transparent;
  border: none;
  margin-top: 15px;
  cursor: url('../../back/icons/cursor_move.svg') 10 10, auto;
    transition: background-color 0.5s ease-in-out;

}

#contentSection .ui-sortable-handle:hover{
    background-color: #f8f8f8;

}

table.dataTable thead .sorting_asc.sorting_disabled:after, table.dataTable thead .sorting.sorting_disabled:after {
  display: none;
}


#contentSection .ui-state-default:hover span.cke_top {
  border-top: 7px solid #ffd300;
}

.anonymous {
  color: #808080;
}

#contentSection .image-field {
  margin-left: 0;
  margin-top: 20px;
}


.video_clone iframe {
  width: 100%;
  height: 500px;
  margin-top: 30px;
}

.video_clone iframe[src=""] {
  display: none;
}

.show_img_post {
  width: 100%;
  height: 400px;
  background-position: center;
  background-size: cover; 
}


.show_video_post iframe[src=""] {
  display: none;
}

.eliminar-options {
  padding: 10px;
}


#comentarios_table_paginate {
  display: block !important;
  text-align: center;
  line-height: 14px;
}

#comentarios_table_info {
  float: left;
}

#comentarios_table_length {
  float: right;
}

#comentarios_table {
  margin-bottom: 10px;
}

#commentSection #comentarios_table{
  margin-bottom: 25px;
}

#commentSection #table_views .dataTables_info, #table_views .dataTables_length {
  padding-top: 0 !important;
}

.dataTables_paginate {
  padding-right: 30px;
}


#commentsSection #table_views .dataTables_length label {
  margin-top: 7px;
}

#commentsSection #table_views .dataTables_info {
  padding-top: 7px !important;
}

.no-content {
  color: #d9534f;
}

.tabs_brainy {
  margin-bottom: 20px;
}

.new_element {
  margin-top: 25px;
  background-color: #f2f2f2;
  border: 1px dashed #808080 !important;
  width: 100%;
  height: 200px;
}

.new_element {
  display: table;
  text-align: center;
}


.more_button_rules {
  margin-top: 15px;
}

.dropdown-type button{
  outline: none;
  border: none;
  background-color: transparent;
  color: black;
}

.dropdown-type .dropdown-menu {
  width: auto !important;
  font-weight: 700;
  left: 50%;
  transform: translateX(-50%);
}

.wrap_add {
  display: table-cell;
  vertical-align: middle;
}

.dropdown-type li a .drop-icon,.dropdown-toggle .drop-icon {
  padding-right: 10px;
  font-size: 16px;
  vertical-align: middle;
}

.dropdown-type li a .drop-icon img, .dropdown-toggle .drop-icon img {
  width: 15px;
  padding-bottom: 5px;
}

.go_down {
  height: 50px;
  width: 50px;
  background-color: red;
}

.divider_line3 {
  border-top: 1px solid #cccccc;
  border-bottom: 1px solid #f1f1f1;
  margin-left: 0;
  margin-right: 0;
  height: 0px;
  margin-top: 35px;
  margin-bottom: 35px;
}

#contentSection .ui-state-default {
  background-color: #fafafa;
  border-top: 1px solid #808080;
  padding: 20px 0;
  margin: 20px 0 !important;
}

#contentSection .ui-state-default:hover {
  background-color: #f2f2f2;
}

#contentSection .form-group {
  margin: 0;
}

.element-type {
  list-style: none;
  padding: 35px 0;
  padding-top: 20px;
  margin: 0;
}

.element-type li{
  display: inline-block;
  padding: 0 30px;
}


.element-icon {
  display: block;
  color: #808080;
  font-size: 60px !important;
  transition: all 0.5s linear;
}


.new_element {
  background-color: #fafafa;
  padding: 45px 0;
}

.element-type li a {
  color: #808080;
  transition: all 0.5s linear;

}

.element-type li:hover a, .element-type li:hover a .element-icon {
  color: #808080;
}

.element-type li a.active, .element-type li a.active .element-icon {
  color: black !important;
  transform: scale(1.07);
}



.sel_text {
  color: #808080;
  font-weight: 500;
  font-size: 14px;
}

.more_button_rules {
  margin-top: 0;
}

.form-group label {
  text-transform: lowercase;
  padding-right: 15px;
}


.form-group label:first-letter {
  text-transform: uppercase;
}

#contentSection .ui-state-default.ui-sortable-helper {
  border-color: #ffd300;
  outline-color: #ffd300;
}

.element-type li:hover a .element-icon {
  transform: scale(1.07);
}

.fixed .publish_buttons {
  top: 305px;
  left: 90px;
  position: absolute;
}

.publish_buttons {
  margin-top: 15px;
}

.toggle_wrap {
  display: inline-block;
}

.social-element {
  list-style: none; 
  margin: 0;
  padding: 0;
}

.select-social {
  background-color: #f2f2f2;
  border: 1px dashed #808080 !important;
  width: 100%;
  height: 200px;
  display: table;
  text-align: center;
  background-color: #fafafa;
  padding: 45px 0;
}

.social-element {
  list-style: none;
  padding: 35px 0;
  padding-top: 20px;
  margin: 0;
}

.social-element .element-icon {
  font-size: 45px;
}

.social-element li{
  display: inline-block;
  padding: 0 30px;
}

.social-element li a {
  color: #808080;
  transition: all 0.5s linear;

}

.social-element li:hover a, .social-element li:hover a .element-icon {
  color: #808080;
  transform: scale(1.07);
}

.social-element li a.active, .social-element li a.active .element-icon {
  color: black !important;
  transform: scale(1.07);

}


.profile_img {
  overflow: hidden;
  background-size: cover;
}

.btn-img-auth {
  margin-top: 15px;
  width: auto;
  margin-left: 0;
  font-size: 12px;
}

.editable:empty {
  width: 100%;
  outline: 2px solid #d9534f;
}

.select_social_edit .element-icon{
  font-size: 30px !important;
}


.bold_text {
  text-transform: lowercase;
  color: #333333;
}

.bold_text:first-letter {
  text-transform: uppercase;
}

.label-title {
  margin-bottom: 10px;
}

.img-circle.onfocus:before {
  border-radius: 50%;
  border-width: 7px;
}

.img-circle {
  position: relative;
}

.label-title {
  color: black;
}


.align-center {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.new_comments {
  text-align: center;
  border-radius: 0;
  background-color: #ffed97;
}

.char_count {
  position: absolute;
  right: 0;
  font-size: 11px;
  top: 5px;
  color: #808080; }

.copyright{
  position: fixed;
  left: 0;
  bottom: 35px;
  width: 225px;
  padding: 0 15px;
  font-size: 12px;
  color: white;
  text-align: left;
}

.form-group {
  position: relative;
}

.definitionsBlog {
  padding-bottom: 25px;
}

.secondary-comment {
  padding-left: 30px;
}

.comment {
  margin-bottom: 25px; 
}

.comment-name {
  display: inline-block;
  margin-right: 5px;
  font-size: 14px;
  font-family: 'Montserrat', sans-serif;
}

.span-state {
  margin-left: 5px;
}

.comment-textarea p {
  color: black;
  margin-bottom: 0;
}

.create_textarea {
  color: #808080;
  text-decoration: underline;
  cursor: pointer;
}

.create_textarea:hover {
  color: black;
}

.primary-comment {
  position: relative;
  padding-bottom: 15px;
}

.primary-comment:after {
  content: "";
  height: 1px;
  background-color: #dedede;
  position: relative;
  bottom: -15px;
  margin-top: 5px;
  margin: 0 15px;
  display: block}



.pagination, .pagination > *, .pagination > li:first-child > a, .pagination > li:first-child > span, .pagination > li:last-child > a, .pagination > li:last-child > span {
  border-radius: 0;
}

.pagination > li:first-child > a, .pagination > li:first-child > span, .pagination > li:last-child > a, .pagination > li:last-child > span {
  color: white;
  background-color: black;
  border-color: black;
}


.pagination > li:first-child > a:hover, .pagination > li:first-child > span:hover, .pagination > li:last-child > a:hover, .pagination > li:last-child > span:hover {
  color: white !important;
  background-color: #3b3b3b !important;
  border-color: #3b3b3b !important;
}
.pagination > .disabled > span, .pagination > .disabled > span:hover, .pagination > .disabled > span:focus, .pagination > .disabled > a, .pagination > .disabled > a:hover, .pagination > .disabled > a:focus{
  background-color: #3b3b3b;
  color: white;
}

.pagination > li > span, .pagination > li > span:focus, .pagination > li > a, .pagination > li > a:hover, .pagination > li > a:focus{
  background-color: #ffe566;
  border-color: #ffe566;
  color: black;
}

.pagination > .active > a, .pagination > .active > a:hover, .pagination > .active > a:focus, .pagination > .active > span, .pagination > .active > span:hover, .pagination > .active > span:focus {
  background-color: #ffd300;
  color: black;
  border-color: #ffd300;
}

.pagination li > a, .pagination li > span{
  margin: 0 2px;
}

.pagination li:first-child > a, .pagination li:first-child > span{
  margin-left: 0;
}
.pagination {
  margin-left: 0;
}

.pagination > li:hover > a, .pagination > li:hover > span, .pagination > li > a:hover, .pagination > li > span:hover  {
  background-color: #ffd300;
}

.anti-bot {
  position: absolute;
  left: -5000px;
  top: -5000px;
}

.add_reply {

}

.make-comment {
  background-color: #f2f2f2;
  padding: 25px;
  margin-bottom: 15px;
}


.make-comment:focus {
  outline: none;
  border: none;
  box-shadow: none;
}

.btn-add-comment {
  margin-bottom: 20px;
}

.sec_textarea {
  padding-left: 30px;
}

.admin_comment {
  z-index: 0;
  position: relative;
}

.admin_comment:before {
  content: "";
  position: absolute;
  left: -5px;
  top: 0;
  z-index: -1;
  right: -5px;
  bottom: 0px;
  background-color: #ffd300;
}

.loading_comments_wrapper {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 100;
  background-color: white;
}

.loading_comments_wrapper img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 100px;
  height: auto;
}

#commentsSection {
  position: relative;
}

.new_textarea {
  padding: 0;
}

.make-comment[contenteditable=true]:empty:before {
    content: attr(placeholder);
    display: block;
}


.datepicker .active {
  border-radius: 0;
  background-color: #ffd300 !important;
  color: black !important;
}

button[data-action='togglePeriod']{
  background-color: #ffd300 !important;
  border-color: #ffd300 !important;
  color: black !important;
}

a[data-action='togglePicker'] span{
  margin:0;
  border-bottom: 1px solid #dedede;
}

section.articles:empty{
  height: 214px;
}

section.articles:empty:before {
  content: "Não existem comentários";
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%,-50%);
  color: #808080;
}

.scheduled_to {
  margin-top: 15px;
}

.toggle_wrap {
  display: inline-block;
}

.disabled {
  pointer-events: none;
  background-color: #dddddd;
  color: #808080;
}

.definitions-email {
  margin-left: 0;
}

.definitionsBlog {
  padding-bottom: 45px;
}

.definitionsBlog .form-group {
  margin-top: 15px;
  margin-bottom: 0;
}

.error-input input{
  border: 2px solid #d9534f;
}

.help-block {
  position: absolute;
}

.seo_image img{
  width: 100%;
}

#images_table td.new_row_variant_datatable{
  background-color: #f2f2f2 !important;
}

#images_table .image_highlight {
  width: 30px;
  height: 30px;
}

div.cke_contents {
  max-height: 300px !important;
}

.inputfile {
    width: 100%;
    height: 100%;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;

}

.inputfile + label {
    font-size: 12px;
    /* 20px */
    width: 217px;
    font-weight: 700;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
    /* 10px 20px */
}

.no-js .inputfile + label {
    display: none;
}

.inputfile:focus + label,
.inputfile.has-focus + label {
    outline: 1px dotted #000;
    outline: -webkit-focus-ring-color auto 5px;
}

.inputfile + label * {
    /* pointer-events: none; */
    /* in case of FastClick lib use */
}

.inputfile + label svg {
    width: 1em;
    height: 1em;
    vertical-align: middle;
    fill: currentColor;
    margin-top: -0.25em;
    /* 4px */
    margin-right: 0.25em;
    /* 4px */
}


/* style 1 */



.upload_wrap {
  position: relative;
  margin-bottom: 15px;
  display: flex;
  align-items: center;
}


.reset_btn {
  font-size: 12px;
  width: 217px;
}

.title_file {
  font-size: 14px;
  display: block;
  margin-bottom: 10px;
}

.pdf_icon {
  font-size: 24px;
  color: black;
}

#reset_registo_leiloeira {
  width: auto !important;
}

.is-loading, .is-loading body{
  overflow: hidden;
}
