.context-menu-hover.context-menu-icon:before {
  color: #000; }

.context-menu-disabled.context-menu-icon::before {
  color: #bbbbbb; }

.context-menu-list {
  background: #FFF;
  border: 1px solid #bebebe;
  border-radius: 0;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
  font-family: inherit;
  font-size: inherit;
  display: inline-block;
  list-style-type: none;
  margin: 0.3em;
  max-width: 26em;
  min-width: 13em;
  padding: 0.25em 0;
  position: absolute; }

.context-menu-item {
  background-color: #FFF;
  color: #2F2F2F;
  padding: 0.2em 2em;
  position: relative;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.context-menu-separator {
  border-bottom: 1px solid #e6e6e6;
  margin: 0.35em 0;
  padding: 0; }

.context-menu-item > label > input,
.context-menu-item > label > textarea {
  -webkit-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  user-select: text; }

.context-menu-item.context-menu-hover {
  background-color: #FFD200;
  color: #000;
  cursor: pointer; }

.context-menu-item.context-menu-disabled {
  background-color: #FFF;
  color: #bbbbbb;
  cursor: default; }

.context-menu-input.context-menu-hover {
  background-color: #EEE;
  cursor: default; }

.context-menu-submenu:after {
  content: '';
  border-style: solid;
  border-width: .25em 0 .25em .25em;
  border-color: transparent transparent transparent #2F2F2F;
  height: 0;
  position: absolute;
  right: .5em;
  top: 50%;
  transform: translateY(-50%);
  width: 0;
  z-index: 1; }

/**
 * Inputs
 */
.context-menu-item.context-menu-input {
  padding: .3em .6em; }

/* vertically align inside labels */
.context-menu-input > label > * {
  vertical-align: top; }

/* position checkboxes and radios as icons */
.context-menu-input > label > input[type="checkbox"],
.context-menu-input > label > input[type="radio"] {
  margin-right: .4em;
  position: relative;
  top: .12em; }

.context-menu-input > label {
  margin: 0; }

.context-menu-input > label,
.context-menu-input > label > input[type="text"],
.context-menu-input > label > textarea,
.context-menu-input > label > select {
  box-sizing: border-box;
  display: block;
  width: 100%; }

.context-menu-input > label > textarea {
  height: 7em; }

.context-menu-item > .context-menu-list {
  display: none;
  /* re-positioned by js */
  right: -.3em;
  top: .3em; }

.context-menu-item.context-menu-visible > .context-menu-list {
  display: block; }

.context-menu-accesskey {
  text-decoration: underline; }

/*# sourceMappingURL=context_menu.css.map */
