td.columns table,
td.column table,
th.columns table,
th.column table {
    width: 100%; }

table.button,
table.button,
table.button,
table.button {
    width: auto!important; }


/*.button td{
    background: inherit!important;
    border: 2px solid transparent;
}*/

.button td{
    background: inherit!important;
    border: 2px solid transparent!important;
    color: inherit!important;
    font-family: inherit!important;
}

.button a{
    color: inherit!important;
    font-family: inherit!important;
}

.rounded {
    border-radius: 500px;
}

.radius {
    border-radius: 3px;
}

.menu-item img {
    max-width: none;
}

table.menu[align="center"] {
    width: auto !important;
    text-align: center;
}

table.menu[align="center"] .menu-item {
    text-align: center;
}

table.menu[align="left"]{
    text-align: left;
}

table.menu[align="left"] table {
    width: auto !important;
}

table.menu[align="left"] .menu-item{
    text-align: left;
}

table.menu[align="right"]{
    width: auto !important;
    text-align: left;
}

table.menu[align="right"] .menu-item{
    text-align: right;
}
/*# sourceMappingURL=fix_emails.css.map */
