/**!
 * KEditor - Kademi content editor
 * @copyright: Kademi (http://kademi.co)
 * @author: Kademi (http://kademi.co)
 * @version: 1.1.3
 * @dependencies: $, $.fn.draggable, $.fn.droppable, $.fn.sortable, Bootstrap, FontAwesome (optional)
 */
/* ==================================================================================
   Body
   ================================================================================== */
body {
  margin: 0;
  overflow-y: scroll;
}
/* ==================================================================================
   KEditor base
   ================================================================================== */
#keditor-sidebar,
.keditor-toolbar {
  font: 14px/1.42857143 "Helvetica Neue", Helvetica, Arial, sans-serif !important;
}
#keditor-sidebar small,
.keditor-toolbar small,
#keditor-sidebar .small,
.keditor-toolbar .small {
  font-size: 88% !important;
}
/* ==================================================================================
   opened-keditor-sidebar
   ================================================================================== */
body.opened-keditor-sidebar .keditor-content-area {
  margin-right: 260px;
}
body.opened-keditor-sidebar #keditor-sidebar {
  right: 0;
}
/* ==================================================================================
   highlighted-container-content
   ================================================================================== */
body.highlighted-container-content .keditor-container-content:before {
  border-color: #2eb2e4;
}
/* ==================================================================================
   Frame
   ================================================================================== */
.keditor-frame {
  width: 100%;
  height: 500px;
  border: 1px solid #ddd;
}
/* ==================================================================================
   Content area
   ================================================================================== */
.keditor-content-area {
  min-height: 100px;
  width: auto;
  margin: 0;
  padding: 80px 50px 30px;
}
/* ==================================================================================
   Sidebar
   ================================================================================== */
#keditor-sidebar {
  position: fixed;
  z-index: 100;
  top: 0;
  right: -255px;
  bottom: 0;
  background: #f0f0f0;
  opacity: .9;
  border-left: 1px solid #ddd;
  width: 255px;
  box-shadow: -1px 0 5px rgba(0, 0, 0, 0.15);
  padding: 10px;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
#keditor-sidebar:hover {
  opacity: 1;
}
#keditor-sidebar-toggler {
  position: absolute;
  top: 100px;
  width: 25px;
  height: 30px;
  left: -25px;
  background: #f0f0f0;
  text-align: center;
  line-height: 30px;
  border: 1px solid #ddd;
  border-right: 0;
  cursor: pointer;
  border-radius: 3px 0 0 3px;
  color: #666;
}
#keditor-sidebar-toggler > i.fa {
  line-height: inherit;
}
/* ==================================================================================
   Snippets
   ================================================================================== */
#keditor-snippets-list {
  height: 100%;
}
#keditor-snippets-list .keditor-snippet:hover {
  opacity: .6;
  border-color: #ccc;
}
#keditor-snippets-list .keditor-snippet.not-matched {
  height: 0 !important;
  padding-top: 0 !important;
  padding-bottom: 0 !important;
  overflow: hidden;
  margin-top: 0 !important;
  margin-bottom: 0 !important;
  border: 0 !important;
  opacity: 0 !important;
}
#keditor-snippets-type-switcher {
  margin: 0;
}
#keditor-snippets-type-switcher > li > a {
  border-radius: 3px 3px 0 0;
  height: 42px;
  padding: 10px 5px;
}
#keditor-snippets-type-switcher > li.active > a {
  font-weight: bold;
}
#keditor-snippets-container {
  height: calc(100% - 42px);
  background: #fff;
  padding: 10px 5px;
  border: solid #ddd;
  border-width: 0 1px 1px;
}
#keditor-snippets-container > .keditor-snippets {
  height: 100%;
}
#keditor-snippets-container > .keditor-snippets > .keditor-snippets-inner {
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}
#keditor-snippets-container > .keditor-snippets > .keditor-snippets-inner:before,
#keditor-snippets-container > .keditor-snippets > .keditor-snippets-inner:after {
  content: " ";
  display: table;
}
#keditor-snippets-container > .keditor-snippets > .keditor-snippets-inner:after {
  clear: both;
}
#keditor-snippets-container > .keditor-snippets > .keditor-snippets-filter-wrapper {
  margin: 0 5px 10px;
}
#keditor-snippets-container > .keditor-snippets > .keditor-snippets-filter-wrapper .keditor-snippets-filter {
  border: 1px solid #ddd;
  height: 34px;
  padding: 5px 10px;
  font-size: 14px;
  line-height: 1.42857143;
  width: 100%;
  display: block;
}
#keditor-snippets-container > .keditor-snippets > .keditor-snippets-filter-wrapper + .keditor-snippets-inner {
  height: calc(100% - 44px);
}
.keditor-snippet {
  padding: 15px;
  border: 1px solid #f0f0f0;
  cursor: move;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  float: left;
  background: #fff;
  margin: 0 5px 10px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.keditor-snippet img {
  display: block;
}
.keditor-snippet:last-child {
  margin-bottom: 0;
}
/* ==================================================================================
   Settings panel
   ================================================================================== */
#keditor-setting-panel {
  background: #fff;
  position: absolute;
  z-index: 1001;
  top: 10px;
  width: calc(100% - 20px);
  right: -100%;
  bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 3px;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.opened-keditor-setting #keditor-setting-panel {
  right: 10px;
}
#keditor-setting-header {
  height: 42px;
  border-bottom: 1px solid #ddd;
  padding: 10px 30px 10px 15px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}
#keditor-setting-header:before,
#keditor-setting-header:after {
  content: " ";
  display: table;
}
#keditor-setting-header:after {
  clear: both;
}
#keditor-setting-title {
  color: #666;
  font-weight: bold;
}
#keditor-setting-closer {
  text-decoration: none;
  color: #999999;
  position: absolute;
  top: 10px;
  bottom: 10px;
  right: 10px;
  width: 21px;
  text-align: center;
  line-height: 21px;
}
#keditor-setting-closer:hover {
  color: #666;
}
#keditor-setting-body {
  position: absolute;
  top: 42px;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 10px;
}
#keditor-setting-forms {
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
}
#keditor-setting-forms .keditor-setting-form {
  overflow: hidden;
  display: none;
}
#keditor-setting-forms .keditor-setting-form.active {
  display: block;
}
/* ==================================================================================
   Toolbar
   ================================================================================== */
.keditor-toolbar {
  position: absolute;
  display: none;
}
.keditor-toolbar > a {
  padding: 1px 3px;
  font-size: 12px;
  width: 20px;
  height: 20px;
  display: block;
  text-align: center;
  line-height: 20px;
}
.keditor-toolbar > a .fa {
  line-height: inherit;
}
.keditor-toolbar .btn-container-reposition,
.keditor-toolbar .btn-component-reposition {
  cursor: move;
}
/* ==================================================================================
   Container
   ================================================================================== */
.keditor-container {
  position: relative;
}
.keditor-container:before {
  position: absolute;
  top: -3px;
  right: -3px;
  left: -3px;
  bottom: -3px;
  border: 3px dashed transparent;
  content: " ";
  display: block;
}
.keditor-container > .keditor-toolbar {
  top: -3px;
  left: -39px;
  border: 1px solid #333;
  border-radius: 3px;
  overflow: hidden;
}
.keditor-container > .keditor-toolbar > a {
  background: #333;
  color: #fff;
}
.keditor-container > .keditor-toolbar > a:hover {
  background: #2eb2e4;
}
.keditor-container:hover:before {
  border-color: #b5e4f6;
}
.keditor-container.showed-keditor-toolbar:before {
  border-color: #2eb2e4;
}
.keditor-container.showed-keditor-toolbar > .keditor-toolbar {
  display: block;
}
.keditor-container-content {
  min-height: 50px !important;
  position: relative;
}
.keditor-container-content:before {
  position: absolute;
  top: -1px;
  left: -1px;
  right: -1px;
  bottom: -1px;
  content: " ";
  display: block;
  border: 1px dashed #e0e0e0;
}
/* ==================================================================================
   Component
   ================================================================================== */
.keditor-component {
  position: relative;
}
.keditor-component:before {
  position: absolute;
  top: -2px;
  right: -2px;
  left: -2px;
  bottom: -2px;
  content: " ";
  border: 2px solid rgba(0, 0, 0, 0.5);
  display: none;
  z-index: 1;
}
.keditor-component .keditor-toolbar {
  top: -24px;
  right: -2px;
  left: -2px;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 2px 2px;
  text-align: right;
}
.keditor-component .keditor-toolbar > a {
  border: 0;
  background: none;
  color: #fff;
  text-align: center;
  border-radius: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  display: inline-block;
}
.keditor-component .keditor-toolbar > a:hover {
  background-color: rgba(255, 255, 255, 0.2);
}
.keditor-component .keditor-component-content {
  position: relative;
  z-index: 2;
}
.keditor-component:hover:before,
.keditor-component.showed-keditor-toolbar:before {
  display: block;
}
.keditor-component.showed-keditor-toolbar .keditor-component-content {
  outline: none !important;
}
.keditor-component:hover {
  z-index: 2;
}
.keditor-component:hover:before {
  border-top: 0;
}
.keditor-component:hover .keditor-toolbar {
  display: block;
}
/* ==================================================================================
   Drag n Drop helper
   ================================================================================== */
.keditor-snippet.ui-draggable-dragging {
  -webkit-transition: none !important;
  -o-transition: none !important;
  transition: none !important;
}
.ui-sortable-placeholder {
  background: #eee !important;
  visibility: visible !important;
  height: 10px !important;
  margin: 5px 0 !important;
  float: none !important;
  outline: none !important;
}
.keditor-section.ui-sortable-helper {
  background: #fff !important;
  opacity: 0.5;
}

/*# sourceMappingURL=keditor-1.1.3.css.map */
