.btn_move_to{ background-color: #FFE466;border: none; }
.btn_move_to:hover{ background-color: #FFD200; }
.btn_create_return{ background-color: #E95E35; color: #ffffff; border: none;}
.btn_create_return:hover{ background-color: #FC7550; color: #ffffff; }
.order_table{
    margin-bottom: 0;
    margin-top: 0;
    background-color: #ffffff;

}
.order_table td{
   padding: 15px!important;
}
.order_table tr:last-child{
   background-color: #F4F4F4;
}
.order_table tr:last-child td{
    border-bottom: none;
}
.order_table tr:first-child td{
    border-top: none;
}

.order_table tr:first-child td a {
    color: #333333;
}

.tag_variant{
    background-color: #FFE466 ;
    padding: 5px;
    margin: 2px;
    display: inline-block;
}

.order_product_image{
    width: 60px; height: 60px;
}

.wrapper_table_order_details{
    padding-top: 60px;
    background-color: #F0F0F0;
}

.wrapper_table_order_details2{
    background-color: #F0F0F0;
}

.no_padding_panel2{
    margin-bottom: 0!important;
}

.grey_text p{
    color: #808080;
}
.grey_text2{
    color: #808080;
}

.margin-top-20{
    margin-top: 20px;
}

.details_table tr td{
    padding: 20px!important;
}

.track-table-date {
    background-color: #ffd200 !important;
    font-weight: 600;
}

.check-dhl {
    text-align: left;
    width: 30px !important;
    padding-left: 25px !important;
}

.padding-datatable {
    padding-left: 0;
    padding-right: 0;
}

.range-label-start {
    position: absolute;
    left: -12px;
    top: 7px;
}

.range-label-end {
    position: absolute;
    right: -8px;
    top: 7px;
}

#slider-range .ui-slider-range span {
    font-size: 10pt;
    font-family: "Lato", sans-serif;
    font-weight: 300;
}

#slider-range.ui-slider-horizontal {
    height: 1px;
    margin-top: 20px;
}

#slider-range.ui-slider-horizontal .ui-slider-handle {
    top: -6px;
}

#slider-range.ui-slider .ui-slider-handle {
    width: 10px;
    height: 10px;
    background-color: #ffd300 !important;
    border: none !important;
}

#slider-range.ui-slider-horizontal .ui-slider-range {
    top: -1px;
    border: 1px solid #ffd300;
}

#slider-range.ui-widget-content {
    border: 1px solid #ececec;
}

.sending_county_dhl {
    background-color: #ddd;
    padding: 7px 10px;
}

#loading_folders_in_images2{
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 99;
}

.sucess_added_order{
    display: none;
}

.input_qty{
    height: 30px;
    text-align: center;
    width: 50px;
}
.item_state_confirm{
    border: none;
}

.margin_note{
    margin-top: 12px;
    margin-bottom: 12px;
}

.notes_p{
    margin-bottom: 0;
}

.message_icon{
    border-style: solid;
    border-color: transparent;
    height: 0;
    position: absolute;
    width: 0;
    border-right-color: #F5F5F5;
    border-width: 7px 10px 7px 0;
    left: -10px;
    top: 10%;
    background-color: transparent!important;
}
.notes_well{
   border-radius: 0;
    border-color: transparent;
}

.hidden_note{
    display: none;
}

.delete_message_note{
    display: none;
}



.show_more_notes_parent{
    margin-top: 20px;
}

.width95{
    width:95%!important;
}
.description_input{
    border-radius: 0;
}

.del_cont_text{
    height: 15px;
}



/*# sourceMappingURL=backend.css.map */
