.columns tbody th p {
    color: #a39161 !important;
}

.columns tbody th p a{
    font-weight: 600 !important;
    color: #a39161 !important;
}

.title table {
    margin: 0 auto !important;
}

.divider_line {
    border-top : 1px solid #a39161;
}

p {
    color: #a39161 !important;
    font-size: 14px !important;
    word-break: keep-all;
}

a {
    font-weight: 600 !important;
    color: #a39161 !important;
}

.table-titles, .table-columns {
    margin-bottom: 0 !important;
}

.columns.last table,
.columns.quantity table {
    width: 100% !important;
}

.last .table-columns {
    padding: 0 15px !important;
}

.vertical-align {
    vertical-align: middle;
}

.nowrap {
    word-break: keep-all;
    -moz-hyphens: none;
    -ms-hyphens: none;
    -webkit-hyphens: none;
    hyphens: none;
}

.upper:first-letter {
    text-transform: uppercase;
}