

.tabela_list{
    width: 100%;
}
.tabela_list p{
    margin-bottom: 0;
}
.tabela_list td{
    padding-bottom: 15px;
    padding-top: 15px;
}

.gallery_popover{
    border-radius: 0!important;
    padding: 10px 30px;
    text-align: left;
}
.popover{
    border-radius: 0!important;
}

.allowed_upload a:hover{
    text-decoration: none;
}

.icon-cinza{
    color: #808080;
}

.image_td{
    padding: 0!important;
}

#selectable_cont{
    background-color: #EDEDED;
    z-index: 98;
    min-height: 500px;
    padding-top: 50px;
    padding-bottom: 50px;
}

#empty_folder_gallery{
    display: none;
}



.roda_dentada_topo{
    font-size: 13pt!important;
}

.roda_dentada_topo::before {
    content: "*";
    position: absolute;
    top: -20px;
    z-index: 9999999;

}
.roda_dentada_topo::before {
    font-family: "untitled-font-3" !important;
    font-style: normal !important;
    font-variant: normal !important;
    font-weight: normal !important;
    line-height: 1;
    text-transform: none !important;
}

.location_message, .location_message2{
    display: none;
}

.listagem_pastas2 {
    background-color: white;
    box-shadow: 4px 4px 5px 0 rgba(0, 0, 0, 0.26);
    display: block;
    position: relative;
    top: 0;
    z-index: 9999999;
}

.coustom_menu_new_folder{
    padding: 0!important;
    z-index: 9999999;
}

.context-menu-list{
    padding: 0!important;
}

.btn_upload_files {
    background-color: #FFD200;
    font-size: 11pt;
}

.msg_sucesso_ajax, .msg_erro_ajax{
    display: none;
}

.image1{
    width: 90%;
    height: auto;
}

.cancel_btn{
    display: none;
}

.progress{
    height: 10px;
    border-radius: 0;
}

.progress-bar-success{
    background-color: #FFD200;
}

.upload_progress{
    display: none;
}

.files{
    padding-top: 15px;
}

.img_size {
    padding-left: 15px; }

.nova_pasta{
    background-color: #ECB716;
    margin-right: -4px;
}

.innactive_btns{
    background-color: #ffffff;
    opacity: 0.8;
    position: absolute;
    width: 100%;
    z-index: 9999;
    height: 100%;
    top: 0;
    left: 0;
    display: none;
}

.innactive_save{
    background-color: #ffffff;
    opacity: 0.8;
    position: absolute;
    width: 100%;
    z-index: 9999;
    height: 100%;
    top: 0;
    left: 0;
    display: none;
}

.innactive_option{
    background-color: #ffffff;
    opacity: 0.8;
    position: absolute;
    width: 100%;
    z-index: 999999;
    height: 100%;
    top: 0;
    left: 0;
    display: block;
}

.modo.grill{
   min-height: 399px;
}

div.files {
    padding: 24px 15px;
}

.file-upload {
    display: inline-block;
    position: relative;
    min-width: 170px;
    -webkit-box-shadow: 7px 7px 30px -7px rgba(0,0,0,0.62);
    -moz-box-shadow: 7px 7px 30px -7px rgba(0,0,0,0.62);
    box-shadow: 7px 7px 30px -7px rgba(0,0,0,0.62);
    margin: 20px;
}
.file-cancel {
    position: absolute;
    right: 4px;
    top: 4px;
    font-size: 20px;
}
.file-cancel:hover {
    color: #ffd200;
}

.file-info {
    background-color: white;
}
.file-info p {
    margin-bottom: 0 !important;
    padding: 5px 12px;
}

.file-info p:first-child {
    font-weight: 700;
}

.gallery_grid {
    position: relative;
}

#loading_folders {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.lista_menu select {
    display: none;
}

.shedule_wrapper{
    display: none;
}

.ui-timepicker-div .ui-widget-header {
    margin-bottom: 8px;
}
.ui-timepicker-div dl {
    text-align: left;
}
.ui-timepicker-div dl dt {
    clear: left;
    float: left;
    padding: 0 0 0 5px;
}
.ui-timepicker-div dl dd {
    margin: 0 10px 10px 40%;
}
.ui-timepicker-div td {
    font-size: 90%;
}
.ui-tpicker-grid-label {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: medium none;
    margin: 0;
    padding: 0;
}
.ui-timepicker-div .ui_tpicker_unit_hide {
    display: none;
}
.ui-timepicker-div .ui_tpicker_time .ui_tpicker_time_input {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border-color: -moz-use-text-color -moz-use-text-color #555;
    border-image: none;
    border-style: none none solid;
    border-width: medium medium 1px;
    color: inherit;
    outline: medium none;
    width: 95%;
}
.ui-timepicker-div .ui_tpicker_time .ui_tpicker_time_input:focus {
    border-bottom-color: #aaa;
}
.ui-timepicker-rtl {
    direction: rtl;
}
.ui-timepicker-rtl dl {
    padding: 0 5px 0 0;
    text-align: right;
}
.ui-timepicker-rtl dl dt {
    clear: right;
    float: right;
}
.ui-timepicker-rtl dl dd {
    margin: 0 40% 10px 10px;
}
.ui-timepicker-div.ui-timepicker-oneLine {
    padding-right: 2px;
}
.ui-timepicker-div.ui-timepicker-oneLine .ui_tpicker_time, .ui-timepicker-div.ui-timepicker-oneLine dt {
    display: none;
}
.ui-timepicker-div.ui-timepicker-oneLine .ui_tpicker_time_label {
    display: block;
    padding-top: 2px;
}
.ui-timepicker-div.ui-timepicker-oneLine dl {
    text-align: right;
}
.ui-timepicker-div.ui-timepicker-oneLine dl dd, .ui-timepicker-div.ui-timepicker-oneLine dl dd > div {
    display: inline-block;
    margin: 0;
}
.ui-timepicker-div.ui-timepicker-oneLine dl dd.ui_tpicker_minute::before, .ui-timepicker-div.ui-timepicker-oneLine dl dd.ui_tpicker_second::before {
    content: ":";
    display: inline-block;
}
.ui-timepicker-div.ui-timepicker-oneLine dl dd.ui_tpicker_millisec::before, .ui-timepicker-div.ui-timepicker-oneLine dl dd.ui_tpicker_microsec::before {
    content: ".";
    display: inline-block;
}
.ui-timepicker-div.ui-timepicker-oneLine .ui_tpicker_unit_hide, .ui-timepicker-div.ui-timepicker-oneLine .ui_tpicker_unit_hide::before {
    display: none;
}

.delete_attr_from_list{
    cursor: pointer;
}

#accordion_variants .panel-heading .panel-title{
    padding: 10px!important;
}
.item_yellow{
    background-color:#FFD200 ;
    padding: 10px;
    margin-left: 3px;
    margin-right: 3px;
    display: inline-block;
}
.icon_delete{
    margin-top: 15px;
}

.backgroud-icon{
    background-color: #d3d3d3;
    border: 1px solid #808080;
}

#variants{
    display: none;
}
.container_table_attributes_modal2{
    display: none;
}

.has_attributes_part{
    display: none;
}

.variant_table{
    width: 100%;
}

.borderd_icon{
    border: 2px solid #000000;
    display: inline-block;
}

.block-icon{
    display: inline-block;
}
.block-icon::before {
    line-height: inherit!important;
}

.padding-icon{
    padding: 0 50px 0 50px;
}

.variant_row{
    padding-top: 15px;
}

.active_variant{
    background-color: #F7F7F7;
}

.no_padding_bottom_top{
    padding-top: 0;
    padding-bottom: 0;
}

a{
    color: #000000;
}

.variant_table tr td:last-child::before {
    content: inherit!important;
}

.new_row_variant_datatable::before {
    content: inherit!important;
}


.jstree-default .jstree-wholerow-hovered{

    background-color: #FFE566!important;
}

.jstree-default .jstree-wholerow.jstree-wholerow-clicked{
    background: #FFE566!important;
}

div.treeSearch {
    padding-bottom: 3px;
}

i.jstree-icon {
    line-height: 60px !important;
    margin-right: 10px !important;
}

div.jstree-wholerow,
.jstree-default .jstree-anchor {
    line-height: 50px !important;
    height: 50px !important;
}

div.js-tree-usage-container {
    height: 50px;
    width: 100%;
    padding: 7px 5px 0px 5px;
    margin-bottom: 20px;
    background-color: #fafafa;
}

div.js-tree-usage-content {
    display: inline-block;
    padding: 5px;
}

div.jstree-faqs {
    max-width: 100%;
}

input.jstree-rename-input,
a.jstree-anchor,
a.jstree-anchor * {
    display: inline;
    max-width: 95% !important;
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -webkit-pre-wrap;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    word-wrap: break-word;
    text-align: justify;
}

input.jstree-rename-input {
    max-width: 70% !important;
    line-height: 24px !important;
    height: 24px !important;
}



div.cke_contents {
    max-height: 70px;
}

span.cke_top {
    position: relative;
    border-bottom: none;
    background: none;
    background-image: none;
    filter: none;
    border-top: 7px solid black;
    -webkit-box-shadow: 0px 7px 15px -7px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 7px 15px -7px rgba(0,0,0,0.5);
    box-shadow: 0px 7px 15px -7px rgba(0,0,0,0.5);
}

span.cke_toolgroup {
    border: none;
    border-bottom-color: none;
    box-shadow: none;
    background: none;
    background-image: none;
    filter: none;
}

.cke_button_on,
.cke_button:hover,
.cke_button:focus,
.cke_button:active {
    background: #ffd300 !important;
    background-image: none !important;
    filter: none !important;
}

.vakata-context, .vakata-context ul{
    background: #ffffff;
    border: 1px solid #d3d3d3;
}

.vakata-context li > a .vakata-contextmenu-sep{
    display: none;
}

.vakata-context li > a:hover{
    border-bottom: none;
    border-top:none;
    border-left: none;
    border-right: none;
    background: #FFE566;
    box-shadow: none;
}
.vakata-context li {
    padding: 5px;
}

.vakata-context-separator a{
    margin-left: 0!important;
}
.vakata-context-separator {
    padding: 0!important;
}
.vakata-context-hover {
    border-bottom: none;
    border-top:none;
    border-left: none;
    border-right: none;
    background: #FFE566;
    box-shadow: none;
}

.vakata-context-hover > a {
    border-bottom: none!important;
    border-top:none!important;
    border-left: none!important;
    border-right: none!important;
    background: #FFE566!important;
    box-shadow: none!important;
}


.clickable_url{
    cursor: pointer;
}

.atributes_head td{
    background-color: #FAFAFA!important;
}

td.new_row_variant_datatable{
    background-color: #FFF2B2!important;
    padding-left: 5px!important;
    padding-right: 5px!important;
}

.variant_table{
    margin-bottom: 0;
}
.context-menu-icon.context-menu-hover:before {
  color: #FFF; }

.context-menu-icon.context-menu-disabled::before {
  color: #bbbbbb; }

.context-menu-list {
  background: #FFF;
  border: 1px solid #bebebe;
  border-radius: 0.2em;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
  font-family: inherit;
  font-size: inherit;
  display: inline-block;
  list-style-type: none;
  margin: 0.3em;
  max-width: 26em;
  min-width: 13em;
  padding: 0.25em 0;
  position: absolute; }

.context-menu-item {
  background-color: #FFF;
  color: #2F2F2F;
  padding: 0.2em 2em;
  position: relative;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.context-menu-separator {
  border-bottom: 1px solid #e6e6e6;
  margin: 0.35em 0;
  padding: 0; }

.context-menu-item > label > input,
.context-menu-item > label > textarea {
  -webkit-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  user-select: text; }

.context-menu-item.context-menu-hover {
  background-color: #2980B9;
  color: #FFF;
  cursor: pointer; }

.context-menu-item.context-menu-disabled {
  background-color: #FFF;
  color: #bbbbbb;
  cursor: default; }

.context-menu-input.context-menu-hover {
  background-color: #EEE;
  cursor: default; }

.context-menu-submenu:after {
  content: '';
  border-style: solid;
  border-width: .25em 0 .25em .25em;
  border-color: transparent transparent transparent #2F2F2F;
  height: 0;
  position: absolute;
  right: .5em;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 0;
  z-index: 1; }

/**
 * Inputs
 */
.context-menu-item.context-menu-input {
  padding: .3em .6em; }

/* vertically align inside labels */
.context-menu-input > label > * {
  vertical-align: top; }

/* position checkboxes and radios as icons */
.context-menu-input > label > input[type="checkbox"],
.context-menu-input > label > input[type="radio"] {
  margin-right: .4em;
  position: relative;
  top: .12em; }

.context-menu-input > label {
  margin: 0; }

.context-menu-input > label,
.context-menu-input > label > input[type="text"],
.context-menu-input > label > textarea,
.context-menu-input > label > select {
  box-sizing: border-box;
  display: block;
  width: 100%; }

.context-menu-input > label > textarea {
  height: 7em; }

.context-menu-item > .context-menu-list {
  display: none;
  /* re-positioned by js */
  right: -.3em;
  top: .3em; }

.context-menu-item.context-menu-visible > .context-menu-list {
  display: block; }

.context-menu-accesskey {
  text-decoration: underline; }

/*# sourceMappingURL=context_menu.css.map */

/*! jQuery UI - v1.11.4 - 2016-05-20
* http://jqueryui.com
* Includes: core.css, draggable.css, selectable.css, theme.css
* To view and modify this theme, visit http://jqueryui.com/themeroller/?ffDefault=Arial%2CHelvetica%2Csans-serif&fsDefault=1em&fwDefault=normal&cornerRadius=3px&bgColorHeader=e9e9e9&bgTextureHeader=flat&borderColorHeader=dddddd&fcHeader=333333&iconColorHeader=444444&bgColorContent=ffffff&bgTextureContent=flat&borderColorContent=dddddd&fcContent=333333&iconColorContent=444444&bgColorDefault=f6f6f6&bgTextureDefault=flat&borderColorDefault=c5c5c5&fcDefault=454545&iconColorDefault=777777&bgColorHover=ededed&bgTextureHover=flat&borderColorHover=cccccc&fcHover=2b2b2b&iconColorHover=555555&bgColorActive=007fff&bgTextureActive=flat&borderColorActive=003eff&fcActive=ffffff&iconColorActive=ffffff&bgColorHighlight=fffa90&bgTextureHighlight=flat&borderColorHighlight=dad55e&fcHighlight=777620&iconColorHighlight=777620&bgColorError=fddfdf&bgTextureError=flat&borderColorError=f1a899&fcError=5f3f3f&iconColorError=cc0000&bgColorOverlay=aaaaaa&bgTextureOverlay=flat&bgImgOpacityOverlay=0&opacityOverlay=30&bgColorShadow=666666&bgTextureShadow=flat&bgImgOpacityShadow=0&opacityShadow=30&thicknessShadow=5px&offsetTopShadow=0px&offsetLeftShadow=0px&cornerRadiusShadow=8px
* Copyright jQuery Foundation and other contributors; Licensed MIT */

.ui-helper-hidden{display:none}.ui-helper-hidden-accessible{border:0;clip:rect(0 0 0 0);height:1px;margin:-1px;overflow:hidden;padding:0;position:absolute;width:1px}.ui-helper-reset{margin:0;padding:0;border:0;outline:0;line-height:1.3;text-decoration:none;font-size:100%;list-style:none}.ui-helper-clearfix:before,.ui-helper-clearfix:after{content:"";display:table;border-collapse:collapse}.ui-helper-clearfix:after{clear:both}.ui-helper-clearfix{min-height:0}.ui-helper-zfix{width:100%;height:100%;top:0;left:0;position:absolute;opacity:0;filter:Alpha(Opacity=0)}.ui-front{z-index:100}.ui-state-disabled{cursor:default!important}.ui-icon{display:block;text-indent:-99999px;overflow:hidden;background-repeat:no-repeat}.ui-widget-overlay{position:fixed;top:0;left:0;width:100%;height:100%}.ui-draggable-handle{-ms-touch-action:none;touch-action:none}.ui-selectable{-ms-touch-action:none;touch-action:none}.ui-selectable-helper{position:absolute;z-index:100;border:1px dotted black}.ui-widget{font-family:Arial,Helvetica,sans-serif;font-size:1em}.ui-widget .ui-widget{font-size:1em}.ui-widget input,.ui-widget select,.ui-widget textarea,.ui-widget button{font-family:Arial,Helvetica,sans-serif;font-size:1em}.ui-widget-content{border:1px solid #ddd;background:#fff;color:#333}.ui-widget-content a{color:#333}.ui-widget-header{border:1px solid #ddd;background:#e9e9e9;color:#333;font-weight:bold}.ui-widget-header a{color:#333}.ui-state-default,.ui-widget-content .ui-state-default,.ui-widget-header .ui-state-default{border:1px solid #c5c5c5;background:#f6f6f6;font-weight:normal;color:#454545}.ui-state-default a,.ui-state-default a:link,.ui-state-default a:visited{color:#454545;text-decoration:none}.ui-state-hover,.ui-widget-content .ui-state-hover,.ui-widget-header .ui-state-hover,.ui-state-focus,.ui-widget-content .ui-state-focus,.ui-widget-header .ui-state-focus{border:1px solid #ccc;background:#ededed;font-weight:normal;color:#2b2b2b}.ui-state-hover a,.ui-state-hover a:hover,.ui-state-hover a:link,.ui-state-hover a:visited,.ui-state-focus a,.ui-state-focus a:hover,.ui-state-focus a:link,.ui-state-focus a:visited{color:#2b2b2b;text-decoration:none}.ui-state-active,.ui-widget-content .ui-state-active,.ui-widget-header .ui-state-active{border:1px solid #003eff;background:#007fff;font-weight:normal;color:#fff}.ui-state-active a,.ui-state-active a:link,.ui-state-active a:visited{color:#fff;text-decoration:none}.ui-state-highlight,.ui-widget-content .ui-state-highlight,.ui-widget-header .ui-state-highlight{border:1px solid #dad55e;background:#fffa90;color:#777620}.ui-state-highlight a,.ui-widget-content .ui-state-highlight a,.ui-widget-header .ui-state-highlight a{color:#777620}.ui-state-error,.ui-widget-content .ui-state-error,.ui-widget-header .ui-state-error{border:1px solid #f1a899;background:#fddfdf;color:#5f3f3f}.ui-state-error a,.ui-widget-content .ui-state-error a,.ui-widget-header .ui-state-error a{color:#5f3f3f}.ui-state-error-text,.ui-widget-content .ui-state-error-text,.ui-widget-header .ui-state-error-text{color:#5f3f3f}.ui-priority-primary,.ui-widget-content .ui-priority-primary,.ui-widget-header .ui-priority-primary{font-weight:bold}.ui-priority-secondary,.ui-widget-content .ui-priority-secondary,.ui-widget-header .ui-priority-secondary{opacity:.7;filter:Alpha(Opacity=70);font-weight:normal}.ui-state-disabled,.ui-widget-content .ui-state-disabled,.ui-widget-header .ui-state-disabled{opacity:.35;filter:Alpha(Opacity=35);background-image:none}.ui-state-disabled .ui-icon{filter:Alpha(Opacity=35)}.ui-icon{width:16px;height:16px}.ui-icon,.ui-widget-content .ui-icon{background-image:url("jquery-ui-1.11.4.custom/images/ui-icons_444444_256x240.png")}.ui-widget-header .ui-icon{background-image:url("jquery-ui-1.11.4.custom/images/ui-icons_444444_256x240.png")}.ui-state-default .ui-icon{background-image:url("jquery-ui-1.11.4.custom/images/ui-icons_777777_256x240.png")}.ui-state-hover .ui-icon,.ui-state-focus .ui-icon{background-image:url("jquery-ui-1.11.4.custom/images/ui-icons_555555_256x240.png")}.ui-state-active .ui-icon{background-image:url("jquery-ui-1.11.4.custom/images/ui-icons_ffffff_256x240.png")}.ui-state-highlight .ui-icon{background-image:url("jquery-ui-1.11.4.custom/images/ui-icons_777620_256x240.png")}.ui-state-error .ui-icon,.ui-state-error-text .ui-icon{background-image:url("jquery-ui-1.11.4.custom/images/ui-icons_cc0000_256x240.png")}.ui-icon-blank{background-position:16px 16px}.ui-icon-carat-1-n{background-position:0 0}.ui-icon-carat-1-ne{background-position:-16px 0}.ui-icon-carat-1-e{background-position:-32px 0}.ui-icon-carat-1-se{background-position:-48px 0}.ui-icon-carat-1-s{background-position:-64px 0}.ui-icon-carat-1-sw{background-position:-80px 0}.ui-icon-carat-1-w{background-position:-96px 0}.ui-icon-carat-1-nw{background-position:-112px 0}.ui-icon-carat-2-n-s{background-position:-128px 0}.ui-icon-carat-2-e-w{background-position:-144px 0}.ui-icon-triangle-1-n{background-position:0 -16px}.ui-icon-triangle-1-ne{background-position:-16px -16px}.ui-icon-triangle-1-e{background-position:-32px -16px}.ui-icon-triangle-1-se{background-position:-48px -16px}.ui-icon-triangle-1-s{background-position:-64px -16px}.ui-icon-triangle-1-sw{background-position:-80px -16px}.ui-icon-triangle-1-w{background-position:-96px -16px}.ui-icon-triangle-1-nw{background-position:-112px -16px}.ui-icon-triangle-2-n-s{background-position:-128px -16px}.ui-icon-triangle-2-e-w{background-position:-144px -16px}.ui-icon-arrow-1-n{background-position:0 -32px}.ui-icon-arrow-1-ne{background-position:-16px -32px}.ui-icon-arrow-1-e{background-position:-32px -32px}.ui-icon-arrow-1-se{background-position:-48px -32px}.ui-icon-arrow-1-s{background-position:-64px -32px}.ui-icon-arrow-1-sw{background-position:-80px -32px}.ui-icon-arrow-1-w{background-position:-96px -32px}.ui-icon-arrow-1-nw{background-position:-112px -32px}.ui-icon-arrow-2-n-s{background-position:-128px -32px}.ui-icon-arrow-2-ne-sw{background-position:-144px -32px}.ui-icon-arrow-2-e-w{background-position:-160px -32px}.ui-icon-arrow-2-se-nw{background-position:-176px -32px}.ui-icon-arrowstop-1-n{background-position:-192px -32px}.ui-icon-arrowstop-1-e{background-position:-208px -32px}.ui-icon-arrowstop-1-s{background-position:-224px -32px}.ui-icon-arrowstop-1-w{background-position:-240px -32px}.ui-icon-arrowthick-1-n{background-position:0 -48px}.ui-icon-arrowthick-1-ne{background-position:-16px -48px}.ui-icon-arrowthick-1-e{background-position:-32px -48px}.ui-icon-arrowthick-1-se{background-position:-48px -48px}.ui-icon-arrowthick-1-s{background-position:-64px -48px}.ui-icon-arrowthick-1-sw{background-position:-80px -48px}.ui-icon-arrowthick-1-w{background-position:-96px -48px}.ui-icon-arrowthick-1-nw{background-position:-112px -48px}.ui-icon-arrowthick-2-n-s{background-position:-128px -48px}.ui-icon-arrowthick-2-ne-sw{background-position:-144px -48px}.ui-icon-arrowthick-2-e-w{background-position:-160px -48px}.ui-icon-arrowthick-2-se-nw{background-position:-176px -48px}.ui-icon-arrowthickstop-1-n{background-position:-192px -48px}.ui-icon-arrowthickstop-1-e{background-position:-208px -48px}.ui-icon-arrowthickstop-1-s{background-position:-224px -48px}.ui-icon-arrowthickstop-1-w{background-position:-240px -48px}.ui-icon-arrowreturnthick-1-w{background-position:0 -64px}.ui-icon-arrowreturnthick-1-n{background-position:-16px -64px}.ui-icon-arrowreturnthick-1-e{background-position:-32px -64px}.ui-icon-arrowreturnthick-1-s{background-position:-48px -64px}.ui-icon-arrowreturn-1-w{background-position:-64px -64px}.ui-icon-arrowreturn-1-n{background-position:-80px -64px}.ui-icon-arrowreturn-1-e{background-position:-96px -64px}.ui-icon-arrowreturn-1-s{background-position:-112px -64px}.ui-icon-arrowrefresh-1-w{background-position:-128px -64px}.ui-icon-arrowrefresh-1-n{background-position:-144px -64px}.ui-icon-arrowrefresh-1-e{background-position:-160px -64px}.ui-icon-arrowrefresh-1-s{background-position:-176px -64px}.ui-icon-arrow-4{background-position:0 -80px}.ui-icon-arrow-4-diag{background-position:-16px -80px}.ui-icon-extlink{background-position:-32px -80px}.ui-icon-newwin{background-position:-48px -80px}.ui-icon-refresh{background-position:-64px -80px}.ui-icon-shuffle{background-position:-80px -80px}.ui-icon-transfer-e-w{background-position:-96px -80px}.ui-icon-transferthick-e-w{background-position:-112px -80px}.ui-icon-folder-collapsed{background-position:0 -96px}.ui-icon-folder-open{background-position:-16px -96px}.ui-icon-document{background-position:-32px -96px}.ui-icon-document-b{background-position:-48px -96px}.ui-icon-note{background-position:-64px -96px}.ui-icon-mail-closed{background-position:-80px -96px}.ui-icon-mail-open{background-position:-96px -96px}.ui-icon-suitcase{background-position:-112px -96px}.ui-icon-comment{background-position:-128px -96px}.ui-icon-person{background-position:-144px -96px}.ui-icon-print{background-position:-160px -96px}.ui-icon-trash{background-position:-176px -96px}.ui-icon-locked{background-position:-192px -96px}.ui-icon-unlocked{background-position:-208px -96px}.ui-icon-bookmark{background-position:-224px -96px}.ui-icon-tag{background-position:-240px -96px}.ui-icon-home{background-position:0 -112px}.ui-icon-flag{background-position:-16px -112px}.ui-icon-calendar{background-position:-32px -112px}.ui-icon-cart{background-position:-48px -112px}.ui-icon-pencil{background-position:-64px -112px}.ui-icon-clock{background-position:-80px -112px}.ui-icon-disk{background-position:-96px -112px}.ui-icon-calculator{background-position:-112px -112px}.ui-icon-zoomin{background-position:-128px -112px}.ui-icon-zoomout{background-position:-144px -112px}.ui-icon-search{background-position:-160px -112px}.ui-icon-wrench{background-position:-176px -112px}.ui-icon-gear{background-position:-192px -112px}.ui-icon-heart{background-position:-208px -112px}.ui-icon-star{background-position:-224px -112px}.ui-icon-link{background-position:-240px -112px}.ui-icon-cancel{background-position:0 -128px}.ui-icon-plus{background-position:-16px -128px}.ui-icon-plusthick{background-position:-32px -128px}.ui-icon-minus{background-position:-48px -128px}.ui-icon-minusthick{background-position:-64px -128px}.ui-icon-close{background-position:-80px -128px}.ui-icon-closethick{background-position:-96px -128px}.ui-icon-key{background-position:-112px -128px}.ui-icon-lightbulb{background-position:-128px -128px}.ui-icon-scissors{background-position:-144px -128px}.ui-icon-clipboard{background-position:-160px -128px}.ui-icon-copy{background-position:-176px -128px}.ui-icon-contact{background-position:-192px -128px}.ui-icon-image{background-position:-208px -128px}.ui-icon-video{background-position:-224px -128px}.ui-icon-script{background-position:-240px -128px}.ui-icon-alert{background-position:0 -144px}.ui-icon-info{background-position:-16px -144px}.ui-icon-notice{background-position:-32px -144px}.ui-icon-help{background-position:-48px -144px}.ui-icon-check{background-position:-64px -144px}.ui-icon-bullet{background-position:-80px -144px}.ui-icon-radio-on{background-position:-96px -144px}.ui-icon-radio-off{background-position:-112px -144px}.ui-icon-pin-w{background-position:-128px -144px}.ui-icon-pin-s{background-position:-144px -144px}.ui-icon-play{background-position:0 -160px}.ui-icon-pause{background-position:-16px -160px}.ui-icon-seek-next{background-position:-32px -160px}.ui-icon-seek-prev{background-position:-48px -160px}.ui-icon-seek-end{background-position:-64px -160px}.ui-icon-seek-start{background-position:-80px -160px}.ui-icon-seek-first{background-position:-80px -160px}.ui-icon-stop{background-position:-96px -160px}.ui-icon-eject{background-position:-112px -160px}.ui-icon-volume-off{background-position:-128px -160px}.ui-icon-volume-on{background-position:-144px -160px}.ui-icon-power{background-position:0 -176px}.ui-icon-signal-diag{background-position:-16px -176px}.ui-icon-signal{background-position:-32px -176px}.ui-icon-battery-0{background-position:-48px -176px}.ui-icon-battery-1{background-position:-64px -176px}.ui-icon-battery-2{background-position:-80px -176px}.ui-icon-battery-3{background-position:-96px -176px}.ui-icon-circle-plus{background-position:0 -192px}.ui-icon-circle-minus{background-position:-16px -192px}.ui-icon-circle-close{background-position:-32px -192px}.ui-icon-circle-triangle-e{background-position:-48px -192px}.ui-icon-circle-triangle-s{background-position:-64px -192px}.ui-icon-circle-triangle-w{background-position:-80px -192px}.ui-icon-circle-triangle-n{background-position:-96px -192px}.ui-icon-circle-arrow-e{background-position:-112px -192px}.ui-icon-circle-arrow-s{background-position:-128px -192px}.ui-icon-circle-arrow-w{background-position:-144px -192px}.ui-icon-circle-arrow-n{background-position:-160px -192px}.ui-icon-circle-zoomin{background-position:-176px -192px}.ui-icon-circle-zoomout{background-position:-192px -192px}.ui-icon-circle-check{background-position:-208px -192px}.ui-icon-circlesmall-plus{background-position:0 -208px}.ui-icon-circlesmall-minus{background-position:-16px -208px}.ui-icon-circlesmall-close{background-position:-32px -208px}.ui-icon-squaresmall-plus{background-position:-48px -208px}.ui-icon-squaresmall-minus{background-position:-64px -208px}.ui-icon-squaresmall-close{background-position:-80px -208px}.ui-icon-grip-dotted-vertical{background-position:0 -224px}.ui-icon-grip-dotted-horizontal{background-position:-16px -224px}.ui-icon-grip-solid-vertical{background-position:-32px -224px}.ui-icon-grip-solid-horizontal{background-position:-48px -224px}.ui-icon-gripsmall-diagonal-se{background-position:-64px -224px}.ui-icon-grip-diagonal-se{background-position:-80px -224px}.ui-corner-all,.ui-corner-top,.ui-corner-left,.ui-corner-tl{border-top-left-radius:3px}.ui-corner-all,.ui-corner-top,.ui-corner-right,.ui-corner-tr{border-top-right-radius:3px}.ui-corner-all,.ui-corner-bottom,.ui-corner-left,.ui-corner-bl{border-bottom-left-radius:3px}.ui-corner-all,.ui-corner-bottom,.ui-corner-right,.ui-corner-br{border-bottom-right-radius:3px}.ui-widget-overlay{background:#aaa;opacity:.3;filter:Alpha(Opacity=30)}.ui-widget-shadow{margin:0 0 0 0;padding:5px;background:#666;opacity:.3;filter:Alpha(Opacity=30);border-radius:8px}
/*# sourceMappingURL=backend.css.map */
