@charset "UTF-8";

@font-face {
  font-family: "untitled-font-3";
  src:url("fonts/untitled-font-3.eot");
  src:url("fonts/untitled-font-3.eot?#iefix") format("embedded-opentype"),
    url("fonts/untitled-font-3.woff") format("woff"),
    url("fonts/untitled-font-3.ttf") format("truetype"),
    url("fonts/untitled-font-3.svg#untitled-font-3") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "untitled-font-3" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "untitled-font-3" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-bloquear:before {
  content: "\61";
}
.icon-desbloquear:before {
  content: "\62";
}
.icon-alertas:before {
  content: "\64";
}
.icon-alterar-permissoes:before {
  content: "\65";
}
.icon-avatar:before {
  content: "\66";
}
.icon-avatar-person:before {
  content: "\67";
}
.icon-baixo:before {
  content: "\68";
}
.icon-bloqueado:before {
  content: "\69";
}
.icon-bloquear-1:before {
  content: "\6a";
}
.icon-categorias:before {
  content: "\6b";
}
.icon-categorias-deitado:before {
  content: "\6c";
}
.icon-cima:before {
  content: "\6d";
}
.icon-click-rato:before {
  content: "\6e";
}
.icon-conversas:before {
  content: "\6f";
}
.icon-copiar:before {
  content: "\70";
}
.icon-cortar:before {
  content: "\71";
}
.icon-criar-pasta:before {
  content: "\72";
}
.icon-dashboard-teste-1:before {
  content: "\73";
}
.icon-desbloquear-1:before {
  content: "\74";
}
.icon-direita:before {
  content: "\75";
}
.icon-docx:before {
  content: "\76";
}
.icon-editar:before {
  content: "\77";
}
.icon-editar-utilizador:before {
  content: "\78";
}
.icon-eliminar-imagem:before {
  content: "\79";
}
.icon-eliminar-user-destaque:before {
  content: "\7a";
}
.icon-email:before {
  content: "\41";
}
.icon-embed-upload:before {
  content: "\42";
}
.icon-esquerda:before {
  content: "\43";
}
.icon-flip-horizontal:before {
  content: "\44";
}
.icon-flip-vertical:before {
  content: "\45";
}
.icon-gestor-permissoes-teste-1:before {
  content: "\46";
}
.icon-group:before {
  content: "\47";
}
.icon-icon-embed:before {
  content: "\48";
}
.icon-icon-excel:before {
  content: "\49";
}
.icon-icon-lateral:before {
  content: "\4a";
}
.icon-icon-lateral-analytics:before {
  content: "\4b";
}
.icon-icon-lateral-calendario:before {
  content: "\4c";
}
.icon-icon-lateral-faqs:before {
  content: "\4d";
}
.icon-icon-lateral-gestao-permissoes:before {
  content: "\4e";
}
.icon-icon-lateral-paginas:before {
  content: "\4f";
}
.icon-icon-lateral-perfis:before {
  content: "\50";
}
.icon-icon-lateral-seo:before {
  content: "\51";
}
.icon-icon-pasta:before {
  content: "\52";
}
.icon-icon-pdf:before {
  content: "\53";
}
.icon-icon-peq-doc:before {
  content: "\54";
}
.icon-icon-peq-embed:before {
  content: "\55";
}
.icon-icon-peq-img:before {
  content: "\56";
}
.icon-icon-peq-img-size:before {
  content: "\57";
}
.icon-icon-peq-pasta:before {
  content: "\58";
}
.icon-icon-peq-som:before {
  content: "\59";
}
.icon-icon-peq-upload:before {
  content: "\5a";
}
.icon-icon-peq-video:before {
  content: "\30";
}
.icon-icon-powerpoint:before {
  content: "\31";
}
.icon-icon-som:before {
  content: "\32";
}
.icon-icon-upload-doc:before {
  content: "\33";
}
.icon-icon-upload-img:before {
  content: "\34";
}
.icon-icon-upload-som:before {
  content: "\35";
}
.icon-icon-upload-video:before {
  content: "\36";
}
.icon-icon-upload-zip:before {
  content: "\37";
}
.icon-icon-video:before {
  content: "\38";
}
.icon-icon-word:before {
  content: "\39";
}
.icon-info-extra:before {
  content: "\21";
}
.icon-info-extra-1:before {
  content: "\22";
}
.icon-linkar-utilizadores:before {
  content: "\23";
}
.icon-logistica:before {
  content: "\24";
}
.icon-mover:before {
  content: "\25";
}
.icon-mover-ficheiro:before {
  content: "\26";
}
.icon-mudar-nome:before {
  content: "\27";
}
.icon-novo-utilizador-1:before {
  content: "\28";
}
.icon-opcoes-comprimir:before {
  content: "\29";
}
.icon-opcoes-copiar:before {
  content: "\2a";
}
.icon-opcoes-download:before {
  content: "\2b";
}
.icon-pasta:before {
  content: "\2d";
}
.icon-pdf:before {
  content: "\2e";
}
.icon-perfis-teste-1:before {
  content: "\2f";
}
.icon-pergunta:before {
  content: "\3a";
}
.icon-permissoes:before {
  content: "\3b";
}
.icon-pesquisar-grande:before {
  content: "\3c";
}
.icon-pesquisar-peq:before {
  content: "\3d";
}
.icon-picker:before {
  content: "\3e";
}
.icon-ppt:before {
  content: "\3f";
}
.icon-recuperar:before {
  content: "\40";
}
.icon-recuperar-password:before {
  content: "\5b";
}
.icon-recuperar-password-cabecalho:before {
  content: "\5d";
}
.icon-recuperar-user-destaque:before {
  content: "\5e";
}
.icon-redimensionar:before {
  content: "\5f";
}
.icon-resposta:before {
  content: "\60";
}
.icon-roda-dentada:before {
  content: "\7b";
}
.icon-rodar-direira:before {
  content: "\7c";
}
.icon-rodar-esquerda:before {
  content: "\7d";
}
.icon-seta-baixo:before {
  content: "\7e";
}
.icon-seta-cima:before {
  content: "\5c";
}
.icon-seta-direita:before {
  content: "\e000";
}
.icon-som:before {
  content: "\e001";
}
.icon-subtema:before {
  content: "\e002";
}
.icon-telefone:before {
  content: "\e003";
}
.icon-tema:before {
  content: "\e004";
}
.icon-trocar-grupos:before {
  content: "\e005";
}
.icon-ultimo-login:before {
  content: "\e006";
}
.icon-upload:before {
  content: "\e007";
}
.icon-vendas:before {
  content: "\e008";
}
.icon-vendas-menu:before {
  content: "\e009";
}
.icon-video:before {
  content: "\e00a";
}
.icon-voltar:before {
  content: "\e00d";
}
.icon-xls:before {
  content: "\e00e";
}
.icon-zoom-in:before {
  content: "\e00f";
}
.icon-zoom-out:before {
  content: "\e010";
}
.icon-logo:before {
  content: "\e011";
}
.icon-vistas-galeria-cards-1:before {
  content: "\e012";
}
.icon-vistas-galeria-list-1:before {
  content: "\e013";
}
.icon-circulo-de-validacao-preenchido:before {
  content: "\e014";
}
.icon-circulo-de-validacao:before {
  content: "\e015";
}
.icon-sem-atributos:before {
  content: "\e016";
}
.icon-com-atributos:before {
  content: "\e017";
}
.icon-area-pessoal:before {
  content: "\e018";
}
.icon-carrinho:before {
  content: "\e019";
}
.icon-facebook:before {
  content: "\e01a";
}
.icon-instagram:before {
  content: "\e01b";
}
.icon-linkedin:before {
  content: "\e01c";
}
.icon-mail:before {
  content: "\e01d";
}
.icon-menu:before {
  content: "\e020";
}
.icon-pesquisar:before {
  content: "\e021";
}
.icon-pinterest:before {
  content: "\e022";
}
.icon-youtube:before {
  content: "\e024";
}
.icon-caminho:before {
  content: "\e025";
}
.icon-icon-direita:before {
  content: "\e026";
}
.icon-icon-esquerda:before {
  content: "\e027";
}
.icon-carro:before {
  content: "\e028";
}
.icon-carro:before {
  content: "\e028";
}
.icon-invisivel:before {
  content: "\e02b";
}
.icon-visivel:before {
  content: "\e02c";
}
.icon-mais:before {
  content: "\63";
}
.icon-adicionar:before {
  content: "\e01e";
}
.icon-wishlist:before {
  content: "\e023";
}
.icon-tumblr-1:before {
  content: "\e029";
}
.icon-twitter:before {
  content: "\e02d";
}
.icon-menos:before {
  content: "\e01f";
}
.icon-mover-encomenda:before {
  content: "\e02a";
}
.icon-opcoes-eliminar:before {
  content: "\2c";
}
.icon-pedir-recolha:before {
  content: "\e02e";
}
.icon-definicoes:before {
  content: "\e02f";
}
.icon-face:before {
  content: "\e030";
}
.icon-fax:before {
  content: "\e031";
}
.icon-ficha:before {
  content: "\e032";
}
.icon-genero:before {
  content: "\e033";
}
.icon-google-plus:before {
  content: "\e034";
}
.icon-idioma:before {
  content: "\e035";
}
.icon-instagram-1:before {
  content: "\e036";
}
.icon-links:before {
  content: "\e037";
}
.icon-linnked-in:before {
  content: "\e038";
}
.icon-morada:before {
  content: "\e039";
}
.icon-nascimento:before {
  content: "\e03a";
}
.icon-redes-sociais:before {
  content: "\e03b";
}
.icon-timeline:before {
  content: "\e03c";
}
.icon-trabalho:before {
  content: "\e03d";
}
.icon-twitter-1:before {
  content: "\e03e";
}
.icon-youtube-1:before {
  content: "\e03f";
}
.icon-vistas-galeria-cards:before {
  content: "\e00b";
}
.icon-vistas-galeria-list:before {
  content: "\e00c";
}
