$font-lato: 'Lato', sans-serif;
$regular : 400;


.dropdown-gestao-grupos li{display: inline}
.add-new-user{
  margin-right: 10px;
  vertical-align: middle;
}

.user-options{
  width:18px!important;
  height:18px!important;
  background-color: #FFD200;
  background-position: center;
  display: inline-block;

}
.user-active-state{
  background-color: #FFF2B3;
}
.padding-locker{padding-left: 10px;padding-right: 10px}

.btn-group.open .btn-user-options{
  background-color: transparent!important;
}
.btn-user-options{
  border-width:0;
  background-color: transparent!important;
  /*
  background-position: center;
  background-color: transparent;
  display: inline-block;
  */
  }
.btn-user-options:hover{
  background-color: transparent;
  /*
  background-position: center;
  display: inline-block;
  */
}

.dropdown-menu{
  border-radius: 0px!important;
  width: 100%;
}
.dropdown-menu-grupo{
  width: auto!important;
}
.remove-padding-dropdown{
  padding-top: 0px!important;
  margin-top: 0px!important;
  border-top: 0px!important;
}
.btn-group.open .dropdown-toggle{box-shadow: none!important;}

.modal-content{border-radius: 0px!important;}
.padding-top-20{padding-top: 20px}
.padding-top-10{padding-top: 10px}
.padding-bottom-20{padding-bottom: 20px}
.padding-bottom-30{padding-bottom: 30px}
.amarelo{background-color: #FFD300;}
.btn{border-radius: 0;}
.modal-eliminar{text-align: center; border-top: none; position: relative; display: table; width: 100%;}

.fonte_12_lato a {
  font-size: 12pt;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
}

.fonte_12_lato_regular {
  font-size: 12pt!important;
  font-family: 'Lato', sans-serif!important;
  color: black;
  font-weight: 400!important;
}
.fonte_12_lato_light {
  font-size: 12pt!important;
  font-family: 'Lato', sans-serif!important;
  color: black;
  font-weight: 300!important;
}
.fonte_white_15_lato a {
  font-size: 12pt;
  font-family: 'Lato', sans-serif;
  color: white;
  font-weight: 300;
}

.modal-aux {
  text-align: center;
  padding: 0!important;
}

.modal-aux:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -4px;
}

.modal-dialog-aux {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}

.modal-dialog-create-user {
  width: 800px!important;
  max-height: 800px!important;
}



.toggle.ios, .toggle-on.ios, .toggle-off.ios { border-radius: 18px;}
.toggle.ios .toggle-handle { border-radius: 18px; }


.circle-toggle .btn-primary{
  background-color: #4abc91;
  border-color: transparent!important;
}

.circle-toggle .btn-default:hover{
  background-color: white;
}

.circle-toggle .btn-primary:active {
  border-color: #FFE566!important;
}

.toggle-handle{
  width: 30px!important;
}

.btn.btn-default.btn-xs.active.toggle-off{
  opacity: 0.5;
}


.state-opacity-05{
  opacity: 0.5;
}

.state-opacity-1{
  opacity: 1;
}

.span-user-locked{
  text-align: center;
  border: 1px solid #E25656;
  padding: 5px 10px 5px 5px;
  font-size: 12pt!important;
  font-family: 'Lato', sans-serif!important;
  color: #E25656;
  width: 65%;
  font-weight: 400!important;
}

.alert-user-locked{
  margin-left: 20px;
  padding: 15px 15px 12px;
  display: inline-block;
  font-family: $font-lato!important;
  font-size: 12pt;
  font-weight: 400;
  color: #E25656;
  text-transform: lowercase;
}

.btn-unlock-user{
  border: 1px solid #ffffff;
  background-color: #E25656;
  text-align: center;
  padding: 5px 5px;
  padding-right: 20px;
  padding-left: 20px;
  color: #ffffff;
  cursor: pointer;
  font-family: $font-lato!important;
  font-size: 10pt;
  font-weight: 300;
}


.btn-recover-user-password{
  border: 1px solid #f1f2f2;
  background-color: #f1f2f2;
  text-align: center;
  padding: 5px 5px;
  color: black;
  cursor: pointer;
  font-family: $font-lato!important;
  font-size: 10pt;
  font-weight: 300;

}

.btn-connect-user-profile{
  border: 1px solid #f1f2f2;
  background-color: #f1f2f2;
  text-align: center;
  padding: 5px 5px;
  padding-right: 10px;
  padding-left: 10px;
  color: black;
  cursor: pointer;
  font-family: $font-lato!important;
  font-size: 10pt;
  font-weight: 300;

}

.pic-circle-corner {
  display: block;
  width: 150px;
  //height: 150px;

  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}

.pic-circle-corner-75 {
  display: block;
  width: 75px;
  height: 75px;

  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}

.user-name-edit-profile{
  font-size: 18pt!important;
  color: black;
  padding-left: 0px!important;
  height: 46px!important;
}
.user-position-edit-profile{
  font-size: 12pt!important;
  color: black;
  padding-left: 0px!important;
}

.padding-top-35{
  padding-top: 35px
}

.padding-top-20{
  padding-top: 20px
}


.fom-style-hidden-edit-user label{
  font-family: $font-lato;
  font-weight: 400;
  font-size: 12pt;
  color: #929497;
}

.fom-style-hidden label{
  font-family: $font-lato;
  font-weight: 400;
  font-size: 12pt;
}

.fom-style-hidden-edit-user input{
  color: black;
  box-shadow: none;
  border-radius: 0;
  font-family: $font-lato;
  font-weight: 400;
  font-size: 12pt;
}

.fom-style-hidden2 label{
  font-family: $font-lato;
  font-weight: 400;
  font-size: 12pt;
}


.fom-style-hidden-edit-user input:focus{
  border: 1px solid lightgray;
  box-shadow: none;
}


.border-bottom-user-edit{
  border-bottom: 1px solid #F0F1F1
}

.margin-right-20{
  margin-right: 20px;
}

.btn-save-user{
  border: 1px solid #FFD200;
  background-color: #FFD200;
  padding: 10px;
  padding-left: 15px;
  padding-right: 15px;
  text-transform: uppercase;
  font-size: 12pt;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  color: #000000;
}

.btn-save-user:hover {
  background-color: #FFD200;
}
.padding-bottom-10{
  padding-bottom: 10px;
}

.label-group-list{
  font-weight: 400!important;
}

.radio-default input{
  display: none;
}


.radio-default .span-radio{
  float: right;
}
.radio-default .span-radio:before{
  content: url(../icons/radio_button.png);
}
.radio-default input:checked + .span-radio:before{
  content: url(../icons/radio_button_selected.png);
}
.list-groups-in-user-profile{
  max-height: 500px;
}

.accordion-arrow {
  display: inline-block
}

.accordion-aux .accordion-arrow{
  width: 12px;
  height: 7px;
  background:url("../icons/dropdown_cima.png") no-repeat ;
  outline: none!important;
}

.accordion-aux .collapsed .accordion-arrow{
  background:url("../../../back/icons/dropdown_baixo.png") no-repeat ;
  outline: none!important;
}

.name-group:hover{
  color:inherit;
}

.form-control-disabled{

  background-color: white!important;
}
.form-control-back-gray{
  background-color: #f1f2f2!important;
}

.modal-dialog-create-user .form-group label{
  font-size: 12pt!important;
  font-family: $font-lato;
  font-weight: 400!important;
  color: black!important;
}

.modal-dialog-create-user .form-group input{
  font-size: 12pt!important;
  font-family: $font-lato;
  font-weight: 300!important;
  color: #939598!important;
}


.fonte_10_lato_regular{
  font-size: 10pt!important;
  font-family: 'Lato', sans-serif!important;
  color: black;
  font-weight: 400!important;
}
.font_12_lato_regular{
  font-size: 12pt!important;
  font-family: 'Lato', sans-serif!important;
  color: black;
  font-weight: 400!important;
}

.icon25{
  font-size: 25pt;
  vertical-align: middle;
}

.icon50{
  font-size: 50pt;
}

.padding-left-15{
  padding-left: 15px;
}

.inline-images{
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  margin-right: 55px;
}



.action_multiple .btn-change-group{
  display: inline-block;
  padding: 10px;
  font-weight: 300;
  font-size: 15pt;
  font-family: $font-lato;
  color: #000000!important;
  background-color: transparent!important;
  border: none!important;
}

.login-view {
  padding-left: 0;
}

.login-form {
  position: relative;
  min-height: 550px;
  display: table;
  width: 100%;
  height: calc(100vh - 102px); }

.login-form .row {
  display: table-cell;
  vertical-align: middle;
}

.login-forgot {
  float: right;
  color: #333333; }

.login-forgot:hover {
  text-decoration: none;
  color: #333333; }

.register-form {
  position: relative;
  min-height: 550px;
  display: table;
  width: 100%;
  height: calc(100vh - 102px); }

.register-form .row {
  display: table-cell;
  vertical-align: middle;
}

.register-form .titulo {
  font-size: 2.25rem;
  font-weight: 600;
  padding: 20px 40px 20px 20px; }

.register-form .titulo i {
  padding-right: 15px; }

.reset-form {
  position: relative;
  min-height: 550px;
  display: table;
  width: 100%;
  height: calc(100vh - 102px); }

.reset-form .row {
  display: table-cell;
  vertical-align: middle;
}

.reset-form .titulo {
  font-size: 2.25rem;
  font-weight: 600;
  padding: 20px 40px 20px 20px; }

.reset-form .titulo i {
  padding-right: 15px; }

.login-btn {
  margin-top: 25px; }

.login-body {
  padding-top: 25px;
  padding-bottom: 50px; }

.login-body .login-input {
  padding-top: 25px; }

.login-input .icon-padding {
  padding-right: 10px;
}

.login-error {
  position: relative;
  display: table;
  width: 100%; }

.login-error .form-control {
  display: table-cell;
  background-color: #f0f0f0; }

.has-error .icon-opcoes-eliminar {
  display: table-cell;
  color: #a94442;
  padding-left: 10px;
  width: 24px; }

.login-body .form-control {
  height: 50px;
  font-size: 15px; }

.copyright {
  position: relative;
  text-align: right;
  padding-bottom: 15px;
  padding-right: 20px; }

.login-remember .checkbox-default {
  padding: 0;
}

.login-remember .checkbox-default span::before {
  padding-left: 0;
  padding-right: 10px;
}

.opacidade_create {
  pointer-events:none;
  opacity: 0.2;
}

.show-variants, .show-resources {
  display: none;
}

.select2-container {
  display: block;
  width: 100% !important;
  margin: 0;
  font-size: 14px;
  line-height: 1.428571429;
  color: #555555;
  background-color: #fff;
  background-image: none;
  border: none;
  border-radius: 4px;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}

.resource-image {
  width: 100%;
}

.resource-image > input {
    display: none;
}

.resource-image > input:checked + .resource_preview {
  border: 3px solid #ffd200;
}

.resource_preview {
  border: 1px solid #ddd;
  padding: 5px;
  display: inline-block;
  margin-bottom: 10px;
  width: 100%;
  height: 200px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.resource_datatable_preview {
  width: 100px;
  height: 100px;
  background-position: center !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
}

table.dataTable thead th.multiple-options {
    padding: 13px 10px !important;
}

.multiple-options .btn-group {
  display: none;
}

.dataTable .btn-primary {
    background-color: #4abc91;
    border-color: transparent !important;
}


.tax_value{
  width: 90px;
  display: inline-block;
}
.percent_icon{
  display: inline-block;
  background-color: #FFD300;
  padding: 8px 10px 6px;
}

.file-upload canvas{
  margin: 0 auto;
  display: block;
}

.upload-file-create {
  text-align: center;
}

.upload_progress {
  display: none;
}

.file-upload .file-cancel {
  position: absolute;
  top: 5px;
  right: 5px;
  cursor: pointer;
}

.form-group label.error {
  position: relative !important;
}

table.dataTable thead .table_no_order.sorting_desc,
table.dataTable thead .table_no_order.sorting_asc,
table.dataTable thead .table_no_order.sorting {
  background-image: none !important;
}

.coin-picker .padding-filters {
  padding-top: 10px;
  padding-bottom: 10px;
}

.coin-picker .padding-filters .btn-settings {
  background-color: #ffffff;
}

.coin-picker .padding-filters .btn-settings.active {
  background-color: #FFD200;
}

.vat_menu {
  position: absolute;
  z-index: 100;
  width: auto;
  left: 170px;
  background-color: #fff;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
}

.vat_menu .vat_options {
  padding: 10px;
}

.vat_menu .vat_options a {
  display: block;
}

.vat_menu .vat_checkbox {
  padding-right: 30px !important;
  background-image: url(../icons/checkbox.png);
  background-repeat: no-repeat;
  background-position: right 10px center;
  font-size: 12pt;
  font-family: "Lato", sans-serif;
  font-weight: 300;
}

.vat_menu .vat_checkbox.active {
  background-image: url(../icons/checkbox_selected.png);
}

.coin-picker .multiselect {
  border: none;
  background-color: transparent !important;
  box-shadow: none !important;
  font-size: 12pt;
  font-family: "Lato", sans-serif;
  font-weight: 400;
}

.coin-picker .multiselect:focus {
  outline: 0;
}

.btn-copy-table {
  background-color: #FFD200;
  padding: 10px;
  padding-bottom: 5px;
  margin: 3px;
  display: inline-block;
  position: absolute;
  right: 10px;
  top: 7px;
}

.table-relative {
  position: relative;
}

.input-group-addon.table-value {
  background-color: #ffd200 !important;
}

.apply_tax_variants {
  margin-top: 22px;
}

.profile_name {
  margin-bottom: 30px;
}

.profile_name .profile_name_18 {
  font-size: 18px;
  font-weight: 600;
}

.profile_input {
  color: #acacac;
  font-weight: normal;
}

.profile_divider {
  border-right: 3px solid #cecece;
}

.profile_password_field {
  display: none;
}

.company_user_img {
  display: inline-block;
  vertical-align: top;
  padding-top: 5px;
  padding-right: 10px;
}

.company_user_info {
  display: inline-block;
}

.profile_contacts {
  margin-bottom: 40px;
}

.select2-container--default .select2-selection--single {
  height: 34px !important;
  padding: 3px 4px;
  border-radius: 0 !important;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
  height: 34px !important;
}

.social-profile {
  font-size: 20px;
  padding:0 5px;
  opacity: 0.7;
}

.social-profile:hover {
  opacity: 1;
}

.social-profile.social-facebook{
  color: #3b5998;
}

.social-profile.social-instagram{
  color: #e95950;
}

.social-profile.social-google{
  color: #dd4b39;
}

.social-profile.social-youtube{
  color: #bb0000;
}

.profiles-view-table th {
  border-bottom: none !important;
  padding: 18px !important;
  padding-left: 25px !important;
  background-color: #fafafa;
  font-weight: 300 !important;
}

.margin-top-20 {
  margin-top: 20px;
}

#back_groups {
  display: none;
}

.group_view_permissions {
  padding-left: 30px;
}

.user_thumbnail_image {
  width: 150px;
  height: 150px;
}

.margin_user_thunbnail {
  margin-top: 30px;
}

.pic-circle-corner-create-user.margin_user_thunbnail {
  background-color: #ffffff !important;
}

.table-vertical-center {
  vertical-align: middle !important;
}

.table_group_title {
  background-color: #ffd300;
}

.icon-recuperar-password-cabecalho {
  line-height: 1px !important;
}

.comercial_methods {
  list-style: none;
  width: 100%;
  padding: 0;
}

.comercial_methods li {
  display: inline-block;
  padding: 15px;
}

.payment_terms {
  display: none;
}

.form-group label.error {
  color: #f05e35;
  font-size: 12pt;
  font-family: "Lato", sans-serif;
  font-weight: 400;
}

.select_qty {
  width: 60px;
  display: inline-block;
}

.select_unit {
  width: 180px;
  display: inline-block;
}

.clear_end_date {
  margin-top: 10px;
  display: block;
}

.round_format {
  display: none;
}

.no_padding_left {
  padding-left: 0;
}

.no_padding_right {
  padding-right: 0;
}

/*TIMELINE*/

.timeline {
  list-style: none;
  padding: 20px 0 20px;
  position: relative;
}
.timeline:before {
  top: 45px;
  bottom: 80px;
  position: absolute;
  content: " ";
  width: 1px;
  background-color: #999999;
  left: 7%;
  margin-left: -1.5px;
}
.timeline > li {
  position: relative;
}
.timeline > li:before,
.timeline > li:after {
  content: " ";
  display: table;
}
.timeline > li:after {
  clear: both;
}
.timeline > li:before,
.timeline > li:after {
  content: " ";
  display: table;
}
.timeline > li:after {
  clear: both;
}
.timeline > li > .timeline-panel {
  width: 93%;
  float: right;
  border-radius: 2px;
  padding: 15px;
  position: relative;
}
.timeline >li .timeline-box {
  padding: 20px;
  border: 1px solid #ccc;
}
.timeline > li > .timeline-badge {
  color: #fff;
  width: 20px;
  height: 20px;
  line-height: 50px;
  font-size: 1.4em;
  text-align: center;
  position: absolute;
  top: 16px;
  left: 7.1%;
  margin-left: -11px;
  background-color: #ffffff;
  border: 1px solid #999999;
  z-index: 100;
  border-top-right-radius: 50%;
  border-top-left-radius: 50%;
  border-bottom-right-radius: 50%;
  border-bottom-left-radius: 50%;
}
//.timeline > li.timeline-inverted > .timeline-panel {
//  float: right;
//}
//.timeline > li.timeline-inverted > .timeline-panel:before {
//  border-left-width: 0;
//  border-right-width: 15px;
//  left: -15px;
//  right: auto;
//}
//.timeline > li.timeline-inverted > .timeline-panel:after {
//  border-left-width: 0;
//  border-right-width: 14px;
//  left: -14px;
//  right: auto;
//}
//.timeline-badge.primary {
//  background-color: #2e6da4 !important;
//}
//.timeline-badge.success {
//  background-color: #3f903f !important;
//}
//.timeline-badge.warning {
//  background-color: #f0ad4e !important;
//}
//.timeline-badge.danger {
//  background-color: #d9534f !important;
//}
//.timeline-badge.info {
//  background-color: #5bc0de !important;
//}
//.timeline-title {
//  margin-top: 0;
//  color: inherit;
//}
//.timeline-body > p,
//.timeline-body > ul {
//  margin-bottom: 0;
//}
//.timeline-body > p + p {
//  margin-top: 5px;
//}

/*TIMELINE*/

/*ORDER STEPS*/
#order-steps .title {
  display: none;
}
.steps li .current-info, .steps li .number {
  display: none;
}
.steps ul {
  width: 100%;
  padding: 0;
  margin: 50px 0;
}
.steps li {
  display: inline-block;
  width: 25%;
  position: relative;
  text-align: center;
}
.steps ul li:after {
  background: rgba(163, 145, 97, 0.4) none repeat scroll 0 0;
  content: "";
  height: 1px;
  left: 77%;
  position: absolute;
  top: 10px;
  width: 40%;
}
.steps ul li:last-child:after {
  background: none;
  width: 0;
}
.steps_divider {
  height: 50px;
  background-color: #f0f0f0;
  width: 100%;
}
.sub_panel {
  margin-bottom: 0 !important;
}
.orders_background {
  background-color: #f0f0f0;
}

.order_addresses {
  border-bottom: 1px solid #000;
  width: 100%;
  padding: 10px;
}

.address_not {
  padding: 20px 0;
  display: none;
}

.address_toggle {
  padding: 20px 0;
}

.order_coin {
  margin-bottom: 20px;
}

.order_no_user {
  display: none;
}

#order-steps .actions ul {
  list-style: none;
  display: inline-block;
  padding: 0;
}

#order-steps .actions ul li {
  display: inline-block;
  padding-right: 10px;
}

#order-steps .actions {
  background-color: #f0f0f0;
}

.order_no_send_address,
.order_no_invoice_address {
  display: none;
  padding: 15px 0;
}

.date_range {
  display: none;
}

.panel_groups .group_message {
  color: #ff0000;
  padding-bottom: 15px;
}

.svg-html {
  width: 150px;
  height: 150px;
  overflow: hidden;
}

.svg-html object {
  width: 100%;
  height: 100%;
}

#image_iframe {
  width: 800px;
  height: 800px;
  position: absolute;
  top: -4000px;
  left: -4000px;
}

.template_div {
  height: 300px;
  overflow: hidden;
}

#template_img {
  width: 300px;
  min-height: 300px;
  border: 1px solid #000000;
}

.image_email {
  height: 150px;
  overflow: hidden;
}

.image_email img {
  width: 150px;
  min-height: 150px;
  border: 1px solid #000000;
}

table > tbody td.template_row {
  vertical-align: middle;
}

.template_message {
  padding-bottom: 15px;
}

.tags_padding {
  margin-top: 34px;
}

.segments_section {
  display: none;
}

.float_right {
  float: right;
}

.btn-email-test {
  margin: 15px 20px 12px;
}

.margem_top_20 {
  margin-top: 20px;
}

.hide_use_segment {
  display: none;
}

.campaign_icon {
  display: inline-block;
}

.campaign_icon span {
  display: flex;
  align-items: center;
  padding-right: 10px;
}

.campaign_text {
  display: inline-block;
}

.range-label {
  position: absolute;
  top: 10px;
  left: -10px;
}

#slider-range.ui-slider .ui-slider-handle {
  outline: none;
}

.campaigns_menu_items a {
  color: rgba(85, 85, 85, 0.5);
}

.campaigns_menu_items a.campaigns_active {
  color: rgba(85, 85, 85, 1);
}

.campaigns_menu_items .campaigns_step:after {
  content: "\75";
  position: absolute;
  top: 20px;
  right: -20px;
  font-family: "untitled-font-3" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 30px;
  color: rgba(85, 85, 85, 0.5);
}

.campaigns_menu_items .campaigns_step:last-child:after {
  content: "";
}

/*ORDER STEPS*/

.notes_form .input-group-btn {
  padding: 0 10px;
}

@media (max-width: 1199px) {
  .profile_divider {
    border-right: none;
  }
}

.model-dialog-2{
  margin: 30px auto;
  width: 1000px;
}

.calendar_table .hasReservation,
.calendar_table .hasReservation.weekend,
.calendar_table .hasReservation.current {
  background-color: #f0fafb !important;
}