@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

$font-lato: 'Lato', sans-serif;
$font-mont: 'Montserrat', sans-serif;


body {
  margin-top: 100px;
  background-color: #F0F0F0;
  padding-bottom: 0!important;
  font-family: $font-lato;

}

@media(min-width: 768px) {
  body {
    margin-top: 67px;
    padding-left: 226px;
  }
}

a {
  cursor: pointer;
}
a:hover {
  text-decoration: none;
}

select{
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background:  url('../icons/seta.png') right 5px center / 11px no-repeat!important;
  padding-right: 20px!important;
  border-radius: 0!important;
}

/* TOP MENU */
.top-nav {
  padding: 6px 10px 0 0;
}

.top-nav > li {
  display: inline-block;
  float: left;
}

.top-nav > li > a {
  padding-top: 15px;
  padding-bottom: 15px;
  line-height: 20px;
  color: #999;
}

.top-nav > li > a:hover, .top-nav > li > a:focus, .top-nav > .open > a, .top-nav > .open > a:hover, .top-nav > .open > a:focus {
  background-color: #ffffff;
}

.top-nav > .open > .dropdown-menu {
  float: left;
  position: absolute;
  margin-top: 0;
  border: 1px solid rgba(0, 0, 0, .15);
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  background-color: #fff;
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
  box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
}

.top-nav > .open > .dropdown-menu > li > a {
  white-space: normal;
}

ul.message-dropdown {
  padding: 0;
  max-height: 250px;
  overflow-x: hidden;
  overflow-y: auto;
}

li.message-preview {
  width: 275px;
  border-bottom: 1px solid rgba(0, 0, 0, .15);
}

li.message-preview > a {
  padding-top: 15px;
  padding-bottom: 15px;
}

.btn-image-change.active{
  box-shadow: none;
}
.preview{
  /*height: 200px!important;*/
}

li.message-footer {
  margin: 5px 0;
}

ul.alert-dropdown {
  width: 200px;
}

/* Side Navigation */
@media(min-width: 768px) {
  .side-nav {
    position: fixed;
    top: 50px;
    left: 225px;
    width: 225px;
    margin-left: -225px;
    border: none;
    border-radius: 0;
    overflow-y: auto;
    background-color: black;
    bottom: 0;
    overflow-x: hidden;
    padding-bottom: 40px;
  }

  .side-nav ul li {
    list-style-type: none;
  }
  .side-nav ul {
    padding-left: 0;
  }

  .side-nav ul li.icon20 {
    color: #ffffff;
  }

  .side-nav > li > a {
    width: 225px;

  }

  .side-nav ul > li > a {
    display: inline-block;
    padding-bottom: 23px;
    padding-top: 23px;
    padding-left: 23px;
    width: 100%;

  }
  .side-nav li a:hover, .side-nav li a:focus {
    outline: none;
    background-color: #000;
  }
}

.side-nav > li > ul {
  padding: 0;
}

.side-nav > li > ul > li > a {
  display: block;
  padding: 10px 15px 10px 38px;
  text-decoration: none;
  color: #999;
}

.side-nav > li > ul > li > a:hover {
  color: #fff;
}

.side-nav a {
  color: #fff;
}

.top-menu-backcolor {
  background-color: white
}

.navbar-inverse {
  background-color: white;
  border: none
}

/* LAYOUT PAGINAS */
.conteudo_central {
  width: 100%;
  padding-bottom: 50px;
}

.conteudo_central > .container-fluid ~ .container-fluid {
  min-height: calc(100vh - 180px);
}

.conteudo_central2 {
  width: 100%;
  margin-top: 30px;
  height: 100%;
  background-color: #ffffff;
}

.conteudo_central_modulos {
  width: 100%;
}

.menu_modulos .active {
  background-color: #ffd300;
  margin-bottom: 0;

}
.menu_modulos {
  margin-bottom: 0;
}

.menu_modulos a {
  padding: 23px;
  display: inline-block;
  font-size: 12pt;
  text-transform: uppercase;
}

.fonte_15_lato a {
  font-size: 15pt;
  font-family: 'Lato', sans-serif;
}

/* FONTES */
.fonte_15_lato {
  font-size: 15pt;
  font-family: $font-lato;
}
.fonte_18_lato_light {
  font-size: 18pt;
  font-family: $font-lato;
  font-weight: 300;
}
.fonte_15_lato_light {
  font-size: 15pt;
  font-family: $font-lato;
  font-weight: 300;
}
.fonte_12_lato {
  font-size: 10pt;
  font-family: $font-lato;
  font-weight: 400;
}
.fonte_12_lato_light_cinza {
  font-size: 10pt;
  font-family: $font-lato;
  font-weight: 300;
  color: #929497;
}

.fonte_12_lato_light{
  font-size: 12pt;
  font-family: $font-lato;
  font-weight: 300;
}

.fonte_9_lato_light{
  font-size: 9pt;
  font-family: $font-lato;
  font-weight: 300;
}

.fonte_9_lato_light_important{
  font-size: 9pt!important;
  font-family: $font-lato;
  font-weight: 300;
}

.texto_preto {
  color: #000000;
}

/* FIM FONTES */

.texto_preto a {
  color: #000000;
  cursor: pointer;
}

.fonte_15_monserat a {
  font-size: 15pt;
  font-family: 'Montserrat', sans-serif;
}

.no_padding {
  padding: 0;
}

.painel .panel-body{
  padding-top: 0;
}
.body_widget {
  height: 400px;
  overflow-y: scroll;
}

.menu_lateral ul.module.active {
  border-left: 10px solid #FFD300;
}

.menu_lateral ul.module.active > li:first-child > a {
  background-color: #1a1a1a;
}

.menu_lateral ul.module a.active {
  background-color: #1a1a1a;
}

.menu_lateral .ativo:hover {
  background-color: #1a1a1a;
}

.topo_painel2 {
  background-color: #ffd300 !important;
}

.panel {
  border-radius: 0 !important;
  border: none!important;
  box-shadow: none!important;
  margin-bottom: 50px!important;
}

.panel-title {
  padding: 5px !important;
  margin-top: -10px;
  margin-left: -5px;
}

.panel-title h4 {
  padding: 5px 15px 5px 15px;
}

.panel-heading {
  padding-top: 10px !important;
  padding-bottom: 0 !important;
}

.seta_anterior {
  position: absolute;
  left: 10px;
  top: 40%;
  z-index: 10;
  cursor: pointer;
}

.seta_seguinte {
  position: absolute;
  right: 10px;
  top: 40%;
  cursor: pointer;
}

.slider_registo {
  position: relative;
}

.ancora_registo {
  display: inline-block;
  margin: 5px;
}

.ancora_registo1 {
  color: lightgreen;
}

.ancora_registo2 {
  color: lightcoral;
}

.ui-state-hover{
  background-color: lightgray;
  border: none!important;
}

.ui-state-active{
  background-color: lightgray!important;
  color: #000000!important;
}

.submenu_registos {
  border-bottom: 1px solid #dddddd;
  padding-bottom: 10px;
}

.slider_registo {
  margin-top: 10px;
}

/*----PARTE DA GALERIA-----*/
.entidade_galeria {
  height: 200px;
  border: 2px solid #000000;
}

.menu_galeria {
  background-color: #FFD300;
}

.galeria_upload {
  background-color: #000000;
}

.ancora_upload {
  width: 100%;
  display: inline-block;
  color: white;
  padding: 20px 0 20px 0;
}

.ancora_nova_pasta {
  color: #000000;
  padding: 20px 0 20px 0;
  display: inline-block;
}

/*----FIM DA GALERIA-----*/

/*Steven*/
.aling_right_notificacoes_top_menu {
  float: right
}

.remove_top_bottom_padding {
  padding-top: 0px !important;
  padding-bottom: 0px !important;
}

.width_dropdown_menu_user {
  min-width: 165px !important;
}

.avatar_user {
  width: 45px;
  height: 45px;
  border-radius: 38px;
  -webkit-border-radius: 38px;
  -moz-border-radius: 38px;
  padding-top: 0px;
}

.panel-heading-grupo {
  padding: 10px 15px !important;
  background-color: #F5F5F5;
  border-bottom: 1px solid #ddd;
}

.validator_errors {
  color: #f05e35;
  font-size: 12pt;
  font-family: $font-lato;
  font-weight: 400;
}

.has-error .form-control{
  border-color: #f05e35;
}


.tabs-back{
  background-color: #FFD200;
}
.tabs-back .ativo{
  background-color: #ffe466;

}
.tabs-back .ativo a{
  color:black;
}
.tabs-back a{
  padding: 15px;
}
.tabs-back ul {
  padding: 0;
  margin: 0;
}
.tabs-back ul li{
  padding: 0;
}

.tabs {
  background-color: #FFD200;
}

.tabs ul {
  padding: 0;
  margin: 0;
}

.tabs ul li {
  padding: 15px;
}

.tabs ul li.ativo {
  background-color: #FFE466;
}

.tab {
  display: inline-block;
  padding: 10px;
}

.tabs2 {
  background-color: #000000;
  color: #ffffff;
}

.tabs2 a {
  color: #ffffff;
}

.titulo {
  padding: 15px 20px 12px;
  display: inline-block;
  background-color: #FFD300;
  color: black;
  font-weight: 700;
  font-family: $font-mont;
}
.titulo2 {
  padding-left: 15px;
  font-family: $font-lato;
  font-size: 18pt;
  font-weight: 400;

}

.destino{
  font-weight: 300;
  font-size: 15pt;
  font-family: $font-lato;
}

.margem_30 {
  margin-top: 30px;
}
.margem_20 {
  margin-top: 20px;
  margin-bottom: 20px;
}

.dataTables_filter {
  display: none;
}

.search {
  width: 100%;
  padding: 15px;
  font-size: 12pt;
  font-family: $font-lato;
  font-weight: 300;
  border: none!important;
}

#users-table tr td:last-child {
  text-align: center;
}

#users-table tr td:last-child:before {
  content: "\f096"; /* fa-square-o */
  font-family: FontAwesome;
}

#users-table tr.selected td:last-child:before {
  content: "\f046"; /* fa-check-square-o */
}

.img_user_list {
  width: 50px;
  height: 50px;
}

.btn-yellow {
  background-color: #FFD200;
  padding: 10px;
  padding-left: 15px;
  padding-right: 15px;
  text-transform: uppercase;
  font-size: 11pt;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  color: #000000;
  display: inline-block;
}

.btn-yellow-icon {
  background-color: #FFD200;
  padding: 10px;
  padding-left: 14px;
  padding-right: 14px;
  text-transform: uppercase;
  font-size: 9pt;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  color: #000000;
  display: inline-block;
}

.btn-cancelar {
  background-color: #D1D3D4;
  padding: 10px;
  padding-left: 15px;
  padding-right: 15px;
  text-transform: uppercase;
  font-size: 11pt;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  color: #000000;
}

.btn-eliminar {
  background-color:#c0420b;
  float:right;
  padding: 10px;
  padding-left: 15px;
  padding-right: 15px;
  text-transform: uppercase;
  font-size: 11pt;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  color: #000000;
  display: inline-block;
}

.btn-yellow:hover {
  background-color: #ffe566;
}

.btn-eliminar:hover{
  background-color: #c0720b;
}


.menu_lateral a {
  text-transform: uppercase;
  font-size: 12pt;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
}

.breadcrumb > li + li::before {
  color: #FFD200;
  content: "> ";
  padding: 0 5px;
}

.breadcrumb > li {
  cursor: pointer;
}

.navbar-brand {
  height: 67px;
}

.navbar-fixed-top {
  margin-bottom: 0;
}

.side-nav{
  top: 67px;
}
.breadcrumb{
 margin: 10px 0 5px 0;
  background-color: transparent;
  font-size: 12pt;
  font-family: $font-lato;
  font-weight: 400;
  padding-right: 30px;
}

.search_icon{
  background: url("../../back/icons/pesquisar_pequeno.png");
  background-position: 15px;
  background-repeat: no-repeat;
  background-color: #ffffff;
  padding-left: 35px;
  border: none;
  font-size: 12pt;
}



table.dataTable thead .sorting, table.dataTable thead .sorting_asc, table.dataTable thead .sorting_desc, table.dataTable thead .sorting_asc_disabled, table.dataTable thead .sorting_desc_disabled {
  background-position: 10px center!important;
}

table.dataTable{
  font-size: 10pt;
  font-family: $font-lato;
  font-weight: 300;
}

table.dataTable tr.selected{
  background-color: #F2F2F2!important;
}


table.dataTable thead th, table.dataTable thead td {
  border-bottom: none!important;
  padding: 18px!important;
  padding-left: 25px!important;
  background-color: #fafafa;
  font-weight: 300!important;
}

table.dataTable.no-footer {
  border-bottom: none!important;
  -webkit-box-shadow: 0px 20px 10px -22px rgba(0,0,0,0.15);
  -moz-box-shadow: 0px 20px 10px -22px rgba(0,0,0,0.15);
  box-shadow: 0px 20px 10px -22px rgba(0,0,0,0.15);
  margin-bottom: 20px;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.current, .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
  background: #ffffff!important;
  border: none!important;
  color: #000000 !important;
  border-radius: 0!important;
}

.dataTables_wrapper .dataTables_info {
  padding-top: 0!important;
  margin: 0 15px 0 16px;
  font-weight: 300;
  font-size: 12pt;
  font-family: $font-lato;

}

table.dataTable thead .sorting_asc {
  background-image: url("../icons/dropdown_cima.png")!important;
}

table.dataTable thead .sorting_desc {
  background-image: url("../icons/dropdown_baixo.png")!important;
}

table.dataTable thead .sorting {
  background-image: url("../icons/dropdown_baixo_sem_select.png")!important;
}
.dataTables_length label{
  font-weight: 300!important;
  font-size: 12pt;
  font-family: $font-lato;

}

.dataTables_paginate{ font-weight: 300!important;
  font-size: 12pt;
  font-family: $font-lato; }


table.dataTable th:first-child{
  padding-left: 32px!important;
}
table.dataTable th:first-child.sorting , table.dataTable th:first-child.sorting_asc , table.dataTable th:first-child.sorting_desc {
  background-position: 15px center!important;
}
table.dataTable td:first-child {
  padding-left: 10px;
}

table.dataTable  {
  width: 100%!important;
}

table.dataTable td {
  vertical-align: middle!important;
}

table.dataTable  p{
  margin-bottom: 0;
}


.dataTables_wrapper .dataTables_paginate a.paginate_button:hover {
  background: #ffffff!important;
  border: 1px solid #ffffff!important;
  color: #000000 !important;
  border-radius: 0!important;
}



.select_galeria{ width: 100%;}

.lista_menu .radio input[type="radio"], .radio-inline input[type="radio"], .checkbox input[type="checkbox"], .checkbox-inline input[type="checkbox"] {
  margin-left: 0;
  position: absolute;
  right: 0;
  display: none;
}
.lista_menu li {
  font-size: 12pt;
  font-family: $font-lato;
  font-weight: 300;
}
.lista_menu label {
  margin: 0 10px 0 10px!important;
  font-size: 12pt;
  font-family: $font-lato;
  font-weight: 300;
}

.lista_menu li.multiselect-group{
  margin-left: 5px;
}

.lista_menu a {
  padding-right: 30px!important;

  background-image: url("../icons/checkbox.png");
  background-repeat: no-repeat;
  background-position: right 10px center;
  font-size: 12pt;
  font-family: $font-lato;
  font-weight: 300;
}

.lista_menu .active a {
  background-image: url("../icons/checkbox_selected.png");
}
.lista_menu .dropdown-menu{
  border-radius: 0;
  border: 1px solid #ffffff;
}

.lista_menu2 .dropdown-menu{
  border-radius: 0;
  border: 1px solid #ffffff;
  min-width: 100%;
}

.lista_menu .multiselect{
  border: none;
  background-color: transparent!important;
  box-shadow: none!important;
  font-size: 12pt;
  font-family: $font-lato;
  font-weight: 400;
  padding-left: 0;
}
.lista_menu2 .multiselect{
  padding-bottom: 18px;
  padding-top: 18px;
  text-align: left;
  padding-left: 15px;
  background-color: #ffe566!important;
  border-radius: 0;

}
.lista_menu2 .caret{
  position: absolute;
  right: 10px;
  top: 26px;
}

.lista_menu .dropdown-menu > .active > a, .dropdown-menu > .active > a:hover, .dropdown-menu > .active > a:focus {
  background-color: #ffffff;
  color: #000000;
}
.lista_menu ul li{padding: 0!important;}

.form-group input{
  box-shadow: none;
  border-radius: 0;
  font-family: $font-lato;
  font-weight: 400;
  font-size: 12pt;
}
.fom-style-hidden label{
  font-family: $font-lato;
  font-weight: 400;
  font-size: 12pt;
}

.fom-style-hidden2 input{
  border: 1px solid lightgray;
  box-shadow: none;
  border-radius: 0;
  font-family: $font-lato;
  font-weight: 400;
  font-size: 12pt;
}
.fom-style-hidden3 input{
  border: 1px solid #cecece;
  color: #000000;
  box-shadow: none;
  border-radius: 0;
  font-family: $font-lato;
  font-weight: 400;
  font-size: 12pt;
}
.fom-style-hidden3 label{
  font-family: $font-lato;
  font-weight: 400;
  font-size: 12pt;
}

.fom-style-hidden2 label{
  font-family: $font-lato;
  font-weight: 400;
  font-size: 12pt;
}


.fom-style-hidden input:focus{
  border: 1px solid lightgray;
  box-shadow: none;
}

.fom-style-hidden textarea{
  background-color: #f1f2f2;
  border-radius: 0;
}

.fom-style-hidden2 textarea{
  border-radius: 0;
}

.divider_line{
  border-top: 1px solid lightgray;
  width: 100%;
  height: 1px;
}

.divider_line2{
  border-top: 2px solid #F0F0F0;
  margin-left: -15px;
  margin-right: -15px;
  height: 2px;

}

.panel-titulo{
  background-color: #fafafa;
  font-size: 12pt;
  font-family: $font-mont;
  text-transform: uppercase;

}

.icon_voltar {
  font-family: $font-lato;
  font-weight: 300;
  font-size: 12pt;
  color: #896000;
  display: inline-block;
}

.menu-options-reverse,
.icon_eliminar {
  font-family: $font-lato;
  font-weight: 300;
  font-size: 12pt;
  display: inline-block;
  color: white;
  background-color: #000000;
}

.menu-options-reverse:hover,
.icon_eliminar:hover {
 background-color: #232323;
  color: white;

}
.icon_voltar:hover{
  background-color: #ffe566;
  text-decoration: none;
  color:black;
}
.tabs-back-black a{
  background-color: #000000;
}

.eliminar_branco{ padding: 0 10px 0 0;}


.default-table tr td:last-child {
  text-align: left;
  width: 30px!important;
  padding-left: 35px;
}
.default-table th:last-child {
  text-align: left;
  width: 30px!important;
}

.default-table tr td:last-child:before {
  content: url(../icons/checkbox.png);
}

.default-table tr.selected td:last-child:before {
  content: url(../icons/checkbox_selected.png);
}

.default-table tr td:last-child.disabled:before{
  content: url(../icons/checkbox_selected.png);
}

.action_multiple{
  display: none;
  position: fixed;
  bottom: 0;

  width: 100%;
  left: 0;
  padding-left: 226px;
}

.foot-tsf{
  position: relative;
  bottom: 0;
  z-index: 9999999;
  width: 100%;
  left: 0;
  padding-left: 226px;
}

.wrap_foot_tsf {
  color: #000000;
  position: relative;
  width: 100%;
  background-color: transparent;
  font-weight: 300;
  font-size: 12pt;
  font-family: $font-lato;
  padding: 10px;

}

.bootstrap-tagsinput input {
  background-color: transparent;
  border: medium none;
  box-shadow: none;
  margin: 0;
  max-width: inherit;
  outline: medium none;
  padding: 0 6px;
  width: auto;
}


.bootstrap-tagsinput{
  border: 1px solid lightgray;
  padding: 5px;
}

.bootstrap-tagsinput .tag {
  background-color: #ffe566;
  color: #000000;
}

.bootstrap-tagsinput .tag [data-role="remove"]::after {
  content: "x";
  padding: 0 2px;
}

.bootstrap-tagsinput .tag [data-role="remove"] {
  cursor: pointer;
  margin-left: 8px;
}


.wrap_foot_tsf a{
  color: #000000;
  font-weight: 300;
  font-size: 12pt;
  font-family: $font-lato;
}


.action_multiple a{
  display: inline-block;
  padding: 10px;
  font-weight: 300;
  font-size: 15pt;
  font-family: $font-lato;
  color: #000000!important;

}
.wrap_action_multiple {
  position: relative;
  width: 100%;
  background-color: #ffe566;

}

.checkbox-default input {
  display: none;
}
.checkbox-default span:before{
  content: url(../icons/checkbox.png);
}
.checkbox-default input:checked + span:before{
  content: url(../icons/checkbox_selected.png);
}

.container_images{
  width: 50px;
  display: inline-block;
}
.imagem_user_mini{
  width: 25px;
  height: 25px;
  display: inline-block;
}

.treeview_permissions .list-group-item{
  border: 1px solid transparent;
  display: inline-block;
  color: #000000!important;
  width: 100%;
  background-color: #f1f2f2;
  border-radius: 0;
  padding-left: 30px;
}
.treeview_permissions .list-group-item:focus{
  outline: none;
}

.treeview_permissions .list-group-item.collapsed{
  background-color: white;
}
.treeview_permissions li{
  list-style-type: none;
  font-family: $font-lato;
  font-weight: 300;
  font-size: 12pt;
}
.treeview_permissions ul li{
  list-style-type: none;
  font-family: $font-lato;
  font-weight: 300;
  font-size: 12pt;
}
.treeview_permissions ul{
  padding-left: 15px;
}
.treeview_permissions{
  box-shadow: none;
}


.checkbox_permissions{
  width: 100%;
  position: relative;
}

.checkbox_permissions .check_span{
  padding-top: 1px; position: absolute; left: 0; top: 10px; z-index: 999;
}

.checkbox-default span::before {
  padding: 10px;
}


.texto_amarelo{
  color: #ffe566;
}

.add_btn{ width: 100%;
  background-color: #ffe566;
  display: inline-block;
  padding: 15px;
  color: #000000!important;
  font-family: $font-lato;
  font-weight: 300;
  font-size: 12pt;
}

.alert-sucess{
  margin-top: 15px;
  border: 2px solid #3dc393;
  color: #3dc393;
  font-family: $font-lato;
  font-weight: 400;
  font-size: 12pt;
  border-radius: 0;
}
.alert-erro{
  margin-top: 15px;
  border: 2px solid #e25656;
  font-family: $font-lato;
  color: #e25656;
  font-weight: 400;
  font-size: 12pt;
  border-radius: 0;
  padding-left: 40px;
  position: relative;
}

.alert-erro i{
  left: 15px;
  position: absolute;
}


.perm_spacer:first-child{
  margin-top: 15px;

}
.perm_spacer{
  margin: 10px 0 10px 0;
}

.item_galery{
  //min-height: 310px !important;
  margin-top: 20px;
  background-color: white;
  -webkit-box-shadow: 4px 4px 5px 0px rgba(0,0,0,0.26);
  -moz-box-shadow: 4px 4px 5px 0px rgba(0,0,0,0.26);
  box-shadow: 4px 4px 5px 0px rgba(0,0,0,0.26);
  cursor: pointer;
}

.item_galery_multi {
  /*min-height: 310px !important;*/
  margin: 10px 0 10px 0;
}

.folder_icon{
  background:#fafafa no-repeat center;
  height: 250px;
}

.folder_icon2{
  background:#fafafa no-repeat center;
  height: 100%;
  width: 120px;
}

.centra_vertical{
 vertical-align: middle;
}

.parent {display: table;}

.child {
  display: table-cell;
  vertical-align: middle;
}

i{
  vertical-align: middle;
}

#fileupload{
  display: none;
}
.fileupload {
  display: none !important;
}
.icon30{
  font-size: 30pt;
}
.icon40{
  font-size: 40pt;
}
.icon80{
  font-size: 80pt;
}

.icon100{
  font-size: 100pt;
}
.icon60{
  font-size: 60pt;
}
.icon20{
  font-size: 20pt;
  vertical-align: middle;

}
.icon15{
  font-size: 15pt;
  vertical-align: middle;
}

.icon15menu{

  vertical-align: middle;
  font-size: 15pt;
  font-weight: 900;
  padding-right: 12px;
}
.icon12{
  font-size: 12pt;
  vertical-align: middle;
}
.icon9{
  font-size: 9pt;
  vertical-align: middle;
}
.icon10{
  font-size: 15pt;
  vertical-align: middle;
}

.icon_select_gallery a i{
  padding: 5px 10px 0 10px;
  color: #808080;
}
a:focus {
  outline: none;
  text-decoration: none;
}
.icon_select_gallery a:hover{
  text-decoration: none!important;

}

.first_text_gallery{
margin-top: 10px;
}

.icon_select_gallery a:hover i{
  color: #000000;
}
.btn-settings.active{
  background-color: white;
  color: #000000;
  display: inline-block;
  padding-top: 5px;
}

.second_column_folder{
  border-left: 1px solid lightgray;
  padding-left: 20px;
}
.data_icon{

  padding-left: 30px;
}

.icon_document{

  padding-left: 30px;
}
.icon_document2{

  padding-left: 30px;
}

.icon_image{
  padding-left: 30px;
}

.separacao{
  border-top: 1px solid #F0F0F0;
  margin-top: 10px;
}
.foot_gallery_icon{
  padding: 5px 0 0px 0;
}
.foot_gallery_icon2{
  padding: 0 0 5px 0;
}
.foot_gallery_icon3{
 padding-top: 14px;
  padding-bottom: 15px;
}
.foot_gallery_icon4{
 padding-top: 49px;
}

.content_center_gallery_icon{
  padding-top: 10px;
  padding-bottom: 10px;
}

.last_col_gallery{
  text-align: right;
  padding-right: 30px;
  position: relative;
}
.image_galery{
  width: 100%;
  height: 250px;
  background-position: center !important;
  background-size: cover !important;
}

.image_galery2{
/*  width: 100%;*/
  height: 250px;
}
.image_galery3{
 /* height: 100%;*/
  height: 85px;
  background-position: center !important;
  background-size: cover !important;
}

.gallery_content{
  padding: 0 15px 0 15px;
}

.img_size{
  padding-left: 34px;
}

.selecionado{
  -webkit-box-shadow: 1px 1px 9px 2px rgba(255,210,0,1);
  -moz-box-shadow: 1px 1px 9px 2px rgba(255,210,0,1);
  box-shadow: 1px 1px 9px 2px rgba(255,210,0,1);


}


.item_galery.ui-selected{
  -webkit-box-shadow: 1px 1px 9px 2px rgba(255,210,0,1);
  -moz-box-shadow: 1px 1px 9px 2px rgba(255,210,0,1);
  box-shadow: 1px 1px 9px 2px rgba(255,210,0,1);
}

.modal-footer-h{
  padding: 0 15px 30px 15px;
}

.breadcrumb a{
  color: #000000;
}
.breadcrumb a:hover{
 text-decoration: underline;
}
.col-xs-15,
.col-sm-15,
.col-md-15,
.col-lg-15 {
  position: relative;
  min-height: 1px;
  padding-right: 10px;
  padding-left: 10px;
}


.allowed_upload a{
  padding: 10px;
  color: #000000!important;
}
.allowed_upload a:hover{
  text-decoration: underline;
}
.allowed_upload{
  padding-top: 15px;
}

.documentos_perm{
  margin-top: 15px;
}

.uploadfilesgalery #files{
  border: 1px solid #ffe566;
  background-color: #fafafa;
}

.uploadfilesgalery .files {
  border: 1px solid #ffe566;
  background-color: #fafafa;
}

.cont_inicial{
  text-align: center;
  padding-bottom: 50px;
  padding-top: 50px;
}

.icon_br{
  display: inline-block;
  font-family: untitled-font-3;
  font-feature-settings: normal;
  font-kerning: auto;
  font-language-override: normal;
  font-size: inherit;
  font-size-adjust: none;
  font-stretch: normal;
  font-style: normal;
  font-synthesis: weight style;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  text-rendering: auto;
}

.mostra_lista{
  display: none;
}

.pos_relative{
  position: relative;
}
.listagem_pastas{
  position: absolute;
  top: 40px;
  left: 0;
  z-index: 9999999;
  -webkit-box-shadow: 4px 4px 5px 0px rgba(0,0,0,0.26);
  -moz-box-shadow: 4px 4px 5px 0px rgba(0,0,0,0.26);
  box-shadow: 4px 4px 5px 0px rgba(0,0,0,0.26);
  background-color: white;
  width: 250px;
  display: none;

}

.list_style .esconde_lista{
  display: none;
}
.list_style .mostra_lista{
  display: block;
}

.row-eq-height-center {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;

  -ms-flex-align: center;
  -webkit-align-items: center;
  -webkit-box-align: center;
  align-items: center;

  /*height: 100px;*/
}

.fecha_list_pastas{
  cursor: pointer;
}

.margem_icon{
  margin-left: 15px;
  vertical-align: middle;
}

.icon-criar-pasta{
  display: inline-block;
}

.nova_pasta_escond{
  position: absolute;
  left: 0;
  top: 0;
  padding: 0;
  height: 100%;
  z-index: 99999;
  background-color: white;
  color: #000000;
  display: none;

}

.new_folder_selected{
  position: absolute;
  width: 100%;
  left: 0;
  height: 100%;
  top: 0;
  padding: 0;
 opacity: 0.8;
  background-color: white;
  z-index: 99999999;
  display: none;
}

.nova_pasta_escond input{
  height: 100%;
  border: 1px solid #FFD200;
  padding: 10px;
  border-radius: 0;

}

.btn_save_new_folder{
  background-color: #FFD200;
  margin-top: 10px;
  border-radius: 0;
}
.btn_cancel_new_folder{
  background-color: #FFD200;
  margin-top: 10px;
  border-radius: 0;
  cursor: pointer;
}

.btn_save_folder{
  background-color: #FFD200;
}

#dest_f, .dest_f{
  margin-left: 5px;
  display: inline-block;
  font-size: 12pt;
  font-family: $font-lato;
  font-weight: 300;
}
.back_destiny{
  background-color: #FFD200;
  padding: 15px 10px ;
  text-align: center;
  cursor: pointer;
}

.opacidade_back{
  opacity: 0.2;
}

#open_select_folder{
  padding: 10px;
  color: #000000;
  background-color: #D1D3D4;
  font-family: $font-lato;
  font-size: 12pt;
  display: inline-block;


}

.open_select_folder {
  padding: 10px;
  color: #000000;
  background-color: #D1D3D4;
  font-family: $font-lato;
  font-size: 12pt;
  display: inline-block;
}

.fontes_form label{
  font-size: 12pt;
  font-weight: 400;
  font-family: $font-lato;
}

.fontes_form input{
  font-size: 12pt;
  font-weight: 300;
  font-family: $font-lato;
}
.sec_pastas_centro{
  height: 250px;
  overflow-y: auto;
}
.destinys{
  padding-left: 0;
  list-style-type: none;
  margin-bottom: 0;
  position: relative;

}

.go_to_folder{
  position: absolute;
  right: 15px;
  top: 20px;
  margin: auto;
  z-index: 99999;
  color: #000000;

}

.icon_titulo_pasta{
  margin-right: 5px;
}

.new_folder_here{
  cursor: pointer;
  padding: 10px;
  background-color: #f1f2f2;
}
.destinys li{
 padding: 15px;
  font-size: 12pt;
  font-family: $font-lato;
  position: relative;
}

.destinys .ui-selecting {  background: #D1D3D4; }
.destinys .selectedfilter { background: #D1D3D4; }

.sec_imagem_edit{
   background-color: #EDEDED;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px;
}

.tabs_brainy li a{
  background-color: transparent;
  color:#808080;
  padding: 15px;
  display: inline-block;
}
.tabs_brainy li{
  list-style-type: none;
  display: inline-block;
}
.tabs_brainy {
 padding-left: 0;
}
.tabs_brainy li.active a{
  background-color: #FFD200;
  color: #000000;

}

.foot_destiny{
  padding: 10px;
}




.cropper-container {
  font-size: 0;
  line-height: 0;

  position: relative;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  direction: ltr !important;
  -ms-touch-action: none;
  touch-action: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
}

.cropper-container img {
  display: block;

  width: 100%;
  min-width: 0 !important;
  max-width: none !important;
  height: 100%;
  min-height: 0 !important;
  max-height: none !important;

  image-orientation: 0deg !important;
}

.btn-image-change{
  background-color: #d1d3d4;
}
.btn-image-change:hover{
  background-color: #ffd200;
}
.btn-image-change.active{
  background-color: #ffd200;
}

.docs-buttons .btn-group{
  margin-bottom: 5px;
}

.cropper-wrap-box,
.cropper-canvas,
.cropper-drag-box,
.cropper-crop-box,
.cropper-modal {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.cropper-wrap-box {
  overflow: hidden;
}

.cropper-drag-box {
  opacity: 0;
  background-color: #fff;

  filter: alpha(opacity=0);
}

.cropper-modal {
  opacity: .2;
  background-color: #000;

  filter: alpha(opacity=50);
}

.cropper-view-box {
  display: block;
  overflow: hidden;

  width: 100%;
  height: 100%;

  outline: 1px solid #FFD200;
  /*outline-color: rgba(51, 153, 255, .75);*/
}

.cropper-dashed {
  position: absolute;

  display: block;

  opacity: .5;
  border: 0 dashed #eee;

  filter: alpha(opacity=50);
}

.cropper-dashed.dashed-h {
  top: 33.33333%;
  left: 0;

  width: 100%;
  height: 33.33333%;

  border-top-width: 1px;
  border-bottom-width: 1px;
}

.cropper-dashed.dashed-v {
  top: 0;
  left: 33.33333%;

  width: 33.33333%;
  height: 100%;

  border-right-width: 1px;
  border-left-width: 1px;
}

.cropper-center {
  position: absolute;
  top: 50%;
  left: 50%;

  display: block;

  width: 0;
  height: 0;

  opacity: .75;

  filter: alpha(opacity=75);
}

.cropper-center:before,
.cropper-center:after {
  position: absolute;

  display: block;

  content: ' ';

  background-color: #eee;
}

.cropper-center:before {
  top: 0;
  left: -3px;

  width: 7px;
  height: 1px;
}

.cropper-center:after {
  top: -3px;
  left: 0;

  width: 1px;
  height: 7px;
}

.cropper-face,
.cropper-line,
.cropper-point {
  position: absolute;

  display: block;

  width: 100%;
  height: 100%;

  opacity: .1;

  filter: alpha(opacity=10);
}

.cropper-face {
  top: 0;
  left: 0;

  background-color: #fff;
}

.cropper-line {
  background-color: #FFD200;
}

.cropper-line.line-e {
  top: 0;
  right: -3px;

  width: 5px;

  cursor: e-resize;
}

.cropper-line.line-n {
  top: -3px;
  left: 0;

  height: 5px;

  cursor: n-resize;
}

.cropper-line.line-w {
  top: 0;
  left: -3px;

  width: 5px;

  cursor: w-resize;
}

.cropper-line.line-s {
  bottom: -3px;
  left: 0;

  height: 5px;

  cursor: s-resize;
}

.cropper-point {
  width: 5px;
  height: 5px;

  opacity: .75;
  background-color: #FFD200;

  filter: alpha(opacity=75);
}

.cropper-point.point-e {
  top: 50%;
  right: -3px;

  margin-top: -3px;

  cursor: e-resize;
}

.cropper-point.point-n {
  top: -3px;
  left: 50%;

  margin-left: -3px;

  cursor: n-resize;
}

.cropper-point.point-w {
  top: 50%;
  left: -3px;

  margin-top: -3px;

  cursor: w-resize;
}

.cropper-point.point-s {
  bottom: -3px;
  left: 50%;

  margin-left: -3px;

  cursor: s-resize;
}

.cropper-point.point-ne {
  top: -3px;
  right: -3px;

  cursor: ne-resize;
}

.cropper-point.point-nw {
  top: -3px;
  left: -3px;

  cursor: nw-resize;
}

.cropper-point.point-sw {
  bottom: -3px;
  left: -3px;

  cursor: sw-resize;
}

.cropper-point.point-se {
  right: -3px;
  bottom: -3px;

  width: 20px;
  height: 20px;

  cursor: se-resize;

  opacity: 1;

  filter: alpha(opacity=100);
}

.cropper-point.point-se:before {
  position: absolute;
  right: -50%;
  bottom: -50%;

  display: block;

  width: 200%;
  height: 200%;

  content: ' ';

  opacity: 0;
  background-color: #39f;

  filter: alpha(opacity=0);
}

@media (min-width: 768px) {
  .cropper-point.point-se {
    width: 15px;
    height: 15px;
  }
}

@media (min-width: 992px) {
  .cropper-point.point-se {
    width: 10px;
    height: 10px;
  }
}

@media (min-width: 1200px) {
  .cropper-point.point-se {
    width: 5px;
    height: 5px;

    opacity: .75;

    filter: alpha(opacity=75);
  }
}

.cropper-invisible {
  opacity: 0;

  filter: alpha(opacity=0);
}



.cropper-hide {
  position: absolute;

  display: block;

  width: 0;
  height: 0;
}

.cropper-hidden {
  display: none !important;
}

.cropper-move {
  cursor: move;
}

.cropper-crop {
  cursor: crosshair;
}

.cropper-disabled .cropper-drag-box,
.cropper-disabled .cropper-face,
.cropper-disabled .cropper-line,
.cropper-disabled .cropper-point {
  cursor: not-allowed;
}

.accept_file_move{
  border: 3px solid #FFD200!important;
}

.menu_options_hidden{
  position: absolute;
  top: 20px;
  right: 0;
  width: 100%;
 /* z-index: 9999;*/
  z-index: 1;
  display: none;
}

.last_col_gallery .menu_options_hidden{
  position: relative;
  display: block!important;
  top: 0;
  z-index: inherit;

}


.menu_options_hidden .dropdown{
  margin: 10px;

  /*z-index: 999;*/
}

.menu_options_hidden .dropdown-menu {
  width: 94%;
  margin-left: 3%;
  margin-right: 3%;
  z-index: 100;
}

.roda_open_list_menu{
  margin-right: 10px;
  color: #000000;
  z-index: 99;
}



.drop_list_options_file{
  width: 100%;
}





.modo{
  z-index: 99;
}



.pading_right{
  padding-right: 5px;
}

.embed_link_span{
  display: inline-block;
  padding-right: 10px;
}

.padding30right{
  padding-right: 30px;
}

.title_gallery_list{
  color: #000000;
}

.lang_tabs li{
  text-transform: uppercase;
}
.lang_tabs2 li{
  text-transform: uppercase;
}

.margin-top-no-menu{
  margin-top: 10px;
}

.image_datatable_preview{
  width: 100px;
}

.dataTables_empty::before {
  content: normal!important;
}

.ms-sel-item{
  border: 1px solid #FFD200!important;
  color:black!important;
  background-color: #FFE466!important;
}
.ms-ctn{
  border-radius: 0!important;
}

.attribute_item{
  background-color: #FFD300;
  padding: 5px;
  display: inline-block;
  margin-top: 5px;
}


.explandable_table td.details-control {
  background: url("../icons/dropdown_baixo.png") no-repeat center center;
  cursor: pointer;
}
.explandable_table tr.details td.details-control {
  background: url("../icons/dropdown_baixo.png") no-repeat center center;
}.explandable_table tr.details td.details-control {
  background: url("../icons/dropdown_baixo.png") no-repeat center center;
}

.explandable_table td.details-control {
 width: 50px!important;
}

.explandable_table tr.shown td.details-control {
  background: url("../icons/dropdown_cima.png") no-repeat center center;
}


.error_tabs{
  display: none;
}

@media (min-width: 768px) {
  .col-sm-15 {
    width: 20%;
    float: left;
  }
}
@media (min-width: 992px) {
  .col-md-15 {
    width: 20%;
    float: left;
  }
}
@media (min-width: 1200px) {
  .col-lg-15 {
    width: 20%;
    float: left;
  }
}

.open_select_folder {
  padding: 10px;
  color: #000000;
  background-color: #D1D3D4;
  font-family: "Lato", sans-serif;
  font-size: 12pt;
  display: inline-block;
}

.fileupload {
  display: none;
}

#map {
  height: 152px;
}

.read_only_input{
  cursor: default;
  box-shadow: none!important;
  background-color: #F4F2F2!important;
  border-radius: 0;

}

.read_only_input:focus{
  cursor: default;
  box-shadow: none!important;
  background-color: #F4F2F2!important;
  border-radius: 0;
  border-color: #ccc!important;
}


.variant_table tr td:last-child:before {
  content: url(../icons/checkbox.png);
}

.variant_table tr.selected td:last-child:before {
  content: url(../icons/checkbox_selected.png);
}

.toggle-parent {
  width: 40px !important;
  height: 20px !important;
  border-radius: 20px !important;
  background-color: #ffe566;
  border-color: #cccccc !important;
}

.toggle-label-on {
  background-color: #4abc91 !important;
  border-color: transparent !important;
  padding-right: 12px;
}

.toggle-label-on.btn-primary:hover {
  background-color: #4abc91 !important;
  border-color: transparent !important;
}

.info-lock, .info-unlock {
  opacity: 0.5;
}

.info-lock.active,
.info-unlock.active {
  opacity: 1;
}

.btn.toggle-off, .btn.toggle-off:hover, .btn.toggle-off:focus {
  background-color: #ef3f3f !important;
}

.icon-icon-peq-pasta {
  padding-right: 5px;
}

.icon-bloqueado{
  padding-top: 10px;
}

.icon-desbloquear{
  padding-top: 5px;
  padding-left: 5px;
}

.ios{
  min-height: 18px!important;
}

.toggle-group{
  font-size: 1px!important;
}

.toggle.btn{
  min-width: 20px!important;
}

.new_toggle{
  margin: 0 5px 0 5px;
  width: 36px!important;
}

.hidden_message{
  display: none;
}

#selectable_cont2{
  z-index: 1052!important;
}

.ui-selectable-helper {
  background-color: rgba(255, 211, 0, 0.6);
  border: 1px solid #FFD300;
  z-index: 10000 !important;
  //position: absolute;
}

.link_to_page_section{
  border-bottom: 1px solid #f0f0f0;
  display: block;
  padding: 15px 10px;
}

.link_to_page_section.active{
 background-color: #ffe466;
}

.no_padding_panel{
  padding-bottom: 0;
  padding-top: 0;
}

.delete_modal_record_drop{
  min-width: 200px;
}

.checkbox-default.disabled{
  cursor: not-allowed;
}

#embed-folder .upload-folder {
  padding: 15px 15px;
}


.input_in_table{
  border: medium none;
  padding: 10px;
  width: 50px;
}

.input_in_table:focus{
  border: 1px solid #d3d3d3;
}

.input_form_data_table{
  display: inline-block;
}

.red{
  color: red;
}

.orange{
  color: #f39727;
}

.loading_table_stock_image{
  height: 35px;
  left: 5px;
  position: absolute;
  top: 2px;
  width: 35px;
  display: none;
}

.loading_table_price_image {
  height: 30px;
  left: 40px;
  position: absolute;
  top: 2px;
  width: 30px;
  display: none;
  z-index: 10;
}

.margem_5{
  margin-top: 5px ;
}



.pic-circle-corner2{
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 50%;
  display: inline-block;
  padding: 0 9px 0;
}

.profile_no_pic{
  background-color: #F0F0F0;
  padding: 2px 5px 0;
}

.image_user_picked{
  display: none;
}

.image_user_picked2{
  width: 30px;
  height: 30px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 50%;
}

.input_container .input-group-addon{
  background-color: #ffffff;
  border: none;
  cursor: pointer;
}

.user_definitions_profile{
  display: none;
}

.pannel_address{
  border: 1px solid #F0F0F0;
  padding: 5px;
  margin-top: 5px;
}

.ac_anchor{
  display: inline-block;
  margin-bottom: 5px;
}

.inline-block-delete{
  display: inline-block;
  margin-top: 2px;
}

//#back_admin_user, #reserved_user{
//  display: none;
//}

.no_margin_row{
  margin: 0!important;
}

.date_order{
  text-transform: capitalize!important;
}

.block_position{
  display: block;
}

.black{
  color: black;
}

.border_panel{
  border: 1px solid #ddd !important;
}

.loading_default{
  width: 90px;
  display: none;
}

.dependent_table{
  display: none;
}

.icon_delete_inside_view{
  display: inline-block;
  height: 53px;
  margin-right: -15px;
  padding-left: 15px!important;
  padding-right: 15px!important;
  padding-top: 16px!important;
  vertical-align: middle;
}
.icon_delete_inside_view_show{
  display: inline-block;
  height: 53px;
  padding-left: 15px!important;
  padding-right: 15px!important;
  padding-top: 16px!important;
  vertical-align: middle;
}


.list_magicsuggest .ms-sel-ctn.ms-stacked .ms-sel-item {
  background-color: #ffffff !important;
  border-color: #ffffff !important;
  padding: 10px 0;
  margin: 0;
  border-bottom: 1px solid #cccccc !important;
  position: relative;
}

.list_magicsuggest .ms-sel-ctn.ms-stacked .ms-sel-item .profile_no_pic {
  padding: 5px 5px 0;
}

.list_magicsuggest .ms-stacked .ms-sel-item .ms-close-btn {
  position: absolute;
  right: 40px;
  top: 15px;
  margin: 0;
}

.list_magicsuggest .ms-stacked .ms-sel-item .padding-divs {
  padding: 5px 15px;
}

.list_magicsuggest .ms-stacked .ms-sel-item .padding-company-divs {
  padding: 5px 30px;
}

.list_magicsuggest .ms-stacked .ms-sel-item .ms-close-btn {
  margin: 0 !important;
  background-image: none !important;
  width: 12px !important;
  height: 12px !important;
  top: 20px;
}

.list_magicsuggest .ms-sel-ctn .ms-sel-item .ms-close-btn:before {
  font-family: "untitled-font-3" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: '\2c';
}

/**/
.list_magicsuggest_2 .ms-sel-ctn {
  width: 100% !important;
}

.list_magicsuggest_2 .ms-sel-ctn.ms-stacked .ms-sel-item {
  background-color: #ffffff !important;
  border-color: #ffffff !important;
  padding: 10px 0 10px 10px;
  margin: 0;
  border-bottom: 1px solid #cccccc !important;
  position: relative;
}

.list_magicsuggest_2 .ms-sel-ctn.ms-stacked .ms-sel-item .profile_no_pic {
  padding: 5px 5px 0;
}

.list_magicsuggest_2 .ms-stacked .ms-sel-item .ms-close-btn {
  position: absolute;
  right: 10px;
  top: 15px;
  margin: 0;
}

.list_magicsuggest_2 .ms-stacked .ms-sel-item .padding-divs {
  padding: 5px 15px;
}

.list_magicsuggest_2 .ms-stacked .ms-sel-item .padding-company-divs {
  padding: 5px 30px;
}

.list_magicsuggest_2 .ms-stacked .ms-sel-item .ms-close-btn {
  margin: 0 !important;
  background-image: none !important;
  width: 12px !important;
  height: 12px !important;
  top: 10px;
}

.list_magicsuggest_2 .ms-sel-ctn .ms-sel-item .ms-close-btn:before {
  font-family: "untitled-font-3" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: '\2c';
}
/**/

.table.profile_render_table {
  margin-bottom: 0;
}

.table.profile_render_table td {
  display: table-cell;
  vertical-align: middle;
}

.no_padding_top td:first-child {
  padding-top: 0!important;
}

.grey2{
  background-color: #fafafa;
  padding: 5px;
}

.grey3{
  background-color: #fafafa;
  padding: 5px 5px 5px 10px;
}

.clickable_url {
  cursor: pointer;
}

.modal-eliminar2{text-align: left; border-top: none; position: relative; display: table; width: 100%;}

.min_padding_table tr td{
  padding: 15px!important;
}

#empty_list, .empty_list{
  text-align: center;
  padding: 20px 0 10px 0;
  display: none;
}

.item_yellow {
  background-color: #FFD200;
  padding: 10px;
  margin: 3px;
  display: inline-block;
}

.info_message{
  border-radius: 0!important;
  margin-bottom: 0!important;
}

.new_message_popup{
  position: fixed;
  right: 0;
  top: 70px;
  z-index: 999999;

}

.new_message_popup .alert{
  background-color: white;
}

@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translate3d(0, -100%, 0);
  }

  to {
    opacity: 1;
    transform: none;
  }
}

.fadeInDown {
  animation-name: fadeInDown;
  animation-duration: 1s;
  animation-fill-mode: both;
}

@keyframes fadeOutUp {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
    transform: translate3d(0, -100%, 0);
  }
}

.fadeOutUp {
  animation-name: fadeOutUp;
  animation-duration: 1s;
  animation-fill-mode: both;
}

.main_logo{
  width: 140px;
}

.preview-modal {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 10000000000;
  background-color: #ffffff;
}

.layout_desktop iframe {
  width: 100%;
  height: 800px;
  border: 1px solid #cccccc;
}

#email_preview .modal-dialog {
  width: 95%;
}

.mobile_form {
  display: none;
}

.layout_mobile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 800px;
}

.layout_mobile iframe {
  width: 320px;
  height: 500px;
  border: 2px solid #cccccc;
  background: #ffffff;
}

.desktop_window {
  background-color: #cccccc;
  padding: 5px 7px 2px 7px;
  border-radius: 4px 4px 0 0;
  border: 1px solid #cccccc;
}

.desktop_window .dot_icons {
  width: 15px;
  height: 15px;
  margin: 1.875px;
  display: inline-block;
  border-radius: 50%;
}

.desktop_window .dot_icons.dot_close {
  background-color: rgba(255, 0, 0, 0.4);
}

.desktop_window .dot_icons.dot_minimize {
  background-color: rgba(255, 255, 0, 0.4);
}

.desktop_window .dot_icons.dot_size {
  background-color: rgba(0, 128, 0, 0.4);
}

.desktop_sender {
  background-color: #fff;
  border-left: 1px solid #cccccc;
  border-right: 1px solid #cccccc;
  border-radius: 0;
  padding: 12px 20px;
  top: 0;
  width: 100%;
}

.desktop_sender p {
  margin: 0;
}

.sender_icon {
  background: #C0C0C0;
  display: inline-block;
  padding: 10px;
  color: #fff;
  font-size: 18px;
  border-radius: 50%;
  width: 45px;
  height: 45px;
  text-align: center;
  text-transform: uppercase;
}

.mobile_sender {
  padding: 5px 10px;
  background-color: #ffffff;
  border-radius: 10px;
  border: 2px solid #cccccc;
}

.mobile_header {
  padding: 12px 0 12px 0;
  text-align: center;
}

.mobile_header .mobile_sensor {
  display: inline-block;
  background-color: rgba(0, 0, 0, 0.5);
  margin: 2px;
  border-radius: 50%;
  width: 10px;
  height: 10px;
}

.mobile_header .mobile_phone {
  display: inline-block;
  background-color: rgba(0, 0, 0, 0.5);
  margin: 2px;
  border-radius: 20px;
  width: 50px;
  height: 10px;
}

.mobile_footer {
  padding: 12px 0 12px 0;
  text-align: center;
}

.mobile_footer .mobile_button {
  display: inline-block;
  background-color: rgba(0, 0, 0, 0.5);
  margin: 2px;
  border-radius: 50%;
  width: 50px;
  height: 50px;
}

.close_modal {
  float: right;
  padding: 15px;
  vertical-align: middle;
}

.success_saving_email {
  display: none;
}

.danger-message{
  display: none;
}

.hide_typologies{
  visibility: hidden;
}

.modal-body{
  position: relative;
  padding: 15px;
  padding-left: 30px;
  padding-right: 30px;
}

.select_location{
  margin-top: 18px;
  margin-left: -15px;
}

.analytics i{
  font-size:24px;
  font-weight: 300;
}

#table_views {
  overflow-y:scroll;
  height:400px;
}

#table_views > table > tbody > tr > td {
  height:60px;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.6px;
}

input.checkbox_class {
  visibility: hidden;
}

ul.list_icons{
  float: right;
  margin-top: 15px;
}

ul.list_icons > li.list_items{
  display: inline-block;
  margin-right: 20px;
  padding: 5px 10px;
}

ul.list_icons_users{
  float: right;
  margin-top: 3px;
}

ul.list_icons_users > li.list_items{
  display: inline-block;
  margin-right: 20px;
  padding: 5px 10px;
}

.icons-analytics{
  font-size: 26px;
}

.icons-analytics:before{
  vertical-align: middle;
}

ul.list_icons > li.button_clicked{
  background-color: #c0c0c0;
}

ul.list_icons_users > li.button_clicked{
  background-color: #c0c0c0;
}

.titulo-analytics{
  padding: 20px 40px 20px;
  display: inline-block;
  background-color: #FFD300;
  color: black;
  font-weight: 500;
  font-family: "Montserrat", sans-serif;
  font-size: 24px;
}

.row.doghnutChart{
  padding-top: 80px;
  padding-bottom: 50px;
}

.nav-analytics{
  border-bottom: none !important;
  background-color: #fafafa;
}

.nav-analytics > li > a{
  width: 150px !important;
  height: 100px !important;
}

.nav-analytics > li.active > a, .nav-analytics > li.active > a:hover, .nav-analytics > li.active > a:focus {
  color: #fff;
  background-color: #337ab7;
  border: 1px solid #ddd;
  border-bottom-color: transparent;
  cursor: default;
}

.titulo-users{
  width: 100%;
}

.usersChart {
  margin-top: 65px;
  height: 377px;
}

span.titulo-analytics > i {
  margin-right: 10px;
}

div.date_custom{
  background-color: #fafafa; 
  cursor: pointer; 
  border: none; 
  border-radius: 4px;
  padding:16px 20px;
  display: inline-block;
  text-transform: lowercase;
}

table.table-analytics tbody td{
  padding: 16px 10px !important;
}

.default-table2 tr td:last-child {
  text-align: left;
  width: 30px!important;
  padding-left: 35px;
}
.default-table2 th:last-child {
  text-align: left;
  width: 30px!important;
}

div.margin_section_geral{
  margin-bottom: 20px;
}

div.tabs-geral {
  text-align: left;
}

div.tabs-geral > i{
  display: block;
}

label.label_geral {
  cursor:pointer;
}

.label_geral input{
  display: none;
}



.not_selected_checkbox{
  color:#cacaca;
}

.graph_height{
  height:400px;
}

div.utilizadores_frequentes{
  width: 30%;
  background: #58B4C0;
  margin-left: 10%;
  margin-right: 10%;
  display: block;
  float: left;
  padding: 20px 10px;
  color: white;
  text-align: center;
}

div.utilizadores_novos{
  width: 30%;
  background: #1380C1;
  margin-left: 10%;
  margin-right: 10%;
  display: block;
  float: left;
  padding: 20px 10px;
  color: white;
  text-align: center;
}

div.graph_margin{
  margin-bottom: 57px;
}

