@charset "UTF-8";

@font-face {
  font-family: "untitled-font-3";
  src:url("fonts/untitled-font-3.eot");
  src:url("fonts/untitled-font-3.eot?#iefix") format("embedded-opentype"),
    url("fonts/untitled-font-3.woff") format("woff"),
    url("fonts/untitled-font-3.ttf") format("truetype"),
    url("fonts/untitled-font-3.svg#untitled-font-3") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "untitled-font-3" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "untitled-font-3" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-bloquear:before {
  content: "\61";
}
.icon-desbloquear:before {
  content: "\62";
}
.icon-alertas:before {
  content: "\64";
}
.icon-alterar-permissoes:before {
  content: "\65";
}
.icon-avatar:before {
  content: "\66";
}
.icon-avatar-person:before {
  content: "\67";
}
.icon-baixo:before {
  content: "\68";
}
.icon-bloqueado:before {
  content: "\69";
}
.icon-bloquear-1:before {
  content: "\6a";
}
.icon-categorias:before {
  content: "\6b";
}
.icon-categorias-deitado:before {
  content: "\6c";
}
.icon-cima:before {
  content: "\6d";
}
.icon-click-rato:before {
  content: "\6e";
}
.icon-conversas:before {
  content: "\6f";
}
.icon-copiar:before {
  content: "\70";
}
.icon-cortar:before {
  content: "\71";
}
.icon-criar-pasta:before {
  content: "\72";
}
.icon-dashboard-teste-1:before {
  content: "\73";
}
.icon-desbloquear-1:before {
  content: "\74";
}
.icon-direita:before {
  content: "\75";
}
.icon-docx:before {
  content: "\76";
}
.icon-editar:before {
  content: "\77";
}
.icon-editar-utilizador:before {
  content: "\78";
}
.icon-eliminar-imagem:before {
  content: "\79";
}
.icon-eliminar-user-destaque:before {
  content: "\7a";
}
.icon-email:before {
  content: "\41";
}
.icon-embed-upload:before {
  content: "\42";
}
.icon-esquerda:before {
  content: "\43";
}
.icon-flip-horizontal:before {
  content: "\44";
}
.icon-flip-vertical:before {
  content: "\45";
}
.icon-gestor-permissoes-teste-1:before {
  content: "\46";
}
.icon-group:before {
  content: "\47";
}
.icon-icon-embed:before {
  content: "\48";
}
.icon-icon-excel:before {
  content: "\49";
}
.icon-icon-lateral:before {
  content: "\4a";
}
.icon-icon-lateral-analytics:before {
  content: "\4b";
}
.icon-icon-lateral-calendario:before {
  content: "\4c";
}
.icon-icon-lateral-faqs:before {
  content: "\4d";
}
.icon-icon-lateral-gestao-permissoes:before {
  content: "\4e";
}
.icon-icon-lateral-paginas:before {
  content: "\4f";
}
.icon-icon-lateral-perfis:before {
  content: "\50";
}
.icon-icon-lateral-seo:before {
  content: "\51";
}
.icon-icon-pasta:before {
  content: "\52";
}
.icon-icon-pdf:before {
  content: "\53";
}
.icon-icon-peq-doc:before {
  content: "\54";
}
.icon-icon-peq-embed:before {
  content: "\55";
}
.icon-icon-peq-img:before {
  content: "\56";
}
.icon-icon-peq-img-size:before {
  content: "\57";
}
.icon-icon-peq-pasta:before {
  content: "\58";
}
.icon-icon-peq-som:before {
  content: "\59";
}
.icon-icon-peq-upload:before {
  content: "\5a";
}
.icon-icon-peq-video:before {
  content: "\30";
}
.icon-icon-powerpoint:before {
  content: "\31";
}
.icon-icon-som:before {
  content: "\32";
}
.icon-icon-upload-doc:before {
  content: "\33";
}
.icon-icon-upload-img:before {
  content: "\34";
}
.icon-icon-upload-som:before {
  content: "\35";
}
.icon-icon-upload-video:before {
  content: "\36";
}
.icon-icon-upload-zip:before {
  content: "\37";
}
.icon-icon-video:before {
  content: "\38";
}
.icon-icon-word:before {
  content: "\39";
}
.icon-info-extra:before {
  content: "\21";
}
.icon-info-extra-1:before {
  content: "\22";
}
.icon-linkar-utilizadores:before {
  content: "\23";
}
.icon-logistica:before {
  content: "\24";
}
.icon-mover:before {
  content: "\25";
}
.icon-mover-ficheiro:before {
  content: "\26";
}
.icon-mudar-nome:before {
  content: "\27";
}
.icon-novo-utilizador-1:before {
  content: "\28";
}
.icon-opcoes-comprimir:before {
  content: "\29";
}
.icon-opcoes-copiar:before {
  content: "\2a";
}
.icon-opcoes-download:before {
  content: "\2b";
}
.icon-pasta:before {
  content: "\2d";
}
.icon-pdf:before {
  content: "\2e";
}
.icon-perfis-teste-1:before {
  content: "\2f";
}
.icon-pergunta:before {
  content: "\3a";
}
.icon-permissoes:before {
  content: "\3b";
}
.icon-pesquisar-grande:before {
  content: "\3c";
}
.icon-pesquisar-peq:before {
  content: "\3d";
}
.icon-picker:before {
  content: "\3e";
}
.icon-ppt:before {
  content: "\3f";
}
.icon-recuperar:before {
  content: "\40";
}
.icon-recuperar-password:before {
  content: "\5b";
}
.icon-recuperar-password-cabecalho:before {
  content: "\5d";
}
.icon-recuperar-user-destaque:before {
  content: "\5e";
}
.icon-redimensionar:before {
  content: "\5f";
}
.icon-resposta:before {
  content: "\60";
}
.icon-roda-dentada:before {
  content: "\7b";
}
.icon-rodar-direira:before {
  content: "\7c";
}
.icon-rodar-esquerda:before {
  content: "\7d";
}
.icon-seta-baixo:before {
  content: "\7e";
}
.icon-seta-cima:before {
  content: "\5c";
}
.icon-seta-direita:before {
  content: "\e000";
}
.icon-som:before {
  content: "\e001";
}
.icon-subtema:before {
  content: "\e002";
}
.icon-telefone:before {
  content: "\e003";
}
.icon-tema:before {
  content: "\e004";
}
.icon-trocar-grupos:before {
  content: "\e005";
}
.icon-ultimo-login:before {
  content: "\e006";
}
.icon-upload:before {
  content: "\e007";
}
.icon-vendas:before {
  content: "\e008";
}
.icon-vendas-menu:before {
  content: "\e009";
}
.icon-video:before {
  content: "\e00a";
}
.icon-voltar:before {
  content: "\e00d";
}
.icon-xls:before {
  content: "\e00e";
}
.icon-zoom-in:before {
  content: "\e00f";
}
.icon-zoom-out:before {
  content: "\e010";
}
.icon-logo:before {
  content: "\e011";
}
.icon-vistas-galeria-cards-1:before {
  content: "\e012";
}
.icon-vistas-galeria-list-1:before {
  content: "\e013";
}
.icon-circulo-de-validacao-preenchido:before {
  content: "\e014";
}
.icon-circulo-de-validacao:before {
  content: "\e015";
}
.icon-sem-atributos:before {
  content: "\e016";
}
.icon-com-atributos:before {
  content: "\e017";
}
.icon-area-pessoal:before {
  content: "\e018";
}
.icon-carrinho:before {
  content: "\e019";
}
.icon-facebook:before {
  content: "\e01a";
}
.icon-instagram:before {
  content: "\e01b";
}
.icon-linkedin:before {
  content: "\e01c";
}
.icon-mail:before {
  content: "\e01d";
}
.icon-menu:before {
  content: "\e020";
}
.icon-pesquisar:before {
  content: "\e021";
}
.icon-pinterest:before {
  content: "\e022";
}
.icon-youtube:before {
  content: "\e024";
}
.icon-caminho:before {
  content: "\e025";
}
.icon-icon-direita:before {
  content: "\e026";
}
.icon-icon-esquerda:before {
  content: "\e027";
}
.icon-carro:before {
  content: "\e028";
}
.icon-carro:before {
  content: "\e028";
}
.icon-invisivel:before {
  content: "\e02b";
}
.icon-visivel:before {
  content: "\e02c";
}
.icon-mais:before {
  content: "\63";
}
.icon-adicionar:before {
  content: "\e01e";
}
.icon-wishlist:before {
  content: "\e023";
}
.icon-tumblr-1:before {
  content: "\e029";
}
.icon-twitter:before {
  content: "\e02d";
}
.icon-menos:before {
  content: "\e01f";
}
.icon-mover-encomenda:before {
  content: "\e02a";
}
.icon-opcoes-eliminar:before {
  content: "\2c";
}
.icon-pedir-recolha:before {
  content: "\e02e";
}
.icon-definicoes:before {
  content: "\e02f";
}
.icon-face:before {
  content: "\e030";
}
.icon-fax:before {
  content: "\e031";
}
.icon-ficha:before {
  content: "\e032";
}
.icon-genero:before {
  content: "\e033";
}
.icon-google-plus:before {
  content: "\e034";
}
.icon-idioma:before {
  content: "\e035";
}
.icon-instagram-1:before {
  content: "\e036";
}
.icon-links:before {
  content: "\e037";
}
.icon-linnked-in:before {
  content: "\e038";
}
.icon-morada:before {
  content: "\e039";
}
.icon-nascimento:before {
  content: "\e03a";
}
.icon-redes-sociais:before {
  content: "\e03b";
}
.icon-timeline:before {
  content: "\e03c";
}
.icon-trabalho:before {
  content: "\e03d";
}
.icon-twitter-1:before {
  content: "\e03e";
}
.icon-youtube-1:before {
  content: "\e03f";
}
.icon-vistas-galeria-cards:before {
  content: "\e00b";
}
.icon-vistas-galeria-list:before {
  content: "\e00c";
}
.icon-vermais-pequeno:before {
  content: "\e040";
}
.icon-4estrelas:before {
  content: "\e041";
}
.icon-360:before {
  content: "\e042";
}
.icon-bt-newsletter:before {
  content: "\e043";
}
.icon-bt-reservar:before {
  content: "\e044";
}
.icon-bt-seta:before {
  content: "\e045";
}
.icon-bt-social:before {
  content: "\e046";
}
.icon-cofinancia-compete:before {
  content: "\e047";
}
.icon-cofinancia-fundoseuropeus:before {
  content: "\e048";
}
.icon-cofinancia-portugal2020:before {
  content: "\e049";
}
.icon-essencia-amadeirada:before {
  content: "\e04a";
}
.icon-essencia-floral:before {
  content: "\e04b";
}
.icon-essencia-frutada:before {
  content: "\e04c";
}
.icon-essencia-natural:before {
  content: "\e04d";
}
.icon-social-facebook:before {
  content: "\e04e";
}
.icon-seta-scroll-subir:before {
  content: "\e04f";
}
.icon-seta-scroll:before {
  content: "\e050";
}
.icon-seta-reserva-selecao:before {
  content: "\e051";
}
.icon-seta-reserva-calendario:before {
  content: "\e052";
}
.icon-seta-idioma-moeda:before {
  content: "\e053";
}
.icon-playvideo:before {
  content: "\e054";
}
.icon-logotipo-simbolo-pequeno:before {
  content: "\e055";
}
.icon-logotipo-simbolo-grande:before {
  content: "\e056";
}
.icon-logotipo-e:before {
  content: "\e057";
}
.icon-vermais-medio:before {
  content: "\e058";
}
.icon-vermais-grande:before {
  content: "\e059";
}
.icon-social-youtube:before {
  content: "\e05a";
}
.icon-logotipo:before {
  content: "\e05b";
}
.icon-fechar:before {
  content: "\e05c";
}
.icon-social-twitter:before {
  content: "\e05d";
}
.icon-essencia-oriental:before {
  content: "\e05e";
}
.icon-social-instagram:before {
  content: "\e05f";
}
.icon-360-1:before {
  content: "\e060";
}
.icon-comodidades-babysitter:before {
  content: "\e061";
}
.icon-comodidades-business:before {
  content: "\e062";
}
.icon-comodidades-estacionamento:before {
  content: "\e063";
}
.icon-comodidades-lavandaria:before {
  content: "\e064";
}
.icon-comodidades-loja:before {
  content: "\e065";
}
.icon-comodidades-pequenoalmoco:before {
  content: "\e066";
}
.icon-comodidades-pets:before {
  content: "\e067";
}
.icon-comodidades-piscina:before {
  content: "\e068";
}
.icon-comodidades-recepcao:before {
  content: "\e069";
}
.icon-comodidades-restaurante:before {
  content: "\e06a";
}
.icon-comodidades-servicodequarto:before {
  content: "\e06b";
}
.icon-comodidades-wifi:before {
  content: "\e06c";
}
.icon-conceito-1:before {
  content: "\e06d";
}
.icon-conceito-2:before {
  content: "\e06e";
}
.icon-essencia-amadeirada-1:before {
  content: "\e06f";
}
.icon-essencia-cores-amadeirada:before {
  content: "\e070";
}
.icon-essencia-cores-floral:before {
  content: "\e071";
}
.icon-essencia-cores-frutada:before {
  content: "\e072";
}
.icon-essencia-cores-natural:before {
  content: "\e073";
}
.icon-essencia-cores-oriental:before {
  content: "\e074";
}
.icon-essencia-floral-1:before {
  content: "\e075";
}
.icon-essencia-frutada-1:before {
  content: "\e076";
}
.icon-essencia-natural-1:before {
  content: "\e077";
}
.icon-essencia-oriental-1:before {
  content: "\e078";
}
.icon-logotipo-simbolo-grande-1:before {
  content: "\e079";
}
.icon-seta-360:before {
  content: "\e07a";
}
.icon-apartamentos:before {
  content: "\e07b";
}
.icon-bt-detalhes:before {
  content: "\e07c";
}
.icon-bt-reservar-1:before {
  content: "\e07d";
}
.icon-duplo:before {
  content: "\e07e";
}
.icon-essencia-amadeirada-2:before {
  content: "\e07f";
}
.icon-essencia-floral-2:before {
  content: "\e080";
}
.icon-essencia-frutada-2:before {
  content: "\e081";
}
.icon-essencia-natural-2:before {
  content: "\e082";
}
.icon-essencia-oriental-2:before {
  content: "\e083";
}
.icon-single:before {
  content: "\e084";
}
.icon-suites:before {
  content: "\e085";
}
.icon-unidadesadaptadas:before {
  content: "\e086";
}
.icon-bt-outras-detalhes:before {
  content: "\e087";
}
.icon-bt-outras-reservar:before {
  content: "\e088";
}
.icon-bt-reservar-2:before {
  content: "\e089";
}
.icon-bt-seta-1:before {
  content: "\e08a";
}
.icon-bt-seta-esquerda:before {
  content: "\e08b";
}
.icon-bt-seta-naveg-slider:before {
  content: "\e08c";
}
.icon-caracteristicas-camas:before {
  content: "\e08d";
}
.icon-caracteristicas-capacidade:before {
  content: "\e08e";
}
.icon-caracteristicas-pequenoalmoco:before {
  content: "\e08f";
}
.icon-caracteristicas-unidadeadaptada:before {
  content: "\e090";
}
.icon-essencia-amadeirada-3:before {
  content: "\e091";
}
.icon-essencia-floral-3:before {
  content: "\e092";
}
.icon-essencia-frutada-3:before {
  content: "\e093";
}
.icon-essencia-natural-3:before {
  content: "\e094";
}
.icon-essencia-oriental-3:before {
  content: "\e095";
}
.icon-facilidades-ar:before {
  content: "\e096";
}
.icon-facilidades-cofre:before {
  content: "\e097";
}
.icon-facilidades-minibar:before {
  content: "\e098";
}
.icon-facilidades-telefone:before {
  content: "\e099";
}
.icon-facilidades-tv:before {
  content: "\e09a";
}
.icon-facilidades-wifi:before {
  content: "\e09b";
}
.icon-logotipo-simbolo-pequeno-1:before {
  content: "\e09c";
}
.icon-share-email:before {
  content: "\e09d";
}
.icon-share-fb:before {
  content: "\e09e";
}
.icon-share-tt:before {
  content: "\e09f";
}
.icon-360-2:before {
  content: "\e0a0";
}
.icon-area-comum:before {
  content: "\e0a1";
}
.icon-bt-seta-2:before {
  content: "\e0a2";
}
.icon-bt-seta-naveg-slider-1:before {
  content: "\e0a3";
}
.icon-casas-de-banho:before {
  content: "\e0a4";
}
.icon-check:before {
  content: "\e0a5";
}
.icon-equipa:before {
  content: "\e0a6";
}
.icon-essencia-amadeirada-4:before {
  content: "\e0a7";
}
.icon-essencia-floral-4:before {
  content: "\e0a8";
}
.icon-essencia-frutada-4:before {
  content: "\e0a9";
}
.icon-essencia-natural-4:before {
  content: "\e0aa";
}
.icon-essencia-oriental-4:before {
  content: "\e0ab";
}
.icon-logotipo-simbolo-pequeno-2:before {
  content: "\e0ac";
}
.icon-quartos:before {
  content: "\e0ad";
}
.icon-seta-360-1:before {
  content: "\e0ae";
}
.icon-share-email-1:before {
  content: "\e0af";
}
.icon-share-fb-1:before {
  content: "\e0b0";
}
.icon-share-tt-1:before {
  content: "\e0b1";
}
.icon-bt-seta-naveg-slider-2:before {
  content: "\e0b2";
}
.icon-check-1:before {
  content: "\e0b3";
}
.icon-mapa:before {
  content: "\e0b4";
}
.icon-bar:before {
  content: "\e0b5";
}
.icon-logotipo-simbolo-grande-2:before {
  content: "\e0b6";
}
.icon-restaurante:before {
  content: "\e0b7";
}
.icon-souvenirs:before {
  content: "\e0b8";
}
.icon-velas:before {
  content: "\e0b9";
}
.icon-workshops:before {
  content: "\e0ba";
}
.icon-bt-seta-3:before {
  content: "\e0bb";
}
.icon-pin-mapa:before {
  content: "\e0bc";
}
.icon-bt-outras-detalhes-1:before {
  content: "\e0bd";
}
.icon-bt-outras-reservar-1:before {
  content: "\e0be";
}
.icon-logotipo-simbolo-grande-3:before {
  content: "\e0bf";
}
.icon-bt-outras-detalhes-2:before {
  content: "\e0c0";
}
.icon-bt-outras-reservar-2:before {
  content: "\e0c1";
}
.icon-bt-reservar-3:before {
  content: "\e0c2";
}
.icon-bt-seta-esquerda-1:before {
  content: "\e0c3";
}
.icon-bt-seta-naveg-slider-3:before {
  content: "\e0c4";
}
.icon-check-2:before {
  content: "\e0c5";
}
.icon-logotipo-simbolo-grande-4:before {
  content: "\e0c6";
}
.icon-logotipo-simbolo-pequeno-3:before {
  content: "\e0c7";
}
.icon-seta-naveg-slider:before {
  content: "\e0c8";
}
.icon-share-email-2:before {
  content: "\e0c9";
}
.icon-share-fb-2:before {
  content: "\e0ca";
}
.icon-share-tt-2:before {
  content: "\e0cb";
}
.icon-bt-detalhes-1:before {
  content: "\e0cc";
}
.icon-bt-outras-detalhes-3:before {
  content: "\e0cd";
}
.icon-bt-seta-4:before {
  content: "\e0ce";
}
.icon-bt-seta-esquerda-2:before {
  content: "\e0cf";
}
.icon-logotipo-simbolo-pequeno-4:before {
  content: "\e0d0";
}
.icon-seta-naveg-slider-1:before {
  content: "\e0d1";
}
.icon-share-email-3:before {
  content: "\e0d2";
}
.icon-share-fb-3:before {
  content: "\e0d3";
}
.icon-share-tt-3:before {
  content: "\e0d4";
}
.icon-360-3:before {
  content: "\e0d5";
}
.icon-area-comum-1:before {
  content: "\e0d6";
}
.icon-bt-seta-5:before {
  content: "\e0d7";
}
.icon-casas-de-banho-1:before {
  content: "\e0d8";
}
.icon-check-3:before {
  content: "\e0d9";
}
.icon-equipa-1:before {
  content: "\e0da";
}
.icon-quartos-1:before {
  content: "\e0db";
}
.icon-seta-360-2:before {
  content: "\e0dc";
}
.icon-bt-seta-6:before {
  content: "\e0dd";
}
.icon-check-4:before {
  content: "\e0de";
}
.icon-energia-1:before {
  content: "\e0df";
}
.icon-energia-2:before {
  content: "\e0e0";
}
.icon-energia-3:before {
  content: "\e0e1";
}
.icon-energia-4:before {
  content: "\e0e2";
}
.icon-quadrantes:before {
  content: "\e0e3";
}
.icon-residuo-1:before {
  content: "\e0e4";
}
.icon-residuo-2:before {
  content: "\e0e5";
}
.icon-agua-1:before {
  content: "\e0e6";
}
.icon-agua-2:before {
  content: "\e0e7";
}
.icon-agua-3:before {
  content: "\e0e8";
}
.icon-agua-4:before {
  content: "\e0e9";
}
.icon-residuo-3:before {
  content: "\e0ea";
}
.icon-residuo-4:before {
  content: "\e0eb";
}
