<div class="toggler-container" ng-click="fire($event)">
    <span class="circle-toggle toggler-holder">
		<i class="info-lock icon-bloqueado icon25" ng-show="state==1" ng-style="{opacity: 0.5}"></i>
		<i class="info-lock icon-bloqueado icon25" ng-show="state==0" ng-style="{opacity: 1}"></i>
		<input id="{{togglerId}}" class="toggle-state" type="checkbox">
		<i class="info-unlock icon-desbloquear icon25" ng-show="state==1" ng-style="{opacity: 1}"></i>
		<i class="info-unlock icon-desbloquear icon25" ng-show="state==0" ng-style="{opacity: 0.5}"></i>
	</span>
</div>