body {
	font-family: 'Comfortaa', sans-serif;

}


h2 {
	font-size: 20px;
	font-weight: 700;
	text-transform: uppercase;
	margin-bottom: 30px;
	margin-top: 0;
	color: #27306c;

}

h3 {
	font-size: 18px;
	font-weight: 700;
	text-transform: uppercase;
}

h4 {
	font-size: 15px;
	font-weight: 700;
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.25), only screen and ( min-device-pixel-ratio: 1.25), only screen and ( min-resolution: 200dpi), only screen and ( min-resolution: 1.25dppx) {
	html{
		-webkit-font-smoothing: subpixel-antialiased; 
	}
}


.servicos_p {
	display: inline-flex;
}

.p_1, .p_2 {
	display: block;
	color: black;
}

.p_1 {
	color: #27306c;
	margin-bottom: 5px;
}

.p_2 {
	font-weight: 300;
}


.serv-list li:not(:last-child){
	margin-bottom: 15px;

}
.empresa-body {
	margin-top: 40px;
	margin-bottom: 30px;
}
.empresa-body p{
	font-weight: 300;
	font-size: 14px;
	color: black;
}

.empresa-body h2:not(:first-child){
	margin-top: 30px;
}

.prod-title, .top-name {
	color: #27306c;
}

.prod-title h3 {
	margin: 0;
}

.top-name h4 {
	margin: 0;
}

.top-prod {
	padding-left: 15px;
}

.top-title-share {
	display: flex;
	justify-content: space-between;
}

.bot-prod {
	margin-top: auto;
	width: calc(100% - 120px);
	background-color: #e5f8fc;
	padding: 15px;
}
.prod-share {
	width: 120px;
	border-left: 1px solid #25b6d6;
}

.share-word {
	font-weight: 300;
	font-size: 10px;
	color: #25b6d6;
	text-transform: capitalize;
	padding-left: 10px;
	display: inline-block;
	position: absolute;
    top: -10px;
}

#top-menu {
	display: flex;
	justify-content: space-between;
	margin-top: 30px;
}
.links-list {
	list-style: none;
	margin: 0;
	padding: 0;
	text-transform: uppercase;
	font-size: 12px;
}


.links-list li {
	display: inline-flex;
	align-items: center;
	margin-right: 15px;
}

.links-list li:last-child{
	margin-right: 0;
}

.links-list li:not(:last-child):after{
	content: "";
	display: inline-block;
	height: 20px;
	width: 1px;
	background-color: #25b6d6;
	margin-left: 15px;
}

.links-list a{
	color: #000;
}

#menu-squares {
	margin-top: 30px;
}

.squares-wrap {
	display: flex;
	flex-wrap: wrap;
	margin-left: -5px;
	margin-right: -5px;
}

.square-el {
	position: relative;
  flex-basis: calc(25% - 10px);
  margin: 5px;
  box-sizing: border-box;
}

.square-el:after {
	content: "";
	display: block;
	padding-bottom: 100%;
}


.cover {
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}

.overlay-square {
	position: absolute;
	left: 15px;
	bottom: 15px;
	right: 15px;
	background-color: rgba(39,48,108,0.6);
	height: 33.33333%;
	transition: all 0.5s ease;
}


.active .overlay-square{
	top: 15px;
	height: auto;
}

.sec-title {
	letter-spacing: 0.5px;
	font-weight: 700;
	font-size: 24px;
	text-transform: uppercase;
	color: white;
	margin-bottom: 5px;
}

.square-text {
	position: absolute;
	bottom: 30px;
	width: 100%;
	padding: 0 15px;
	text-align: center;
}

.know-more {
	font-weight: 300;
	font-size: 12px;
	color: white;
}

.know-more:before {
	content: "";
	width: 50px;
	height: 1px;
	background-color: white;
	display: block;
	margin: 0 auto;
	margin-bottom: 5px;
}

#hero {
	overflow: hidden;
	margin-top: 5px;
	height: 440px;
	background-size: 101%;
}

#search-bar {
	padding: 15px;
	background-color: #e7e8e8;
}

.search-list {
	list-style: none;
	text-transform: uppercase;
	font-size: 15px;
	display: flex;
	justify-content: space-between;
	padding:0;
	margin:0;
}

.search-list li {
	display: inline-block;
	text-align: center;
	width: 100%;
	position: relative;

}

.search-list li a { 
	color: black;
 }

.search-list li:not(:last-child):after{
	content: "";
	display: inline-block;
	height: 20px;
	width: 1px;
	background-color: #25b6d6;
	position: absolute;
	right: 0;
}

.search-input {
	flex-basis: 400%;

}

.bot-list {
	margin-top: 10px;
}

.search-input:after {
	content: none;
	display: none !important;
}
.search-input input{
	width: 100%;
	text-align: right;
	background-color: white;
	border: none;
	box-shadow: none;
	outline: none;
	padding-right: 15px;

}

.index-body {
	margin-top: 30px;
}

.title-label {
	font-size: 18px;
	color: #26306a;
	font-weight: 700;
	text-align: center;
	padding: 15px;
	line-height: 18px;
	text-transform: uppercase;
	background-color: #e7e8e8;
}


#calendar {
	margin-bottom: 15px;
}

#calendar .datepicker-inline, #calendar .table-condensed {
	width: 100%;
}

.datepicker-switch {
	padding: 15px 0 !important;
	text-transform: uppercase;
}
.logo-menu {
	    width: calc(25% - 5px);
}

.logo-menu img {
	margin: 0 auto;
	display: block;
}

.click_date {
	background-color: transparent;
	color: white;
	border-radius: 0;
}

.click_date a{
	color: white;
	position: relative;
}

.click_date:hover {
	background: transparent !important;
}

.click_date a:before {
	content: "";
	display: block;
	position: absolute;
	left: -5px;
	right: -5px;
	top: -5px;
	bottom: -2px;
	background-color: #3b59a6;
	z-index: -1;
}

.click_date:hover a {
	text-decoration: none;
}

.click_date:hover a:before {
	background-color: #8ca8cc;
}

.datepicker table tr td.active.active {
	background-color: transparent !important;
	background-image: none !important;
}

.next-events {
	position: relative;
	overflow: hidden;
	margin-bottom: 15px;
}

.top-event {
	display: flex;
	justify-content: space-between;
}

.one-event {
	color: #26306a;
	font-size: 14px;
	padding:15px 15px;
	
}

.top-event {
	font-weight: 700;
}

.tipo-event {
	text-transform: capitalize;
}

.separator {
	width: 100%;
	height: 1px;
	background-color: #bde9f2;
}

.event-link {
	display: block;
	transition: all 0.5s ease;
	
}
.event-link:hover {
	text-decoration: none;
	
}

.event-link:hover {
	 background-color: #f2f2f2;
}


.go-prev {
	cursor: pointer;
	display: inline-block;
	margin: 10px;
}

.go-next {
	cursor: pointer;
	display: inline-block;
	margin: 10px;

}

.disabled_arr {
	pointer-events: none;
	opacity: 0.2;
}

.next-events-options {
	text-align: right;
}

.datepicker table tr td.disabled, .datepicker table tr td.disabled:hover {
	color: black !important;
}

.old.day, .new.day {
	opacity: 0;
}

.highlighted.day {
	background-color: #fcfcfc !important;

}

.dow {
	border-radius: 0 !important;
	background-color: #fcfcfc;
}

.prod-img {
	position: relative;
	width: 100%;
	height: 200px;
}

.icons-list {
	list-style: none;
	margin:0;
	padding:0;
	text-align: right;
	margin-top: 10px;
}

.icons-list li {
	margin: 0 5px;
	display: inline-block;
}


.height-200 {
	display: flex;
	flex-direction: column;
	height: 200px;
}



.prod-line {
	display: flex;
	font-size: 12px;
}

.info-title {
	text-transform: capitalize;
}

.info-value {
	color: #27306c;
}


.half {
	width: 50%;
	display: inline-block;
}

.mar-top-15 {
	margin-top: 15px;
}

.home-prod {
	padding-bottom: 30px;
	margin-top: 30px;
}
.home-prod:not(:last-child){
	border-bottom: 1px solid #27306c;

}
.home-prod:first-child{
	margin-top: 0;
}


.home-prod:last-child{
	margin-bottom: 0;
}

.line-separator {
	width: 100%;
	height: 1px;
	background-color: #bde9f2;
}


.datepicker .prev, .datepicker .next, .datepicker-switch {
	border-radius: 0 !important
}
.datepicker .prev:hover, .datepicker .next:hover, .datepicker .datepicker-switch:hover,.datepicker table tr td span:hover, .datepicker table tr td span.focused {
	background-color: #e5f8fc;
}

.datepicker {
	padding: 0;
}

.datepicker table tr td span {
	border-radius: 0 !important;
}

.more-prod-bg {
	position: absolute;
	bottom: 15px;
	left: 15px;
	right: 15px;
	height: 65px;
	background-color: white;
	opacity: 0.7;
	transition: all 0.4s ease;
}

.more-prod-text {
	position: absolute;
	bottom: 30px;
	width: 100%;
	text-align: center;
	font-weight: 700;
	font-size: 12px;
	color: #27306c;
}




.more-prod-text:before {
	content: "";
	width: 50px;
	height: 1px;
	background-color: #27306c;
	display: block;
	margin: 0 auto;
	margin-bottom: 5px;
}

.prod-img:hover .more-prod-bg {
	height: 170px;
}

#footer {
	margin-top: 30px;
	padding: 30px 0;
	background-color: #e4e5e6;
}

.logo-footer img{
	width: 85px;
}

.footer-list {
	width: 100%;
	list-style: none;
	margin: 0;
	padding: 0;
	 -moz-column-count: 2;
    -moz-column-gap: 20px;
    -webkit-column-count: 2;
    -webkit-column-gap: 20px;
    column-count: 2;
    column-gap: 20px;
}

.footer-list li a, .footer-list li a:hover, .footer-list li a:focus {
	color: black;
	text-decoration: none
}

.displ-flex {
	display: flex;
}

.mid-footer {
	display: flex;
	align-items: center;
	border-left: 1px solid #858aa8;
	border-right: 1px solid #858aa8;
}


.footer-social-list {
	list-style: none;
	margin:0;
	padding: 0;
}

.footer-social-list li {
	display: inline-block;
	margin: 0 10px;
}

.footer-social-list li img {
	width: 10px;
}

.footer-social-list:last-child {
	margin-right: 0;
}

.footer-social-list li.go-up img {
	width: 45px;
}

.go-up {
	cursor: pointer;
}

.copyright {

	font-size: 10px;
	color: black;
	margin-top: auto;
	margin-left: auto;
	    width: 100%;
    text-align: right;
}

.copy-wrap {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.drop-wrap img{
	margin-bottom: 3px;
}

.drop-wrap {
	margin-left: 5px;
}


.menu-short {
	height: 50px;
	display: flex;
	align-items: center;
}

.menu-short:after {
	display: none;
}
.menu-short .sec-title {
	margin-bottom: 0;
}
.menu-short .square-text {
	position: relative;
	bottom: auto;
}
.overlay-full{
	background-color: rgba(39,48,108,0.6);
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
}

.menu-short {
	margin-bottom: 0;
}

.submenu {
	margin-bottom: 5px;
}
.submenu .square-el {
	margin-top: 0;
}

.submenu .sec-title {
	font-size: 17px;
	margin-bottom: 0;
}

.submenu .square-text {
	background-color: rgba(39,48,108,0.6);
	bottom: 0;
	padding: 15px 10px;
}

.link_sq {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	z-index: 10;
}


.text-area {
	height: 75px;
	background-color: #e5f8fc;
	width: 100%;
	padding: 10px;
	display: table;
}

.text-wrap {
	display: table-cell;
	vertical-align: middle;
}

.text-area-wrap{
	padding-left: 5px;
	padding-right: 5px;
}

.prod-row {
	margin-left: -5px;
	margin-right: 0;
}

.text-area-wrap.img-wrap {
	padding-right: 0;
}

.text-prod {
	font-size: 12px;
	line-height: 14px;
	text-align: center;
}

.top-prod-list {
	padding-left: 5px;
	display: flex;
	justify-content: space-between;
	margin-bottom: 10px;
}

.top-leilao-list {
	margin-top: 30px;
}

.prod-top-wrap {
	width: 100%;
	display: flex;
	margin-bottom: 30px;
}
.prod-top-wrap .prod-data, .prod-top-wrap .prod-files  {
	width: 50%;
	display: inline-block;
}


.prod-top-wrap .time-left {
	margin-top: 5px;
}
.time-left {
	color:#25b6d6;
	font-weight: 300;
	font-size: 18px;
	text-transform: uppercase;
}

.prod-img-list {
	position: relative;

	height: 140px;
}

.prod-img-list .more-prod-text{
	left: 0;
}

.prod-img-list:hover .more-prod-bg {
	height: 110px;
}

.each_prod {
	margin-bottom: 30px;
	margin-top: 30px;
}

.each_prod:first-child{
	margin-top: 0;
}


.each_prod:last-child{
	margin-bottom: 0;
}

.top-bar {
	margin-top: 30px;
}

.info {
	margin-top: 9px;
	font-size: 12px;
	font-weight: 300;
	color: black;
	line-height: 12px;
}

.files-share-list {
	list-style: none;
	margin: 0;
	padding: 0;
	line-height: 12px;
	width: 100%;
	display: flex;
	justify-content: flex-end;
	align-items: flex-end; 
}

.files-share-list li{
	display: inline-block;
	margin-right: 15px;
}

.files-share-list li a {
	color: black;
	text-decoration: none;
	font-size: 12px;
}

.file-icon {
	font-size: 24px;
	margin-right: 5px;
}

.files-share {
	display: flex;
    align-items: flex-end;
    height: 100%;
}


.width-80 {
	width: 80%;
}

.width-20 {
	width: 20%;
}

.files-share-list .icons-list li {
	margin-right: 0;
}

.files-share-list li:last-child{
	margin-right: 0;
}

.files-share-list .prod-share {
	width: auto;
	padding-top: 15px;
	position: relative;
}

.pad-5 {
	padding-left: 5px;
	padding-right: 5px;
}

.flex-col {
	display: flex;
	flex-direction: column;
}

.bot-prod-row {
	margin-top: auto;
}

.top-leilao-list .info-title{
	display: inline-block;
}

.top-leilao-list .info-value{
	display: inline-block;

}

.top-leilao-list .prod-title {
	margin-bottom: 2px;
	display: flex;
	justify-content: space-between;
}

.ref-top {
	font-size: 18px;
	font-weight: 400;
	color: #27306c;
	line-height: 18px;
}

.prod-dad {
	margin-top: 5px;
}

.top-bar .text-area-wrap {
	text-transform: capitalize;
}

.valor-area {
	border: 1px solid #27306c;
}

.participar {
	margin-left: 5px;
	margin-bottom: 15px;
}

.participar button {
	background-color: transparent;
	font-size: 12px;
	line-height: 12px;
	font-weight: 700;
	border: 2px solid #27306c;
	color: #27306c;
	padding:10px;
	text-transform: uppercase;
	transition: all 0.5s ease;
	padding-bottom: 8px;
}


.participar button:hover, .btn-line button:hover  {
	background-color: #27306c;
	color: white
}

.btn-line button {
	background-color: transparent;
	font-size: 12px;
	line-height: 12px;
	font-weight: 700;
	border: 2px solid #27306c;
	color: #27306c;
	padding: 5px 10px;
	text-transform: uppercase;
	transition: all 0.5s ease;
	margin-left: 5px;
}

.pane-div {
	position: absolute;
	right: 0;
	background-color: white;
	padding: 15px;
	padding-right: 0;
	padding-left: 0;
	margin-top: 15px;
	z-index: 1;
}

.links-menu {
	position: relative;
}

.input_wrap {
	display: flex;
}

.participar button.subscrever {
}

.top_inp {
	font-weight: 700;
	background-color: transparent;
	border: none;
	border-bottom: 1px solid #27306c;
}

.top_inp:focus {
	outline: none;
	box-shadow: none;
}

#newsletter {
}

.mar-inp {
	margin-left: 5px;
}

.prod-top-wrap .files-share-list .prod-share {
	width: 100px;
}

.mar-top-5 {
	margin-top: 5px;
}

.leilao-body {
	margin-top: 40px;
}

.row_line {
	padding: 10px 15px;
	display: flex;
	justify-content: space-between;
	font-size: 12px;
}

.top_r {
	background-color: #e5f8fc;
}

.default_r {
	padding: 10px 15px;
}

.default_r:not(:last-child) {
	border-bottom: 1px solid #e7e8e8;
}

.lance_r {
	background-color: #5b628d;
	color: white;
}

.login-area{
	font-size: 11px;
	width: 100%;
	text-align: center;
	padding: 15px;
	background-color: #e4e8e8;
}

.leilao-time {
	text-transform: uppercase;
	color:#25b6d6;
}

.prod-slide {
	height: 500px;
}

.prod-slide:focus {
	outline: none;
	border:none;
	box-shadow: none;
}

.slick-dots {
	list-style: none;
	padding: 0;
	margin-top:15px;
	text-align: center;
}

.slick-dots li {
	position: relative;
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 0 5px;
    padding: 0;
    cursor: pointer;
}

.slick-dots li button {
	font-size: 0;
    line-height: 0;
    display: block;
    width: 10px;
    height: 10px;
    padding: 5px;
    cursor: pointer;
    color: transparent;
    border: 0;
    outline: none;
    background: transparent;
}

.slick-dots li button:before {
    font-family: 'slick';
    font-size: 38px;
    line-height: 10px;
    position: absolute;
    top: 0;
    left: 0;
    width: 10px;
    height: 10px;
    content: '•';
    text-align: center;
    opacity: .25;
    color: #25b7d7;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    transition: all 0.2s ease-in;
}


.slick-dots li:hover button:before{
	opacity: 1;
}

.slick-dots li.slick-active button:before{
	opacity: 1;
}


.leilao-top-bot {
	margin-top: auto;
}

.leilao-top .prod-title {
	margin-bottom: 30px;
}

.prod-slider {
	overflow: hidden;
	height: 500px;
}
.teste {
	width: 600px;
	height: 200px;
}


.leilao-bot{
	font-size: 12px;
	margin-top: 30px;
}

.leilao-area {
	background-color: #e5f8fc;
	padding: 15px;
	margin-bottom: 15px;
}
.leilao-title {
	font-weight: 700;
	text-transform: uppercase;
	color: #27306c;
	margin-bottom: 15px;
}

.leilao-text {
	font-weight: 400;
	color: black;
	margin-bottom: 15px;
}

.leilao-text:last-child {
	margin-bottom: 0;
}

.leilao-text p:last-child{
	margin-bottom: 0;
}

#map {
	width: 100%;
	height: 350px;
}

.leilao-icons {
	margin-top: 15px;
}

.leilao-icons-list {
	list-style: none;
	margin:0;
	padding: 0;
}

.leilao-share {
	margin-top: 30px;
}

.leilao-share .icons-list {
	padding-top: 10px;
}

.leilao-icons-list a {
	color: black;
	text-decoration: none;
	font-size: 14px;
}

.leilao-icons-list li:not(:last-child) {
	margin-bottom: 15px;
}
.leilao-icons-list .file-icon{
	font-size: 36px;
	line-height: 14px;
	margin-right: 10px;
}

.leilao-icons-list .file-icon:before{
	vertical-align: bottom;
}

.leilao-visitas {
	margin-top: 15px;
}
.visitas {
	font-weight: 700;
	text-transform: uppercase;
	color: white;
}

.b {
	font-weight: 700;
	color:#27306c;
	text-transform: uppercase;
}

.half_div{
	padding-left: 7px;
		padding-right: 7px;
}

.leilao-tipo-row{
	margin-left: -7px;
	margin-right: -7px;
}

.leilao-tipo {
}

.leilao-title.type {
	margin-bottom: 0;
}

.leilao-icons-list {
	margin-top: 15px;
}

.empresa-list {
	font-size: 14px;
	list-style: none;
	margin:0;
	padding: 0;
	margin-left: 15px;
}

.empresa-list li {
	font-weight: 300;
}
.serv-list {
	margin-left: 0;
}

#biblio-menu{
	display: flex;
	margin-top: 5px;
	padding: 15px;
	background-color: #e7e8e8;
}


.biblio-search-list{
	list-style: none;
	text-transform: uppercase;
    font-size: 15px;
    padding: 0;
    margin: 0;
}


.biblio-search-list li{
	display: inline-flex;
    text-align: left;
    position: relative
}



.biblio-search-list li:not(:last-child):after{
	content: "";
	display: inline-block;
	height: 20px;
	width: 1px;
	background-color: #25b6d6;
	margin: 0 10px;
	margin-left: 15px;
}


.drop-4{
	 -moz-column-count: 4;
    -moz-column-gap: 20px;
    -webkit-column-count: 4;
    -webkit-column-gap: 20px;
    column-count: 4;
    column-gap: 20px;
}

.drop-3 {
	 -moz-column-count: 3;
    -moz-column-gap: 20px;
    -webkit-column-count: 3;
    -webkit-column-gap: 20px;
    column-count: 3;
    column-gap: 20px;
}

.drop-2 {

			 -moz-column-count: 2;
    -moz-column-gap: 20px;
    -webkit-column-count: 2;
    -webkit-column-gap: 20px;
    column-count: 2;
    column-gap: 20px;
}

.dropdown-list {
	padding: 15px;

      -webkit-column-rule: 1px solid #25b6d6;
     -moz-column-rule: 1px solid #25b6d6;
          column-rule: 1px solid #25b6d6;
}

.dropdown-list li a{
	color: black;
	text-transform: none;
	font-size: 12px;

}

.dropdown-list li {
	width: 200px;
	padding: 10px;
	text-align: left;

}

.biblio-search-list .dropdown-list li:after {
display: none;
content: none;
}

.dropdown-list-wrap {
	margin:0;
	padding: 0;
	border-radius: 0;
	top: calc(100% + 13px);
}

.history .prod-title {
	color: black;
}

.history .text-area {
	background-color: #f2f2f2;
}

.search-biblio{
	flex-grow: 1;
	margin-left: 15px;
}

.search-biblio .search-input-biblio{
	width: 100%;
}

.dropdown-toggle {
	cursor: pointer;
}


.history .text-prod {
	color: black;
}

.history .prod-img-list {
	-webkit-filter:grayscale(100%);
  -moz-filter:grayscale(100%);
  -o-filter:grayscale(100%);
  -ms-filter:grayscale(100%);
  filter:grayscale(100%);
}



#top-menu-mobile .logo-menu{
	z-index: 5;
}
#top-menu-mobile .logo-menu img{
	margin: 0;

	height: 50px;

}



.no-scroll {
	position: fixed;
	overflow-y: hidden;
}


#top-menu-mobile {
	background-color: white;
	padding: 15px;
	width: 100%;
	position: absolute;
	left: 0;
	z-index: 100;
	align-items: center;
	display: flex;
	justify-content: space-between;
}

 .icon_menu {
	position: relative;
}

.icon_pesquisa {
	margin-right: 15px;

}

.menu-icons{
	display: flex;
	align-items: center;
}

.open-menu {
	position: relative;

}


.menu-opened {
	position: fixed;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	z-index: 2;
	background-color: #e8e8e8;
	display: flex;
	align-items: center;
	justify-content: center;
	transform: translateY(-120%);
	transition: all 0.5s ease;
}

.set-menu {
	transform: translateY(0);
}
.menu-links-list {
	list-style: none;
	margin: 0;
	padding: 0;
}


.menu-links-list li{
	margin: 15px 0;
	text-align: center;
}

.menu-links-list li a{
	color: #26306a;
	font-weight: 700;
	text-align: center;
	text-transform: uppercase;
	font-size: 18px;
} 

#choose.open-list-class{

}

.open-list{
	margin: 10px 0;
}


#choose, #choose_2{
	font-weight: 700;
	color: #26306a;
	border: none;
	text-transform: uppercase;
	text-align: center;
	background-color: white !important;
	-webkit-appearance:none;
	border-radius: 0px;
    font-size: 18px;
    padding: 6px 8px 8px 5px;
    height: 34px;
    width: 100%;

}


.search-opened {
	position: fixed;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	z-index: 4;
	background-color: #27306c;
	display: flex;
	align-items: center;
	justify-content: center;
	transform: translateY(-120%);
	transition: all 0.5s ease;
}

.set-search {
	transform: translateY(0);
}

.open-list {
    position:relative;
}

.open-list select {
    position:absolute;
    top:0;
    left:0;
    opacity:0;
}

.sel-helper {
	text-transform: uppercase;
	font-weight: 700;
	color: white;
}

.mobile_search_input {
	text-align: center;
}

.search-mobile-options{
	text-align: center;
}
.link_go_to {
	text-align: center;
	margin: 10px 0;

}

.link_go_to a {
	text-transform: uppercase;
	color: white;
	font-weight: 700;
	text-align: center;
}

.mo_s_inp {
	padding-right: 30px;
	background-image: url('../assets/icons/search.svg'); 
	width: 215px;
	background-repeat: no-repeat;
	background-position: top right;
	background-size: 20px;
}

.mo_s_inp:focus {
	outline: none;
}

.close-icon {
	position: absolute;
	top: 15px;
	right: 5px;
	padding: 15px;
}


.files-mob {
	margin-bottom: 30px;
}

.files-mob .files-share {
	margin-top: 0;
}

.sep_line {
	height: 1px;
	width: 100px;
	background-color: #e7e8e8;
	margin: 0 auto;
	margin-top: 10px;
}

.drop-s {
	margin-left: 10px;
}

.drop-s img {
	height: 10px;
}

.link_go_to a {
	display: flex;
	justify-content: center;
	align-items: center;
}


.c_inp {
	display: block;
	border: none;
	width: 100%;
	margin: 15px 0;
	border-bottom: 1px solid #25b7d5;
	box-shadow: none;
	outline: none;
}

.marT80 {
	margin-top: 80px;
}

.contacts-wrap {
	padding-top: 50px;
}


#mapC {
	height: 500px;
	width: 100%;
}

.form-wrap {
	position: relative;
}
.form_btn {
	cursor: pointer;
	box-shadow: none;
	outline: none;
	border: none;
	background-color: #25b7d5;
	color: white;
	text-transform: uppercase;
	width: 100%;
	padding: 5px 10px;
	padding-bottom: 3px;
	text-align: left;
	background-image: url('../assets/icons/plane.svg');
	background-position: 98% center;
	background-size: 20px;
	background-repeat: no-repeat;
}

.contacts-wrap {
	display: flex;
}

.dspl_spc_btwn {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.contact-text-wrap h3{
	margin-top: 0;
}

.search-list-av {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.search-list-av li{
	display: inline-block;
	text-transform: capitalize;
	padding: 5px 15px;
	border: 2px solid #27306c;
	cursor: pointer;
	margin-right: 3px;
	    transition: all 0.5s ease
}


#mapAV {
	height: 500px;
	margin-top: 15px;
}

.inp_label {
	color: #27306c;
	font-weight: 700;
	margin-top: 15px;
	margin-bottom: 5px;
}


.select_av {
	width: 100%;
	height: 28px;
	font-size: 12px;
}

.inp_sp {
	font-size: 12px;
}
.inp_av {
	border: 1px solid darkgrey;
	padding: 0 5px;
	height: 28px;
	margin: 0 5px;
	-webkit-box-flex: 2;
	    -ms-flex: 2;
	        flex: 2;
	width: 100%;
}

.inp_av:focus{
	outline: 1px solid #27306c;
	border-color: #27306c;
}

.select_av:focus{
	outline: 1px solid #27306c;
	border-color: #27306c;
}
.inp_av.inp_w_100 {
	margin: 0;
}

.inps_wrap {
	widows: 100%;
	display: table;
}

.pesquisar-btn-wrap {
	text-align: right;
	margin-top: 25px;
}


.line-separator{
	height: 1px;
	width: 100%;
	background-color: #27306c;
	margin: 25px 0;
	margin-bottom: 10px;
}

.search-list-av li:hover{
	background-color: #27306c;
	color: white;
}

.search-list-av li.active {
		background-color: #27306c;
	color: white;
}

.error-message {
	margin-bottom: 10px;
	opacity: 0;
}

.inputs {
	transition: all 0.5s ease;

}

.inputs-wrap {
	position: relative;
}

.success-message {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	opacity: 0;
	z-index: -1;
	pointer-events: none;
	transition: all 0.5s ease;
}
.success-message h2{
	color: #9e9e9e;

	margin-bottom: 5px;

}

.top_av {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-top: 25px;
}

.top_av h4 {
	margin-top: 0;
	margin-bottom: 0;
}

.map_title {
	font-weight: 700;
	color: #27306c;
}

.map_link{
	color: #9e9e9e;
}

@media(min-width: 480px){
	
}

@media(min-width: 992px){	
	.height-500 {
		height: 500px;
	}
	.top-name {
		width: calc(100% - 120px);
	}

	.half_div {
		width: 50%;
		float: left;	
		position: relative;
	}
}


@media(max-width: 1200px){

	.sec-title {
		font-size: 20px;
	}

	.submenu .sec-title {
		font-size: 12px;
	}
}

@media(min-width: 991px) and (max-width: 1200px){
	.biblio-search-list {
		display: flex;
		justify-content: space-between;
		text-align: center; 
	}
		#biblio-menu {
		display: block;
	}
	.search-biblio {
		margin: 0;
		margin-top: 10px;
	}

	.biblio-search-list li:not(:last-child):after {
		margin-left: 25px;
	}
}

.mobile-articles-wrap ul {
	padding: 0;
	margin: 0;
	list-style: none;
}

.men-title{
	font-weight: 700;
	color: #27306c;
}

.mobile-articles-wrap .second-menu {
	margin-left: 10px;
}

.mobile-articles-wrap .first-menu li {
	margin: 20px 0;
}


.mobile-articles-wrap .second-menu li {
	margin: 5px 0;	
}

.mobile-articles-wrap .second-menu li a {
	color: #7c7c7c;
}

@media(max-width: 991px){
	

	.mobile-articles-wrap {
		position: fixed;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		overflow-y: scroll;
		background-color: white;
		z-index: 1000;
		padding: 25px;
		transform: translateX(-100%);
		transition: all 0.5s ease;
	}

	.set-bib {
		transform: translateX(0);
	}
	#biblio-menu{
		display: block;
	}
	.search-biblio {
		margin-left: 0;
		margin-top: 10px;	
	}

	.mobile-list-bib .biblio-search-list {
		display: flex;
		width: 100%;
		justify-content: center;
	}
	.top_av {
		display: block;
	}
	
	.footer-list {
		 -moz-column-count: 1;
	    -moz-column-gap: 0;
	    -webkit-column-count: 1;
	    -webkit-column-gap: 0;
	    column-count: 1;
	    column-gap: 0;
	    text-align: center;
	    width: 100%;
	    font-size: 12px;
	    margin-bottom: 10px;
	    /* display: table; */
	}

	.footer-social {
		text-align: center; 
		margin-bottom: 20px;
	}
	
	.footer-list li{
		margin-bottom: 15px;
	}
	
	.mid-footer {
		border: none;
	}

	.copyright{
		margin-left: 0;
		text-align: center;
	}
	.flex-col {
		display: block;
	}
	.prod-top-wrap .prod-data, .prod-top-wrap .prod-files {
		width: 100%;
	}
	.prod-top-wrap {
		display: block;
	}
	.top-leilao-list .prod-title {
		display: block;
	}

	.top-leilao-list .ref-top {
		margin-top: 15px;
		margin-bottom: 10px;
	}

	.input_wrap {
		text-align: right;	
	}
	.input_wrap .btn-line {
	margin-top: 15px;
	display: block;
	}

	#newsletter {
		width: 100%;
	}
	.top_inp{
		margin-bottom: 10px;
		width: 100%;
	}
	.input_wrap {
		display: block;
	}
	.mar-inp{
		margin-left: 0;
	}
	.pane-div {
		width: 100%;
	}
	.top-name {
		margin-top: 15px;
	}
	.index-body .height-200{
		height: auto;
	}
	.next-events-options {
		margin-bottom: 15px;
	}
	.bot-prod {
		width: 100%;
		margin-top: 15px;
	}
	.top-title-share {
		display: block;
	}
	.index-body .prod-img{
		margin-bottom: 15px;
	}
	#hero, .hero-slider, .hero-slide {
		height: 270px;
		background-size: cover;
	}
	.index-body {
		margin-top: 15px;
	}
	.links-menu{
		margin-bottom: 15px;
		width: 100%;
	}
	.links-list {
		font-size: 10px;
		text-align: center;
	}
	#top-menu{
		margin-top: 90px;
	}
	.top-prod-list .time-left{
		margin-top: 5px;
	}

	.files-share-list li{
		margin: 0;
		margin-top: 15px;
		text-align: center;
		width: auto;
		display: block;
	}

	.files-share-list li a span{
		display: block;
	}
	.participar {
		display: flex;
		justify-content: space-between;
	}

	.participar .prod-share {
		margin-right: 15px;
		position: relative;
	}

	.text-area-wrap.img-wrap {
		padding-right: 15px;
	}
	.displ-flex {
		display: block;
	}

	.text-area-wrap{
		margin-bottom: 10px;
	}
	.top-prod-list {
		display: block;
	}
	.text-area {
		padding: 15px;
		height: auto;
	}

	.mobile-title {
		font-size: 12px;
		font-weight: 700;
		display: inline;
	}

	.text-prod {
		display: inline;
		text-align: left;
	}

	.text-area-wrap.text-center{
		text-align: left;
	}


	.files-share-list .prod-share {
		width: 120px;
	}
	
	.prod-row {
		margin-left: -15px;
		margin-right: -15px;
	}

	.top-prod-list {
		padding-left: 15px;
		padding-right: 15px;
	}
	.participar {
		margin-left: 15px;
	}
	.text-area-wrap {
		padding-left: 15px;
		padding-right: 15px;
	}
	.pad-5 {
		padding-left: 15px;
		padding-right: 15px;
	}

	.files-share{
		margin-top: 15px;
	}
	
	.files-share-list {
		padding: 0 10px;
		display: flex;
		justify-content: space-between;
	}

	.files-share-list li.share-li {
		display: block;
		width: 120px !important;
	}

	.files-share-list .icons-list li {
		display: inline-block;
		width: auto;
	}
	.file-icon {
		margin: 0;
		margin-bottom: 10px;
	}
}

@media(max-width: 767px){

	#mapC {
		margin-top: 25px;
		height: 250px;
	}
	.prod-img-list {
		height: 50vw;
	}


	.contacts-wrap, .contacts-wrap .dspl_spc_btwn {
		display: block;
	}
	
	.prod-slider{
		margin-top: 25px;
	}

	.prod-slide {
		height: 350px;
	}
}

.logo-menu img{
	height: 88px;
}

.infos-wrap {
	    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 100%;
}

.move_map {
	cursor: pointer;
}

.top-b-search-icon {
	margin-left: 5px;
}

.top-b-search-icon img {
	height: 14px;
	margin-bottom: 4px;
}

.leilao-sidebar .prod-share{
	position: relative;
}


.no-data-here{
	min-height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center; 
}

.biblio_m .biblio-search-list > li a{
	color: black;
}
.biblio_m .biblio-search-list > li:first-child a{
	font-weight: 700;
}
.an-article p {
	margin: 0 0 25px;
}

.biblio-search-list li a {
	color: black;
}

.icons-list li a span {
	color: #68696c;
	font-size: 14px;
}


.files-share-vendas {
	justify-content: space-between;
}

.files-share-vendas .files-share-list{
	display: block; 
}


.voltar_bib {
	color: #27306c;
	font-weight: 700;
}



.input_wrap form{
	display: flex;
}

.fmm {
	position: fixed;
	bottom: 0;
	left: 0;
	z-index: 100000;
}

.hero-slider, .hero-slide {
	width: 100%;
	height: 440px;
}

.hero-slide:focus {
	outline: none;
	border: none;
	box-shadow: none;
}


.footer-icon {
	color: #68696c;
	font-size: 20px;	
}

.footer-icon:hover {
	text-decoration: none;
	color: #68696c;
}

.tab-content>.tab-pin.active {
    display: block !important;
	visibility: visible;
}

.tab-content>.tab-pin {
	visibility: hidden;
	position: absolute;
}


.tb_cell {
	display: table-cell;
}

input.tb_cell {
	width: 90%;
}


.new_style {
	    background-color: #5b628d;
    color: white;
    text-transform: uppercase;
    text-shadow: 0px 2px 6px #000000;
}

.new_style .b {
	color: white;
	line-height: 20px;
}

.new_style .t_sp {
	font-size: 12px;
    font-weight: 700;
}

.text-prod.text-left{
	text-align: left;
}

.val_div {
	line-height: 20px;
}

.l300 {
	font-weight: 300;
}

.c_slide {
	cursor: pointer;
	position: absolute;
    font-size: 50px;
    color: #25b7d7;
    z-index: 1;
    top: calc(50% - 22px);
    transform: translateY(-50%);
}

.prev_slide {
	left: 25px;
}


.next_slide {
	right: 25px;
}


.list_on_menu {
	    color: #26306a;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    font-size: 18px;
}


.list_on_menu .sel-helper{
	    color: #26306a;

}

.cred-body h3 {
	color: #27306c;
}

.inps_wrap_cred .inp_av {
	margin: 0;
}


.info_label {
	margin-top: 15px;
	font-size: 12px;
	color: #68696c;
}


/* Change the white to any color ;) */
input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 30px white inset;
}

.btn-line .cred-btn {
	margin: 0;
	margin-top: 15px;
}

.btn-line .cred-btn-t {
	margin-top: 5px;
}

.login-text {
	font-weight: 700;
	color: #27306c;
}


.m-t-20 {
	margin-top: 20px;
}


.m-t-10 {
	margin-top: 10px;
}


.login-body {
	min-height: calc(100vh - 648px);
}


.res-list {
	margin: 0;
	padding: 0;
}

.res-list li{
	display: inline-block;
	padding-right: 15px;
}

.res-list li a h3{
	color: #c0c0c0;
	margin: 0;
}

.res-list li.active a h3{
	color: #27306c;
	
}

.res-list li:first-child {
	margin-right: 10px;
	border-right: 1px solid #27306c;
}

.res-list li a:hover, .res-list li a:focus {
	text-decoration: none;
	border: none;
	outline: none;
	box-shadow: none;
}

.auction_label_wrap {
	display: flex;
	justify-content: flex-end;
	align-items: flex-end;
	height: 100%;
}

.auction_label {
	padding: 10px 15px;
}

.superada {
	background-color: #e4e8e8;
}

.primeiro {
	background-color: #5b628d;
	color: white;
}


.vend_share {
	position: absolute;
	right: 5px;
	width: auto;
}