@charset "UTF-8";

@font-face {
  font-family: "vias-e-rumos";
  src:url("fonts/vias-e-rumos.eot");
  src:url("fonts/vias-e-rumos.eot?#iefix") format("embedded-opentype"),
    url("fonts/vias-e-rumos.woff") format("woff"),
    url("fonts/vias-e-rumos.ttf") format("truetype"),
    url("fonts/vias-e-rumos.svg#vias-e-rumos") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "vias-e-rumos" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "vias-e-rumos" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-catalog:before {
  content: "\62";
}
.icon-condicoes:before {
  content: "\63";
}
.icon-copy:before {
  content: "\64";
}
.icon-facebook:before {
  content: "\65";
}
.icon-mail:before {
  content: "\66";
}
.icon-minuta:before {
  content: "\67";
}
.icon-seta-baixo:before {
  content: "\68";
}
.icon-seta-cima:before {
  content: "\69";
}
.icon-seta-direita:before {
  content: "\6a";
}
.icon-seta-drop:before {
  content: "\6b";
}
.icon-seta-esquerda:before {
  content: "\6c";
}
.icon-anuncio:before {
  content: "\61";
}
.icon-catalog-2:before {
  content: "\6d";
}
.icon-catalog-3:before {
  content: "\6e";
}
.icon-automovel:before {
  content: "\6f";
}
.icon-componentes-eletronicos:before {
  content: "\71";
}
.icon-embalagens:before {
  content: "\72";
}
.icon-listagem-pdf:before {
  content: "\73";
}
.icon-mapas:before {
  content: "\74";
}
.icon-play-video:before {
  content: "\75";
}
.icon-seta-slider:before {
  content: "\76";
}
.icon-barra-financiamento:before {
  content: "\70";
}
.icon-google-plus:before {
  content: "\77";
}
.icon-twitter:before {
  content: "\78";
}
