div.treeSearch {
    padding-bottom: 3px;
}

i.jstree-icon {
    line-height: 60px !important;
    margin-right: 10px !important;
}

div.jstree-wholerow,
.jstree-default .jstree-anchor {
    line-height: 50px !important;
    height: 50px !important;
}

div.js-tree-usage-container {
    height: 50px;
    width: 100%;
    padding: 7px 5px 0px 5px;
    margin-bottom: 20px;
    background-color: #fafafa;
}

div.js-tree-usage-content {
    display: inline-block;
    padding: 5px;
}

div.jstree-faqs {
    max-width: 100%;
}

input.jstree-rename-input,
a.jstree-anchor,
a.jstree-anchor * {
    display: inline;
    max-width: 95% !important;
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -webkit-pre-wrap;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    word-wrap: break-word;
    text-align: justify;
}

input.jstree-rename-input {
    max-width: 70% !important;
    line-height: 24px !important;
    height: 24px !important;
}

span.field-required {
    color: red;
}

.files-uploader {
    border: 1px solid #ffe566;
    background-color: #fafafa;
    margin: 15px 30px;
}

.padr-50px {
    padding-right: 50px;
}

div.files {
    padding: 24px 15px;
}
.file-upload {
    display: inline-block;
    position: relative;
    min-width: 100px;
    -webkit-box-shadow: 7px 7px 30px -7px rgba(0,0,0,0.62);
    -moz-box-shadow: 7px 7px 30px -7px rgba(0,0,0,0.62);
    box-shadow: 7px 7px 30px -7px rgba(0,0,0,0.62);
    margin: 0 20px 0 20px;
}

.file-info {
    background-color: white;
}

.file-info p {
    margin-bottom: 0 !important;
    padding: 5px 12px;
}

.file-info p:first-child {
    font-weight: 700;
}

.canvas-container {
    width: fit-content;
    margin: auto;
    text-align: center;
}

#files {
    cursor: pointer;
}

.file-cancel {
    position: absolute;
    right: 7px;
    top: 7px;
    cursor: pointer;
}

.file-info-size {
    color: #929396;
}

i.icon-icon-upload-doc {
    vertical-align: middle;
}

.upload_progress {
    display: none;
}

div.cke_contents {
    max-height: 300px;
}

span.cke_top {
    position: relative;
    border-bottom: none;
    background: none;
    background-image: none;
    filter: none;
    border-top: 7px solid black;
    -webkit-box-shadow: 0px 7px 15px -7px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 7px 15px -7px rgba(0,0,0,0.5);
    box-shadow: 0px 7px 15px -7px rgba(0,0,0,0.5);
}

span.cke_toolgroup {
    border: none;
    border-bottom-color: none;
    box-shadow: none;
    background: none;
    background-image: none;
    filter: none;
}

.cke_button_on,
.cke_button:hover,
.cke_button:focus,
.cke_button:active {
    background: #ffd300 !important;
    background-image: none !important;
    filter: none !important;
}

.form-background {
    background: #f0f1f1;
}

.margin-bottom-17px {
    margin-bottom: 17px;
}

.info-chars {
    color: #929497;
    font-size: 13px;
}

.cke_button__about {
    display: none !important;
}


.jstree-default .jstree-wholerow-hovered{

    background-color: #FFE566!important;
}

.jstree-default .jstree-wholerow.jstree-wholerow-clicked{
    background: #FFE566!important;
}