



.dropdown-gestao-grupos li{display: inline}
.add-new-user{
    margin-right: 10px;
    vertical-align: middle;
}

.user-options{
    width:18px!important;
    height:18px!important;
    background-color: #FFD200;
    background-position: center;
    display: inline-block;

}
.user-active-state{
    background-color: #FFF2B3;
}
.padding-locker{padding-left: 10px;padding-right: 10px}
.btn-group.open .btn-user-options{
    background-color: transparent!important;
}
.btn-user-options{
    border-width:0;
    background-color: transparent!important;
    /*
    background-position: center;
    background-color: transparent;
    display: inline-block;
    */
}
.btn-user-options:hover{
    background-color: transparent;
    /*
    background-position: center;
    display: inline-block;
    */
}

.dropdown-menu{
    border-radius: 0px!important;
    width: 100%;
}
.dropdown-menu-grupo{
    width: auto!important;
}
.remove-padding-dropdown{
    padding-top: 0px!important;
    margin-top: 0px!important;
    border-top: 0px!important;
}
.btn-group.open .dropdown-toggle{box-shadow: none!important;}

.modal-content{border-radius: 0px!important;}
.padding-top-20{padding-top: 20px}
.padding-top-10{padding-top: 10px}
.padding-bottom-20{padding-bottom: 20px}
.padding-bottom-30{padding-bottom: 30px}
.amarelo{background-color: #FFD300;}
.btn{border-radius: 0;}
.modal-eliminar{text-align: center; border-top: none}

.fonte_12_lato a {
    font-size: 12pt;
    font-family: 'Lato', sans-serif;
    color: black;
    font-weight: 400;
}

.fonte_12_lato_regular {
    font-size: 12pt!important;
    font-family: 'Lato', sans-serif!important;
    color: black;
    font-weight: 400!important;
}
.fonte_12_lato_light {
    font-size: 12pt!important;
    font-family: 'Lato', sans-serif!important;
    color: black;
    font-weight: 300!important;
}
.fonte_white_15_lato a {
    font-size: 12pt;
    font-family: 'Lato', sans-serif;
    color: white;
    font-weight: 300;
}

.modal-aux {
    text-align: center;
    padding: 0!important;
}

.modal-aux:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -4px;
}

.modal-dialog-aux {
    display: inline-block;
    text-align: left;
    vertical-align: middle;
}

.modal-dialog-create-user {
    width: 800px !important;
    max-height: 800px !important;
}



.toggle.ios, .toggle-on.ios, .toggle-off.ios { border-radius: 20px;}
.toggle.ios .toggle-handle { border-radius: 20px; }


.circle-toggle .btn-primary{
    background-color: #FFE566;
    border-color: transparent !important;
}

.circle-toggle .btn-default:hover{
    background-color: white !important;
}

.circle-toggle .btn-primary:active {
    border-color: #FFE566 !important;
}

.toggle-handle{
    width: 40px!important;
}

.btn.btn-default.btn-xs.active.toggle-off{
    opacity: 0.5;
}


.state-opacity-05{
    opacity: 0.5;
}

.state-opacity-1{
    opacity: 1;
}

.user-locked-info {
    text-align: center;
    border: 1px solid #E25656;
    padding: 5px 10px 5px 5px;
    font-family: 'Lato', sans-serif !important;
    color: #E25656;
    width: 90%;
    margin: auto;
    font-weight: 100 !important;
}

.alert-user-locked{
    margin-left: 20px;
    padding: 15px 15px 12px;
    display: inline-block;
    font-family: 'Lato', sans-serif;
    font-size: 12pt;
    font-weight: 400;
    color: #E25656;
    text-transform: lowercase;
}

.btn-unlock-user{
    border: 1px solid #ffffff;
    background-color: #E25656;
    text-align: center;
    padding: 5px 5px;
    padding-right: 20px;
    padding-left: 20px;
    color: #ffffff;
    cursor: pointer;
    font-family: 'Lato', sans-serif;
    font-size: 10pt;
    font-weight: 300;
}


.btn-recover-user-password{
    border: 1px solid #f1f2f2;
    background-color: #f1f2f2;
    text-align: center;
    padding: 5px 5px;
    color: black;
    cursor: pointer;
    font-family: 'Lato', sans-serif;
    font-size: 10pt;
    font-weight: 300;

}

.btn-connect-user-profile{
    border: 1px solid #f1f2f2;
    background-color: #f1f2f2;
    text-align: center;
    padding: 5px 5px;
    padding-right: 10px;
    padding-left: 10px;
    color: black;
    cursor: pointer;
    font-family: 'Lato', sans-serif;
    font-size: 10pt;
    font-weight: 300;

}

.pic-circle-corner {
    display: block;
    width: 150px;
//height: 150px;

    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}



.pic-circle-corner-create-user {
    display: block;
    width: 150px;
    height: 150px;
    margin: 0 auto;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-color: #F1F2F2;

    margin-top: 30px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}

.icon-create-user-color-padding{
    color: #d1d3d4!important;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 50px;
    padding-top: 0;
    padding-left: 0;
}

.pic-circle-corner-75 {
    display: block;
    width: 75px;
    height: 75px;

    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}

.user-name-edit-profile{
    font-size: 18pt!important;
    color: black;
    padding-left: 0px!important;
    height: 46px!important;
}
.user-position-edit-profile{
    font-size: 12pt!important;
    color: black;
    padding-left: 0px!important;
}

.padding-top-35{
    padding-top: 35px
}

.padding-top-20{
    padding-top: 20px
}


.fom-style-hidden-edit-user label{
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 12pt;
    color: #929497;
}

.fom-style-hidden label{
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 12pt;
}

.fom-style-hidden-edit-user input{
    color: black;
    box-shadow: none;
    border-radius: 0;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 12pt;
}

.fom-style-hidden2 label{
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 12pt;
}


.fom-style-hidden-edit-user input:focus{
    border: 1px solid lightgray;
    box-shadow: none;
}


.border-bottom-user-edit{
    border-bottom: 1px solid #F0F1F1
}

.margin-right-20{
    margin-right: 20px;
}

.btn-save-user{
    border: 1px solid #FFD200;
    background-color: #FFD200;
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
    text-transform: uppercase;
    font-size: 12pt;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    color: #000000;
}

.btn-save-user:hover {
    background-color: #FFD200;
}
.padding-bottom-10{
    padding-bottom: 10px;
}

.label-group-list{
    font-weight: 400!important;
}



.list-groups-in-user-profile{
    max-height: 500px;
}

.accordion-arrow {
    display: inline-block
}

.accordion-aux .accordion-arrow{
    width: 12px;
    height: 7px;
    background:url("../../../back/icons/dropdown_cima.png") no-repeat ;
    outline: none!important;
}

.accordion-aux .collapsed .accordion-arrow{
    background:url("../../../back/icons/dropdown_baixo.png") no-repeat ;
    outline: none!important;
}

.name-group:hover{
    color:inherit;
}

.form-control-disabled{

    background-color: white!important;
}
.form-control-back-gray{
    background-color: #f1f2f2!important;
}

.modal-dialog-create-user .form-group label{
    font-size: 12pt!important;
    font-family: 'Lato', sans-serif;
    font-weight: 400!important;
    color: black!important;
}

.modal-dialog-create-user .form-group input{
    font-size: 12pt!important;
    font-family: 'Lato', sans-serif;
    font-weight: 300!important;
    color: #939598!important;
}


.fonte_10_lato_regular{
    font-size: 10pt!important;
    font-family: 'Lato', sans-serif!important;
    color: black;
    font-weight: 400!important;
}
.font_12_lato_regular{
    font-size: 12pt!important;
    font-family: 'Lato', sans-serif!important;
    color: black;
    font-weight: 400!important;
}

.icon25{
    font-size: 25pt;
    vertical-align: middle;
}

.icon50{
    font-size: 50pt;
}

.icon80{
    font-size: 80pt;
}

.padding-left-15{
    padding-left: 15px;
}

.inline-images{
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    margin-right: 55px;
}



.action_multiple .btn-change-group{
    display: inline-block;
    padding: 10px;
    font-weight: 300;
    font-size: 15pt;
    font-family: 'Lato', sans-serif;
    color: #000000!important;
    background-color: transparent!important;
    border: none!important;
}


.padding-top-5{padding-top: 5px;}

.lista_menu select {
    display: none;
}

.lista_menu .multiselect-container {
    width: auto;
}

.form-group .fonte_12_lato_light_cinza_model_new_user,
.form-group .form-control-back-gray {
    background-color: #ffffff !important;
    border: 1px solid #cecece !important;
}

.form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control {
    background-color: #eeeeee !important;
    border: 1px solid #cecece !important;
    opacity: 1 !important;
}

#preview_file {
    height: 150px;
}