@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

$font-roboto: 'Roboto', sans-serif;

body {
  font-family: $font-roboto;
}

/* HOME */

.front_logo {
  width: 150px;
}

@-webkit-keyframes bounce-left {
  0%, 20%, 50%, 80%, 100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  40% {
    -webkit-transform: translateX(-15px);
    transform: translateX(-15px);
  }
  60% {
    -webkit-transform: translateX(-5px);
    transform: translateX(-5px);
  }
}

@keyframes bounce-left {
  0%, 20%, 50%, 80%, 100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  40% {
    -webkit-transform: translateX(-15px);
    transform: translateX(-15px);
  }
  60% {
    -webkit-transform: translateX(-5px);
    transform: translateX(-5px);
  }
}

@-webkit-keyframes bounce-right {
  0%, 20%, 50%, 80%, 100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  40% {
    -webkit-transform: translateX(15px);
    transform: translateX(15px);
  }
  60% {
    -webkit-transform: translateX(5px);
    transform: translateX(5px);
  }
}

@keyframes bounce-right {
  0%, 20%, 50%, 80%, 100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  40% {
    -webkit-transform: translateX(15px);
    transform: translateX(15px);
  }
  60% {
    -webkit-transform: translateX(5px);
    transform: translateX(5px);
  }
}

.bounce-left {
  -webkit-animation: bounce-left 2s infinite;
  animation: bounce-left 2s infinite;
}

.bounce-right {
  -webkit-animation: bounce-right 2s infinite;
  animation: bounce-right 2s infinite;
}

.scroll-section {
  z-index: 2;
  position: absolute;
  bottom: -50px;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  color: #a39161;
  text-transform: uppercase;
  -webkit-transition: opacity 2s ease-in-out;
  -moz-transition: opacity 2s ease-in-out;
  -ms-transition: opacity 2s ease-in-out;
  -o-transition: opacity 2s ease-in-out;
  transition: opacity 2s ease-in-out;
}

.scroll-section i:before {
  font-size: 30px;
  display: inline-block;
  vertical-align: middle;
  line-height: 0.5;
}

.scroll-section ul {
  list-style: none;
  padding: 0;
}

.scroll-section .scoll-line {
  border-left: 1px solid #a39161;
  height: 100px;
  width: 1px;
  margin: 0 auto;
  -webkit-animation: elasticus 1.2s cubic-bezier(1, 0, 0, 1) infinite;
  animation: elasticus 1.2s cubic-bezier(1, 0, 0, 1) infinite;
}

@-webkit-keyframes elasticus {
  0% {
    -webkit-transform-origin: 0% 0%;
    transform-origin: 0% 0%;
    -webkit-transform: scale(1, 0);
    transform: scale(1, 0);
  }
  50% {
    -webkit-transform-origin: 0% 0%;
    transform-origin: 0% 0%;
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
  }
  50.1% {
    -webkit-transform-origin: 0% 100%;
    transform-origin: 0% 100%;
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
  }
  100% {
    -webkit-transform-origin: 0% 100%;
    transform-origin: 0% 100%;
    -webkit-transform: scale(1, 0);
    transform: scale(1, 0);
  }
}
@keyframes elasticus {
  0% {
    -webkit-transform-origin: 0% 0%;
    transform-origin: 0% 0%;
    -webkit-transform: scale(1, 0);
    transform: scale(1, 0);
  }
  50% {
    -webkit-transform-origin: 0% 0%;
    transform-origin: 0% 0%;
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
  }
  50.1% {
    -webkit-transform-origin: 0% 100%;
    transform-origin: 0% 100%;
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
  }
  100% {
    -webkit-transform-origin: 0% 100%;
    transform-origin: 0% 100%;
    -webkit-transform: scale(1, 0);
    transform: scale(1, 0);
  }
}

.scroll-section li {
  display: inline-block;
}

.mask-background {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-image: url('../../icons/cms/degrade.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 2;
}

.home-content {
  height: 100vh;
  min-height: 460px;
  background-position: right;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.home-menu {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  //background-image: linear-gradient(to right, white, transparent 99%);
  z-index: 3;
  padding-top: 30px;
  width: 12%;
}

.home-section {
  z-index: 2;
}

.home-shop-menu {
  position: fixed;
  top: 0;
  right: 0;
  padding-top: 30px;
  padding-right: 20px;
  z-index: 3;
  background: rgba(255, 255, 255, .6);
}

.wishlist-menu {
  position: relative;
}

.wishlist-menu span {
  position: absolute;
  top: -7px;
  right: -10px;
  border-radius: 20px;
  background: #ffffff;
  color: #a39161;
  width: 20px;
  height: 20px;
  font-size: 12px;
  line-height: 19px;
  text-align: center;
  pointer-events: none;
  border: 1px solid rgba(163,145,97,.5);
  -webkit-box-shadow: 0 0 20px -4px rgba(163,145,97,1);
  -moz-box-shadow: 0 0 20px -4px rgba(163,145,97,1);
  box-shadow: 0 0 20px -4px rgba(163,145,97,1);
  font-weight: 600;
}

.shopping-cart span {
  position: absolute;
  top: -10px;
  right: -12px;
  border-radius: 20px;
  background: #ffffff;
  color: #a39161;
  width: 23px;
  height: 23px;
  font-size: 12px;
  line-height: 22px;
  text-align: center;
  pointer-events: none;
  border: 1px solid rgba(163, 145, 97, 0.5);
  box-shadow: 0 0 20px -4px #a39161;
  font-weight: 600;
}

.mobile-menu {
  display: none;
}

.auth-menu {
  position: absolute;
  background-color: #fff;
  -webkit-box-shadow: 0 0 20px -4px rgba(163,145,97,1);
  -moz-box-shadow: 0 0 20px -4px rgba(163,145,97,1);
  box-shadow: 0 0 20px -4px rgba(163,145,97,1);
  left: -160px;
  top: 100px;
  z-index: 4;
  padding: 30px;
  display: none;
}

.shopping-search,
.auth-li,
.shopping-cart {
  position: static !important;
}

.dropdown-backdrop {
  z-index: -1;
}

.auth-menu a {
  display: block;
  text-align: center;
  color: #a39161;
}

.cart-menu {
  position: absolute;
  top: 0;
  left: -347px;
  background-color: #fff;
  -webkit-box-shadow: 0 0 20px -4px rgba(163,145,97,1);
  -moz-box-shadow: 0 0 20px -4px rgba(163,145,97,1);
  box-shadow: 0 0 20px -4px rgba(163,145,97,1);
  padding: 30px 20px 20px 20px;
  z-index: 4;
  margin: 0;
  width: 350px;
}

.payment-method-summary {
  text-align: right;
  margin: 7px 0;
}

.payment-discount {
  font-weight: 600;
}

.comercial-discounts {
  padding-top: 95px;
}

.open > .dropdown-menu {
  display: block !important;
  opacity: 1 !important;
}

.cart-image {
  display: block;
  max-width: 100%;
  height: 100px;
  margin: 0 auto;
}

.cart-drop-title {
  text-align: center;
  margin: 10px 0;
}

.cart-drop-info {
  color: #444;
  padding-bottom: 10px;
}

.cart-menu hr {
  border-color: #444;
}

.cart-menu .item-count {
  text-align: center;
  color: #a39161;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.cart-menu .total-value {
  text-align: center;
  color: #a39161;
  margin-bottom: 20px;
}

.cart-menu .cart-checkout {
  text-align: center;
}

.cart-menu .btn-cart {
  color: #444444;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  text-transform: uppercase;
  border: 1px solid #444444;
  border-radius: 0;
  padding: 10px 80px;
  margin-bottom: 20px;
  position: relative;
}

.cart-menu .cart-page {
  text-align: center;
  font-size: 12px;
}

.cart-page a {
  color: #444444;
  text-decoration: none;
}

.search-menu {
  position: absolute;
  background-color: #fff;
  -webkit-box-shadow: 0 0 20px -4px rgba(163,145,97,1);
  -moz-box-shadow: 0 0 20px -4px rgba(163,145,97,1);
  box-shadow: 0 0 20px -4px rgba(163,145,97,1);
  left: -378px;
  top: 210px;
  z-index: 4;
}

.search-menu input {
  padding: 20px;
  margin: 0;
  border: #fff;
  width: 400px;
}

.search-menu .search-icon {
  font-size: 20px;
  vertical-align: middle;
  padding-left: 15px;
  color: #a39161;
}

.search-menu .cancel-search-icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  right: 10px;
  color: #a39161;
}

.search-menu .search-field {
  position: relative;
}

.view-results .results {
  padding: 0;
  margin: 0;
  border-top: 1px solid #a39161;
  max-height: 410px;
  overflow-y: scroll;
}

.view-results .search-result {
  display: block;
  padding: 10px 40px;
  font-size: 14px;
  width: 100%;
}

.view-results .search-result a {
  text-decoration: none;
  color: #a39161;
}

.view-results .search-result .result-img {
  width: 100px;
  height: auto;
  display: inline-block;
}

.languages-menu {
  position: relative;
  padding-left: 45px;
  color: #a39161;
  text-transform: uppercase;
  font-size: 16px;
}

.languages-menu .languages-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.languages-menu .languages-list li {
  padding: 10px 0;
  position: relative;
}

.languages-menu .languages-list li a {
  color: #a39161;
}

.languages-list .sub-menu {
  position: absolute;
  z-index: 2;
  left: 60px;
  top: -10px;
  padding: 5px;
  background: rgba(255, 255, 255, 0.6);
  width: 230px;
  text-align: center;
  -webkit-box-shadow: 0 0 20px -4px rgba(163,145,97,1);
  -moz-box-shadow: 0 0 20px -4px rgba(163,145,97,1);
  box-shadow: 0 0 20px -4px rgba(163,145,97,1);
}

.drop-languages-menu {
  width: 260px !important;
}

#select-language, #select-coin {
  display: none;
}

.language-option.selected a,
.coin-option.selected a {
  text-decoration: underline;
  font-weight: 600;
}

.languages-menu .languages-list .sub-menu li {
  list-style: none;
  display: inline-block;
}

.footer-menu {
  background-color: #ffffff;
  position: relative;
}

.footer-menu img {
  padding: 27px 10px;
  position: relative;
  z-index: 2;
}

.footer-menu .pages-footer {
  text-align: center;
  padding: 20px 0 20px 0;
}

.footer-menu .shipping-footer {
  text-align: right;
}

.pages-footer .pages-menu {
  margin: 0;
  padding: 0;
}

.pages-footer .pages-menu li a {
  color: #444444;
}

.pages-footer .pages-info {
  padding-top: 10px;
  font-size: 12px;
  text-transform: uppercase;
}

.pages-footer .pages-info a {
  color: #333333 !important;
}

.footer-dhl hr,
.pages-footer hr {
  display: none;
}

.pages-info span {
  padding-left: 5px;
}

.footer-menu .pages-menu li {
  display: inline-block;
  list-style: none;
  text-transform: uppercase;
  padding-left: 30px;
  font-size: 14px;
}

.footer-menu .footer-dhl {
  padding: 10px 20px;
}

.footer-menu .footer-dhl img {
  float: right;
  display: inline-block;
}

.footer-menu .footer-dhl .dhl-free-shipping {
  display: inline-block;
  padding-top: 24px;
  text-align: right;
  text-transform: uppercase;
  font-weight: 600;
}

.image-content {
  height: 100vh;
}

.first-section {
  height: 100vh;
}

.first-section .text-content {
  //position: absolute;
  position: fixed;
  width: 50%;
  top: 0;
  bottom: 0;
  left: -41.6%;
  //left: 0;
  right: 0;
  max-height: 330px;
  height: calc(100vh - 50%);
  margin: auto;
  text-align: center;
  padding-left: 150px;
}

.text-content .text-image {
  margin: 0 auto 60px auto;
  padding: 0 15px;
}

//.text-content .home-btn {
//  color: #a39161;
//  font-family: 'Roboto', sans-serif;
//  font-size: 16px;
//  text-transform: uppercase;
//  border: 1px solid #a39161;
//  border-radius: 0;
//  padding: 10px 35px;
//  position: relative;
//  margin: 0 20px;
//}

//.text-content .home-btn {
//  color: #a39161;
//  font-family: 'Roboto', sans-serif;
//  font-size: 16px;
//  text-transform: uppercase;
//  border: 1px solid #a39161;
//  border-radius: 0;
//  padding: 10px 35px;
//  position: relative;
//  margin: 1px 21px;
//  -webkit-transition-property: all;
//  -webkit-transition-duration: .2s;
//  -moz-transition-timing-function: cubic-bezier(100,50,21,6);
//  -moz-transition-property: all;
//  -moz-transition-duration: .2s;
//  -moz-transition-timing-function: cubic-bezier(100,50,21,6);
//}

//.text-content .home-btn:hover {
//  border: 2px solid #a39161;
//  margin: 0 20px;
//  font-size: 16px;
//  letter-spacing: 1px;
//  font-weight: 600;
//}

//.transparent-gold-btn:hover {
//  color: #a39161;
//  border: 2px solid #a39161;
//  margin: 0 20px;
//  padding: 10px 32px;
//  font-size: 16px;
//  letter-spacing: 1px;
//  font-weight: 600;
//}

//.text-content .home-btn:hover .btn-line-gold {
//  border: 1px solid #a39161;
//}

.image-content .image_2 {
  width: 100%;
  background-position: center!important;
  background-size: cover!important;
  height: 100%;
}

.secound-section {
  position: relative;
  height: 71vh;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 560px;
  z-index: 2;
  overflow: hidden;
  background-color: #ccc;
  margin-bottom: 25px;
}

.logo-tabs {
  padding: 0;
  margin: 0;
}

.logo-tabs li {
  display: inline-block;
  margin: 0 40px;
  text-transform: uppercase;
  font-size: 16px;
  color: #a39161;
  width: 110px;
  vertical-align: middle;
}

.logo-img {
  padding: 50px 15px;
}

.logo-img .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.logo-text {
  text-align: left;
  margin: auto;
  color: #a39161;
  font-size: 16px;
}

.logo-tabs .tab-logo {
  color: #a39161;
  text-decoration: none;
}

.logo-tabs li {
  opacity: .5;
}

.logo-tabs .active {
  opacity: 1;
}

svg .circle-w-line,
svg .circle-w-rect,
svg .rect-w-rect,
svg .line,
svg .cross,
svg .biblical,
svg .lust {
  opacity: 0.5;
}

.ornament_icons {
  max-width: 100%;
  height: auto;
  display: inline-block;
  padding: 0 8px;
}

.secound-section .section-title {
  list-style: none;
  padding: 0;
  margin-bottom: 60px;
}

.secound-section .section-title li {
  color: #fff;
  font-size: 28px;
  text-transform: uppercase;
}

.secound-section .section-description {
  color: #fff;
  font-size: 17px;
  margin-bottom: 80px;
}

.secound-section .section-btn {
  color: #fff;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  text-transform: uppercase;
  border: 1px solid #fff;
  border-radius: 0;
  padding: 15px 35px;
  position: relative;
  margin: 1px 21px;
  -webkit-transition-property: all;
  -webkit-transition-duration: .2s;
  -moz-transition-timing-function: cubic-bezier(100, 50, 21, 6);
  -moz-transition-property: all;
  -moz-transition-duration: .2s;
  -moz-transition-timing-function: cubic-bezier(100, 50, 21, 6);
}

.secound-section .section-btn:hover {
  border: 2px solid #fff;
  margin: 0 20px;
  font-size: 16px;
  letter-spacing: 1px;
  font-weight: 600;
}

.secound-section .section-btn:hover .btn-line-white  {
  border: 1px solid #fff;
}

.secound-section .video-content {
  display: table-cell;
  margin: auto;
  vertical-align: middle;
  z-index: 2;
}

.video-section {
  display: table;
  height: 100%;
  left: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 2;
}

video {
  position:absolute;
  z-index:0;
  width: 100%;
  min-height: 560px;
  opacity: 0;
  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -ms-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
}

#video_modal {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 10;
  background: rgba(163,145,97,.6);
  display: none;
}

#player {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  z-index: 11;
}

#video_modal .close-button {
  position: absolute;
  right: 0;
  top: 0;
  margin: 30px 75px;
  color: #fff;
  font-size: 25px;
  text-decoration: none;
  z-index: 12;
}

#video_modal .close-button a {

}

.no-scroll {
  overflow-y: hidden;
}

.third-section {
  text-align: center;
  z-index: 2;
}

.third-section .section-collection {
  display: table-cell;
  margin: auto;
  vertical-align: middle;
}

.third-section .collection-div {
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.third-section .background-img {
  padding: 0;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 290px;
  background-color: #fff;
}

.third-section .background-img .mask-third {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-image: linear-gradient(to left, white, rgba(255, 255, 255, 0) 40%);
}

.third-section .background-img img {
  background-image: linear-gradient(to right, rgba(0,0,0,.6), white 100%);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.collection-div {
  min-height: 290px;
  background: white;
}

.third-section .section-btn {
  color: #a39161;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  text-transform: uppercase;
  border: 1px solid #a39161;
  border-radius: 0;
  padding: 10px 35px;
  position: relative;
  margin: 1px 21px;
  -webkit-transition-property: all;
  -webkit-transition-duration: .2s;
  -moz-transition-timing-function: cubic-bezier(100, 50, 21, 6);
  -moz-transition-property: all;
  -moz-transition-duration: .2s;
  -moz-transition-timing-function: cubic-bezier(100, 50, 21, 6);
}

.third-section .section-btn:hover {
  border: 2px solid #a39161;
  margin: 0 20px;
  font-size: 16px;
  letter-spacing: 1px;
  font-weight: 600;
}

.third-section .section-btn:hover .btn-line-gold  {
  border: 1px solid #a39161;
}

.collection-info .collection-text {
  padding-bottom: 16px;
  font-size: 1.5rem;
}

.collection-info .collection-title {
  font-size: 36px;
  text-transform: uppercase;
  color: #a39161;
  padding-bottom: 40px;
}

.row-eq-height-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
}

.collection-products {
  max-height: 260px;
}

.collection-products img {
  margin: 0 auto;
  max-height: 290px;
}

.no-padding {
  padding: 0;
}

.vertical-align {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.edition-slider .flex-control-nav{
  width: 50%;
  position: absolute;
  left: 0;
  bottom: 65%;
  text-align: center;
  display: inline-block;
  z-index: 2;
}

.edition-slider .flex-control-paging li a {
  background-color: #fff;
  border: 1px solid #a39161;
  box-shadow: none;
}

.edition-slider .flex-control-paging li a.flex-active, .edition-slider .flex-control-paging li a:hover {
  background-color: #a39161;
}

.edition-info .edition-title {
  font-size: 36px;
  text-transform: uppercase;
  color: #a39161;
  padding-bottom: 20px;
}

.edition-info .edition-description {
  font-size: 16px;
}

.fourth-section {
  background: white;
}

.fourth-section .edition-image {
  position: relative;
}

.fourth-section .edition-image img {
  margin: 0 auto;
  height: 435px;
}

.fourth-section .edition-mask {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-image: -webkit-linear-gradient(left, white, transparent 40%);
  background-image: linear-gradient(to right, white, rgba(255, 255, 255, 0) 40%);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.fifth-section {
  position: relative;
  height: 46vh;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 460px;
  z-index: 2;
  background-color: #fff;
}

.fifth-section .section-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
}

.fifth-section .section-info {
  display: table-cell;
  vertical-align: middle;
}

.fifth-section .section-title {
  list-style: none;
  padding: 0;
  margin-bottom: 60px;
}

.fifth-section .section-title li {
  color: #a39161;
  font-size: 28px;
  text-transform: uppercase;
}

.fifth-section .section-description {
  color: #a39161;
  font-size: 18px;
}

.fifth-section .mask-section {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(255, 255, 255, 0.5);
  background-image: url("../../icons/cms/degrade.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.btn-line-gold {
  position: absolute;
  top: -7px;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  border-left: 1px solid #a39161;
  height: 17px;
}

.btn-line-black {
  position: absolute;
  top: -7px;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  border-left: 1px solid #000000;
  height: 17px;
}

.btn-line-white {
  position: absolute;
  top: -7px;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  border-left: 1px solid #ffffff;
  height: 17px;
}

.btn-line-contacts {
  position: absolute;
  top: -15px;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  border-left: 1px solid #a39161;
  height: 25px;
}

.btn-line-cart {
  position: absolute;
  top: -15px;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  border-left: 1px solid;
  height: 25px;
}

/* PORDUCTS */

.no-stock,
.gold-btn.no-stock:hover {
  background-color: #ccc !important;
  border-color: #ccc !important;
}

.product-content {
  margin-top: 30px;
  min-height: calc(100vh - 139px);
  padding-left: 58px;
}

.brand-logo img {
  padding-left: 45px;
}

.navigation-menu {
  list-style: none;
  text-transform: uppercase;
  color: #a39161;
  font-size: 16px;
  font-weight: 300;
  padding-left: 45px;
  margin-top: 90px;
  position: relative;
}

.list-filter a {
  text-decoration: none;
  color: #a39161;
}

.list-filter a.active {
  font-weight: 600;
  text-decoration: underline;
}

.list-filter .sub-menu {
  position: absolute;
  top: 20px;
  z-index: 2;
  padding: 10px;
  text-align: center;
  -webkit-box-shadow: 0 0 20px -4px rgba(163,145,97,1);
  -moz-box-shadow: 0 0 20px -4px rgba(163,145,97,1);
  box-shadow: 0 0 20px -4px rgba(163,145,97,1);
  background-color: #fff;
  margin-top: 10px;
  display: none;
}

.list-filter .sub-menu li {
  display: table-row;
}

.no-products {
  display: none;
  text-align: center;
}

.navigation-menu li a {
  padding: 10px 0;
}

.navigation-menu .sub-menu li a {
  padding: 0;
}

.social-menu li {
  text-transform: capitalize;
}


.navigation-menu li p {
  margin: 0;
}

.navigation-menu a {
  color: #a39161;
  display: inline-block;
}

.navigation-menu a:hover {
  font-weight: 700;
}

.navigation-menu li.active > a {
  font-weight: 700;
}

.navigation-menu .menu-separator {
  border-top: 7px solid #a39161;
  width: 30px;
  margin: 30px 0;
}

.navigation-menu .menu-separator li {
  padding: 10px 0;
}

.navigation-menu .sub-menu {
  display: none;
  list-style: none;
  text-transform: none;
  padding-left: 10px;
  font-size: 14px;
  padding-bottom: 15px;
}

.navigation-menu li.active > .sub-menu {
  display: block;
}

.list-filter {
  list-style: none;
  text-transform: uppercase;
  color: #a39161;
  font-size: 16px;
}

.list-filter li {
  display: inline-block;
  padding-right: 20px;
}

.list-filter li.collection {
  font-size: 28px;
}

.list-filter li span {
  font-size: 16px;
}

.product-content a:hover {
  text-decoration: none;
}

.products-source:hover .list-new {
  opacity: 1;
}

.products-source:hover .list-name {
  opacity: 1;
}

.products-source:hover .list-price {
  opacity: 1;
}

.products-source .secound-image {
  display: none;
}

.products-source {
  position: relative;
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.products-source .first-img {
  position: relative;
  z-index: 1;
}

.products-source .secound-img {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.first-img .products-images {
  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
}

.first-img .products-images:hover {
  opacity: 0;
}

//.products-images {
//  background-position: center;
//  background-size: cover;
//  background-repeat: no-repeat;
//  height: 360px;
//}

.products-list a {
  color: #a39161;
  text-decoration: none;
}

.products-list .list-new a {
  color: purple;
}

.products-list .list-new{
  text-transform: uppercase;
  font-size: 16px;
  padding-bottom: 10px;
  height: 32px;
}

.products-list .list-name {
  text-transform: uppercase;
  font-size: 16px;
  padding-bottom: 10px;
}

.products-list .list-price {
  font-size: 16px;
}

.products-list .list-new,
.products-list .list-name,
.products-list .list-price {
  text-align: center;
  opacity: 0;
}

.products-list .list-new i:before {
  font-size: 30px;
  display: inline-block;
  vertical-align: middle;
  line-height: 0.5;
}

.products-list.info-is-shown .list-new {
  -webkit-transition: opacity 1s ease-out !important;
  -moz-transition: opacity 1s ease-out !important;
  -ms-transition: opacity 1s ease-out !important;
  -o-transition: opacity 1s ease-out !important;
  transition: opacity 1s ease-out !important;
}

.products-list.info-is-shown .list-name {
  -webkit-transition: opacity 1s ease-out !important;
  -moz-transition: opacity 1s ease-out !important;
  -ms-transition: opacity 1s ease-out !important;
  -o-transition: opacity 1s ease-out !important;
  transition: opacity 1s ease-out !important;
}

.products-list.info-is-shown .list-price {
  -webkit-transition: opacity 1s ease-out !important;
  -moz-transition: opacity 1s ease-out !important;
  -ms-transition: opacity 1s ease-out !important;
  -o-transition: opacity 1s ease-out !important;
  transition: opacity 1s ease-out !important;
}

.products-list .list-new {
  -webkit-transition: opacity 0.5s ease-in-out;
  -moz-transition: opacity 0.5s ease-in-out;
  -ms-transition: opacity 0.5s ease-in-out;
  -o-transition: opacity 0.5s ease-in-out;
  transition: opacity 0.5s ease-in-out;
}

.products-list .list-name {
  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -ms-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
}

.products-list .list-price {
  -webkit-transition: opacity 2s ease-in-out;
  -moz-transition: opacity 2s ease-in-out;
  -ms-transition: opacity 2s ease-in-out;
  -o-transition: opacity 2s ease-in-out;
  transition: opacity 2s ease-in-out;
}

.shop-menu {
  position: absolute;
  top: 50px;
  right: 35px;
}

.list-shop {
  list-style: none;
  color: #a39161;
  padding-left: 23px;
}

.list-shop li {
  font-size: 2rem;
  padding-bottom: 15px;
}

.list-shop li a {
  color: #a39161;
  text-decoration: none;
}

.list-shop .wishlist-menu a {
  position: relative;
}

.list-shop .shopping-cart a {
  position: relative;
}

.flex-control-thumbs li {
  width: 20%;
}

.flex-control-thumbs img {
  border-top: 3px solid transparent;
  opacity: 0.5;
}

.flex-control-thumbs .flex-active {
  border-top: 3px solid #a39161;
}

.product-title, .product-title h1{
  text-transform: uppercase;
  color: #a39161;
  font-size: 28px;
}

.product-price {
  color: #a39161;
  font-size: 22px;
  display: inline-block;
}

.product-vat-price {
  color: #8c8c8c;
  font-size: 22px;
  display: inline-block;
  padding: 0 20px;
}

.product-price .vat_included {
  font-size: 11px;
  padding-left: 2px;
  display: block;
}

.product-vat-price .vat_included {
  font-size: 11px;
  padding-left: 2px;
  display: block;
}

.product-chars {
  margin-top: 50px;
}

.product-char {
  color: #a39161;
  font-size: 18px;
  text-transform: uppercase;
}

.product-select select,
.product-select-quantity select {
  width: 100%;
  height: 45px;
  padding: 10px;
  text-transform: uppercase;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: url('../../back/icons/seta.png') 96% / 11px no-repeat;
  border: 1px solid #cccccc;
}

.zoom-img {
  cursor: crosshair;
}

#zoomModal {
  padding-left: 0 !important;
  cursor: crosshair;
}

.zoom-modal {
  margin: 0;
}

.zoom-modal .modal-content {
  width: 100vw !important;
  min-height: 100vh;
}

.size-modal {
  width: 800px !important;
}

.size-pdf {
  text-align: center;
}

.product-social {
  margin-top: 40px;
}

.product-social .add-to-cart {
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  border: 1px solid #a39161;
  background-color: #a39161;
  color: #fff;
  padding: 15px 25px;
  display: inline-block;
  font-size: 16px;
  margin: 0;
}

.product-social .add-to-cart.disabled {
  background-color: #cecece;
  border-color: #cecece;
}

.social-icons {
  //float: right;
  //line-height: 54px;
  margin-top: 15px;
}

.social-icons ul {
  display: table;
  margin: 0;
}

.social-icons li {
  display: table-cell;
  vertical-align: middle;
  padding: 0 15px;
}

.social-icons .icon-gold {
  color: #a39161;
  background: none;
  border: none;
  outline: none;
  padding: 0;
}

.social-icons a {
  color: #333333;
  text-decoration: none;
}

.icon13 {
  font-size: 13px;
  vertical-align: middle;
  padding: 0 5px;
}

/* TABS */

.product-info {
  position: relative;
  margin-top: 100px;
  clear: both;
}

.product-info .tab-pane .detail-images {
  z-index: 0;
  padding-top: 20px;
}

#product-info li:last-child {
  left: -1px;
}

.zoom-label {
  padding: 15px 0;
  text-transform: uppercase;
  color: #a39161;
}
.zoom-container {
  position: relative;
  width: 350px;
  height: 300px;
}

.drift-zoom-pane {
  z-index: 100;
}

.product-info .nav-tabs-justified > li > a,
.product-info .nav-tabs.nav-justified > li > a {
  border-bottom: 1px solid #a39161;
  border-radius: 0;

  padding: 10px;
  margin-left: -1px;
  position: relative;
  left: 1px;
  width: 100%;
  text-align: center;
  color: #a39161;
  font-size: 16px;
  font-weight: 300;
  text-transform: uppercase;
  cursor: pointer;
}

.product-info .nav-tabs.nav-justified > .active > a {
  border-bottom: 1px solid #ffffff;
  border-top: 3px solid #a39161;
}

.product-info .tab-description {
  border-left: 1px solid #fff !important;
}

.product-info .tab-form {
  border-right: 1px solid #fff !important;
}

.product-info .tab-content > .tab-pane {
  padding: 20px;
  font-size: 14px;
}

.product-info .nav > li > a:hover,
.product-info .nav > li > a:focus {
  background-color: #ffffff;
}

.tab-content a {
  color: #a39161 !important;
}

/* CONTACTS */

.contacts-content{
  margin-top: 50px;
  min-height: calc(100vh - 149px);
  text-align: center;
}

.contacts-content .contacts-title {
  text-transform: uppercase;
  color: #a39161;
  font-size: 28px;
  margin-bottom: 40px;
}

.contacts-content .menu-separator {
  border-top: 7px solid #a39161;
  width: 30px;
  margin: 15px auto;
}

.contacts-address .address-title {
  text-transform: uppercase;
  color: #a39161;
  font-size: 16px;
  margin-bottom: 10px;
}

.contacts-address .address-info {
  margin-bottom: 20px;
}

.contacts-address .address-info p {
  margin: 0;
}

.contacts-address .contacts-phone {
  padding: 10px 0;
  color: #444444;
  text-decoration: none;
}

.contacts-address .contacts-phone a,
.contacts-address .contacts-email a {
  color: #444444;
  text-decoration: none;
}

.contacts-social .social-title {
  text-transform: uppercase;
  color: #a39161;
  font-size: 16px;
  margin-bottom: 10px;
}

.social-list ul {
  padding: 0;
}

.social-list li {
  list-style: none;
  display: inline-block;
  padding: 0 10px;
  text-transform: capitalize;
}

.social-list li a {
  color: #444444;
  text-decoration: none;
}

.contacts-form .form-group {
  text-align: left;
}

.contacts-form .form-message {
  font-weight: 600;
}

.contacts-form label {
  font-weight: 300;
  color: #a39161;
  text-transform: uppercase;
  font-size: 14px;
}

.contacts-form input {
  border-radius: 0;
  border-color: #cccccc;
}

.contacts-form textarea {
  border-radius: 0;
  border-color: #cccccc;
  resize: none;
}

.contacts-form .btn-contacts {
  background-color: #fff;
  border: 1px solid #a39161;
  border-radius: 0;
  padding: 15px 90px;
  font-size: 16px;
  text-transform: uppercase;
  color: #a39161;
  margin: 40px 0;
  position: relative;
}

/* CART */

.cart-content {
  margin-top: 50px;
  min-height: calc(100vh - 149px);
  text-align: center;
}

.cart-content .cart-title {
  text-transform: uppercase;
  color: #a39161;
  font-size: 28px;
  margin-bottom: 40px;
}

.cart-content .menu-separator {
  border-top: 7px solid #a39161;
  width: 30px;
  margin: 15px auto;
}

.cart-table {
  margin-bottom: 70px;
}

.cart-table thead {
  border-bottom: 1px solid #444444;
}

.cart-table th {
  text-align: center;
  padding: 10px 0;
  font-weight: 300;
  text-transform: uppercase;
}

.cart-table tbody tr {
  border-bottom: 1px solid #cccccc;
}

.cart-table .cart_attributes {
  text-align: left;
}

.cart_iva {
  color: #a39161;
  text-align: right;
}

.pack_discount {
  font-size: 12px;
}

.pack_discount span {
  color: #8c8c8c;
}

.label_prod {
  text-align: left;
}

.cart-product {
  text-align: left;
  padding: 12px 8px !important;
  vert-align: middle;
}

.cart-product .cart-product-img {
  display: inline-block;
  width: 100px;
}

.add_to_cart{
  cursor: pointer;
}

.no_margin_bottom_p{
  margin-bottom: 0!important;
}

.cart-product-reference {
  display: inline-block;
  vertical-align: middle;
  padding: 0 20px;
}

.cart-product-reference .cart-name {
  text-transform: uppercase;
  font-size: 16px;
  color: #a39161;
}

.cart-product-reference .cart-name a {
  color: #a39161 !important;
  text-decoration: none;
}

.cart-reference a {
  color: #333333;
  text-decoration: none;
}

.cart-product a {
  text-decoration: none;
}

.cart-td {
  vertical-align: middle !important;
  padding: 20px 8px !important;
}

.cart-td .footable-toggle {
  width: 16px;
}

.cart-td .footable-toggle:before {
  color: #a39161 !important;
  font-size: 20px;
}

.footable-row-detail-row .footable-row-detail-name,
.footable-row-detail-row .footable-row-detail-value {
  text-align: center;
  padding-left: 35px;
}

.footable-details td {
  border-top: 1px solid #ffffff;
}

.footable-details {
  margin-bottom: 0;
}

.pack_hide span {
  display: none !important;
}

.footable-details tbody tr {
  border-bottom: none;
}

.footable-details tbody th,
.footable-details tbody td {
  border-top: none !important;
}

.footable-details tbody td {
  padding: 10px 0 !important;
}

.footable-details tbody th {
  text-align: left;
  padding-left: 15px !important;
  text-transform: none;
  color: #a39161;
  vertical-align: middle !important;
}

.footable-details tbody tr.cart_last_child {
  border-bottom: none !important;
}

.cart-select {
  height: 30px;
  padding: 4px 5px;
  text-transform: uppercase;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: url('../../back/icons/seta.png') 96% / 11px no-repeat;
  border: 1px solid #cccccc;
  width: 100%!important;
  border-radius: 0;
}

.order-select {
  height: auto !important;
  width: auto !important;
  padding: 5px 10px;
  font-weight: 100;
}

#orders-table tbody tr {
  cursor: pointer;
}

#orders-table_wrapper label {
  font-weight: 100;
  color: #a39161;
}

.order-search-icon {
  font-size: 18px;
  padding: 0 10px;
  vertical-align: middle;
  display: inline-block;
  line-height: 10px;
}

.paginate_button {
  padding: 5px 10px;
  border: 1px solid transparent;
  color: #a39161 !important;
  cursor: pointer;
  margin: 0 2px;
  opacity: 0.8;
}

.paginate_button.current {
  border: 1px solid #a39161;
  opacity: 1;
}

#orders-table_wrapper input {
  border-radius: 0;
  display: inline-block;
  width: auto;
}

.cart-input {
  height: 30px;
  padding: 5px 10px;
  width: 60px;
  text-transform: uppercase;
}

.cart-price {
  font-size: 16px;
  color: #a39161;
}

.cart-order {
  font-size: 16px;
  color: #a39161;
  vertical-align: middle !important;
  text-transform: uppercase;
}

.cart-remove {
  color: #a39161;
  width: 50px;
}

.cart-options .option-return {
  color: #a39161;
  font-size: 16px;
  text-transform: uppercase;
  border: 1px solid #a39161;
  border-radius: 0;
  padding: 15px 50px;
  position: relative;
  text-decoration: none;
  margin: 0 30px;
}

.cart-options .option-buy {
  color: #fff;
  font-size: 16px;
  text-transform: uppercase;
  border: 1px solid #a39161;
  background-color: #a39161;
  border-radius: 0;
  padding: 15px 50px;
  position: relative;
  text-decoration: none;
  margin: 0 30px;
}

.remove_cart_item,
.remove_pack_item {
  cursor: pointer;
}

/* TERMS AND CONDITIONS */

.terms-content {
  margin: 50px 0 100px 0;
  min-height: calc(100vh - 149px);
  text-align: center;
}

.terms-content .terms-title {
  text-transform: uppercase;
  color: #a39161;
  font-size: 28px;
  margin-bottom: 40px;
}

.terms-content .menu-separator {
  border-top: 7px solid #a39161;
  width: 30px;
  margin: 15px auto;
}

.terms-info .tab-pane strong {
  font-size: 14px;
  font-weight: 700;
  color: #a39161;
  text-transform: uppercase;
}

.terms-info ul {
  display: inline-block;
  border: 0;
  padding: 0;
}

.terms-info hr {
  width: 10%;
  border-color: #cecece;
  margin-bottom: 35px;
}

.terms-info .nav-tabs > li {
  padding: 0 10px;
}

.terms-info a {
  border: 0 !important;
  color: #a39161;
  font-size: 16px;
}

.terms-info .tab-terms {
  text-transform: uppercase;
  opacity: 0.5;
}

.terms-info .nav > li > a:hover,
.terms-info .nav > li > a:focus {
  background: none;
  color: #a39161;
}

.terms-info li a {
  opacity: 0.5;
}

.terms-info li.active a {
  opacity: 1;
  color: #a39161;
}

/* LOGIN */

.login-content,
.new-login {
  margin-top: 50px;
  min-height: calc(100vh - 179px);
  text-align: center;
}

.login-content .form-message {
  font-weight: 600;
}

.new-login .login-content {
  min-height: auto;
}

.login-content .login-title {
  text-transform: uppercase;
  color: #a39161;
  font-size: 28px;
  margin-bottom: 40px;
}

.login-title div {
  opacity: 0.5;
}

.login-title a {
  color: #a39161;
  text-decoration: none;
}

.login-title .active {
  opacity: 1;
}

.login-title .menu-separator {
  border-top: 7px solid #a39161;
  width: 30px;
  margin: 15px auto;
  opacity: 0;
}

.login-title .active .menu-separator {
  opacity: 1;
}

.login-form .form-group {
  text-align: left;
}

.login-form label {
  font-weight: 300;
  color: #a39161;
  text-transform: uppercase;
  font-size: 14px;
}

.login-form input {
  border-radius: 0;
  border-color: #cccccc;
}

.login-form .btn-login {
  background-color: #fff;
  border: 1px solid #a39161;
  border-radius: 0;
  padding: 15px 50px;
  font-size: 16px;
  text-transform: uppercase;
  color: #a39161;
  margin: 40px 0;
  position: relative;
}

a.create-account {
  text-decoration: none;
  color: #444444;
}

.new-account {
  display: none;
}

/* CONCEPT */

.first-concept {
  height: 100vh;
  background-position: right;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 930px;
  background-attachment: fixed;
  top: -1px;
}

.first-concept .mask-background {
  background-color: rgba(255,255,255,0.8);
}

.concept-section {
  z-index: 2;
  position: absolute;
  display: table;
  width: 100%;
}

.first-concept-section {
  height: 100vh;
  display: table-cell;
  margin: auto;
  vertical-align: middle;
  z-index: 2;
}

.first-concept-section .text-content {

}

.first-concept-section .section-title {
  list-style: none;
  padding: 0;
  margin-bottom: 60px;
}

.first-concept-section .section-title li {
  font-size: 32px;
  text-transform: uppercase;
  color: #a39161;
}

.text-content .concept-description {
  font-size: 18px;
  color: #a39161;
}

.secound-concept {
  height: 70vh;
  position: relative;
  min-height: 800px;
  z-index: 2;
  background-color: #ffffff;
}

.concept-img {
  max-width: 100%;
  height: auto;
}

.secound-concept-section {
  height: 70vh;
}

.secound-concept-section .text-content {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  max-height: 280px;
  height: 50vh;
  margin: auto;
  text-align: center;
}

.secound-concept-section .section-title {
  list-style: none;
  padding: 0;
  margin-bottom: 60px;
}

.secound-concept-section .section-title li {
  color: #a39161;
  font-size: 28px;
  text-transform: uppercase;
}

.third-concept {
  height: 70vh;
  position: relative;
  min-height: 860px;
  z-index: 2;
  background-color: #ededed;
}

.third-concept-section .text-content {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  max-height: 280px;
  height: 50vh;
  margin: auto;
  text-align: center;
}

.third-concept-section .section-title {
  list-style: none;
  padding: 0;
  margin-bottom: 60px;
}

.third-concept-section .section-title li {
  color: #a39161;
  font-size: 28px;
  text-transform: uppercase;
}

.third-concept .concept-description {
  padding-bottom: 50px;
}

.third-concept .logo-text {
  text-align: center;
}

.stitches-img {
  margin: auto;
}

.stitches-img img {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}

/* CHECKOUT */

.checkout-content {
  margin-top: 50px;
  min-height: calc(100vh - 179px);
  text-align: center;
}

.checkout-content .checkout-title {
  text-transform: uppercase;
  color: #a39161;
  font-size: 28px;
  margin-bottom: 40px;
}

.checkout-content .menu-separator {
  border-top: 7px solid #a39161;
  width: 30px;
  margin: 15px auto;
}

.steps ul {
  width: 100%;
  padding: 0;
  margin-bottom: 50px;
}

.steps li {
  display: inline-block;
  width: 33.3333333333%;
  position: relative;
}

#steps .actions li.disabled {
  display: none;
}

.steps ul li:after {
  background: rgba(163,145,97,.4) none repeat scroll 0 0;
  content: "";
  height: 1px;
  left: 56%;
  position: absolute;
  top: 43px;
  width: 88%;
}

.steps ul li:last-child:after {
  background: none;
  width: 0;
}

.steps li a {
  text-decoration: none;
}

.steps li a:focus {
  outline: 0;
}

.steps li .icon-permissoes {
  display: none;
  color: #a39161;
  font-size: 16px;
}

.steps li.done .icon-permissoes {
  display: block;
}

.steps li.done .step-number {
  display: none;
}

.steps li p {
  font-size: 16px;
  text-transform: uppercase;
  color: #a39161;
}

.steps li.current p {
  font-weight: 700;
}

.steps li span {
  display: block;
}

.steps li .current-info,
.steps li .number {
  display: none;
}

#steps .title {
  display: none;
}

.steps-title {
  font-size: 16px;
  text-transform: uppercase;
  color: #a39161;
  margin-bottom: 15px;
}

.address-section hr {
  width: 10%;
  border-color: #cecece;
  margin-bottom: 50px;
}

.address-step {
  margin-bottom: 50px;
}

.delivery-options {
  margin-bottom: 60px;
  padding-top: 25px;
}

.delivery-options input {
  display: none;
  margin: 0 auto;
}

.delivery-options label {
  display: block;
  margin-bottom: 15px;
}

.delivery-options label div {
  display: inline-block;
  font-weight: 100;
  font-size: 16px;
  margin-top: -3px;
}

.delivery-options label span {
  display: block;
  font-size: 14px;
}

input[type=radio].radio-delivery + label:before {
  content: "\e015";
  font-family: "untitled-font-3" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  vertical-align: top;
}

input[type=radio].radio-delivery:checked + label:before {
  content: "\e014";
}

.payment-method {
  margin: 20px 0;
}

.payment-method-summary img {
  max-width: 100%;
}

.payment-address {
  margin-bottom: 15px;
}

.payment-address input {
  display: none;
}

.payment-address label {
  font-weight: 100;
  font-size: 16px;
}

input[type=checkbox].checkbox-address + label:before {
  content: "\e015";
  font-family: "untitled-font-3" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  vertical-align: top;
}

input[type=checkbox].checkbox-address:checked + label:before {
  content: "\e014";
}

.select-address {
  width: 100%;
  height: 45px;
  padding: 10px;
  text-transform: uppercase;
  border-color: #444444;
}

.btn-new-address {
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  border-radius: 0;
  background-color: #a39161;
  color: #fff !important;
  padding: 10px 25px;
  display: inline-block;
  font-size: 16px;
  width: 100%;
}

.btn-new-address:hover {
  color: #fff;
}

.btn-new-address.cancel-address {
  background-color: #a1a1a1;
  color: #fff;
}

.actions ul {
  width: 100%;
  padding: 0;
}

.actions li {
  display: inline-block;
  padding: 0 25px;
}

.actions li a:hover {
  text-decoration: none;
}

.form-new-address {
  display: none;
}

.form-new-address2 {
  padding-top: 30px;
}

.form-new-address2 .form-group {
  text-align: left;
}

.form-new-address2 label {
  font-weight: 300;
  color: #a39161;
  font-size: 14px;
}

.form-new-address2 input {
  border-radius: 0;
  border-color: #cccccc;
  height: 40px;
}

.form-new-address2 input.error {
  border-color: #F25451;
}

.form-group label.error {
  position: absolute;
  right: 20px;
  top: 35px;
  color: #F25451;
}

.steps-next {
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  border: 1px solid #a39161;
  border-radius: 0;
  background-color: #a39161;
  color: #fff;
  padding: 10px 50px;
  display: inline-block;
  font-size: 16px;
  width: 100%;
}

.steps-previous {
  background-color: #fff;
  border: 1px solid #a39161;
  border-radius: 0;
  padding: 10px 50px;
  font-size: 16px;
  text-transform: uppercase;
  color: #a39161;
  position: relative;
}

.btn-payment-address {
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  border-radius: 0;
  background-color: #a39161;
  color: #fff !important;
  padding: 10px 25px;
  display: inline-block;
  font-size: 16px;
  width: 100%;
}

.btn-payment-address:hover {
  color: #fff;
}

.btn-payment-address.cancel-address {
  background-color: #a1a1a1;
  color: #fff;
}

.form-payment-address {
  display: none;

}

.form-payment-address2 {
  padding-top: 30px;
}

.form-payment-address2 .form-group {
  text-align: left;
}

.form-payment-address2 label {
  font-weight: 300;
  color: #a39161;
  font-size: 14px;
}

.form-payment-address2 input {
  border-radius: 0;
  border-color: #cccccc;
  height: 40px;
}

.form-payment-address2 input.error {
  border-color: #F25451;
}

.payment-section hr {
  width: 10%;
  border-color: #cecece;
  margin-bottom: 50px;
}

.promotion-input {
  text-align: left;
}

.promotion-input label {
  display: inline-block;
  font-size: 16px;
  font-weight: 100;
  color: #a39161;
  text-transform: uppercase;
}
.promotion-input input {
  display: inline-block;
  border-radius: 0;
  border-color: #444;
  width: 50%;
  margin: 0 10px;
  height: 40px;
  text-transform: uppercase;
}

.btn-apply-promotion {
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  border: 1px solid #a39161;
  border-radius: 0;
  background-color: #a39161;
  color: #fff;
  padding: 8px 20px;
  display: inline-block;
  font-size: 16px;
}

.btn-apply-promotion:hover {
  color: #fff;
}

.summary-title {
  text-transform: uppercase;
  font-size: 16px;
  color: #a39161;
  margin-bottom: 30px;
}

.summary-description {
  text-align: left;
  margin: 7px 0px;
}

.summary-value {
  text-align: right;
  font-size: 18px;
  color: #a39161;
}

.summary-divider {
  border-color: #ddd;
}

.summary-total {
  font-size: 16px;
  font-weight: 600;
  color: #a39161;
  margin: 0;
}

.summary-info {
  margin-bottom: 70px;
}

/* RESERVED-AREA */

.area-content {
  margin-top: 50px;
  margin-bottom: 50px;
  min-height: calc(100vh - 149px);
  text-align: center;
}

.area-content .area-title {
  text-transform: uppercase;
  color: #a39161;
  font-size: 28px;
  margin-bottom: 40px;
}

.area-content .menu-separator {
    border-top: 7px solid #a39161;
    width: 30px;
    margin: 15px auto;
}

.area-data .data-title {
  text-transform: uppercase;
  text-align: center;
  color: #a39161;
  font-size: 16px;
  margin-bottom: 10px;
}

.area-data .area-divider {
  width: 15%;
  margin-top: 40px;
  margin-bottom: 40px;
}

.user-form input {
  border-radius: 0;
  border-color: #cccccc;
}

.user-form .form-group {
    text-align: left;
}

.user-form label {
    font-weight: 300;
    color: #a39161;
    text-transform: uppercase;
    font-size: 14px;
}

.user-form .btn-change-password {
    background-color: #fff;
    border: 1px solid #a39161;
    border-radius: 0;
    padding: 10px 15px;
    font-size: 12px;
    text-transform: uppercase;
    color: #a39161;
    margin: 40px 0;
    position: relative;
}

.btn-line-area {
    position: absolute;
    top: -9px;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    border-left: 1px solid #a39161;
    height: 15px;
}

.btn-update-user {
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  border: 1px solid #a39161;
  border-radius: 0;
  background-color: #a39161;
  color: #fff;
  padding: 10px 50px;
  display: inline-block;
  font-size: 12px;
}

.user-actions {
  width: 100%;
  padding: 0;
}

.user-actions li {
  display: inline-block;
}

.gender-option {
  padding: 6px 25px 6px 0;
  margin: 0;
}

.gender-option input[type="radio"] {
    display: none;
}

.gender-option input[type=radio] + span:before {
  content: "\e015";
  font-family: "untitled-font-3" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  vertical-align: top;
  padding-right: 10px;
}

.gender-option input[type=radio]:checked + span:before {
  content: "\e014";
}

.gender-option .gender-label {
  text-transform: none;
  color: #444;
}

.same-address-option {
  margin-top: 25px;
}

.same-address-option input[type="checkbox"] {
    display: none;
}

.same-address-option input[type=checkbox] + span:before {
  content: "\e015";
  font-family: "untitled-font-3" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  vertical-align: top;
  padding-right: 10px;
}

.same-address-option input[type=checkbox]:checked + span:before {
  content: "\e014";
}

.same-address-option .same-address-label {
  text-transform: none;
  color: #444;
}

.user-form select {
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.428571429;
  background-color: #fff;
  background-image: none;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  border-radius: 0;
  border: 1px solid #cccccc;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: url('../../back/icons/seta.png') 96% / 11px no-repeat;
}

.address-actions li {
  display: inline-block;
  padding: 0 15px;
  margin-top: 25px;
}

.pack-actions li {
  display: inline-block;
  padding: 0;
  margin: 0;
}

.pack-actions .gold-btn,
.pack-actions .transparent-gold-btn,
.pack-actions .transparent-black-btn {
  margin: 10px 0;
}

.address-list .addresses-title {
  font-weight: 300;
  color: #a39161;
  text-transform: uppercase;
  font-size: 14px;
  text-align: left;
  display: block;
  padding: 10px 0;
}

.address-row {
  border-top: 1px solid #444;
  border-bottom: 1px solid #444;
  overflow: auto;
  padding: 10px 0;
}

.active-address-option {
  float: left;
  margin: 0;
}

.active-address-option input[type="radio"] {
  display: none;
}

.active-address-option input[type="radio"] + span:before {
  content: "\e015";
  font-family: "untitled-font-3" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  vertical-align: top;
  padding-right: 10px;
}

.active-address-option input[type="radio"]:checked + span:before {
  content: "\e014";
}

.active-address-option .active-address-label {
  text-transform: none;
  color: #444;
  font-weight: 100;
}

.address-options {
  padding: 0;
  margin: 0;
  float: right;
}

.address-options li {
  display: inline-block;
  padding-left: 15px;
}

.address-options a {
  text-decoration: none;
}

.modal-backdrop {
  background-color: #ffffff;
}

.modal-footer .address-actions li {
  margin: 0;
}

.modal-footer .btn.btn-change-password {
  margin: 0;
}

.modal-content {
  -webkit-box-shadow: 0 0 20px -4px rgba(163,145,97,1);
  -moz-box-shadow: 0 0 20px -4px rgba(163,145,97,1);
  box-shadow: 0 0 20px -4px rgba(163,145,97,1);
  border: 0;
  border-radius: 0;
}

.modal-header {
  border-bottom: 0;
}

.modal-title {
  text-align: center;
  text-transform: uppercase;
  color: #a39161;
  font-size: 28px;
  margin-bottom: 15px;
}

.modal-pack-title {
  text-align: center;
  color: #a39161;
  padding-left: 20px;
}

.modal-pack-subtitle {
  text-align: center;
}

.modal-header .menu-separator {
  border-top: 7px solid #a39161;
  width: 30px;
  margin: 15px auto;
}

.modal-body {
  padding: 15px 30px;
}

.modal-footer {
  border-top: 0;
  text-align: center;
}

.modal-footer .address-actions {
  padding: 0;
  margin-bottom: 25px;
}

.validator_errors {
  color: red;
}

.change-email {
  display: none;
}

.change-password {
  display: none;
}

.new-password {
  display: none;
}

.order-info {
  border-top: 1px solid #444;
  padding: 50px 0;
}

.orders-data .orders-title {
  text-transform: uppercase;
  text-align: center;
  color: #a39161;
  font-size: 16px;
  margin-bottom: 10px;
}

.orders-data .area-divider {
  width: 10%;
  margin-top: 40px;
  margin-bottom: 40px;
}

/* MESSAGES PAGE */

.message-content {
  margin-top: 50px;
  height: calc(100vh - 149px);
  text-align: center;
  display: table;
  width: 100%;
}

.message-content .message-info {
  vertical-align: middle;
  text-align: center;
  display: table-cell;
}

.message-content .message-title {
  text-transform: uppercase;
  color: #a39161;
  font-size: 28px;
  margin-bottom: 40px;
}

.message-content .menu-separator {
  border-top: 7px solid #a39161;
  width: 30px;
  margin: 15px auto;
}

.message-text .message {
  color: #939598;
  font-size: 16px;
  padding: 10px 0;
}

.message-options {
  margin: 25px 0;
  padding: 0;
}

.message-options li {
  display: inline-block;
}

.message-options .btn-message-back{
  background-color: #fff;
  border: 1px solid #a39161;
  border-radius: 0;
  padding: 10px 25px;
  font-size: 12px;
  text-transform: uppercase;
  color: #a39161;
  margin: 40px 0;
  position: relative;
}

.message-options .btn-message-success{
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  border: 1px solid #a39161;
  border-radius: 0;
  background-color: #a39161;
  color: #fff;
  padding: 10px 30px;
  display: inline-block;
  font-size: 12px;
}

.atm-title-ref {
  color: #939598;
  font-size: 16px;
  font-weight: 600;
  padding: 0;
}

.atm-full-order {
  padding-bottom: 40px !important;
}

.atm-ref {
  color: #939598;
  font-size: 16px;
  padding-bottom: 15px;
}

.atm-ref a {
  color: #a39161 !important;
}

/* COOKIES POLICY*/

.titulo_cookies {
  text-align: center;
  padding-top: 30px;
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
  color: #a39161;
  font-size: 28px;
  margin-bottom: 0;
  font-weight: 300;
}

.o_que_sao_cookies {
  text-align: center;
  padding-top: 60px;
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
  color: #a39161;
  font-size: 14px;
  font-weight: 700;
}

hr.cookies {
  width: 50px;
  height: 2px;
  background: #a39161;
  margin-top: 8px;
  color: #a39161;
}

.txt {
  margin-top: 32px;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  line-height: 1.428571429;
  color: #333333;
}

.txt ul {
  list-style: none;
  padding: 0;
  margin: 0;
  color: black;
}

.txt li {
  text-indent: -0.5em;
  padding-bottom: 15px;
  color: black;
}

.txt li:before {
  content: "• ";
  color: black;
}

.cookies-bar {
  padding: 20px 0 10px 0;
  width: 100%;
  bottom: 0;
  background: #fff;
  -webkit-box-shadow: 0 0 20px -4px rgba(163,145,97,1);
  -moz-box-shadow: 0 0 20px -4px rgba(163,145,97,1);
  box-shadow: 0 0 20px -4px rgba(163,145,97,1);
  position: fixed;
  z-index: 9999;
}

.cookies-buttons {
  margin: 0;
  padding: 0;
}

.cookies-buttons li {
  display: inline-block;
  padding: 0 15px;
}

.cookies-buttons .btn-cookies-more {
  background-color: #fff;
  border: 1px solid #a39161;
  border-radius: 0;
  padding: 10px 40px;
  font-size: 12px;
  text-transform: uppercase;
  color: #a39161;
  margin: 0;
  position: relative;
}

.cookies-buttons .btn-cookies-success {
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  border: 1px solid #a39161;
  border-radius: 0;
  background-color: #a39161;
  color: #fff;
  padding: 10px 35px;
  display: inline-block;
  font-size: 12px;
}

.btns {
  text-align: right;
  line-height: 40px;
}

.fadeInUp {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
}

.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

p.txt_cookies {
  color: #a39161;
  font-family: 'Roboto', sans-serif;
}

.btn_saber {
  padding: 10px 45px 10px 45px;
  margin-right: 30px;
  text-align: center;
  border-radius: 2px;
  font-family: 'Roboto', sans-serif;
  background: #7c706c;
  color: #fff !important;
  font-weight: 600;
  border: 1px solid white;
  transition: all 0.3s;
  text-decoration: none !important;
}

.btn_ok {
  text-decoration: none;
  padding: 10px 38px 10px 38px;
  border-radius: 2px;
  background: #7c706c !important;
  font-family: 'Roboto', sans-serif;
  color: #fff !important;
  font-weight: 600;
  border: 1px solid white;
  transition: all 0.3s;
}

/* LITIGATION */

.titulo_principal {
  text-align: center;
  padding-top: 30px;
  font-family: 'Roboto', sans-serif;
  font-weight: normal;
  text-transform: uppercase;
  color: #a39161;
  font-size: 28px;
  margin-bottom: 40px;
}

.texto_litigios p {
  font-family: 'Roboto', sans-serif;
  width: 100%;
  padding-top: 20px;
  text-decoration: none;
  font-size: 14px;
  line-height: 1.428571429;
  color: #333333;
}

.texto_litigios_2 a {
  color: black;
}

.texto_litigios a {
  color: black !important;
}


.radio-biblical {
  width: 13px;
  height: 13px;
  background: transparent;
  margin: auto;
  position: absolute;
  border: 1px solid #a39161;
  display: inline-block;
  border-radius: 10px;
  margin-top: 2px;
}

.radio-input {
  display: none;
}

.radio-label {
  display: inline-block;
  padding-left: 20px;
}

.radio-biblical input[type=radio]:checked + label:before {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: alpha(opacity=100);
  opacity: 1;
}

.radio-biblical label:before {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  opacity: 0;
  border: 0;
  border-radius: 10px;
  content: '';
  position: absolute;
  width: 9px;
  height: 9px;
  background: #a39161;
  top: 1px;
  left: 1px;
}

.checkbox-biblical {
  width: 13px;
  height: 13px;
  background: transparent;
  margin: auto;
  position: absolute;
  border: 1px solid #a39161;
  display: inline-block;
  margin-top: 2px;
}

.checkbox-input {
  display: none;
}

.checkbox-label {
  display: inline-block;
  padding-left: 20px;
}

.checkbox-biblical input[type=checkbox]:checked + label:before {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: alpha(opacity=100);
  opacity: 1;
}

.checkbox-biblical label:before {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  opacity: 0;
  border: 0;
  content: '';
  position: absolute;
  width: 9px;
  height: 9px;
  background: #a39161;
  top: 1px;
  left: 1px;
}

.link-section {
  margin: 70px 0;
}

.product-link {
  text-align: center;
  padding: 10px;
  border: 1px solid #cccccc;
  text-transform: uppercase;
}

.product-link a {
  color: #444;
}

/* GENERIC BUTTONS */

.transparent-gold-btn {
  margin: 10px 21px;
  color: #a39161 !important;
  text-decoration: none !important;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  text-transform: uppercase;
  border-radius: 0;
  padding: 10px 35px;
  position: relative;
  background-color: transparent;
  //letter-spacing: 1.9px;
}

.margin_btn_pages .transparent-gold-btn {
  margin: 40px 21px;
}

.transparent-gold-btn svg {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
}

.transparent-white-btn {
  margin: 10px 21px;
  color: #fff !important;
  text-decoration: none !important;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  text-transform: uppercase;
  border-radius: 0;
  padding: 10px 35px;
  position: relative;
  background-color: transparent;
  //letter-spacing: 1.9px;
}

.transparent-white-btn svg {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
}

.transparent-black-btn {
  margin: 10px 21px;
  color: #000 !important;
  text-decoration: none !important;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  text-transform: uppercase;
  border-radius: 0;
  padding: 10px 35px;
  position: relative;
  background-color: transparent;
  //letter-spacing: 1.9px;
}

.transparent-black-btn svg {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
}

.gold-btn {
  margin: 14px 21px;
  color: #ffffff !important;
  text-decoration: none !important;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  text-transform: uppercase;
  border-radius: 0;
  padding: 8px 25px;
  position: relative;
  background-color: #a39161;
}

@-webkit-keyframes draw {
  0% {
    stroke-dasharray: 140 570;
    stroke-dashoffset: -550;
    stroke-width: 2px;
  }
  100% {
    stroke-dasharray: 760;
    stroke-dashoffset: 100;
    stroke-width: 1px;
  }
}

@keyframes draw {
  0% {
    stroke-dasharray: 140 570;
    stroke-dashoffset: -550;
    stroke-width: 2px;
  }
  100% {
    stroke-dasharray: 760;
    stroke-dashoffset: 100;
    stroke-width: 1px;
  }
}

.transparent-gold-btn:hover {
  color: #a39161;
}

.transparent-gold-btn:hover path {
  -webkit-animation: draw 1s cubic-bezier(0.07, 0.67, 0.1, 0.26) forwards;
  animation: draw 1s cubic-bezier(0.07, 0.67, 0.1, 0.26) forwards;
}

.transparent-gold-btn:hover .btn-line-gold {
  -webkit-animation: elastic-line 1.2s cubic-bezier(1, 0, 0, 1) 1;
  animation: elastic-line 1.2s cubic-bezier(1, 0, 0, 1) 1;
}

.transparent-white-btn:hover {
  color: #fff;
}

.transparent-white-btn:hover path {
  -webkit-animation: draw 1s cubic-bezier(0.07, 0.67, 0.1, 0.26) forwards;
  animation: draw 1s cubic-bezier(0.07, 0.67, 0.1, 0.26) forwards;
}

.transparent-white-btn:hover .btn-line-white {
  -webkit-animation: elastic-line 1.2s cubic-bezier(1, 0, 0, 1) 1;
  animation: elastic-line 1.2s cubic-bezier(1, 0, 0, 1) 1;
}

.transparent-black-btn:hover {
  color: #000;
}

.transparent-black-btn:hover path {
  -webkit-animation: draw 1s cubic-bezier(0.07, 0.67, 0.1, 0.26) forwards;
  animation: draw 1s cubic-bezier(0.07, 0.67, 0.1, 0.26) forwards;
}

.transparent-black-btn:hover .btn-line-black {
  -webkit-animation: elastic-line 1.2s cubic-bezier(1, 0, 0, 1) 1;
  animation: elastic-line 1.2s cubic-bezier(1, 0, 0, 1) 1;
}

.gold-btn:hover {
  background-color: #897851 !important;
  color: #fff;
  text-decoration: none;
}

@-webkit-keyframes elastic-line {
  0% {
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    -webkit-transform: scale(1, 0);
    transform: scale(1, 0);
  }
  100% {
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
  }
}
@keyframes elastic-line {
  0% {
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    -webkit-transform: scale(1, 0);
    transform: scale(1, 0);
  }
  100% {
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
  }
}

.stock-modal-title {
  color: #a39161;
}

.text-link {
  color: #a39161 !important;
  text-transform: lowercase;
  text-decoration: none !important;
}

.error-stock {
  color: red;
}

.stock-product-img {
  display: inline-block;
  width: 100px;
}

.forgot-password {
  float: right;
  font-size: 12px;
  margin-top: 3px;
}

.forgot-password a {
  color: #acacac;
}

//@media (max-width: 1650px) {
//  .edition-slider .flex-control-nav {
//    top: 120px;
//  }
//}

@media (max-width: 1576px) {
  .product-social .add-to-cart{
    width: 100%;
    font-size: 14px;
  }

  .btn-new-address,
  .btn-payment-address {
    font-size: 12px;
    padding: 13px 0 13px 0;
  }
}

@media (max-width: 1610px) {
  .product-info .nav-tabs-justified > li > a, .product-info .nav-tabs.nav-justified > li > a, .product-info .nav-tabs.nav-justified > li > a {
    font-size: 10px;
  }
}

@media (max-width: 1490px) {
  .footer-menu .pages-menu li {
    padding-left: 15px;
  }
}

@media (max-width: 1440px) {

  .col-tb-12 {
    width: 100%;
  }

  .product-social .add-to-cart{
    width: 100%;
    font-size: 14px;
    //float: right;
  }
}

@media (max-width: 1360px) {
  .edition-slider .flex-control-nav {
    bottom: 75%;
  }
}

@media (max-width: 1320px) {
  .footer-menu .pages-menu li {
    font-size: 14px;
  }
}

@media (max-width: 1210px) {
  .ornament_icons {
    width: 40px;
  }

  .concept-img {
    width: 280px;
  }
}

@media (max-width: 1110px) {
  .third-section .section-btn {
    padding: 15px 20px;
  }
}

@media (min-width: 1026px) {
  .home-nav-menu {
    display: block !important;
  }

  .video-content .concept-img {
    width: 215px;
  }

  .fifth-section .concept-img {
    width: 290px;
  }

}

@media (max-width: 1025px) {

  .logo-tabs li {
    margin: auto;
    padding: 10px 0;
    width: 100%;
  }

  .languages-list .sub-menu {
    width: 50px !important;
    background: #fff;
  }

  .languages-menu .languages-list .sub-menu li {
    display: block;
  }

  .scroll-section {
    display: none;
  }

  .first-section .text-content {
    position: absolute;
    left: 0;
    width: 100%;
    padding-left: 0;
  }

  .first-concept-section .text-content {
    position: absolute;
    left: 0;
    width: 100%;
    padding-left: 0;
  }

  .home-content,
  .first-concept {
    background-attachment: inherit;
  }

  .auth-menu {
    background: white;
    width: 100%;
    top: 30px;
    right: 0;
    left: 0;
    padding: 20px;
  }

  .home-menu {
    position: relative;
    width: 100%;
    background: none;
    transform: translateY(0) !important;
  }

  .home-nav-menu {
    display: none;
    background: white;
    position: fixed;
    width: 100%;
    top: 300px;
    padding: 20px 0;
  }

  .navigation-menu {
    margin: 0;
  }

  .home-shop-menu {
    position: relative;
    padding-top: 20px;
  }

  .list-shop {
    text-align: center;
    padding: 0;
  }

  .list-shop li {
    display: inline-block;
    width: 16.6666666667%;
  }

  .cart-menu {
    left: 21%;
    top: 30px;
    position: absolute;
  }

  .search-menu {
    position: absolute;
    width: 100%;
    top: 50px;
    right: 0;
    left: 0;
  }

  .search-menu input {
    width: 90%;
  }


  .col-tb-12 {
    width: 100%;
  }

  .col-tb-6 {
    width: 50%;
  }

  .product-content {
    width: 100%;
    margin-left: 0;
    padding-left: 15px;
  }

  .product-social .add-to-cart {
    width: 100%;
  }

  .footer-menu .pages-menu li {
    font-size: 12px;
    padding-left: 15px;
  }

  .footer-menu {
    background: none;
  }

  .footer-menu img {
    margin: 0 auto;
  }

  .footer-menu .footer-dhl img {
    float: none;
  }

  .pages-footer hr {
    width: 15%;
    border-color: #ccc;
    display: block;
  }

  .footer-dhl hr {
    display: none;
  }

  .ornament_icons {
    padding: 0 10px;
  }

  .secound-section .section-title li,
  .fifth-section .section-title li {
    font-size: 18px;
  }

  .first-concept-section .section-title li,
  .secound-concept-section .section-title li,
  .third-concept-section .section-title li {
    font-size: 18px;
  }

  .brand-logo img {
    padding: 0;
    margin: 0 auto;
  }

  .first-section .text-content {
    padding-left: 0;
  }

  .secound-section .video-content {
    width: 100%;
  }

  .fifth-section .section-content {
    width: 100%;
    margin: 0 auto;
  }

  .search-menu .search-icon {
    display: none;
  }

  .mask-background {
    display: none;
  }

  .gradient-mobile {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: linear-gradient(to bottom, #cecece, #b8bac9 50%);
    height: 550px;
  }

  .home-section {
    top: -360px;
  }

  .first-concept .concept-section {
    top: -460px;
    background-color: transparent;
  }

  .text-content .text-image {
    padding: 0 60px;
  }

  .home-shop-menu {
    background: none;
  }

}

@media (max-width: 1480px) {
  .footer-menu .footer-dhl img {
    float: none;
  }
}

@media (max-width: 991px) {

  .product-info .nav-tabs-justified > li > a, .product-info .nav-tabs.nav-justified > li > a, .product-info .nav-tabs.nav-justified > li > a {
    font-size: 16px;
  }

  .product-title {
    margin-top: 50px;
  }

  .terms-info .nav-tabs > li {
    float: none;
  }

  .social-icons {
    //float: none;
  }

  .social-icons ul {
    padding: 0;
    margin: auto;
  }

  .text-content {
    padding: 0 !important;
  }

  .edition-content {
    margin: 25px 0;
  }

  .edition-image .vertical-align {
    display: block;
  }
  .edition-slider .flex-control-nav {
    bottom: 30px;
    left: 0;
    width: 100%;
  }

  .select-address {
    margin-bottom: 15px;
  }

  .btn-new-address,
  .btn-payment-address {
    width: 200px;
  }

  .third-section .no-image-high {
    min-height: 0;
  }

}

@media (max-width: 900px) {
  .zoom-img {
    cursor: auto;
  }
  .video-section video {
    display: none;
  }
}

@media (max-width: 767px) {
  .product-info .nav-tabs-justified > li > a, .product-info .nav-tabs.nav-justified > li > a, .product-info .nav-tabs.nav-justified > li > a {
    border-bottom: none;
  }
  .product-info .nav-tabs.nav-justified > .active > a {
    border: 1px solid #a39161 !important;
  }
}

@media (max-width: 680px) {
  .footer-menu .pages-menu li {
    display: inline-block;
    text-align: center;
    padding: 10px;
  }

  .pages-footer .pages-menu {
    margin-bottom: 20px;
    text-align: center;
  }

  .pages-footer .pages-info {
    text-align: center;
  }

  .pages-footer .pages-info span {
    display: block;
  }

  .footer-dhl hr,
  .pages-footer hr {
    width: 25%;
    border-color: #ccc;
    display: block;
  }

  .cart-menu {
    position: absolute;
    right: 0;
    left: 0;
    top: 30px;
    width: auto;
  }

  .third-section .section-btn {
    padding: 15px 10px;
  }

}

@media (max-width: 600px) {
  .transparent-gold-btn,
  .gold-btn {
    display: block;
  }
}

@media (max-width: 405px) {
  .product-vat-price{
    padding: 0;
  }
}

.setas{
  display: inline-block;
  vertical-align: middle;
}


.setas a{
  cursor: pointer;
  display: block;
  color: #A39161;

}

.label_prod{
  color: #A39161;
  font-weight: 400;
  margin-top: 5px;
}

.cart-td .option-return{
  padding: 20px!important;
}


.select_country_front{
  display: block;
  width: 100%;
  height: 40px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.428571429;
  color: #555555;
  background-color: #fff;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  border-radius: 0;
  border-color: #cccccc;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: url(../../back/icons/seta.png) 96% / 11px no-repeat;
}

.delivery2{
  margin-top: 25px;
}

.zoom-modal img {
  margin: 0 auto;
}

@media (max-width: 510px) {

  .logo-img .row {
    display: block;
  }

  .logo-img {
    padding: 0 15px;
  }

  .cart-options .option-return,
  .cart-options .option-buy {
    display: block;
    margin: 10px 30px;
  }

  .ornament_icons {
    width: 40px;
  }

  .concept-img {
    width: 180px;
  }

  .terms-info .nav-tabs > li {
    width: 100%;
  }

}

.loding_products_image{
  display: none;
  margin-top: 30px;
  margin-bottom: 30px;
}

.loding_icon_products + .loding_products_image{
 display: block;
}

.input_select_add{
  border: 1px solid #a39161;
  background-color: #ffffff;
  box-shadow: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: url(../../back/icons/seta.png) 96% / 11px no-repeat;
}


.top20{
  margin-top: 20px;
}

.margin_7_top{
  margin-top: 7px;
}

.loding_cart{
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 99;
  background-color: #ffffff;
  display: none;
}

.loding_cart img{
  bottom: 0;
  margin: auto;
  position: absolute;
  top: 0;
  vertical-align: middle;
}

.toggle-variants {
  display: inline-block;
  font-family: 'footable';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  -webkit-font-smoothing: antialiased;
  padding-right: 5px;
  font-size: 14px;
  color: #888888;
  cursor: pointer;
}

.toggle-variants:before {
  content: "+";
  color: #a39161 !important;
  font-size: 20px;
}

.toggle-variants.off:before{
  content: "-";
}

.variant_pack {
  display: none;
}

.variant_pack .cart-td .cart_attributes {
  text-align: left;
  display: inline-block;
  padding: 0 15px;
}

@media (max-width: 1644px) {
  .variant_pack {
    display: table-row;
  }
}

.slick-initialized .slick-slide {
  margin: 5px;
  border: 1px solid #ddd;
  cursor: pointer;
}

.slick-initialized .slick-slide:focus {
  outline: none;
}

.pack_input {
  display: none;
}

.slick-initialized .slick-slide.active_slide {
  border: 1px solid #a39161;
}

.packs_table thead td {
  border-bottom: 1px solid #ddd;
}

.packs_table tbody td {
  border-top: none !important;
}

.packs_table {
  margin-left: 15px;
  margin-right: 15px;
  width: calc(100% - 30px);
}

.pack_title,
.pack_after {
  color: #a39161;
}

.pack_prices .pack_total {
  display: inline-block;
  padding: 0 10px;
  font-size: 18px;
}

.pack_before {
  color: #8c8c8c;
}

.pack_span {
  font-size: 11px;
  text-align: left;
}

.pack_divider {
  color: #8c8c8c;
  height: 49px;
  vertical-align: middle;
  display: inline-block;
}

.pack_save {
  color: #a39161;
  padding: 10px 0;
}

.cart-table tbody tr.cart_last_child {
  border-bottom: 2px solid #a39161;
}

.pack-td .cart-product-reference {
  cursor: pointer;
}

.pack-td .cart-name {
  font-weight: 600;
}

.footable-row-detail-name {
  color: #a39161;
  font-weight: 300 !important;
  text-align: left !important;
}

.pack-td .cart-product-reference:hover {
  cursor: pointer;
}

.right25 {
  padding-right: 25px;
}

.checkout_quantity {
  padding: 15px 0 30px 0;
  color: #ff0000;
}

.payment_terms {
  text-transform: none;
  color: #000;
  padding: 20px 0;
}

.checkout_date {
  padding: 15px 0;
}

.checkout_date input {
  color: #000;
  font-size: 15px;
  left: 0;
  margin: 0 auto;
  width: 330px;
}

.payment_terms {
  color: #a39161;
  font-size: 16px;
  margin-bottom: 15px;
}

.slider_packs .slick-prev,
.slider_packs .slick-next {
  display: none !important;
}

@media (min-width: 768px) {
  .modal-dialog {
    width: 900px;
  }
}

@media (max-width: 400px) {

  .transparent-gold-btn,
  .transparent-white-btn,
  .transparent-black-btn {
    padding: 10px 20px;
    margin: 10px;
    font-size: 10px;
  }

}

@media (max-width: 1084px) {
  .footer-menu .footer-dhl .dhl-free-shipping {
    padding-top: 10px;
  }
}


