



.dropdown-gestao-grupos li{display: inline}
.add-new-user{
    margin-right: 10px;
    vertical-align: middle;
}

.user-options{
    width:18px!important;
    height:18px!important;
    background-color: #FFD200;
    background-position: center;
    display: inline-block;

}
.user-active-state{
    background-color: #FFF2B3;
}
.padding-locker{padding-left: 10px;padding-right: 10px}
.btn-group.open .btn-user-options{
    background-color: transparent!important;
}
.btn-user-options{
    border-width:0;
    background-color: transparent!important;
    /*
    background-position: center;
    background-color: transparent;
    display: inline-block;
    */
}
.btn-user-options:hover{
    background-color: transparent;
    /*
    background-position: center;
    display: inline-block;
    */
}

.dropdown-menu{
    border-radius: 0px!important;
    width: 100%;
}
.dropdown-menu-grupo{
    width: auto!important;
}
.remove-padding-dropdown{
    padding-top: 0px!important;
    margin-top: 0px!important;
    border-top: 0px!important;
}
.btn-group.open .dropdown-toggle{box-shadow: none!important;}

.modal-content{border-radius: 0px!important;}
.padding-top-20{padding-top: 20px}
.padding-top-10{padding-top: 10px}
.padding-bottom-20{padding-bottom: 20px}
.padding-bottom-30{padding-bottom: 30px}
.amarelo{background-color: #FFD300;}
.btn{border-radius: 0;}
.modal-eliminar{text-align: center; border-top: none}

.fonte_12_lato a {
    font-size: 12pt;
    font-family: 'Lato', sans-serif;
    color: black;
    font-weight: 400;
}

.fonte_12_lato_regular {
    font-size: 12pt!important;
    font-family: 'Lato', sans-serif!important;
    color: black;
    font-weight: 400!important;
}
.fonte_12_lato_light {
    font-size: 12pt!important;
    font-family: 'Lato', sans-serif!important;
    color: black;
    font-weight: 300!important;
}
.fonte_white_15_lato a {
    font-size: 12pt;
    font-family: 'Lato', sans-serif;
    color: white;
    font-weight: 300;
}

.modal-aux {
    text-align: center;
    padding: 0!important;
}

.modal-aux:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -4px;
}

.modal-dialog-aux {
    display: inline-block;
    text-align: left;
    vertical-align: middle;
}

.modal-dialog-create-user {
    width: 800px !important;
    max-height: 800px !important;
}



.toggle.ios, .toggle-on.ios, .toggle-off.ios { border-radius: 20px;}
.toggle.ios .toggle-handle { border-radius: 20px; }


.circle-toggle .btn-primary{
    background-color: #FFE566;
    border-color: transparent !important;
}

.circle-toggle .btn-default:hover{
    background-color: white !important;
}

.circle-toggle .btn-primary:active {
    border-color: #FFE566 !important;
}

.toggle-handle{
    width: 40px!important;
}

.btn.btn-default.btn-xs.active.toggle-off{
    opacity: 0.5;
}


.state-opacity-05{
    opacity: 0.5;
}

.state-opacity-1{
    opacity: 1;
}

.user-locked-info {
    text-align: center;
    border: 1px solid #E25656;
    padding: 5px 10px 5px 5px;
    font-family: 'Lato', sans-serif !important;
    color: #E25656;
    width: 90%;
    margin: auto;
    font-weight: 100 !important;
}

.alert-user-locked{
    margin-left: 20px;
    padding: 15px 15px 12px;
    display: inline-block;
    font-family: 'Lato', sans-serif;
    font-size: 12pt;
    font-weight: 400;
    color: #E25656;
    text-transform: lowercase;
}

.btn-unlock-user{
    border: 1px solid #ffffff;
    background-color: #E25656;
    text-align: center;
    padding: 5px 5px;
    padding-right: 20px;
    padding-left: 20px;
    color: #ffffff;
    cursor: pointer;
    font-family: 'Lato', sans-serif;
    font-size: 10pt;
    font-weight: 300;
}


.btn-recover-user-password{
    border: 1px solid #f1f2f2;
    background-color: #f1f2f2;
    text-align: center;
    padding: 5px 5px;
    color: black;
    cursor: pointer;
    font-family: 'Lato', sans-serif;
    font-size: 10pt;
    font-weight: 300;

}

.btn-connect-user-profile{
    border: 1px solid #f1f2f2;
    background-color: #f1f2f2;
    text-align: center;
    padding: 5px 5px;
    padding-right: 10px;
    padding-left: 10px;
    color: black;
    cursor: pointer;
    font-family: 'Lato', sans-serif;
    font-size: 10pt;
    font-weight: 300;

}

.pic-circle-corner {
    display: block;
    width: 150px;
//height: 150px;

    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}



.pic-circle-corner-create-user {
    display: block;
    height: 150px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-color: #F1F2F2;

    margin-top: 30px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}

.icon-create-user-color-padding{
    color: #d1d3d4!important;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 50px;
    padding-top: 0;
    padding-left: 0;
}

.pic-circle-corner-75 {
    display: block;
    width: 75px;
    height: 75px;

    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}

.user-name-edit-profile{
    font-size: 18pt!important;
    color: black;
    padding-left: 0px!important;
    height: 46px!important;
}
.user-position-edit-profile{
    font-size: 12pt!important;
    color: black;
    padding-left: 0px!important;
}

.padding-top-35{
    padding-top: 35px
}

.padding-top-20{
    padding-top: 20px
}


.fom-style-hidden-edit-user label{
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 12pt;
    color: #929497;
}

.fom-style-hidden label{
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 12pt;
}

.fom-style-hidden-edit-user input{
    color: black;
    box-shadow: none;
    border-radius: 0;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 12pt;
}

.fom-style-hidden2 label{
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 12pt;
}


.fom-style-hidden-edit-user input:focus{
    border: 1px solid lightgray;
    box-shadow: none;
}


.border-bottom-user-edit{
    border-bottom: 1px solid #F0F1F1
}

.margin-right-20{
    margin-right: 20px;
}

.btn-save-user{
    border: 1px solid #FFD200;
    background-color: #FFD200;
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
    text-transform: uppercase;
    font-size: 12pt;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    color: #000000;
}

.btn-save-user:hover {
    background-color: #FFD200;
}
.padding-bottom-10{
    padding-bottom: 10px;
}

.label-group-list{
    font-weight: 400!important;
}



.list-groups-in-user-profile{
    max-height: 500px;
}

.accordion-arrow {
    display: inline-block
}

.accordion-aux .accordion-arrow{
    width: 12px;
    height: 7px;
    background:url("../../../back/icons/dropdown_cima.png") no-repeat ;
    outline: none!important;
}

.accordion-aux .collapsed .accordion-arrow{
    background:url("../../../back/icons/dropdown_baixo.png") no-repeat ;
    outline: none!important;
}

.name-group:hover{
    color:inherit;
}

.form-control-disabled{

    background-color: white!important;
}
.form-control-back-gray{
    background-color: #f1f2f2!important;
}

.modal-dialog-create-user .form-group label{
    font-size: 12pt!important;
    font-family: 'Lato', sans-serif;
    font-weight: 400!important;
    color: black!important;
}

.modal-dialog-create-user .form-group input{
    font-size: 12pt!important;
    font-family: 'Lato', sans-serif;
    font-weight: 300!important;
    color: #939598!important;
}


.fonte_10_lato_regular{
    font-size: 10pt!important;
    font-family: 'Lato', sans-serif!important;
    color: black;
    font-weight: 400!important;
}
.font_12_lato_regular{
    font-size: 12pt!important;
    font-family: 'Lato', sans-serif!important;
    color: black;
    font-weight: 400!important;
}

.icon25{
    font-size: 25pt;
    vertical-align: middle;
}

.icon50{
    font-size: 50pt;
}

.icon80{
    font-size: 80pt;
}

.padding-left-15{
    padding-left: 15px;
}

.inline-images{
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    margin-right: 55px;
}



.action_multiple .btn-change-group{
    display: inline-block;
    padding: 10px;
    font-weight: 300;
    font-size: 15pt;
    font-family: 'Lato', sans-serif;
    color: #000000!important;
    background-color: transparent!important;
    border: none!important;
}


.padding-top-5{padding-top: 5px;}

.lista_menu select {
    display: none;
}

.lista_menu .multiselect-container {
    width: auto;
}

.form-group .fonte_12_lato_light_cinza_model_new_user,
.form-group .form-control-back-gray {
    background-color: #ffffff !important;
    border: 1px solid #cecece !important;
}

.form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control {
    background-color: #eeeeee !important;
    border: 1px solid #cecece !important;
    opacity: 1 !important;
}

#preview_file {
    height: 150px;
}
/*! jQuery UI - v1.11.4 - 2016-05-20
* http://jqueryui.com
* Includes: core.css, draggable.css, selectable.css, theme.css
* To view and modify this theme, visit http://jqueryui.com/themeroller/?ffDefault=Arial%2CHelvetica%2Csans-serif&fsDefault=1em&fwDefault=normal&cornerRadius=3px&bgColorHeader=e9e9e9&bgTextureHeader=flat&borderColorHeader=dddddd&fcHeader=333333&iconColorHeader=444444&bgColorContent=ffffff&bgTextureContent=flat&borderColorContent=dddddd&fcContent=333333&iconColorContent=444444&bgColorDefault=f6f6f6&bgTextureDefault=flat&borderColorDefault=c5c5c5&fcDefault=454545&iconColorDefault=777777&bgColorHover=ededed&bgTextureHover=flat&borderColorHover=cccccc&fcHover=2b2b2b&iconColorHover=555555&bgColorActive=007fff&bgTextureActive=flat&borderColorActive=003eff&fcActive=ffffff&iconColorActive=ffffff&bgColorHighlight=fffa90&bgTextureHighlight=flat&borderColorHighlight=dad55e&fcHighlight=777620&iconColorHighlight=777620&bgColorError=fddfdf&bgTextureError=flat&borderColorError=f1a899&fcError=5f3f3f&iconColorError=cc0000&bgColorOverlay=aaaaaa&bgTextureOverlay=flat&bgImgOpacityOverlay=0&opacityOverlay=30&bgColorShadow=666666&bgTextureShadow=flat&bgImgOpacityShadow=0&opacityShadow=30&thicknessShadow=5px&offsetTopShadow=0px&offsetLeftShadow=0px&cornerRadiusShadow=8px
* Copyright jQuery Foundation and other contributors; Licensed MIT */

.ui-helper-hidden{display:none}.ui-helper-hidden-accessible{border:0;clip:rect(0 0 0 0);height:1px;margin:-1px;overflow:hidden;padding:0;position:absolute;width:1px}.ui-helper-reset{margin:0;padding:0;border:0;outline:0;line-height:1.3;text-decoration:none;font-size:100%;list-style:none}.ui-helper-clearfix:before,.ui-helper-clearfix:after{content:"";display:table;border-collapse:collapse}.ui-helper-clearfix:after{clear:both}.ui-helper-clearfix{min-height:0}.ui-helper-zfix{width:100%;height:100%;top:0;left:0;position:absolute;opacity:0;filter:Alpha(Opacity=0)}.ui-front{z-index:100}.ui-state-disabled{cursor:default!important}.ui-icon{display:block;text-indent:-99999px;overflow:hidden;background-repeat:no-repeat}.ui-widget-overlay{position:fixed;top:0;left:0;width:100%;height:100%}.ui-draggable-handle{-ms-touch-action:none;touch-action:none}.ui-selectable{-ms-touch-action:none;touch-action:none}.ui-selectable-helper{position:absolute;z-index:100;border:1px dotted black}.ui-widget{font-family:Arial,Helvetica,sans-serif;font-size:1em}.ui-widget .ui-widget{font-size:1em}.ui-widget input,.ui-widget select,.ui-widget textarea,.ui-widget button{font-family:Arial,Helvetica,sans-serif;font-size:1em}.ui-widget-content{border:1px solid #ddd;background:#fff;color:#333}.ui-widget-content a{color:#333}.ui-widget-header{border:1px solid #ddd;background:#e9e9e9;color:#333;font-weight:bold}.ui-widget-header a{color:#333}.ui-state-default,.ui-widget-content .ui-state-default,.ui-widget-header .ui-state-default{border:1px solid #c5c5c5;background:#f6f6f6;font-weight:normal;color:#454545}.ui-state-default a,.ui-state-default a:link,.ui-state-default a:visited{color:#454545;text-decoration:none}.ui-state-hover,.ui-widget-content .ui-state-hover,.ui-widget-header .ui-state-hover,.ui-state-focus,.ui-widget-content .ui-state-focus,.ui-widget-header .ui-state-focus{border:1px solid #ccc;background:#ededed;font-weight:normal;color:#2b2b2b}.ui-state-hover a,.ui-state-hover a:hover,.ui-state-hover a:link,.ui-state-hover a:visited,.ui-state-focus a,.ui-state-focus a:hover,.ui-state-focus a:link,.ui-state-focus a:visited{color:#2b2b2b;text-decoration:none}.ui-state-active,.ui-widget-content .ui-state-active,.ui-widget-header .ui-state-active{border:1px solid #003eff;background:#007fff;font-weight:normal;color:#fff}.ui-state-active a,.ui-state-active a:link,.ui-state-active a:visited{color:#fff;text-decoration:none}.ui-state-highlight,.ui-widget-content .ui-state-highlight,.ui-widget-header .ui-state-highlight{border:1px solid #dad55e;background:#fffa90;color:#777620}.ui-state-highlight a,.ui-widget-content .ui-state-highlight a,.ui-widget-header .ui-state-highlight a{color:#777620}.ui-state-error,.ui-widget-content .ui-state-error,.ui-widget-header .ui-state-error{border:1px solid #f1a899;background:#fddfdf;color:#5f3f3f}.ui-state-error a,.ui-widget-content .ui-state-error a,.ui-widget-header .ui-state-error a{color:#5f3f3f}.ui-state-error-text,.ui-widget-content .ui-state-error-text,.ui-widget-header .ui-state-error-text{color:#5f3f3f}.ui-priority-primary,.ui-widget-content .ui-priority-primary,.ui-widget-header .ui-priority-primary{font-weight:bold}.ui-priority-secondary,.ui-widget-content .ui-priority-secondary,.ui-widget-header .ui-priority-secondary{opacity:.7;filter:Alpha(Opacity=70);font-weight:normal}.ui-state-disabled,.ui-widget-content .ui-state-disabled,.ui-widget-header .ui-state-disabled{opacity:.35;filter:Alpha(Opacity=35);background-image:none}.ui-state-disabled .ui-icon{filter:Alpha(Opacity=35)}.ui-icon{width:16px;height:16px}.ui-icon,.ui-widget-content .ui-icon{background-image:url("jquery-ui-1.11.4.custom/images/ui-icons_444444_256x240.png")}.ui-widget-header .ui-icon{background-image:url("jquery-ui-1.11.4.custom/images/ui-icons_444444_256x240.png")}.ui-state-default .ui-icon{background-image:url("jquery-ui-1.11.4.custom/images/ui-icons_777777_256x240.png")}.ui-state-hover .ui-icon,.ui-state-focus .ui-icon{background-image:url("jquery-ui-1.11.4.custom/images/ui-icons_555555_256x240.png")}.ui-state-active .ui-icon{background-image:url("jquery-ui-1.11.4.custom/images/ui-icons_ffffff_256x240.png")}.ui-state-highlight .ui-icon{background-image:url("jquery-ui-1.11.4.custom/images/ui-icons_777620_256x240.png")}.ui-state-error .ui-icon,.ui-state-error-text .ui-icon{background-image:url("jquery-ui-1.11.4.custom/images/ui-icons_cc0000_256x240.png")}.ui-icon-blank{background-position:16px 16px}.ui-icon-carat-1-n{background-position:0 0}.ui-icon-carat-1-ne{background-position:-16px 0}.ui-icon-carat-1-e{background-position:-32px 0}.ui-icon-carat-1-se{background-position:-48px 0}.ui-icon-carat-1-s{background-position:-64px 0}.ui-icon-carat-1-sw{background-position:-80px 0}.ui-icon-carat-1-w{background-position:-96px 0}.ui-icon-carat-1-nw{background-position:-112px 0}.ui-icon-carat-2-n-s{background-position:-128px 0}.ui-icon-carat-2-e-w{background-position:-144px 0}.ui-icon-triangle-1-n{background-position:0 -16px}.ui-icon-triangle-1-ne{background-position:-16px -16px}.ui-icon-triangle-1-e{background-position:-32px -16px}.ui-icon-triangle-1-se{background-position:-48px -16px}.ui-icon-triangle-1-s{background-position:-64px -16px}.ui-icon-triangle-1-sw{background-position:-80px -16px}.ui-icon-triangle-1-w{background-position:-96px -16px}.ui-icon-triangle-1-nw{background-position:-112px -16px}.ui-icon-triangle-2-n-s{background-position:-128px -16px}.ui-icon-triangle-2-e-w{background-position:-144px -16px}.ui-icon-arrow-1-n{background-position:0 -32px}.ui-icon-arrow-1-ne{background-position:-16px -32px}.ui-icon-arrow-1-e{background-position:-32px -32px}.ui-icon-arrow-1-se{background-position:-48px -32px}.ui-icon-arrow-1-s{background-position:-64px -32px}.ui-icon-arrow-1-sw{background-position:-80px -32px}.ui-icon-arrow-1-w{background-position:-96px -32px}.ui-icon-arrow-1-nw{background-position:-112px -32px}.ui-icon-arrow-2-n-s{background-position:-128px -32px}.ui-icon-arrow-2-ne-sw{background-position:-144px -32px}.ui-icon-arrow-2-e-w{background-position:-160px -32px}.ui-icon-arrow-2-se-nw{background-position:-176px -32px}.ui-icon-arrowstop-1-n{background-position:-192px -32px}.ui-icon-arrowstop-1-e{background-position:-208px -32px}.ui-icon-arrowstop-1-s{background-position:-224px -32px}.ui-icon-arrowstop-1-w{background-position:-240px -32px}.ui-icon-arrowthick-1-n{background-position:0 -48px}.ui-icon-arrowthick-1-ne{background-position:-16px -48px}.ui-icon-arrowthick-1-e{background-position:-32px -48px}.ui-icon-arrowthick-1-se{background-position:-48px -48px}.ui-icon-arrowthick-1-s{background-position:-64px -48px}.ui-icon-arrowthick-1-sw{background-position:-80px -48px}.ui-icon-arrowthick-1-w{background-position:-96px -48px}.ui-icon-arrowthick-1-nw{background-position:-112px -48px}.ui-icon-arrowthick-2-n-s{background-position:-128px -48px}.ui-icon-arrowthick-2-ne-sw{background-position:-144px -48px}.ui-icon-arrowthick-2-e-w{background-position:-160px -48px}.ui-icon-arrowthick-2-se-nw{background-position:-176px -48px}.ui-icon-arrowthickstop-1-n{background-position:-192px -48px}.ui-icon-arrowthickstop-1-e{background-position:-208px -48px}.ui-icon-arrowthickstop-1-s{background-position:-224px -48px}.ui-icon-arrowthickstop-1-w{background-position:-240px -48px}.ui-icon-arrowreturnthick-1-w{background-position:0 -64px}.ui-icon-arrowreturnthick-1-n{background-position:-16px -64px}.ui-icon-arrowreturnthick-1-e{background-position:-32px -64px}.ui-icon-arrowreturnthick-1-s{background-position:-48px -64px}.ui-icon-arrowreturn-1-w{background-position:-64px -64px}.ui-icon-arrowreturn-1-n{background-position:-80px -64px}.ui-icon-arrowreturn-1-e{background-position:-96px -64px}.ui-icon-arrowreturn-1-s{background-position:-112px -64px}.ui-icon-arrowrefresh-1-w{background-position:-128px -64px}.ui-icon-arrowrefresh-1-n{background-position:-144px -64px}.ui-icon-arrowrefresh-1-e{background-position:-160px -64px}.ui-icon-arrowrefresh-1-s{background-position:-176px -64px}.ui-icon-arrow-4{background-position:0 -80px}.ui-icon-arrow-4-diag{background-position:-16px -80px}.ui-icon-extlink{background-position:-32px -80px}.ui-icon-newwin{background-position:-48px -80px}.ui-icon-refresh{background-position:-64px -80px}.ui-icon-shuffle{background-position:-80px -80px}.ui-icon-transfer-e-w{background-position:-96px -80px}.ui-icon-transferthick-e-w{background-position:-112px -80px}.ui-icon-folder-collapsed{background-position:0 -96px}.ui-icon-folder-open{background-position:-16px -96px}.ui-icon-document{background-position:-32px -96px}.ui-icon-document-b{background-position:-48px -96px}.ui-icon-note{background-position:-64px -96px}.ui-icon-mail-closed{background-position:-80px -96px}.ui-icon-mail-open{background-position:-96px -96px}.ui-icon-suitcase{background-position:-112px -96px}.ui-icon-comment{background-position:-128px -96px}.ui-icon-person{background-position:-144px -96px}.ui-icon-print{background-position:-160px -96px}.ui-icon-trash{background-position:-176px -96px}.ui-icon-locked{background-position:-192px -96px}.ui-icon-unlocked{background-position:-208px -96px}.ui-icon-bookmark{background-position:-224px -96px}.ui-icon-tag{background-position:-240px -96px}.ui-icon-home{background-position:0 -112px}.ui-icon-flag{background-position:-16px -112px}.ui-icon-calendar{background-position:-32px -112px}.ui-icon-cart{background-position:-48px -112px}.ui-icon-pencil{background-position:-64px -112px}.ui-icon-clock{background-position:-80px -112px}.ui-icon-disk{background-position:-96px -112px}.ui-icon-calculator{background-position:-112px -112px}.ui-icon-zoomin{background-position:-128px -112px}.ui-icon-zoomout{background-position:-144px -112px}.ui-icon-search{background-position:-160px -112px}.ui-icon-wrench{background-position:-176px -112px}.ui-icon-gear{background-position:-192px -112px}.ui-icon-heart{background-position:-208px -112px}.ui-icon-star{background-position:-224px -112px}.ui-icon-link{background-position:-240px -112px}.ui-icon-cancel{background-position:0 -128px}.ui-icon-plus{background-position:-16px -128px}.ui-icon-plusthick{background-position:-32px -128px}.ui-icon-minus{background-position:-48px -128px}.ui-icon-minusthick{background-position:-64px -128px}.ui-icon-close{background-position:-80px -128px}.ui-icon-closethick{background-position:-96px -128px}.ui-icon-key{background-position:-112px -128px}.ui-icon-lightbulb{background-position:-128px -128px}.ui-icon-scissors{background-position:-144px -128px}.ui-icon-clipboard{background-position:-160px -128px}.ui-icon-copy{background-position:-176px -128px}.ui-icon-contact{background-position:-192px -128px}.ui-icon-image{background-position:-208px -128px}.ui-icon-video{background-position:-224px -128px}.ui-icon-script{background-position:-240px -128px}.ui-icon-alert{background-position:0 -144px}.ui-icon-info{background-position:-16px -144px}.ui-icon-notice{background-position:-32px -144px}.ui-icon-help{background-position:-48px -144px}.ui-icon-check{background-position:-64px -144px}.ui-icon-bullet{background-position:-80px -144px}.ui-icon-radio-on{background-position:-96px -144px}.ui-icon-radio-off{background-position:-112px -144px}.ui-icon-pin-w{background-position:-128px -144px}.ui-icon-pin-s{background-position:-144px -144px}.ui-icon-play{background-position:0 -160px}.ui-icon-pause{background-position:-16px -160px}.ui-icon-seek-next{background-position:-32px -160px}.ui-icon-seek-prev{background-position:-48px -160px}.ui-icon-seek-end{background-position:-64px -160px}.ui-icon-seek-start{background-position:-80px -160px}.ui-icon-seek-first{background-position:-80px -160px}.ui-icon-stop{background-position:-96px -160px}.ui-icon-eject{background-position:-112px -160px}.ui-icon-volume-off{background-position:-128px -160px}.ui-icon-volume-on{background-position:-144px -160px}.ui-icon-power{background-position:0 -176px}.ui-icon-signal-diag{background-position:-16px -176px}.ui-icon-signal{background-position:-32px -176px}.ui-icon-battery-0{background-position:-48px -176px}.ui-icon-battery-1{background-position:-64px -176px}.ui-icon-battery-2{background-position:-80px -176px}.ui-icon-battery-3{background-position:-96px -176px}.ui-icon-circle-plus{background-position:0 -192px}.ui-icon-circle-minus{background-position:-16px -192px}.ui-icon-circle-close{background-position:-32px -192px}.ui-icon-circle-triangle-e{background-position:-48px -192px}.ui-icon-circle-triangle-s{background-position:-64px -192px}.ui-icon-circle-triangle-w{background-position:-80px -192px}.ui-icon-circle-triangle-n{background-position:-96px -192px}.ui-icon-circle-arrow-e{background-position:-112px -192px}.ui-icon-circle-arrow-s{background-position:-128px -192px}.ui-icon-circle-arrow-w{background-position:-144px -192px}.ui-icon-circle-arrow-n{background-position:-160px -192px}.ui-icon-circle-zoomin{background-position:-176px -192px}.ui-icon-circle-zoomout{background-position:-192px -192px}.ui-icon-circle-check{background-position:-208px -192px}.ui-icon-circlesmall-plus{background-position:0 -208px}.ui-icon-circlesmall-minus{background-position:-16px -208px}.ui-icon-circlesmall-close{background-position:-32px -208px}.ui-icon-squaresmall-plus{background-position:-48px -208px}.ui-icon-squaresmall-minus{background-position:-64px -208px}.ui-icon-squaresmall-close{background-position:-80px -208px}.ui-icon-grip-dotted-vertical{background-position:0 -224px}.ui-icon-grip-dotted-horizontal{background-position:-16px -224px}.ui-icon-grip-solid-vertical{background-position:-32px -224px}.ui-icon-grip-solid-horizontal{background-position:-48px -224px}.ui-icon-gripsmall-diagonal-se{background-position:-64px -224px}.ui-icon-grip-diagonal-se{background-position:-80px -224px}.ui-corner-all,.ui-corner-top,.ui-corner-left,.ui-corner-tl{border-top-left-radius:3px}.ui-corner-all,.ui-corner-top,.ui-corner-right,.ui-corner-tr{border-top-right-radius:3px}.ui-corner-all,.ui-corner-bottom,.ui-corner-left,.ui-corner-bl{border-bottom-left-radius:3px}.ui-corner-all,.ui-corner-bottom,.ui-corner-right,.ui-corner-br{border-bottom-right-radius:3px}.ui-widget-overlay{background:#aaa;opacity:.3;filter:Alpha(Opacity=30)}.ui-widget-shadow{margin:0 0 0 0;padding:5px;background:#666;opacity:.3;filter:Alpha(Opacity=30);border-radius:8px}
/*# sourceMappingURL=backend.css.map */
