#map{ width:100%; height: 250px; margin-bottom: 20px; }
.margin_btn_pages{ margin-bottom: 50px;}
.image_highlight{ width: 100px; height: 100px; display: inline-block;}

.shedule_wrapper{
    display: none;
}

.ui-timepicker-div .ui-widget-header {
    margin-bottom: 8px;
}
.ui-timepicker-div dl {
    text-align: left;
}
.ui-timepicker-div dl dt {
    clear: left;
    float: left;
    padding: 0 0 0 5px;
}
.ui-timepicker-div dl dd {
    margin: 0 10px 10px 40%;
}
.ui-timepicker-div td {
    font-size: 90%;
}
.ui-tpicker-grid-label {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: medium none;
    margin: 0;
    padding: 0;
}
.ui-timepicker-div .ui_tpicker_unit_hide {
    display: none;
}
.ui-timepicker-div .ui_tpicker_time .ui_tpicker_time_input {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border-color: -moz-use-text-color -moz-use-text-color #555;
    border-image: none;
    border-style: none none solid;
    border-width: medium medium 1px;
    color: inherit;
    outline: medium none;
    width: 95%;
}
.ui-timepicker-div .ui_tpicker_time .ui_tpicker_time_input:focus {
    border-bottom-color: #aaa;
}
.ui-timepicker-rtl {
    direction: rtl;
}
.ui-timepicker-rtl dl {
    padding: 0 5px 0 0;
    text-align: right;
}
.ui-timepicker-rtl dl dt {
    clear: right;
    float: right;
}
.ui-timepicker-rtl dl dd {
    margin: 0 40% 10px 10px;
}
.ui-timepicker-div.ui-timepicker-oneLine {
    padding-right: 2px;
}
.ui-timepicker-div.ui-timepicker-oneLine .ui_tpicker_time, .ui-timepicker-div.ui-timepicker-oneLine dt {
    display: none;
}
.ui-timepicker-div.ui-timepicker-oneLine .ui_tpicker_time_label {
    display: block;
    padding-top: 2px;
}
.ui-timepicker-div.ui-timepicker-oneLine dl {
    text-align: right;
}
.ui-timepicker-div.ui-timepicker-oneLine dl dd, .ui-timepicker-div.ui-timepicker-oneLine dl dd > div {
    display: inline-block;
    margin: 0;
}
.ui-timepicker-div.ui-timepicker-oneLine dl dd.ui_tpicker_minute::before, .ui-timepicker-div.ui-timepicker-oneLine dl dd.ui_tpicker_second::before {
    content: ":";
    display: inline-block;
}
.ui-timepicker-div.ui-timepicker-oneLine dl dd.ui_tpicker_millisec::before, .ui-timepicker-div.ui-timepicker-oneLine dl dd.ui_tpicker_microsec::before {
    content: ".";
    display: inline-block;
}
.ui-timepicker-div.ui-timepicker-oneLine .ui_tpicker_unit_hide, .ui-timepicker-div.ui-timepicker-oneLine .ui_tpicker_unit_hide::before {
    display: none;
}

.delete_attr_from_list{
    cursor: pointer;
}

#accordion_variants .panel-heading .panel-title{
    padding: 10px!important;
}
.item_yellow{
    background-color:#FFD200 ;
    padding: 10px;
    margin-left: 3px;
    margin-right: 3px;
    display: inline-block;
}
.icon_delete{
    margin-top: 15px;
}

.backgroud-icon{
    background-color: #d3d3d3;
    border: 1px solid #808080;
}

#variants{
    display: none;
}
.container_table_attributes_modal2{
    display: none;
}

.has_attributes_part{
    display: none;
}

.variant_table{
    width: 100%;
}

.borderd_icon{
    border: 2px solid #000000;
    display: inline-block;
}

.block-icon{
    display: inline-block;
}
.block-icon::before {
    line-height: inherit!important;
}

.padding-icon{
    padding: 0 50px 0 50px;
}

.variant_row{
    padding-top: 15px;
}

.active_variant{
    background-color: #F7F7F7;
}

.no_padding_bottom_top{
    padding-top: 0;
    padding-bottom: 0;
}

a{
    color: #000000;
}

.variant_table tr td:last-child::before {
    content: inherit!important;
}

.new_row_variant_datatable::before {
    content: inherit!important;
}


.jstree-default .jstree-wholerow-hovered{

    background-color: #FFE566!important;
}

.jstree-default .jstree-wholerow.jstree-wholerow-clicked{
    background: #FFE566!important;
}

div.treeSearch {
    padding-bottom: 3px;
}

i.jstree-icon {
    line-height: 60px !important;
    margin-right: 10px !important;
}

div.jstree-wholerow,
.jstree-default .jstree-anchor {
    line-height: 50px !important;
    height: 50px !important;
}

div.js-tree-usage-container {
    height: 50px;
    width: 100%;
    padding: 7px 5px 0px 5px;
    margin-bottom: 20px;
    background-color: #fafafa;
}

div.js-tree-usage-content {
    display: inline-block;
    padding: 5px;
}

div.jstree-faqs {
    max-width: 100%;
}

input.jstree-rename-input,
a.jstree-anchor,
a.jstree-anchor * {
    display: inline;
    max-width: 95% !important;
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -webkit-pre-wrap;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    word-wrap: break-word;
    text-align: justify;
}

input.jstree-rename-input {
    max-width: 70% !important;
    line-height: 24px !important;
    height: 24px !important;
}



div.cke_contents {
    max-height: 150px;
}

span.cke_top {
    position: relative;
    border-bottom: none;
    background: none;
    background-image: none;
    filter: none;
    border-top: 7px solid black;
    -webkit-box-shadow: 0px 7px 15px -7px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 7px 15px -7px rgba(0,0,0,0.5);
    box-shadow: 0px 7px 15px -7px rgba(0,0,0,0.5);
}

span.cke_toolgroup {
    border: none;
    border-bottom-color: none;
    box-shadow: none;
    background: none;
    background-image: none;
    filter: none;
}

.cke_button_on,
.cke_button:hover,
.cke_button:focus,
.cke_button:active {
    background: #ffd300 !important;
    background-image: none !important;
    filter: none !important;
}

.vakata-context, .vakata-context ul{
    background: #ffffff;
    border: 1px solid #d3d3d3;
}

.vakata-context li > a .vakata-contextmenu-sep{
    display: none;
}

.vakata-context li > a:hover{
    border-bottom: none;
    border-top:none;
    border-left: none;
    border-right: none;
    background: #FFE566;
    box-shadow: none;
}
.vakata-context li {
    padding: 5px;
}

.vakata-context-separator a{
    margin-left: 0!important;
}
.vakata-context-separator {
    padding: 0!important;
}
.vakata-context-hover {
    border-bottom: none;
    border-top:none;
    border-left: none;
    border-right: none;
    background: #FFE566;
    box-shadow: none;
}

.vakata-context-hover > a {
    border-bottom: none!important;
    border-top:none!important;
    border-left: none!important;
    border-right: none!important;
    background: #FFE566!important;
    box-shadow: none!important;
}


.clickable_url{
    cursor: pointer;
}

.atributes_head td{
    background-color: #FAFAFA!important;
}

td.new_row_variant_datatable{
    background-color: #FFF2B2!important;
    padding-left: 5px!important;
    padding-right: 5px!important;
}

.variant_table{
    margin-bottom: 0;
}


.composed-hidden-info {
    text-align: center;
    border: 1px solid #E25656;
    padding: 5px 10px 5px 5px;
    font-family: 'Lato', sans-serif !important;
    color: #E25656;
    width: 90%;
    margin: auto;
    font-weight: 100 !important;
}

.lista_menu select {
    display: none;
}

.lista_menu .multiselect-container {
    width: auto;
}

.col-lg-12.fonte_12_lato_light_cinza {
    height: 60px;
}

.conteudo_central {
    padding-bottom: 15px;
}

.upload-file-create {
    text-align: center;
}

.msg_sucesso_ajax, .msg_erro_ajax {
    display: none;
}

div.files {
    padding: 24px 15px;
}

.file-upload {
    display: inline-block;
    position: relative;
    min-width: 170px;
    -webkit-box-shadow: 7px 7px 30px -7px rgba(0, 0, 0, 0.62);
    -moz-box-shadow: 7px 7px 30px -7px rgba(0, 0, 0, 0.62);
    box-shadow: 7px 7px 30px -7px rgba(0, 0, 0, 0.62);
    margin: 0 20px 0 20px;
}

.file-info {
    background-color: white;
}

.file-info p {
    margin-bottom: 0 !important;
    padding: 5px 12px;
}

.file-info p:first-child {
    font-weight: 700;
}

.favicon_270 {
    width: 100px;
    height: 100px;
    display: inline-block;
    border: 1px solid #cccccc;
}

.favicon_152 {
    width: 90px;
    height: 90px;
    display: inline-block;
    border: 1px solid #cccccc;
}

.favicon_144 {
    width: 80px;
    height: 80px;
    display: inline-block;
    border: 1px solid #cccccc;
}

.favicon_32 {
    width: 32px;
    height: 32px;
    display: inline-block;
    border: 1px solid #cccccc;
}

.favicon_16 {
    width: 16px;
    height: 16px;
    display: inline-block;
    border: 1px solid #cccccc;
}